﻿<div class="col-md-12 col-xs-12">
    <div class="row showPdf" ng-hide="showPdf">
        <button class="btn btn-primary pull-right" ng-click="onPrevious()" ng-class="isFirstStep ? 'disabled' : 'active'">הקודם</button>
        <button class="btn btn-primary pull-left" ng-click="onNext()" ng-class="isLastStep ? 'hidden' : 'active'">הבא</button>
        <button class="btn btn-primary pull-left" ng-click="onCompleteForm()" ng-class="isLastStep ? 'active' : 'hidden'">הצג טופס</button>
    </div>
    <div class="row showPdf" ng-show="showPdf">
        <button class="btn btn-primary pull-right active" ng-click="hidePdf()">הקודם</button>
        <button class="btn btn-primary pull-left active floating-button" ng-click="submitPdf()">שלח טופס</button>
    </div>
</div>
