﻿<header>
    <div class="content-wrapper clear-fix  header-content-wrapper">
        <div class="float-right wave">
            <div class="logo" tabindex="2" handle-click="/">
                <a href="#/" ui-sref="Home">תיק עובד</a>
            </div>
        </div>
        <div class="float-left">
            <div class="align-aside" ng-if="!logon">
                <div class="inline-top">
                    <a class="fa fa-home" tabindex="3" handle-click="/"></a>
                </div>
                <div class="inline-top">
                    <a class="accessable" tabindex="4" ng-click="accessability.open()" title="נגישות"></a>
                    <div class="accessability" ng-class="{open:accessability.show}" aria-hidden="true">
                        <div class="back-tap" ng-if="accessability.show" ng-click="accessability.open()"></div>
                        <div class="item">
                            <a title="גופן נגיש" tabindex="5" class="font-anlarg" ng-click="accessability.handleFontsLarg()">א</a>
                            <a title="גופן נגיש" tabindex="6" class="font-medium" ng-click="accessability.handleFontsMedium()">א</a>
                            <a title="גופן נגיש" tabindex="7" class="font-regular" ng-click="accessability.handleFontsRegular()">א</a>
                        </div>
                        <div class="item">
                            <a title="חדות צבעונית" tabindex="8" class="brache" ng-click="accessability.handleContrast()"></a>
                        </div>
                    </div>
                </div>
                <div class="inline-top">
                    <a tabindex="11" class="mail-icon" href="/Home/ConnectUs" title="צור קשר"></a>
                </div>
            </div>
            <div class="align-aside" ng-if="logon">
                <div class="inline-top">
                    <a class="fa fa-home" tabindex="3" handle-click="/"></a>
                </div>
                <div class="inline-top">
                    <a class="accessable" tabindex="4" ng-click="accessability.open()" title="נגישות"></a>
                    <div class="accessability" ng-class="{open:accessability.show}" aria-hidden="true">
                        <div class="back-tap" ng-if="accessability.show" ng-click="accessability.open()"></div>
                        <div class="item">
                            <a title="גופן נגיש" tabindex="5" class="font-anlarg" ng-click="accessability.handleFontsLarg()">א</a>
                            <a title="גופן נגיש" tabindex="6" class="font-medium" ng-click="accessability.handleFontsMedium()">א</a>
                            <a title="גופן נגיש" tabindex="7" class="font-regular" ng-click="accessability.handleFontsRegular()">א</a>
                        </div>
                        <div class="item">
                            <a title="חדות צבעונית" tabindex="8" class="brache" ng-click="accessability.handleContrast()"></a>
                        </div>
                    </div>
                </div>
                <div class="inline-top" ng-controller="userHandler">
                    <a tabindex="9" class="config" title="שינוי פרטי משתמש" ng-click="topMenuHandler()"></a>
                    <div ng-show="open" ng-class="{open:open}">
                        <div class="back-tap" ng-if="open" ng-click="topMenuHandler()"></div>
                        <aside class="ui-menu" ng-class="{open:open}" aria-hidden="true">

                            <span class="tringle-up"> </span>
                            <ul>
                                <li><a tabindex="9" ng-click="editUserInfo()">עדכון פרטים</a></li>
                                <li><a tabindex="10" ng-click="openRestPass()">שינוי סיסמה</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="inline-top">
                    <a tabindex="10" class="log-out config" title="יציאה" ng-click="logOut()"></a>
                </div>
                <div class="inline-top">
                    <a tabindex="11" class="mail-icon" href="/Home/ConnectUs" title="צור קשר"></a>
                </div>
            </div>
            <aside>
                <img src="/Content/Images/logo.png" alt="לוגו אוטומציה">
            </aside>
        </div>
    </div>
</header>