﻿<div class="live-checkbox-wrapper">
    <input ng-model="ngModel" name="{{inputName}}" type="hidden" class="hidden" required ng-disabled="ngDisabled">
    <div class="validation-message">
        <div class="form-error">
            <div class="required-validation">שדה חובה</div>
        </div>
    </div>
    <div is="0" class="btn-group m-b checkbox-box" tabindex="0" ng-if="inputType === 'button'" ng-class="{disabled: ngDisabled}">
        <a ng-class="ngModel.$viewValue != null && ngModel.$viewValue ? 'active btn-success' : 'btn-default'" class="btn" ng-click="changekModelValue(true)">{{inputsText[0]}}</a>
        <a ng-class="ngModel.$viewValue != null && !ngModel.$viewValue ? 'active btn-success' : 'btn-default'" class="btn" ng-click="changekModelValue(false)">{{inputsText[1]}}</a>
    </div>
    <div is="0" class="btn-group m-b checkbox-box checkbox-box-switch" tabindex="0" ng-if="inputType === 'switch'" ng-class="{disabled: ngDisabled}">
        <i ng-class="ngModel.$viewValue != null && ngModel.$viewValue ? 'fa-toggle-on' : 'fa-toggle-off'" class="fa" ng-click="changekModelValue(!ngModel.$viewValue)">
            <span>{{inputsText[(ngModel.$viewValue ? 0:1)]}}</span>
        </i>
    </div>
</div>