﻿<nav id="menu" class="menu" ng-class="{active : showMobileMenu}">

    <div ng-repeat="menuItem in newMenuItems | OrderMuneFilter" title="{{menuItem.data.name}}" class="title">
        <div class="opener">
            <a ng-click="OpemMenuControl(menuItem.data.type)">
                <i class="fa {{menuItem.faIcon}}" aria-hidden="true"></i>
                <span>{{menuItem.data.name}}</span>
            </a>
            <div class="mobile-open-icon glyphicon glyphicon-chevron-left" ng-class="{open : menuItem.open}"></div>
        </div>
        <aside ng-class="{open : menuItem.open}">
            <div ng-repeat="state in menuItem.inner track by $index;" ng-class="{currentlink: $state.$current.self.name == state.name}">

                <a href="#" ng-if="state.data.replaceUrl == null" ng-disabled="state.data.disabled" ui-sref="{{state.name}}" class="hover" ng-class="{currentlink: $state.$current.self.name == state.name}">{{state.data.name}}</a>

                <a href="{{state.data.replaceUrl}}" target="_blank" ng-if="state.data.replaceUrl != null" ng-disabled="state.data.disabled" class="hover" ng-class="{currentlink: $state.$current.self.name == state.name}">{{state.data.name}}</a>

            </div>
        </aside>
    </div>

    <municipality-menu></municipality-menu>

    <div class="menu-mobile-background"></div>
</nav>