﻿<div id="signature-pad" class="m-signature-pad">

    <div class="m-signature-pad--body">
        <canvas width="1076" height="360" style="touch-action: none;" class="canvas"></canvas>
        <canvas width="1076" height="360" style="touch-action: none;" class="bk-canvas"></canvas>
    </div>
    <div class="m-signature-pad--footer">
        <div class="description"> חתום בעזרת העכבר או עם האצבע על מסך מגע.</div>
        <button type="button" class="button clear btn btn-default" ng-click="ClearPad()">
            <i class="btn-icon fa fa-eraser"></i> <span>נקה</span>
        </button>
    </div>

</div>