﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11;IE=EDGE,chrome=1">
    <!--[if lt IE 9]>
        <script src="~/Scripts/lib/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
        <script src="~/Scripts/lib/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->


    <!-- cache -->
    <meta http-equiv="refresh" content="300000">
    <!-- cache -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- google analytics -->
    <script type="text/javascript">
        !function (a, b, c, d, e, f, g) {
            a.GoogleAnalyticsObject = e,
            a[e] = a[e] || function () {
                (a[e].q = a[e].q || []).push(arguments)
            }
            ,
            a[e].l = 1 * new Date,
            f = b.createElement(c),
            g = b.getElementsByTagName(c)[0],
            f.async = 1,
            f.src = d,
            g.parentNode.insertBefore(f, g)
        }(window, document, "script", "//www.google-analytics.com/analytics.js", "ga"),
        ga("create", "UA-73569753-1", "auto"),
        ga("send", "pageview");
    </script>
    <!-- google analytics -->
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- favicon -->
    <!-- CSS -->
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/ngDialog/css/ngDialog.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/ngDialog/css/ngDialog-custom-width.css" rel="stylesheet" />
    <link href="~/Scripts/lib/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angularjs-datepicker/dist/angular-datepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Css/output.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-block-ui/dist/angular-block-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-responsive-tables/release/angular-responsive-tables.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/jquery-ui-month-picker/src/MonthPicker.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />
    <link href="~/Content/Css/error.css" rel="stylesheet" />
    <!-- END CSS -->
    <!-- SCRIPTS -->
    <script src="~/Scripts/lib/underscore/underscore-min.js"></script>
    <script src="~/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <!-- END SCRIPTS -->

</head>
<body class="error-body">
    @RenderBody()
    <script src="~/WorkingScripts/ValidationDirectives/IeVersionDetection.js"></script>
</body>
</html>
