﻿<ul ng-class="{'deep-file': depth_struct > 1 && folderStruct.selected != true && folderStruct.dragOver != true}">
    <li ng-repeat="folder in folderStruct.subDirectories track by $index">

        <holder ad-drop="true"
                ad-drop-data="folder" 
                ad-drop-end="OnDropFile($data, $dragElement, $dropElement, $event, $dropData);"
                ad-drop-over="onDragOver($data, $dragElement, $dropElement, $event, $dropData);"
                ad-drop-leave="onDragLeave($data, $dragElement, $dropElement, $event, $dropData);"

                ad-drag="true" 
                ad-drag-type="folder" 
                ad-drag-data="folder" 
                >

            <i class="fa custom" ng-class="{hideen:folder.subDirectories.length <= 0 ,'fa-angle-double-down':(folder.selected || folder.dragOver) && folder.subDirectories.length > 0,'fa-angle-double-left':folder.dragOver != true &&folder.selected != true && folder.subDirectories.length > 0, active: folder.selected}"></i>

            <label ng-click="selectFolder(folder)" ng-class="{active: folder.selected, CurrentDrag: currentDragOver === folder.ID, 'deep-file': depth_struct > 1&& folder.dragOver != true}" ng-hide="folder.Editing">
                {{folder.name}}
                <span>({{folder.images.length}})</span>
            </label>

            <input type="text" ng-model="folder.name" name="folder_{{folder.ID}}"
                   ng-required="inputValidation.required" ng-minlength="inputValidation.minlength" ng-maxlength="inputValidation.maxlength"
                   ng-show="folder.Editing" ng-blur="updateFolder(folder)" />
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה חובה</div>
                    <div class="minlength-validation">מינימום {{inputValidation.minlength}} תווים</div>
                    <div class="maxlength-validation">אורך מקסימאלי {{inputValidation.maxlength}} תווים</div>
                </div>
            </div>


            <div ng-show="folder.Eding" class="add-folder">
                <i class="fa fa-folder-o" aria-hidden="true"></i>
                <input type="text" ng-model="folder.newFolderName" placeholder="תיקייה חדשה..." name="directory_{{folder.ID}}"
                       ng-required="inputValidation.required" ng-minlength="inputValidation.minlength" ng-maxlength="inputValidation.maxlength"
                       ng-blur="addFolder(folder)" />
                <div class="validation-message">
                    <div class="form-error">
                        <div class="required-validation">שדה חובה</div>
                        <div class="minlength-validation">מינימום {{inputValidation.minlength}} תווים</div>
                        <div class="maxlength-validation">אורך מקסימאלי {{inputValidation.maxlength}} תווים</div>
                    </div>
                </div>
            </div>

        </holder>

        <folder-structure folder-struct="folder" depth-struct="depth_struct" input-validation="inputValidation" current-drag-over="currentDragOver"></folder-structure>
    </li>
</ul>