﻿<div class="col-md-12 content-wrapper main-content clear-fix admin">
    <form class="admin" name="MunicipalityForm" ng-model="Municipality" novalidate ng-submit="Update()">

        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        <b>{{Municipality.name}}</b> - עדכון פרטים
                    </legend>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Municipality.ID" class="control-label">
                                        הנהלת חשבונות
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="Municipality.ID" name="ID" type="text" placeholder="הנהלת חשבונות" class="form-control" disabled autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Municipality.rashut" class="control-label">
                                        מספר ארגון
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="Municipality.rashut" name="rashut" type="text" placeholder="מספר ארגון" class="form-control" disabled autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="Municipality.synerion_link" class="control-label">
                                        לינק למערכת נוכחות
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control lft" ng-model="Municipality.synerion_link" ng-minlength="25" />
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 25 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row"></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 mr">
                                    <div class="col-sm-3">
                                        <label for="Municipality.allowMunicipalityMenu" class="control-label">
                                            דפי ארגון
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <live-checkbox ng-model="Municipality.allowMunicipalityMenu" input-text="כן,לא" input-disabled="Municipality.active? '0':'1'" input-name="allowMunicipalityMenu"></live-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 fix">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="Municipality.municipalityMenuTitle" class="control-label">
                                        כותרת דפי ארגון
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="Municipality.municipalityMenuTitle" ng-disabled="!Municipality.allowMunicipalityMenu || !Municipality.active" ng-minlength="3" ng-maxlength="25" />
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 3 תווים</div>
                                            <div class="maxlength-validation">מקסימום 25 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="col-sm-3">
                                            <label for="Municipality.active" class="control-label">
                                                פעיל
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <live-checkbox ng-model="Municipality.active" input-text="כן,לא" input-disabled="0" input-name="active"></live-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-5">
                                            <label for="Municipality.performUpdate" class="control-label">
                                                עדכון נתונים
                                            </label>
                                        </div>
                                        <div class="col-sm-7">
                                            <live-checkbox ng-model="Municipality.performUpdate" input-text="כן,לא" input-disabled="Municipality.active? '0':'1'" input-name="performUpdate"></live-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-5">
                                            <label for="Municipality.allow101" class="control-label">
                                                הרשאה לטופס 101
                                            </label>
                                        </div>
                                        <div class="col-sm-7">
                                            <live-checkbox ng-model="Municipality.allow101" input-text="כן,לא" input-disabled="Municipality.active? '0':'1'" input-name="allow101"></live-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="col-sm-3">
                                            <label for="Municipality.allowSystemsEmail" class="control-label">
                                                מיילר ארגוני
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <live-checkbox ng-model="Municipality.allowSystemsEmail" input-text="כן,לא" input-disabled="Municipality.active? '0':'1'" input-name="allowSystemsEmail"></live-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-5">
                                            <label for="Municipality.allowprocess" class="control-label">
                                                הרשאה לתהליכים
                                            </label>
                                        </div>
                                        <div class="col-sm-7">
                                            <live-checkbox ng-model="Municipality.allowprocess" input-text="כן,לא" input-disabled="Municipality.active? '0':'1'" input-name="allowprocess"></live-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-5">
                                            <label for="Municipality.allowemailpaycheck" class="control-label">
                                                הרשאה לתלוש במייל
                                            </label>
                                        </div>
                                        <div class="col-sm-7" title="לא פעיל">
                                            <live-checkbox ng-model="Municipality.allowemailpaycheck" input-text="כן,לא" input-disabled="Municipality.active? '0':'1'" input-name="allowemailpaycheck"></live-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 savebtn">
                                    <button type="submit" id="submit" class="btn btn-primary pull-right margin-left-4p">עדכן</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 padd10">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <legend>
                                   <b>פרטי צור קשר ל-</b> `הודעה למח' שכר/משאבי אנוש`.
                                </legend>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 thp">
                        <i class="fa fa-plus-square" aria-hidden="true" ng-click="StartUpdateContact(null, null)"></i>
                        <div class="col-md-10 th">
                            <div class="form-group">
                                <div class="responsive-table-rapper">
                                    <table wt-responsive-table class="table table-striped center municipality-outer-table rtl-inputs">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>שם בעל התפקיד</th>
                                                <th>שם נמען</th>
                                                <th>כתובת מייל</th>
                                                <th>מס' טלפון</th>
                                                <th>
                                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-show="UserSearch.contact.Editing">
                                                <td>
                                                    <input type="text" class="form-control" ng-model="UserSearch.contact.ID" disabled readonly />
                                                </td>
                                                <td>
                                                    <div class="col-sm-12 col-xs-12">
                                                        <input type="text" class="form-control" ng-model="UserSearch.contact.name" required ng-minlength="3" ng-maxlength="75" />
                                                        <div class="validation-message">
                                                            <div class="form-error">
                                                                <div class="required-validation">שדה חובה</div>
                                                                <div class="minlength-validation">מינימום 3 תווים</div>
                                                                <div class="maxlength-validation">מקסימום 75 תווים</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-12 col-xs-12">
                                                        <input type="text" class="form-control" ng-model="UserSearch.contact.job" required ng-minlength="3" ng-maxlength="75" />
                                                        <div class="validation-message">
                                                            <div class="form-error">
                                                                <div class="required-validation">שדה חובה</div>
                                                                <div class="minlength-validation">מינימום 3 תווים</div>
                                                                <div class="maxlength-validation">מקסימום 75 תווים</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-12 col-xs-12">
                                                        <input type="email" class="form-control" ng-model="UserSearch.contact.email" required ng-minlength="3" ng-maxlength="75" />
                                                        <div class="validation-message">
                                                            <div class="form-error">
                                                                <div class="required-validation">שדה חובה</div>
                                                                <div class="minlength-validation">מינימום 3 תווים</div>
                                                                <div class="maxlength-validation">מקסימום 75 תווים</div>
                                                                <div class="email-validation">מייל אינו תקין</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-12 col-xs-12">
                                                        <input type="tel" class="form-control" ng-model="UserSearch.contact.phone" ng-minlength="9" ng-maxlength="10" phone />
                                                        <div class="validation-message">
                                                            <div class="form-error">
                                                                <div class="minlength-validation">מינימום 9 תווים</div>
                                                                <div class="maxlength-validation">מקסימום 10 תווים</div>
                                                                <div class="custom-validation">מספר טלפון לא תקין</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <i class="fa fa-chain-broken" aria-hidden="true" title="בטל" ng-click="StartUpdateContact(UserSearch.contact.$index, false)"></i>
                                                    <span>|</span>
                                                    <i class="fa save fa-file" aria-hidden="true" title="שמור" ng-click="UpdateContact(UserSearch.contact.$index)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody class="no-last">
                                            <tr ng-hide="contact.Editing" ng-repeat="contact in Municipality.humanResourcesContacts | ShowList:$Pager; track by $index;">
                                                <td>{{contact.ID}}</td>
                                                <td>{{contact.name}}</td>
                                                <td>{{contact.job}}</td>
                                                <td>{{contact.email}}</td>
                                                <td>{{contact.phone}}</td>
                                                <th>
                                                    <i class="fa fa-pencil" aria-hidden="true" title="ערוך" ng-click="StartUpdateContact($index, true)"></i>
                                                    <span>|</span>
                                                    <i class="fa fa-trash-o" aria-hidden="true" title="מחק" ng-click="DeleteContact($index, contact)"></i>
                                                </th>
                                            </tr>
                                            <!--</tbody>-->
                                        </tbody>
                                    </table>
                                </div>

                                <ul class="pagination pagination-sm" ng-show="$Pager.MaxPages > 1 && $Pager.pagerList.length > 1">
                                    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber > 3">
                                        <a href="#" ng-click="$Pager.PageNumber = 1">
                                            ראשון
                                        </a>
                                    </li>
                                    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber > 1">
                                        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber - 1">
                                            הקודם
                                        </a>
                                    </li>
                                    <li ng-repeat="page in $Pager.pagerList | pagingFilter:$Pager"
                                        ng-class="{active: $Pager.PageNumber === page}">
                                        <a href="#" ng-click="$Pager.PageNumber = page">
                                            {{page}}
                                        </a>
                                    </li>

                                    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber < $Pager.MaxPages">
                                        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber + 1">
                                            הבא
                                        </a>
                                    </li>
                                    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber < ($Pager.MaxPages - 3)">
                                        <a href="#" ng-click="$Pager.PageNumber = $Pager.MaxPages">
                                            אחרון
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>

    </form>
</div>