﻿<div class="col-md-12 content-wrapper main-content clear-fix admin">
    <form name="UserSearchForm" ng-model="$user" novalidate ng-submit="ResetPassword()">

        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        פרטים אישיים
                    </legend>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="$user.firstName" class="control-label">
                                        שם פרטי
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="$user.firstName" name="firstName" type="text" placeholder="שם פרטי" class="form-control" disabled autocomplete="given-name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="$user.fathersName" class="control-label">
                                        שם משפחה
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="$user.lastName" name="lastName" type="text" placeholder="שם משפחה" class="form-control" disabled autocomplete="family-name">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="$user.idNumber" class="control-label">
                                        תעודת זהות
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="$user.idNumber" name="idNumber" type="text" placeholder="תעודת זהות" class="form-control" disabled autocomplete="id-number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="$user.email" class="control-label">
                                        מייל
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="$user.email" name="email" type="text" placeholder="מייל" class="form-control" disabled autocomplete="email">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="$user.cell" class="control-label">
                                        נייד
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="$user.cell" name="cell" type="text" placeholder="נייד" class="form-control" disabled autocomplete="cell-number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="$user.fathersName" class="control-label">
                                        ראשויות
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="$user.municipalities" name="municipalities" type="text" placeholder="ראשויות" class="form-control" disabled autocomplete="municipalities">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="$$credentials.isAdmin === 100">
                        <div class="reset-password-rapper">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="UserCredentials.newPassword" class="control-label">
                                                סיסמה חדשה
                                                <abbr title="שדה חובה" class="required">
                                                    <i class="fa fa-asterisk">
                                                    </i>
                                                </abbr>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input ng-model="UserSearch.newPassword" name="newPassword" type="password" placeholder="סיסמה חדשה" class="form-control" required ng-minlength="{{$passwordSettings.minLength}}" ng-maxlength="20" autocomplete="new-password">
                                            <div class="validation-message">
                                                <div class="form-error">
                                                    <div class="required-validation">שדה חובה</div>
                                                    <div class="minlength-validation">מינימום {{$passwordSettings.minLength}} תווים</div>
                                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                                    <div class="custom-validation">{{$passwordSettings.validationMessage}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="UserCredentials.reEnterPassword" class="control-label">
                                                אימות סיסמה
                                                <abbr title="שדה חובה" class="required">
                                                    <i class="fa fa-asterisk">
                                                    </i>
                                                </abbr>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input ng-model="UserSearch.reEnterPassword" name="reEnterPassword" type="password" placeholder="אימות סיסמה" class="form-control" required ng-minlength="{{$passwordSettings.minLength}}" ng-maxlength="20" autocomplete="new-password">
                                            <div class="validation-message">
                                                <div class="form-error">
                                                    <div class="required-validation">שדה חובה</div>
                                                    <div class="minlength-validation">מינימום {{$passwordSettings.minLength}} תווים</div>
                                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                                    <div class="custom-validation">סיסמאות אינן זהות</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" id="submit" class="btn btn-primary pull-left margin-left-4p">עדכן סיסמה</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="$$credentials.isAdmin > 60">
                        <div class="reset-password-rapper">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label for="UserCredentials.newPassword" class="control-label">
                                                הרשאות:
                                            </label>
                                        </div>
                                        <div class="col-sm-11">
                                            <ul class="groups-ul">
                                                <li ng-repeat="group in $groups track by $index">
                                                    <span class="groups-ul-div">
                                                        {{group.name}}
                                                    </span>
                                                    <div class="groups-ul-div">
                                                        <live-checkbox ng-model="group.active" input-type="switch" input-text="כן,לא" input-disabled="0"></live-checkbox>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="button" ng-click="UpdateGroups()" class="btn btn-primary pull-left margin-left-4p">עדכן הרשאות</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">

                                    <button ng-if="$user.email !== null" type="button" class="btn btn-success pull-left margin-left-4p" contenteditable="false" ng-click="SendUserResetToken($user, 1)">שלח מייל איפוס</button>
                                    <button ng-if="$user.cell !== null" type="button" class="btn btn-info pull-left margin-left-4p" contenteditable="false" ng-click="SendUserResetToken($user, 0)">שלח <span>SMS</span> איפוס</button>

                                    <button ng-if="$user.cell !== null || $user.email !== null" type="button" class="btn btn-warning pull-left margin-left-4p" contenteditable="false" ng-click="GetUserMessages()">הצג הודעות שנשלחו</button>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12" ng-if="SmsMessages !== null && SmsMessages.length > 0">
                        <div class="form-group">
                            <div class="row">

                                <div class="panel-heading">
                                    <legend>
                                        <b>
                                            הודעות SMS שנשלחו ב 7 הימים האחרונים
                                        </b>
                                    </legend>
                                </div>

                                <table wt-responsive-table class="table table-striped center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>נייד</th>
                                            <th>ת. משלוח</th>
                                            <th>תשובה</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sms in SmsMessages track by $index">
                                            <td>{{sms.ID}}</td>
                                            <td>{{sms.phoneNumber}}</td>
                                            <td>{{sms.sendDate}}</td>
                                            <td>{{sms.anser}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="EmailMessages !== null && EmailMessages.length > 0">
                        <div class="form-group">
                            <div class="row">

                                <div class="panel-heading">
                                    <legend>
                                        <b>
                                            הודעות דוא"ל שנשלחו ב 7 הימים האחרונים
                                        </b>
                                    </legend>
                                </div>

                                <table wt-responsive-table class="table table-striped center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>שם המשתמש</th>
                                            <th>כתובת מייל</th>
                                            <th>סוג המייל</th>
                                            <th>ת. משלוח</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mail in EmailMessages track by $index">
                                            <td>{{mail.ID}}</td>
                                            <td>{{mail.userName}}</td>
                                            <td>{{mail.recipientEmail}}</td>
                                            <td>{{mail.MailType}}</td>
                                            <td>{{mail.createdDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </fieldset>

    </form>
</div>
