﻿<fieldset class="section email-paycheck-section" ng-if="USPCTE.PanelToShow != 3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                תלוש שכר מאובטח במייל
            </legend>
        </div>
        <div class="panel-body">
            <div class="col-md-12 col-xs-12" ng-if="USPCTE.PanelToShow === 2">
                <h4>מתקדמים לתלוש שכר במייל, חוסכים נייר ומפחיתים פסולת!</h4>

                <div>
                    יותר נוח, יותר בטוח ויותר קל לקבל  תלוש שכר במייל היישר למחשב, התלוש מגיע תמיד בזמן , אינו הולך לאיבוד ותמיד זמין לצפייה ולהדפסה.<br />
                    בדרך זו נוכל לחסוך נייר, זהו צעד חיוני למען סביבתינו ותרומה צנועה של כל אחד מאיתנו למען איכות הסביבה.
                </div>
                <div>כל מה שנדרש ממך הוא לאשר כי:</div>
                <p class="bold">
                    <input type="checkbox" class="fa" name="iAgree" ng-model="USPCTE.iAgree" />                    
                    <i class="fa" ng-class="USPCTE.iAgree? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true"></i>
                    אני מעוניין לקבל תלוש שכר במייל כתחליף לעותק מודפס, לכתובת הדואר האלקטרוני שלי:
                </p>

                <!--<div>הבהרה: בכל שלב ניתן יהיה לחזור ולקבל עותק מודפס</div>-->
                <div>
                    הבהרה: בכל שלב ניתן יהיה לחזור ולקבל עותק מודפס.
                </div>

                <div>
                    <p class="emails">{{USPCTE.email}}</p>
                    <button type="submit" id="Submit_emailPaycheck">מאשר</button>

                    <a href="/Content/PDFs/תלוש_במייל.pdf" target="_blank">מסמך הצהרה לאישור תלוש במייל</a>
                </div>
            </div>
            <div class="col-md-12 col-xs-12" ng-if="USPCTE.PanelToShow === 1">
                <h4>
                    ביטול תלוש משכורת במייל
                </h4>
                <div>לחץ על 'ביטול' על-מנת לחזור ולקבל תלוש מודפס.</div>
                <div>שים לב!</div>
                <div>
                    יותר נוח, יותר בטוח ויותר קל לקבל תלוש שכר במייל. התלוש מגיע בזמן, אינו הולך לאיבוד וצפיה בו תמיד זמינה.
                </div>
                <div>
                    בחירה בדרך זו מאפשרת לחסוך בנייר ובכך מועילה מאוד לסביבה של כולנו.
                </div>
                <div>
                    <input type="hidden" name="removeUSPCTE" ng-model="USPCTE.iAgree" value="false" />
                    <input type="hidden" name="iAgree" ng-model="USPCTE.iAgree" />
                    <button type="submit" id="Submit_emailPaycheck" class="no-margin">ביטול</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>