﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                עדכון פרטים
            </legend>
        </div>

        <div class="panel-body">
            <div class="elements section-elements">
                <div class="container">
                    <div class="row-container">
                        <div class="col-md-4">
                            <div class="elements row-elements row-col">
                                <div class="field field-vertical">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="UserCredentials.idNumber" class="control-label">
                                                    <abbr title="שדה חובה" class="required">
                                                        <i class="fa fa-asterisk">
                                                        </i>
                                                    </abbr>תעודת זהות
                                                </label>
                                            </div>
                                            <div class="controller col-sm-12">
                                                <input ng-model="UserCredentials.idNumber" type="text" placeholder="תעודת זהות" class="form-control" readonly disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="elements row-elements row-col">
                                <div class="field field-vertical">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="UserCredentials.firstName" class="control-label">
                                                    <abbr title="שדה חובה" class="required">
                                                        <i class="fa fa-asterisk">
                                                        </i>
                                                    </abbr>שם פרטי
                                                </label>
                                            </div>
                                            <div class="controller col-sm-12">
                                                <input ng-model="UserCredentials.firstName" name="firstName" type="text" placeholder="שם פרטי" class="form-control" required ng-minlength="3" ng-maxlength="20">
                                                <div class="validation-message">
                                                    <div class="form-error">
                                                        <div class="required-validation">שדה חובה</div>
                                                        <div class="minlength-validation">מינימום 3 תווים</div>
                                                        <div class="maxlength-validation">מקסימום 20 תווים</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="elements row-elements row-col">
                                <div class="field field-vertical">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="UserCredentials.lastName" class="control-label">
                                                    <abbr title="שדה חובה" class="required">
                                                        <i class="fa fa-asterisk">
                                                        </i>
                                                    </abbr>שם משפחה
                                                </label>
                                            </div>
                                            <div class="controller col-sm-12">
                                                <input ng-model="UserCredentials.lastName" name="lastName" type="text" placeholder="שם משפחה" class="form-control" required ng-minlength="3" ng-maxlength="20">
                                                <div class="validation-message">
                                                    <div class="form-error">
                                                        <div class="required-validation">שדה חובה</div>
                                                        <div class="minlength-validation">מינימום 3 תווים</div>
                                                        <div class="maxlength-validation">מקסימום 20 תווים</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container">
                    <div class="row-container">

                        <div class="col-md-4">
                            <div class="elements row-elements row-col">
                                <div class="field field-vertical">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="UserCredentials.email" class="control-label">
                                                    <abbr title="שדה חובה" class="required">
                                                        <i class="fa fa-asterisk">
                                                        </i>
                                                    </abbr>מייל
                                                </label>
                                            </div>
                                            <div class="controller col-sm-12">
                                                <input ng-model="UserCredentials.email" type="text" placeholder="מייל" class="form-control" readonly disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="elements row-elements row-col">
                                <div class="field field-vertical">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="UserCredentials.phone" class="control-label">
                                                    <abbr title="שדה חובה" class="required">
                                                        <i class="fa fa-asterisk">
                                                        </i>
                                                    </abbr>מספר טלפון
                                                </label>
                                            </div>
                                            <div class="controller col-sm-12">
                                                <input ng-model="UserCredentials.phone" name="phone" type="tel" placeholder="טלפון" class="form-control" required Phone>
                                                <div class="validation-message">
                                                    <div class="form-error">
                                                        <div class="required-validation">שדה חובה</div>
                                                        <div class="custom-validation">מספר טלפון לא תקין</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="elements row-elements row-col">
                                <div class="field field-vertical">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="UserCredentials.cell" class="control-label">
                                                    <abbr title="שדה חובה" class="required">
                                                        <i class="fa fa-asterisk">
                                                        </i>
                                                    </abbr>מספר נייד
                                                </label>
                                            </div>
                                            <div class="controller col-sm-12">
                                                <input ng-model="UserCredentials.cell" name="cell" type="tel" placeholder="נייד" class="form-control" required Phone>
                                                <div class="validation-message">
                                                    <div class="form-error">
                                                        <div class="required-validation">שדה חובה</div>
                                                        <div class="custom-validation">מספר טלפון לא תקין</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row-container">
                        <div class="col-md-4">
                            <div class="elements row-elements row-col">
                                <div class="field field-vertical">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="UserCredentials.birthDate" class="control-label">
                                                    <abbr title="שדה חובה" class="required">
                                                        <i class="fa fa-asterisk">
                                                        </i>
                                                    </abbr>תאריך לידה
                                                </label>
                                            </div>
                                            <div class="controller col-sm-12">
                                                <div id="UserCredentials.birthDate">
                                                    <datepicker date-set="{{UserCredentials.set_birthDate}}" date-format="dd/MM/yyyy" selector="date-control" date-week-start-day="0" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-month-title="selected month" date-year-title="selected year" date-max-limit="{{MaxDateLimit}}" date-refocus="true" date-typer="true" datepicker-toggle="true">
                                                        <div class="input-group">
                                                            <span aria-hidden="true" class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" name="birthDate" ng-model="UserCredentials.birthDate" class="form-control date-control" NgDate required>
                                                            <div class="validation-message">
                                                                <div class="form-error">
                                                                    <div class="required-validation">שדה חובה</div>
                                                                    <div class="custom-validation">פורמט תאריך לא תקין</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </datepicker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="elements row-elements row-col">
                                <div class="field field-vertical">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="UserCredentials.immigrationDate" class="control-label">
                                                    תאריך עליה
                                                </label>
                                            </div>
                                            <div class="controller col-sm-12">
                                                <div id="UserCredentials.immigrationDate">
                                                    <datepicker date-set="{{UserCredentials.set_immigrationDate}}" date-format="dd/MM/yyyy" selector="date-control" date-week-start-day="0" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-month-title="selected month" date-year-title="selected year" date-max-limit="{{MaxDateLimit}}" date-refocus="true" date-typer="true" datepicker-toggle="true">
                                                        <div class="input-group">
                                                            <span aria-hidden="true" class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" name="immigrationDate" ng-model="UserCredentials.immigrationDate" class="form-control date-control" NgDate>
                                                            <div class="validation-message">
                                                                <div class="form-error">
                                                                    <div class="required-validation">שדה חובה</div>
                                                                    <div class="custom-validation">פורמט תאריך לא תקין</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </datepicker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-11">
                                    <button type="submit" id="submit" class="btn btn-primary pull-left">עדכן</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>