﻿<div class="col-md-12 content-wrapper main-content clear-fix reddish">
    <form name="RegisterForm" ng-model="UserCredentials" novalidate ng-submit="register()" ng-show="$controllerState === 'UserRegister' && !UserCredentials.showSmsField">
        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        הרשמה
                    </legend>
                </div>
                <div class="panel-body">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6">
                            <div class="form-group" ng-hide="UserCredentials.isValidToRegister">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="UserCredentials.street" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>
                                            בחר ארגון
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <ui-select multiple ng-model="UserCredentials.municipalities" theme="bootstrap" spinner-enabled="true">
                                            <ui-select-match placeholder="חפש ארגון">{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="$item in municipalities track by $index" refresh="searchMunicipality($select.search)" refresh-delay="0" on-select="someFunction($item, $model)" position="down" autofocus="true">
                                                <div ng-bind-html="$item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <input type="hidden" name="UserCredentials_municipalities" ng-model="UserCredentials.municipalities" required />
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="UserCredentials.idNumber" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>תעודת זהות
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input name="idNumber" type="text" ng-model="UserCredentials.idNumber" placeholder="תעודת זהות" class="form-control" IDNumber required ng-minlength="9" ng-maxlength="9"
                                               ng-disabled="UserCredentials.isValidToRegister">
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                                                <div class="minlength-validation">מינימום 9 תווים</div>
                                                <div class="maxlength-validation">מקסימום 9 תווים</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-hide="UserCredentials.isValidToRegister">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="UserCredentials.initialPassword" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk" ng-show="UserCredentials.initialPasswordRequired">
                                                </i>
                                            </abbr>סיסמת אימות ראשונית
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input ng-model="UserCredentials.initialPassword" name="initialPassword" type="password" placeholder="סיסמת אימות ראשונית" class="form-control" ng-required="UserCredentials.initialPasswordRequired" ng-minlength="7" ng-maxlength="20" ng-keyup="setRequired()">
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="minlength-validation">מינימום 7 תווים</div>
                                                <div class="maxlength-validation">מקסימום 20 תווים</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-hide="UserCredentials.isValidToRegister">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="UserCredentials.email" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk" ng-show="UserCredentials.emailRequired">
                                                </i>
                                            </abbr>אימייל
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input ng-model="UserCredentials.email" name="email" type="email" placeholder="אימייל" class="form-control" ng-required="UserCredentials.emailRequired" ng-minlength="3" ng-maxlength="30" ng-keyup="setRequired()">
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="email-validation">מייל לא תקין</div>
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="minlength-validation">מינימום 3 תווים</div>
                                                <div class="maxlength-validation">מקסימום 30 תווים</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-hide="UserCredentials.isValidToRegister">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="UserCredentials.cell" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk" ng-show="UserCredentials.cellRequired">
                                                </i>
                                            </abbr>
                                            נייד
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input ng-model="UserCredentials.cell" name="cell" type="tel" placeholder="נייד" class="form-control" Phone ng-required="UserCredentials.cellRequired" ng-keyup="setRequired()">
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">מספר טלפון לא תקין</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="UserCredentials.isValidToRegister">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="UserCredentials.newPassword" class="control-label">
                                                <abbr title="שדה חובה" class="required">
                                                    <i class="fa fa-asterisk">
                                                    </i>
                                                </abbr>סיסמה
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input ng-model="UserCredentials.newPassword" name="newPassword" type="password" placeholder="סיסמה" class="form-control" ng-required="UserCredentials.isValidToRegister" ng-minlength="{{$passwordSettings.minLength}}" ng-maxlength="20" Password>
                                            <div class="validation-message">
                                                <div class="form-error">
                                                    <div class="required-validation">שדה חובה</div>
                                                    <div class="minlength-validation">מינימום {{$passwordSettings.minLength}} תווים</div>
                                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                                    <div class="custom-validation">{{$passwordSettings.validationMessage}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="UserCredentials.reEnterPassword" class="control-label">
                                                <abbr title="שדה חובה" class="required">
                                                    <i class="fa fa-asterisk">
                                                    </i>
                                                </abbr>אימות סיסמה
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input ng-model="UserCredentials.reEnterPassword" name="reEnterPassword" type="password" placeholder="אימות סיסמה" class="form-control" ng-required="UserCredentials.isValidToRegister" ng-minlength="{{$passwordSettings.minLength}}" ng-maxlength="20" Password>
                                            <div class="validation-message">
                                                <div class="form-error">
                                                    <div class="required-validation">שדה חובה</div>
                                                    <div class="minlength-validation">מינימום {{$passwordSettings.minLength}} תווים</div>
                                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                                    <div class="custom-validation">סיסמאות אינן זהות</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="#" ng-click="UserCredentials.isValidToRegister = !UserCredentials.isValidToRegister" ng-show="UserCredentials.isValidToRegister">חזור</a>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" id="submit" class="btn btn-primary pull-left">עדכן</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-show="UserCredentials.isValidToRegister">
                            <div class="password-message-rapper">
                                <ul class="list-group-disc">
                                    <li>הסיסמה חייבת להכיל בין {{$passwordSettings.minLength}} ל 20 תווים.</li>
                                    <li ng-show="$passwordSettings.minNumeric > 0">הסיסמה חייבת להכיל לפחות {{$passwordSettings.minNumeric}} מספרים.</li>
                                    <li ng-show="$passwordSettings.minNonAlphanumeric > 0">הסיסמה חייבת להכיל לפחות {{$passwordSettings.minNonAlphanumeric}} תווים מיוחדים (!@#$...).</li>
                                    <li>מורכבת מאותיות לועזיות וספרות בלבד ללא רווחים.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>

    <form name="verifyTokenForm" ng-model="UserCredentials" novalidate ng-submit="verifyToken()" ng-show="$controllerState === 'UserRegister' && UserCredentials.showSmsField">
        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        הרשמה
                    </legend>
                </div>
                <div class="panel-body">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="UserCredentials.idNumber" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>תעודת זהות
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input name="idNumber" type="text" ng-model="UserCredentials.idNumber" placeholder="תעודת זהות" class="form-control" IDNumber required ng-minlength="9" ng-maxlength="9"
                                               ng-disabled="UserCredentials.isValidToRegister">
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                                                <div class="minlength-validation">מינימום 9 תווים</div>
                                                <div class="maxlength-validation">מקסימום 9 תווים</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="UserCredentials.token" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>הכנס קוד אבטחה
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input ng-model="UserCredentials.token" name="token" type="text" placeholder="קוד אבטחה" class="form-control" ng-required="UserCredentials.isValidToRegister && UserCredentials.showSmsField" ng-minlength="6" ng-maxlength="11">
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="minlength-validation">מינימום 6 תווים</div>
                                                <div class="maxlength-validation">מקסימום 11 תווים</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="#" ng-click="UserCredentials.showSmsField = !UserCredentials.showSmsField" ng-show="UserCredentials.showSmsField">חזור</a>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <button type="submit" id="submit" class="btn btn-primary pull-left">עדכן</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>