﻿<div class="col-md-12 content-wrapper main-content clear-fix admin">
    <fieldset class="section">
        <div class="panel panel-info">
            <div class="panel-heading">
                <legend>
                    דפים מיוחדים לארגון

                    <i class="fa add fa-plus-square" aria-hidden="true" ng-click="createNewTemplate(true)" ng-hide="HtmlTemplateModel.Editing" title="חדש"></i>

                    <i class="fa save fa-file" aria-hidden="true" ng-show="HtmlTemplateModel.Editing" title="שמור" ng-click="SaveTemplate()"></i>

                    <i class="fa cancel fa-minus-circle" aria-hidden="true" ng-click="createNewTemplate(false)" ng-show="HtmlTemplateModel.Editing" title="בטל"></i>

                </legend>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="panel panel-info">
            <form name="TemplateFrom" ng-model="EmailTemplateModel" novalidate ng-submit="SaveTemplate()">
                <div class="panel-body editor-inputs-holder" ng-class="{close: !HtmlTemplateModel.Editing}">

                    <div class="col-md-5 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="HtmlTemplateModel.name" class="control-label">
                                        שם הדף
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <input ng-model="HtmlTemplateModel.name" name="name" type="text" placeholder="שם הדף" class="form-control" required ng-minlength="5" ng-maxlength="50">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 5 תווים</div>
                                            <div class="maxlength-validation">מקסימום 50 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="HtmlTemplateModel.subject" class="control-label">
                                        כותרת משנה
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <input ng-model="HtmlTemplateModel.subject" name="subject" type="text" placeholder="כותרת משנה" class="form-control" ng-minlength="5" ng-maxlength="50">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 5 תווים</div>
                                            <div class="maxlength-validation">מקסימום 50 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <live-checkbox ng-model="HtmlTemplateModel.active" ng-change="HtmlTemplateModel.$pristine = false" input-text="פעיל,לא פעיל"></live-checkbox>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel-body editor-body-holder" ng-class="{close: !HtmlTemplateModel.Editing}">

                    <div class="editor-holder">
                        <div class="col-md-12">
                            <textarea ui-tinymce="tinymceOptions" ng-model="HtmlTemplateModel.template"></textarea>
                        </div>
                    </div>

                </div>

            </form>

            <div class="panel-body templats-panel">
                <div class="responsive-table-rapper">
                    <table wt-responsive-table class="table table-striped center templats-tables">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>שם הדף</th>
                                <th>כותרת משנה</th>
                                <th>תאריך עדכון</th>
                                <th>מעדכן אחרון</th>
                                <th>פעיל</th>
                                <th>
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                    <div class="col-sm-3 col-xs-3" title="גודל תצוגה" ng-show="$Pager.Counter > $Pager.sizes[0]">
                                        <select ng-model="$Pager.PageSize" ng-options="x for x in $Pager.sizes" ng-change="changePagerSize()"></select>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="template in HtmlTemplates | ShowList:$Pager" ng-class="{current: HtmlTemplateModel.ID === template.ID}">
                                <td>{{template.ID}}</td>
                                <td>{{template.name}}</td>
                                <td>{{template.subject}}</td>
                                <td>{{template.updateDateString}}</td>
                                <td>{{template.UpdateUser}}</td>
                                <td ng-click="activetTemplate(template)">
                                    <i class="fa fa-toggle-on" aria-hidden="true" ng-show="template.active"></i>
                                    <i class="fa fa-toggle-off" aria-hidden="true" ng-show="!template.active"></i>
                                </td>
                                <td>
                                    <i class="fa fa-pencil" aria-hidden="true" title="ערוך" ng-click="EditTemplate(template)"></i>
                                    <i class="fa fa-trash-o" aria-hidden="true" title="מחק" ng-click="DeleteTemplate(template)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <ul class="pagination pagination-sm" ng-show="$Pager.MaxPages > 1 && $Pager.pagerList.length > 1">
                    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber > 3">
                        <a href="#" ng-click="$Pager.PageNumber = 1">
                            ראשון
                        </a>
                    </li>
                    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber > 1">
                        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber - 1">
                            הקודם
                        </a>
                    </li>

                    <li ng-repeat="page in $Pager.pagerList | pagingFilter:$Pager"
                        ng-class="{active: $Pager.PageNumber === page}">
                        <a href="#" ng-click="$Pager.PageNumber = page">{{page}}</a>
                    </li>

                    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber < $Pager.MaxPages">
                        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber + 1">
                            הבא
                        </a>
                    </li>
                    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber < ($Pager.MaxPages - 3)">
                        <a href="#" ng-click="$Pager.PageNumber = $Pager.MaxPages">
                            אחרון
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>

</div>