﻿<div class="col-md-12 content-wrapper main-content clear-fix admin">
    <form name="GetUsersForm" ng-model="EmailTemplateModel" novalidate ng-submit="SearchUsers()">
        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        בחירת משתמשים למשלוח
                        <i class="fa cancel fa-minus-circle" aria-hidden="true" ui-sref="Systems.Email-Templates" title="חזור"></i>
                    </legend>
                </div>

                <div class="panel-body">
                    <div class="panel-body templats-panel">
                        <div class="panel-heading">
                            <legend>
                                בחירת קבוצות אוכלוסיה
                                <i class="fa fa-eject" aria-hidden="true" title="חזור" ng-class="EmailTemplateModel.ShowPG? 'eject':'insert'" ng-click="EmailTemplateModel.ShowPG = !EmailTemplateModel.ShowPG"></i>
                            </legend>
                            <div class="slider" NgSlider rule="EmailTemplateModel.ShowPG">
                                <div class="responsive-table-rapper">
                                    <table wt-responsive-table class="table table-striped center templats-tables">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>שם</th>
                                                <th>סוג</th>
                                                <th>תיאור מלא</th>
                                                <th>תאריך עדכון</th>
                                                <th>
                                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="group in EmailTemplateModel.pg  | ShowList:$GroupsPager track by $index" ng-class="{current: group.Selected}">
                                                <td>{{group.population_id}}</td>
                                                <td>{{group.population_name}}</td>
                                                <td>{{group.population_type}}</td>
                                                <td>{{group.population_full_description}}</td>
                                                <td>{{group.last_update_date}}</td>
                                                <td>
                                                    <i class="fa fa-ban" aria-hidden="true" title="בטל" ng-click="RemoveGroup(group)"></i>
                                                    <i class="fa fa-cart-plus" aria-hidden="true" title="בחר" ng-click="SelectGroup(group)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination pagination-sm" ng-show="$GroupsPager.MaxPages > 1 && $GroupsPager.pagerList.length > 1">
                                    <li ng-show="$GroupsPager.MaxPages > 4 && $GroupsPager.PageNumber > 3">
                                        <a href="#" ng-click="$GroupsPager.PageNumber = 1">
                                            ראשון
                                        </a>
                                    </li>
                                    <li ng-show="$GroupsPager.MaxPages > 1 && $GroupsPager.PageNumber > 1">
                                        <a href="#" ng-click="$GroupsPager.PageNumber = $GroupsPager.PageNumber - 1">
                                            הקודם
                                        </a>
                                    </li>

                                    <li ng-repeat="page in $GroupsPager.pagerList | pagingFilter:$GroupsPager"
                                        ng-class="{active: $GroupsPager.PageNumber === page}">
                                        <a href="#" ng-click="$GroupsPager.PageNumber = page">{{page}}</a>
                                    </li>

                                    <li ng-show="$GroupsPager.MaxPages > 1 && $GroupsPager.PageNumber < $GroupsPager.MaxPages">
                                        <a href="#" ng-click="$GroupsPager.PageNumber = $GroupsPager.PageNumber + 1">
                                            הבא
                                        </a>
                                    </li>
                                    <li ng-show="$GroupsPager.MaxPages > 4 && $GroupsPager.PageNumber < ($GroupsPager.MaxPages - 3)">
                                        <a href="#" ng-click="$GroupsPager.PageNumber = $GroupsPager.MaxPages">
                                            אחרון
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-heading">
                            <legend>
                                בחירה ממשתמשי מערכת
                                <i class="fa fa-eject" aria-hidden="true" title="חזור" ng-class="!EmailTemplateModel.ShowPG? 'eject':'insert'" ng-click="EmailTemplateModel.ShowPG = !EmailTemplateModel.ShowPG"></i>
                            </legend>
                            <div class="slider" NgSlider rule="!EmailTemplateModel.ShowPG">

                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-3">
                                                <label for="UserSearch.searchIdNumber" class="control-label">
                                                    תעודת זהות
                                                </label>
                                            </div>
                                            <div class="col-sm-8 col-xs-8">
                                                <input ng-model="UserSearch.searchIdNumber" name="searchIdNumber" type="text" placeholder="תעודת זהות" class="form-control" ng-maxlength="20" numbersinput>
                                                <div class="validation-message">
                                                    <div class="form-error">
                                                        <div class="minlength-validation">מינימום 1 תווים</div>
                                                        <div class="maxlength-validation">מקסימום 20 תווים</div>
                                                        <div class="custom-validation">ניתן להכניס ספרות בלבד</div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="$hidden_value" ng-model="UserSearch.$hidden_value" required />
                                                <div class="validation-message">
                                                    <div class="form-error">
                                                        <div class="required-validation">חובה למלא לפחות שדה אחד!</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-3">
                                                <label for="UserSearch.cell" class="control-label">
                                                    כתובת מייל
                                                </label>
                                            </div>
                                            <div class="col-sm-8 col-xs-8">
                                                <input ng-model="UserSearch.cell" name="cell" type="text" placeholder="כתובת מייל" class="form-control" ng-maxlength="20">
                                                <div class="validation-message">
                                                    <div class="form-error">
                                                        <div class="maxlength-validation">מקסימום 20 תווים</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-3">
                                                <label for="UserSearch.firstName" class="control-label">
                                                    שם
                                                </label>
                                            </div>
                                            <div class="col-sm-8 col-xs-8">
                                                <input ng-model="UserSearch.firstName" name="firstName" type="text" placeholder="שם" class="form-control" ng-maxlength="20">
                                                <div class="validation-message">
                                                    <div class="form-error">
                                                        <div class="maxlength-validation">מקסימום 20 תווים</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-3">
                                                <label for="UserSearch.searchMunicipalitiesId" class="control-label">
                                                    קבוצת משתמשים
                                                </label>
                                            </div>
                                            <div class="col-sm-8 col-xs-8">
                                                <select name="searchMunicipalitiesId" ng-model="UserSearch.searchMunicipalitiesId" ng-options="option.ID as option.name for option in groups track by option.ID">
                                                    <option value="">בחר קבוצה</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit" id="submit" class="btn btn-primary pull-left margin-left-4p">חפש</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-xs-12" ng-show="UsersList.length > 0">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-3">
                                                <label for="UsersList" class="control-label">
                                                    בחר משתמשים לשליחה:
                                                </label>
                                                <i class="fa fa-cart-plus pull-left" aria-hidden="true" title="בחר הכל" ng-click="addAll()"></i>
                                                <i class="fa cancel fa-minus-circle pull-left" aria-hidden="true" title="נקה חיפוש" ng-click="UsersList = []"></i>
                                            </div>

                                            <div class="col-sm-12 col-xs-12">
                                                <ul class="group-email-search" ng-repeat="user in UsersList | ShowList:$SearchUsersPager  track by $index">
                                                    <li class="td">
                                                        {{user.name}}
                                                    </li>
                                                    <li class="td">
                                                        {{user.email}}
                                                    </li>
                                                    <li class="td">
                                                        <button type="button" id="add" class="btn btn-info" ng-click="addToSendList(user)">הוסף</button>
                                                    </li>
                                                </ul>
                                            </div>

                                            <ul class="pagination pagination-sm" ng-show="$SearchUsersPager.MaxPages > 1 && $SearchUsersPager.pagerList.length > 1">
                                                <li ng-show="$SearchUsersPager.MaxPages > 4 && $SearchUsersPager.PageNumber > 3">
                                                    <a href="#" ng-click="$SearchUsersPager.PageNumber = 1">
                                                        ראשון
                                                    </a>
                                                </li>
                                                <li ng-show="$SearchUsersPager.MaxPages > 1 && $SearchUsersPager.PageNumber > 1">
                                                    <a href="#" ng-click="$SearchUsersPager.PageNumber = $SearchUsersPager.PageNumber - 1">
                                                        הקודם
                                                    </a>
                                                </li>

                                                <li ng-repeat="page in $SearchUsersPager.pagerList | pagingFilter:$SearchUsersPager"
                                                    ng-class="{active: $SearchUsersPager.PageNumber === page}">
                                                    <a href="#" ng-click="$SearchUsersPager.PageNumber = page">{{page}}</a>
                                                </li>

                                                <li ng-show="$SearchUsersPager.MaxPages > 1 && $SearchUsersPager.PageNumber < $SearchUsersPager.MaxPages">
                                                    <a href="#" ng-click="$SearchUsersPager.PageNumber = $SearchUsersPager.PageNumber + 1">
                                                        הבא
                                                    </a>
                                                </li>
                                                <li ng-show="$SearchUsersPager.MaxPages > 4 && $SearchUsersPager.PageNumber < ($SearchUsersPager.MaxPages - 3)">
                                                    <a href="#" ng-click="$SearchUsersPager.PageNumber = $SearchUsersPager.MaxPages">
                                                        אחרון
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </fieldset>
    </form>

    <fieldset>
        <div class="panel panel-info">
            <form name="SendindForm" ng-model="EmailTemplateModel" novalidate ng-submit="Send()">
                <div class="panel-body editor-inputs-holder">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="responsive-table-rapper">
                                    <div class="col-md-6 col-xs-12">
                                        <table wt-responsive-table class="table table-striped center templats-tables">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>שם מלא</th>
                                                    <th>דוא"ל</th>
                                                    <th>שלח</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="user in toMailUsers | OddEvenListFilter:{ 'pager': $UsersPager, 'set': true }">
                                                    <td>{{user.ID}}</td>
                                                    <td>{{user.name}}</td>
                                                    <td>{{user.email}}</td>
                                                    <td>
                                                        <live-checkbox ng-model="user.Send" input-type="switch" input-text="כן,לא" input-disabled="0"></live-checkbox>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <table wt-responsive-table class="table table-striped center templats-tables">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>שם מלא</th>
                                                    <th>דוא"ל</th>
                                                    <th>שלח</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="user in toMailUsers | OddEvenListFilter:{ 'pager': $UsersPager, 'set': false }">
                                                    <td>{{user.ID}}</td>
                                                    <td>{{user.name}}</td>
                                                    <td>{{user.email}}</td>
                                                    <td>
                                                        <live-checkbox ng-model="user.Send" input-type="switch" input-text="כן,לא" input-disabled="0"></live-checkbox>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <ul class="pagination pagination-sm" ng-show="$UsersPager.MaxPages > 1 && $UsersPager.pagerList.length > 1">
                                    <li ng-show="$UsersPager.MaxPages > 4 && $UsersPager.PageNumber > 3">
                                        <a href="#" ng-click="$UsersPager.PageNumber = 1">
                                            ראשון
                                        </a>
                                    </li>
                                    <li ng-show="$UsersPager.MaxPages > 1 && $UsersPager.PageNumber > 1">
                                        <a href="#" ng-click="$UsersPager.PageNumber = $UsersPager.PageNumber - 1">
                                            הקודם
                                        </a>
                                    </li>

                                    <li ng-repeat="page in $UsersPager.pagerList | pagingFilter:$UsersPager"
                                        ng-class="{active: $UsersPager.PageNumber === page}">
                                        <a href="#" ng-click="$UsersPager.PageNumber = page">{{page}}</a>
                                    </li>

                                    <li ng-show="$UsersPager.MaxPages > 1 && $UsersPager.PageNumber < $UsersPager.MaxPages">
                                        <a href="#" ng-click="$UsersPager.PageNumber = $UsersPager.PageNumber + 1">
                                            הבא
                                        </a>
                                    </li>
                                    <li ng-show="$UsersPager.MaxPages > 4 && $UsersPager.PageNumber < ($UsersPager.MaxPages - 3)">
                                        <a href="#" ng-click="$UsersPager.PageNumber = $UsersPager.MaxPages">
                                            אחרון
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body editor-inputs-holder" ng-show="toMailUsers !== null && toMailUsers.length > 0">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" id="submit" class="btn btn-primary pull-left margin-left-4p">שלח מייל למשתמשים</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </fieldset>
</div>