﻿<div class="file-manager-popup">
    <form name="FileManagerForm" ng-model="fileStructure" novalidate ng-submit="submit()">
        <article>
            <h4>
                ניהול קבצים
            </h4>
        </article>
        <section>
            <div class="folder-structure">                
                <div class="control-buttons">
                    <i class="fa fa-trash-o" aria-hidden="true" title="מחיקה" ng-class="{disable: isSelected == null || isSelected === fileStructure}" ng-click="deleteFolder(isSelected)"></i>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" title="עריכה" ng-class="{disable: isSelected == null}" ng-click="updateFolder(isSelected)"></i>
                    <i class="fa fa-plus-square-o" aria-hidden="true" title="הוספה" ng-class="{disable: isSelected == null}" ng-click="addFolder(isSelected)"></i>
                </div>

                <h5 class="base-file-structure" ng-click="selectMaster(fileStructure)" ng-class="{active: fileStructure.selected, CurrentDrag: CurrentDragOver === fileStructure.ID}" ng-hide="fileStructure.Editing"
                    ad-drop="true" 
                    ad-drop-data="fileStructure" 
                    ad-drop-end="OnDropFile($data, $dragElement, $dropElement, $event, $dropData);"
                    ad-drop-over="OnDragOver($data, $dragElement, $dropElement, $event, $dropData);"
                    ad-drop-leave="OnDragLeave($data, $dragElement, $dropElement, $event, $dropData);"
                    >
                    {{fileStructure.name}}
                    <span>({{fileStructure.images.length}})</span>
                </h5>
                
                <input type="text" ng-model="fileStructure.name" name="folder_{{fileStructure.ID}}"
                       ng-required="inputValidation.required" ng-minlength="inputValidation.minlength" ng-maxlength="inputValidation.maxlength"
                       ng-show="fileStructure.Editing" ng-blur="updateFolderOut(fileStructure)" />
                <div class="validation-message">
                    <div class="form-error">
                        <div class="required-validation">שדה חובה</div>
                        <div class="minlength-validation">מינימום {{inputValidation.minlength}} תווים</div>
                        <div class="maxlength-validation">אורך מקסימאלי {{inputValidation.maxlength}} תווים</div>
                    </div>
                </div>
                
                <div ng-show="fileStructure.Eding" class="add-folder">
                    <i class="fa fa-folder-o" aria-hidden="true"></i>
                    <input type="text" ng-model="directoryModel.name" placeholder="תיקייה חדשה..." name="directory_{{fileStructure.ID}}"
                           ng-required="inputValidation.required" ng-minlength="inputValidation.minlength" ng-maxlength="inputValidation.maxlength"
                           ng-blur="addFolderOut(fileStructure)" />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                            <div class="minlength-validation">מינימום {{inputValidation.minlength}} תווים</div>
                            <div class="maxlength-validation">אורך מקסימאלי {{inputValidation.maxlength}} תווים</div>
                        </div>
                    </div>
                </div>

                <folder-structure folder-struct="fileStructure" depth-struct="0" input-validation="inputValidation" current-drag-over="CurrentDragOver"></folder-structure>
            </div>
            <div class="file-structure">
                <div class="control-buttons">
                    <i class="fa fa-trash-o" aria-hidden="true" title="מחיקה" ng-click="deleteImage(isSelected)" ng-class="{disable: isSelected === null || SelectedFile === null}"></i>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" title="עריכה" ng-class="{disable: isSelected == null || SelectedFile === null}" ng-click="aditImage(isSelected)"></i>

                    <!-- start file uploader component -->
                    <div class="file-uploader">
                        <i class="fa fa-plus-square-o" aria-hidden="true" title="הוספה" ng-class="{disable: isSelected == null}" ng-click="addImage(isSelected)"></i>
                        <input type="file" nv-file-select="" ng-model="_imagesUploader" name="_imagesUploader" uploader="imagesUploader" ng-disabled="isSelected == null">
                    </div>
                    <!-- end file uploader component -->

                </div>

                <div class="file-holder col-md-12">
                    <div class="col-md-3" ng-repeat="file in filesList track by $index" ng-click="selectFile(file)" ng-dblclick="insertFile(file)" ng-class="{active: file.selected}"
                            ad-drag="true" 
                            ad-drag-type="file" 
                            ad-drag-data="file"
                         >
                        <img ng-src="{{file.fileBlobString}}" title="{{file.name}}" alt="{{file.name}}" draggable="false" />
                        <span ng-hide="file.selected && file.Editing">{{file.name}}.{{file.type}}</span>

                        <div ng-show="file.selected && file.Editing" class="edit-file">
                            <input type="text" ng-model="file.name" placeholder="שם קובץ...." name="file_{{file.ID}}"
                                   ng-required="inputValidation.required" ng-minlength="inputValidation.minlength" ng-maxlength="inputValidation.maxlength"
                                   ng-blur="EditFileOut(file)" />
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום {{inputValidation.minlength}} תווים</div>
                                    <div class="maxlength-validation">אורך מקסימאלי {{inputValidation.maxlength}} תווים</div>
                                </div>
                            </div>

                            <span>{{file.type}}.</span>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </form>
</div>