﻿<div class="col-md-12 content-wrapper main-content clear-fix municipalities">
    <form name="UserSearchForm" ng-model="UserSearch" novalidate ng-submit="SearchMunicipality()">
        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        חפש לפי
                    </legend>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.searchMunicipalityName" class="control-label">
                                        שם ארגון
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <input ng-model="UserSearch.searchMunicipalityName" name="searchMunicipalityName" type="text" placeholder="שם ארגון" class="form-control" ng-maxlength="20">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 1 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hidden_value" ng-required="UserSearch.hidden_value" ng-model="UserSearch.$hidden_value" />
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">חובה למלא לפחות שדה אחד!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.searchMunicipalitiesId" class="control-label">
                                        מספר ארגון
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <input ng-model="UserSearch.searchMunicipalitiesId" name="searchMunicipalitiesId" type="text" placeholder="מספר ארגון" class="form-control" ng-maxlength="20">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 1 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.active" class="control-label">
                                        ארגון פעיל
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <div is="0" class="btn-group m-b checkbox-box">
                                        <a ng-class="UserSearch.active ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.active = true">כן</a>
                                        <a ng-class="UserSearch.active === false ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.active = false">לא</a>
                                        <a ng-class="UserSearch.active === null ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.active = null">בחר</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.has101" class="control-label">
                                        טופס 101
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <div is="0" class="btn-group m-b checkbox-box">
                                        <a ng-class="UserSearch.has101 ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.has101 = true">כן</a>
                                        <a ng-class="UserSearch.has101 === false ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.has101 = false">לא</a>
                                        <a ng-class="UserSearch.has101 === null ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.has101 = null">בחר</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.hasProcess" class="control-label">
                                        מודול תהליכים
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <div is="0" class="btn-group m-b checkbox-box" tabindex="0">
                                        <a ng-class="UserSearch.hasProcess ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasProcess = true">כן</a>
                                        <a ng-class="UserSearch.hasProcess === false ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasProcess = false">לא</a>
                                        <a ng-class="UserSearch.hasProcess === null ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasProcess = null">בחר</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.hasEmailPaycheck" class="control-label">
                                        תלוש במייל
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <div is="0" class="btn-group m-b checkbox-box" tabindex="0">
                                        <a ng-class="UserSearch.hasEmailPaycheck ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasEmailPaycheck = true">כן</a>
                                        <a ng-class="UserSearch.hasEmailPaycheck === false ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasEmailPaycheck = false">לא</a>
                                        <a ng-class="UserSearch.hasEmailPaycheck === null ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasEmailPaycheck = null">בחר</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.hasMunicipalityMenu" class="control-label">
                                        דפי ארגון
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <div is="0" class="btn-group m-b checkbox-box" tabindex="0">
                                        <a ng-class="UserSearch.hasMunicipalityMenu ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasMunicipalityMenu = true">כן</a>
                                        <a ng-class="UserSearch.hasMunicipalityMenu === false ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasMunicipalityMenu = false">לא</a>
                                        <a ng-class="UserSearch.hasMunicipalityMenu === null ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasMunicipalityMenu = null">בחר</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.hasSystemsEmail" class="control-label">
                                        מערכת מיילים
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <div is="0" class="btn-group m-b checkbox-box" tabindex="0">
                                        <a ng-class="UserSearch.hasSystemsEmail ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasSystemsEmail = true">כן</a>
                                        <a ng-class="UserSearch.hasSystemsEmail === false ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasSystemsEmail = false">לא</a>
                                        <a ng-class="UserSearch.hasSystemsEmail === null ? 'active btn-success' : 'btn-default'" class="btn" ng-click="UserSearch.hasSystemsEmail = null">בחר</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4 col-xs-4">
                                    <label ng-if="MunicipalitiesList.length > 0" style="height: 29px;font-size: 20px;line-height: 34px;float: right;">
                                        <p>סך הכל: </p>&nbsp;
                                    </label>&nbsp;
                                    <label ng-if="MunicipalitiesList.length > 0" style="margin-left:7px;margin-bottom: 0px;height: 29px;font-size: 20px;line-height: 39px;float: right;">
                                        {{MunicipalitiesList.length}}
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <button type="submit" id="submit" class="btn btn-primary pull-left margin-left-4p">חפש</button>

                                    <div ng-if="MunicipalitiesList.length > 0" export-excel export-data="Export" file-name="'רשימת_ארגונים.xlsx'" work-sheet="'רשימת_ארגונים'" classes="pull-left margin-left-4p"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>

    <fieldset>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="responsive-table-rapper">

                    <form name="MunicipalitiesListForm" novalidate ng-submit="updateMunicipalitiesList()">

                        <table wt-responsive-table class="table table-striped center municipality-outer-table rtl-inputs">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>מספר ארגון</th>
                                    <th>שם ארגון</th>
                                    <th>פעיל</th>
                                    <th>מבצע עדכון</th>
                                    <th>101</th>
                                    <th>מיילר</th>
                                    <th>דפים</th>
                                    <th>תהליכים</th>
                                    <th>תלוש במייל</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mt in MunicipalitiesList | ShowList:$Pager; track by $index;">
                                    <td>{{mt.ID}}</td>
                                    <td>{{mt.rashut}}</td>
                                    <td>{{mt.name}}</td>
                                    <td>
                                        <live-checkbox ng-model="mt.active" ng-change="mt.$pristine = false" input-type="switch" input-text="כן,לא" input-disabled="$$credentials.isAdmin < 70? 1:0"></live-checkbox>
                                    </td>
                                    <td>
                                        <live-checkbox ng-model="mt.performUpdate" ng-change="mt.$pristine = false" input-type="switch" input-text="כן,לא" input-disabled="$$credentials.isAdmin < 70? 1:0"></live-checkbox>
                                    </td>
                                    <td>
                                        <live-checkbox ng-model="mt.allow101" input-type="switch" input-text="כן,לא" input-disabled="$$credentials.isAdmin < 70? 1:0" ng-change="allow101Change(mt)"></live-checkbox>
                                    </td>
                                    <td>
                                        <live-checkbox ng-model="mt.allowSystemsEmail" input-type="switch" input-text="כן,לא" input-disabled="$$credentials.isAdmin < 70? 1:0" ng-change="allow101Change(mt)"></live-checkbox>
                                    </td>
                                    <td>
                                        <live-checkbox ng-model="mt.allowmtMenu" input-type="switch" input-text="כן,לא" input-disabled="$$credentials.isAdmin < 70? 1:0" ng-change="allow101Change(mt)"></live-checkbox>
                                    </td>
                                    <td>
                                        <live-checkbox ng-model="mt.allowprocess" ng-change="mt.$pristine = false" input-type="switch" input-text="כן,לא" input-disabled="$$credentials.isAdmin < 70? 1:0"></live-checkbox>
                                    </td>
                                    <td>
                                        <live-checkbox ng-model="mt.allowemailpaycheck" ng-change="mt.$pristine = false" input-type="switch" input-text="כן,לא" input-disabled="1"></live-checkbox>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success admin-action-btn" contenteditable="true" ui-sref="Admin.EditMunicipality({MunicipalityId: mt.ID})">ניהול</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-md-12" ng-show="$$credentials.isAdmin > 50">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" id="submit" class="btn btn-primary pull-left margin-left-4p">שמור</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

                <ul class="pagination pagination-sm" ng-show="$Pager.MaxPages > 1 && $Pager.pagerList.length > 1">
                    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber > 3">
                        <a href="#" ng-click="$Pager.PageNumber = 1">
                            ראשון
                        </a>
                    </li>
                    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber > 1">
                        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber - 1">
                            הקודם
                        </a>
                    </li>
                    <li ng-repeat="page in $Pager.pagerList | pagingFilter:$Pager"
                        ng-class="{active: $Pager.PageNumber === page}">
                        <a href="#" ng-click="$Pager.PageNumber = page">
                            {{page}}
                        </a>
                    </li>

                    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber < $Pager.MaxPages">
                        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber + 1">
                            הבא
                        </a>
                    </li>
                    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber < ($Pager.MaxPages - 3)">
                        <a href="#" ng-click="$Pager.PageNumber = $Pager.MaxPages">
                            אחרון
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </fieldset>
</div>
