﻿<div class="col-md-12 content-wrapper main-content clear-fix reddish">
    <!--<form name="ActivationForm" ng-model="UserCredentials" novalidate ng-submit="activate()" ng-show="$controllerState === 'InitialActivation' && !UserCredentials.showSmsField">-->
    <fieldset class="section">
        <div class="panel panel-info">
            <div class="panel-heading">
                <legend>
                    אתחול משתמש
                </legend>
            </div>
            <div class="panel-body">
                <div class="col-md-12 no-margin no-padding">
                    <div class="welcome-message-rapper">
                        <h2>ברוכים הבאים לתיק עובד ממוחשב</h2>
                        <p>
                            מערכת תיק עובד ממוחשב מבית אוטומציה החדשה משפרת ומרחיבה את סל השירותים
                            הניתנים לעובדי הארגון.
                        </p>
                        <p>
                            לאחר ההזדהות, תינתן לך זמינות מלאה למידע האישי והעדכני בזמן אמת.
                           
                        </p>
                        <p>
                            באמצעות ממשק ידידותי ונוח תוכלו לצפות בתלושי השכר, טפסי 106, לעדכן נתונים ישירות
                            בטופס 101,
                        </p>
                        <p>
                            לקבל פרוט של הפקדות לקופות גמל והשתלמות, לצפות ביתרות החופשה ועוד.
                        </p>
                        <p>
                            בנוסף, ניתן לתקשר באופן ישיר עם המחלקות השונות בארגון באמצעות פתיחת בקשות
                            הדורשות מילוי וצרוף של טפסים ומלוות בתהליך קבלת אישורים מהמנהלים הרלוונטיים.
                        </p>
                        <p class="pd">
                            במידה והנתונים האישיים שלך מוגדרים במערכת תוכל להתחבר באמצעות קבלת קוד התחברות ראשוני.
                        </p>
                        <p>
                            באפשרותך לבחור את אמצעי קבלת הקוד לכתובת המייל או לטלפון הנייד.
                        </p>
                        <p>
                            גלישה מהנה.
                        </p>
                        <div class="col-md-6">
                            <div class="welcome-message-logo">
                                <a href="#/" ui-sref="Home">
                                    <img src="/Content/Images/logo.png" alt="לוגו אוטומציה">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6" ng-hide="UserCredentials.showError">
                            <form name="ActivationForm" ng-model="UserCredentials" novalidate ng-submit="activate()" ng-show="$controllerState === 'InitialActivation'">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <!--IDNumber required ng-minlength="9" ng-maxlength="9"-->
                                            <input name="idNumber" type="text" ng-model="UserCredentials.idNumber" placeholder="תעודת זהות" class="form-control"  >
                                            <div class="validation-message">
                                                <div class="form-error">
                                                    <div class="required-validation">שדה חובה</div>
                                                    <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                                                    <div class="minlength-validation">מינימום 9 תווים</div>
                                                    <div class="maxlength-validation">מקסימום 9 תווים</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="hidden" name="credentials_sendVal" ng-model="UserCredentials.$sendVal" />
                                                <div class="validation-message">
                                                    <div class="form-error" style="top:-20px;left:55%;">
                                                        <div class="required-validation">חובה לבחור שיטת אימות</div>
                                                        <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                                                    </div>
                                                </div>
                                                <div class="link float-right">
                                                    <input type="radio" name="sendOption" ng-model="sendOption" value="1" ng-click="setSendVal(1)" />
                                                    <span>
                                                        שלח מייל
                                                    </span>
                                                </div>
                                                <div class="link float-right margin-right-30">
                                                    <input type="radio" name="sendOption" ng-model="sendOption" value="2" ng-click="setSendVal(2)"/>
                                                    <span>
                                                        שלח SMS
                                                    </span>
                                                </div>
                                                <button type="submit" id="submit" class="btn btn-primary pull-left">הזדהות</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div ng-show="UserCredentials.showError">
                            <div class="col-md-6" ng-show="UserCredentials.showError===1">
                                <p class="pd pd-error">
                                    לא נמצא משתמש לפי הפרטים שסיפקת!
                                </p>
                                <p class="pd pd-error">
                                    עליך לוודא מול נציג הארגון שפרטי המייל/ /טלפון נייד
                                    מוגדרים במערכת.
                                </p>
                            </div>
                            <div class="col-md-6" ng-show="UserCredentials.showError===2">
                                <p class="pd pd-error">
                                    למשתמש כבר בוצע אימות ראשוני!
                                </p>
                                <p class="pd pd-error">
                                    בכל מקרה של בעיה ניתן לבצע איפוס סיסמה בטלפון נייד / מייל דרך הקישור באתר.
                                </p>
                            </div>
                            <div class="col-md-6" ng-show="UserCredentials.showError===3">
                                <p class="pd pd-error">
                                    התרחשה שגיאת שרת פנימית!
                                </p>
                                <p class="pd pd-error">
                                    אנא נסא שנית מאוחר יותר,<br />במקרה שהתקלה חוזרת ניתן לפנות למנהל האתר בצור קשר באתר.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
    <!--</form>-->

</div>