<div class="col-md-12 content-wrapper main-content clear-fix azure"><form name="ProcessForm" novalidate ng-submit="postAForm()"><ng-include src="'../../Scripts/views/partials/Process-Templates/open-process.html'"></ng-include></form></div>