﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<style>
    table, table.table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
        width: 100%;
        height: 100%;
        border: 0px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>

<table class="table" cellspacing="0" cellpadding="0" style="direction:rtl;text-align:right;font-size:17px;width:100%;height:100%;border:0px;">

    <tr style="direction:rtl;text-align:right;font-size:17px;">

        <td style="direction:rtl;text-align:right;font-size:17px;">
            <img src="http://@Model.Domain/home/displayGuid/@Model.confirmationToken" width="350" type='application/pdf'>

        </td>

    </tr>

</table>