﻿@using DataAccess.Models;
@model DataAccess.Models.PostNotificationMail

@{
    Layout = null;
}
<table cellpadding='0' cellspacing='0' width='600' style='padding:80px 150px;float:right;direction:rtl;text-align:right;'>
    <tr style='height:50px;vertical-align:middle;'>
        <td style='background-color:#baceed;'>
            <table cellpadding='0' cellspacing='0' width='600' style="direction:rtl;text-align:right;float:right;line-height:20px;">
                <tr>
                    <td style='font-family:Arial;direction:rtl;font-size:20px;padding-right:50px;text-align:right;float:right;line-height:20px;max-height:35px;'>
                        פניה באמצעות מערכת תיק עובד באינטרנט
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding='0' cellspacing='0' width='600' style='background-color:#f7fafe;font-size:16px;direction:rtl;text-align:right;'>
                <tr>
                    <td>
                        <b style='text-decoration:underline;color:#002687;text-align:right;'>אל</b>:
                    </td>
                    <td>
                        @Model.recipientEmail
                    </td>
                </tr>
                <tr>
                    <td>
                        מייל השולח :
                    </td>
                    <td>
                        @Model.senderEmail
                    </td>
                </tr>
                <tr>
                    <td>
                        ת.ז. השולח :
                    </td>
                    <td>
                        @Model.userIdNumber
                    </td>
                </tr>
                <tr>
                    <td>
                        טלפון השולח :
                    </td>
                    <td>
                        @Model.phone
                    </td>
                </tr>
                <tr>
                    <td>
                        נושא :
                    </td>
                    <td style='text-decoration:underline;'>
                        @Model.subject
                    </td>
                </tr>
                <tr>
                    <td valign='top'>
                        <b style='text-decoration:underline;color:#002687;'>תאור</b>:
                    </td>
                    <td style='width:350px;'>
                        @Model.text
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
