﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<table style="direction:rtl;width:100%;border:0px;text-align:center;font-size: 17px;">
    <tbody>
        <tr style="direction: rtl;text-align: center;font-size: 17px;line-height: normal;">

            <td style="direction: rtl;text-align: center;font-size: 17px;width: 125pt;">&nbsp;</td>

            <td style="direction: rtl;text-align: center;font-size: 17px; width: 675pt;">
                <div style="width: 675pt;height: auto;">
                    <div style="padding:3pt;width: 669pt;height: auto;">
                        <div style="margin: 20pt 0;width: 614pt;height: auto;">
                            <div style="width:614pt;height: 100%;text-align: right;background-color: #FFFFFF;">
                                <img src="http://@Model.Domain/Content/Images/mail.PNG" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" style="width:614pt;height:50pt" width="818" height="66" />
                                <p>
                                    <b>
                                        שלום, @Model.fullName
                                    </b>
                                </p>
                                <p>
                                    <span>
                                        טופס 101 לשנת המס @Model.currentTerminationDate.Value.Year נפתח לשימוש וזמין עבורך באתר.
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        בהתאם לתקנות מס הכנסה, חובת מילוי הטופס חלה על כל עובד.
                                        <br />
                                        עובד שלא יגיש את הטופס, ינוכה משכרו שיעור המס המרבי.
                                        <br />
                                        אנו מזמינים אותך למלא את הטופס באופן מקוון
                                        <span style="font-weight:600;">
                                            <a style="color:#231CEA;" href="http://@Model.Domain/Authentication/AuthenticationReDirect/@Model.currentRashutId/@Model.currentMunicipalityId/@Model.confirmationToken">במערכת "תיק עובד באינטרנט"</a>
                                        </span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        אם כבר מילאת את טופס 101 - ראה הודעה זו כמבוטלת.
                                    </span>
                                </p>
                                <p>
                                    <img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" width="175" height="80" style="width:175px; height:80px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td style="direction: rtl;text-align: center;font-size: 17px;width: auto;">&nbsp;</td>
        </tr>
    </tbody>
</table>