﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>
<table style="direction:rtl;width:100%;border:0px;">
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th>
            <span>שלום</span> @Model.fullName, ברוך הבא ל"<b>תיק עובד</b>"!
        </th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <p>ברוך הבא לתיק עובד  של החברה לאוטומציה החדשה.</p>
            <p>תהליך הרישום בוצע בהצלחה!</p>
            <p>על מנת להשלים את התהליך יש להיכנס ללינק המצורף.</p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <a href="http://@Model.Domain/Authentication/ConfirmAccount?confirmationToken=@Model.confirmationToken">לחץ כאן כדי לכניסה לאתר</a>
            <p style="font-weight: 600;">
                בברכה,<br />
                אוטומציה החדשה
            </p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" />
        </td>
        <td>&nbsp;</td>
    </tr>
</table>