﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>
<table style="direction:rtl;width:100%;border:0px;text-align:right;font-size: 17px;">
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th>
            <span style="font-weight:300;">שלום </span><span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0} {1}", Model.firstName, Model.lastName)),</span>
        </th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <p>התקבלה אצלנו בקשתך לשחזור סיסמה באתר "<b>תיק עובד</b>".</p>
            <p>על מנת להשלים את התהליך יש להיכנס ללינק המצורף.</p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <a href="http://@Model.Domain/#/authentication/reset-password/@Model.confirmationToken">לחץ כאן כדי לשחזור סיסמא לאתר "<b>תיק עובד</b>"</a>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <p style="font-size: 14px;font-weight: 600;">
                <span style="line-height: 24px;width: 13px;height: 7px;float: right;font-size: 19px;color: red;">*</span>
                אם לא שלחת בקשה לשחזור סיסמא, אין צורך לפעול לפי מייל זה.
            </p>
            <p style="font-weight: 600;">
                בברכה,<br />
                אוטומציה החדשה
            </p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" />
        </td>
        <td>&nbsp;</td>
    </tr>
</table>