﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
        line-height: normal;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    p, table tr td p, table tr th p {
        margin: 0.2em 0.5em;
    }
</style>
<table style="direction:rtl;width:100%;border:0px;text-align:right;font-size: 17px;">
    <tr>
        <td>&nbsp;</td>
        <td style="direction:rtl;">
            <p>
                <b>
                    <span>
                        שלום, @Model.fullName
                    </span>
                    <br />
                    <span>
                        @Model.municipalities.First().name , מזמינה
                    </span>
                    <span>
                        אותך להצטרף לשרות חדשני אשר באמצעותו תקבל באופן אוטומטי ומדי חודש את התלוש למייל.
                    </span>
                </b>
            </p>

            <p>
                <span>
                    מתקדמים לתלוש שכר במייל, חוסכים נייר ומפחיתים פסולת!
                </span>
            </p>

            <p>
                <span>
                    יותר נוח, יותר בטוח ויותר קל לקבל תלוש שכר במייל היישר למחשב, התלוש מגיע תמיד בזמן, אינו הולך לאיבוד ותמיד זמין לצפייה ולהדפסה.<br />
                    בדרך זו נוכל לחסוך נייר, זהו צעד חיוני למען סביבתנו ותרומה צנועה של כל אחד מאתנו למען איכות הסביבה.
                </span>
            </p>
            <p>
                <span style="font-weight:600;">
                    כל מה שנדרש ממך הוא לאשר את ההצטרפות  : <a style="color: #DF6B78;" href="http://@Model.Domain/Authentication/AuthenticationReDirect/@Model.currentRashutId/@Model.currentMunicipalityId/@Model.confirmationToken">בלינק המצורף</a>
                </span>
                <br />
                <span>
                    <b>הבהרה:</b> בכל שלב יתאפשר לך לחזור ולקבל עותק מודפס
                </span>
                <br />
                <span>
                    בברכה,
                </span>
            </p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" />
        </td>
        <td>&nbsp;</td>
    </tr>
</table>