﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>

<table style="direction:rtl;width:100%;border:0px;text-align:right;font-size: 17px;">
    <tr>
        <th>&nbsp;</th>
        <th>
            <span style="font-weight:300;">שלום </span><span style="direction:rtl;width:100%;border:0px;text-align:right;">@Model.fullName,</span>
        </th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="direction:rtl;">
            <p>מצורף תלוש שכר לחודש @Model.loginDate.ToString("MM/yyyy")</p>
            <p>הסיסמה לפתיחת התלוש הינה תעודת זהות מלאה (9 ספרות כולל אפסים מובילים).</p>
        </td>
        <td>&nbsp;</td>
    </tr>
    @if (Model.email.IndexOf(',') > 0 || Model.email.IndexOf(';') > 0)
    {
    <tr>
        <td>&nbsp;</td>
        <td>
            <span style="font-weight:300;direction:rtl;width:100%;border:0px;text-align:right;">כתובת מייל למשלוח: </span>
            <span style="font-weight:300;direction:rtl;width:100%;border:0px;text-align:right;">@Model.email</span>
        </td>
        <td>&nbsp;</td>
    </tr>
    }
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            @*<img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" />*@

            <img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" width="175" height="80" style="width:175px; height:80px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" />

            @*<img alt="תיק עובד באינטרנט" src="https://archive.org/download/otomazia_logo_color/otomazia_logo_color.png" width="175" height="80" style="width:175px; height:80px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="אוטומציה החדשה">*@
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <a href="http://@Model.Domain">לחץ כאן לכניסה לאתר</a>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>