﻿<table wt-responsive-table class="table table-striped center forms-view-table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                ת.ז.
            </th>
            <th>
                שם מלא
            </th>
            <th>
                קוד סיום
            </th>
            <th>
                סיבת סיום
            </th>
            <th>
                תאריך סיום
            </th>
            <th>
                מצב 101
            </th>
            <th>
                תאריך שליחה
            </th>
        </tr>

        <tr ng-show="STList.length > 0 || STHolderList.length > 0">
            <th></th>
            <th>
                <input ng-model="Search.IdNUmber" ng-change="Filter101Statistics()" name="SearchIdNUmber" type="text" placeholder="ת.ז." class="form-control" ng-minlength="1" ng-maxlength="20" />
            </th>
            <th>
                <input ng-model="Search.name" ng-change="Filter101Statistics()" name="SearchName" type="text" placeholder="שם" class="form-control" ng-minlength="1" ng-maxlength="20" />
            </th>
            <th>
                <ul ng-click="selectTerminationCause()">
                    <li ng-show="Search.tCause == 2">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.tCause == 1">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.tCause == 0">
                        ?
                    </li>
                </ul>
            </th>
            <th></th>
            <th>
                <ul ng-click="selectTerminationDate()">
                    <li ng-show="Search.tDate == 2">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.tDate == 1">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.tDate == 0">
                        ?
                    </li>
                </ul>
            </th>
            <th>
                <select name="Status" ng-model="Search.Status" ng-change="Filter101Statistics()">
                    <option label="סנן..." value="" selected></option>
                    <option label="לא נשלח" value=1 ></option>
                    <option label="נשלח בהצלחה" value=3 ></option>
                    <option label="נכשל" value=2 ></option>
                </select>

            </th>
            <th>
                <ul ng-click="selectSendDate()">
                    <li ng-show="Search.SendDate == 2">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.SendDate == 1">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.SendDate == 0">
                        ?
                    </li>
                </ul>
            </th>
        </tr>

    </thead>
    <tbody>
        <tr ng-repeat="st in STList | ShowList:$Pager">
            <td>
                {{st.USERID}}
            </td>
            <td>
                {{st.IDNUMBER}}
            </td>
            <td>
                {{st.USER_NAME}}
            </td>
            <td>
                {{st.TERMINATIONCAUSE}}
            </td>
            <td>
                {{st.TERMINATIONREASON}}
            </td>
            <td>
                {{st._TERMINATIONDATE}}
            </td>
            <td>
                {{st._DELIVERYSTATUS}}
            </td>
            <td>
                {{st._ACTUALCREATIONDATE}}
            </td>

        </tr>
    </tbody>
</table>