﻿<table wt-responsive-table class="table table-striped center">
    <thead>
        <tr>
            <th>#</th>
            <th>
                <div>ארגון</div>
            </th>
            <th>
                <div>תאריך כניסה</div>
            </th>
            <th>
                <div>משתמשים ליום</div>
            </th>
            <th>
                <div>סה"כ משתמשים</div>
            </th>
        </tr>
        <tr ng-show="pcueList.length > 0 || pcueHolderList.length > 0">
            <th></th>
            <th>
                <input ng-model="Search.Name" ng-change="FilterDailyUsage()" name="SearchName" type="text" placeholder="שם" class="form-control" ng-minlength="1" ng-maxlength="20" />
            </th>
            <th>
                <ul ng-click="selectActive()">
                    <li ng-show="Search.IsActive == 2">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.IsActive == 1">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.IsActive == 0">
                        ?
                    </li>
                </ul>
            </th>
            <th>
                <ul ng-click="selectSent()">
                    <li ng-show="Search.WasSent == 2">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.WasSent == 1">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.WasSent == 0">
                        ?
                    </li>
                </ul>
            </th>
            <th>
                <ul ng-click="selectTotal()">
                    <li ng-show="Search.total == 2">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.total == 1">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.total == 0">
                        ?
                    </li>
                </ul>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pce in pcueList | ShowList:$Pager">
            <td>{{pce.id}}</td>
            <td>{{pce.name}}</td>
            <td>{{pce._actionDate}}</td>
            <td>{{pce.dailyUsage}}</td>
            <td>{{pce.totalUsersCounter}}</td>
        </tr>
    </tbody>
</table>