﻿@{
    Layout = null;
}

<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!DOCTYPE html>
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>
        תיק עובד באינטרנט - תחזוקה
    </title>
    <!-- Behavioral Meta Data -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"><!-- Core Meta Data -->
    <meta content="Gal Rave" name="author">
    <meta content="תיק עובד באינטרנט - תחזוקה" name="description">
    <meta content="תיק עובד באינטרנט - תחזוקה" name="keywords"><!-- Open Graph Meta Data -->
    <meta content="תיק עובד באינטרנט - תחזוקה">
    
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="/Content/Imminent-master/css/loader.css" rel="stylesheet" type="text/css">
    <link href="/Content/Imminent-master/css/normalize.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Content/Imminent-master/css/font-awesome.min.css">
    <link href="/Content/Imminent-master/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/Content/Imminent-master/css/ie.css" />
    <![endif]-->
    <!-- Javascript -->
    <script src="/Content/Imminent-master/js/jquery.js"></script>
</head>
<body>
    <div class="preloader">
        <div class="loading">
            <h2>
                מעבד נתונים...
            </h2>
            <span class="progress"></span>
        </div>
    </div>
    <div class="wrapper">
        <ul class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" id="scene">
            <li class="layer" data-depth="0.00">
            </li>
            <!-- BG -->
            <li class="layer" data-depth="0.10">
                <div class="background">
                </div>
            </li>
            <!-- Hero -->
            <li class="layer" data-depth="0.20">
                <div class="title">
                    <h2>
                        יצאנו לתחזק את המערכת,<br /> נחזור בעוד ...
                    </h2>
                    <span class="line"></span>
                </div>
            </li>
            <li class="layer" data-depth="0.25">
                <div class="sphere">
                    <img alt="sphere" src="/Content/Imminent-master/images/sphere.png">
                </div>
            </li>
            <li class="layer" data-depth="0.30">
                <div class="hero">
                    <h1 id="countdown">
                        המערכת כרגע סגורה לתחזוקה מתוכננת,<br/>
                        נחזור לפעילות מלאה בקרוב.<br />
                        בתודה מראש על ההבנה צוות "תיק עובד באינטרנט".
                    </h1>
                    <p class="sub-title">
                        המערכת כרגע סגורה לתחזוקה מתוכננת,<br />
                        נחזור לפעילות מלאה בקרוב.<br />
                        בתודה מראש על ההבנה צוות "תיק עובד באינטרנט".
                    </p>
                </div>
            </li>
            <!-- Flakes -->
            <li class="layer" data-depth="0.40">
                <div class="depth-1 flake1">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth1/flakes1.png">
                </div>
                <div class="depth-1 flake2">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth1/flakes2.png">
                </div>
                <div class="depth-1 flake3">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth1/flakes3.png">
                </div>
                <div class="depth-1 flake4">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth1/flakes4.png">
                </div>
            </li>
            <li class="layer" data-depth="0.50">
                <div class="depth-2 flake1">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth2/flakes1.png">
                </div>
                <div class="depth-2 flake2">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth2/flakes2.png">
                </div>
            </li>
            <li class="layer" data-depth="0.60">
                <div class="depth-3 flake1">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth3/flakes1.png">
                </div>
                <div class="depth-3 flake2">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth3/flakes2.png">
                </div>
                <div class="depth-3 flake3">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth3/flakes3.png">
                </div>
                <div class="depth-3 flake4">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth3/flakes4.png">
                </div>
            </li>
            <li class="layer" data-depth="0.80">
                <div class="depth-4">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth4/flakes.png">
                </div>
            </li>
            <li class="layer" data-depth="1.00">
                <div class="depth-5">
                    <img alt="flake" src="/Content/Imminent-master/images/flakes/depth5/flakes.png">
                </div>
            </li>
        </ul>
    </div>
    <!-- Javascript -->
    <script src="/Content/Imminent-master/js/plugins.js"></script>
    <script src="/Content/Imminent-master/js/jquery.countdown.min.js"></script>
    <script src="/Content/Imminent-master/js/main.js"></script>
</body>
</html>
