﻿@using DataAccess.Models;
@model DataAccess.Models.WebSecurityModel

@{
    ViewBag.Title = "ביטול תלוש במייל";
    Layout = "~/Views/Shared/_ErrorLayoutPage.cshtml";
}
<div class="main-view-content clear-fix">
    <div class="right-side">
        <header>
            <a href="/" ui-sref="Home" class="logo">
            </a>
        </header>
        <section>
            <div class="loginPerson">
                <section id="login">
                    <section id="login"></section>
                </section>
            </div>
            <nav id="menu" class="menu">
                <div title="חזרה" class="title">
                    <div class="opener">
                        <a href="/">
                            <i class="fa fa-home fa-lg">
                            </i> <span>דף הבית</span>
                        </a>
                    </div>
                </div>
            </nav>
        </section>
    </div>

    <div class="left-side">
        <header>
            <div>
                <a href="/" ui-sref="Home">
                    <img src="/Content/Images/logo.png" alt="לוגו אוטומציה">
                </a>

                <div class="icons-rapper">
                    <a href="#/usermenu/contact-us" ui-sref="UserMenu.ContactUs">צור קשר</a>
                </div>
            </div>
        </header>
        <div class="leftsidewrapper">
            <section class="content-wrapper main-content clear-fix">
                <ol class="breadcrumb ">
                    <li class="active">
                        <span>תלוש במייל</span>
                    </li>
                </ol>
                <div class="ie-error-box">
                    <div style="margin:2em;height: 100%;overflow: hidden;font-size:18px;    line-height: 35px;">
                        <h2 style="margin-bottom: 25px;color: #B691C5;font-weight: 700;">ביטול תלוש במייל</h2>
                        <div style="display: inline-block;width: 100%;">
                            קיבלנו את בקשתך לבטל את קבלת תלוש המשכורת במייל,<br />
                            ולחזור לקבל תלוש בדרך הישנה כתלוש מודפס.
                        
                            <img src="/Content/Images/burnd_rainforest.jpg" alt="יער שרוף" style="width: 25%;position: absolute;left: 10%;    top: 19.8%;">
                        </div>
                        <div style="display: inline-block;width: 100%;">
                            עד כמה שזה כואב לנו ולסביבה,
                        </div>

                        <div style="display: inline-block;    width: 100%;">
                            אנו מכבדים את בקשתך לחזור לאחור לימים עברו ומערכותנו התעדכנו בהתאם.
                        </div>

                        <div style="display: inline-block; width: 100%;margin-top: 25px;">
                            בברכה,
                        </div>
                        <div style="display: inline-block;width: 100%;">
                            אוטומציה החדשה.
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>