﻿
/* AUTOCOMPLETE */

.autocomplete {
    width: 100%;
    position: relative;
    direction: rtl;
}

    .autocomplete input {
        font-size: 1.2em;
        width: 100%;
        padding: 0.4em;
    }

    .autocomplete ul {
        position: absolute;
        right: 0;
        width: 100%;
        border-left: 1px solid #888;
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    .autocomplete li {
        text-align: right;
        list-style: none;
        width: 100%;
        padding: 0.4em;
        background-color: #fff;
    }

        .autocomplete li.active {
            width: 100%;
            background-color: #4bf;
        }

    .autocomplete .highlight {
        background-color: #E2E2E2;
    }

    .autocomplete li.active .highlight {
        background: #666;
        color: #fff;
    }

/*multi select*/
.col-sm-8 div.ui-select-container.ui-select-multiple > div > span.ui-select-match,
div.ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control > div > span {
    position: absolute;
    top: 30px;
    width: inherit;
    right: -1px;
}

/*daterangepicker*/
.daterangepicker div.calendar-table table.table-condensed {
    direction: rtl;
}

div.daterangepicker.ltr.show-calendar.openscenter > div.drp-calendar.left,
div.daterangepicker.ltr.show-calendar.openscenter > div.drp-calendar.right {
    float: right;
}

    div.daterangepicker.ltr.show-calendar.openscenter > div.drp-calendar.right > div.calendar-table > table > thead > tr > th.next.available > span,
    .daterangepicker .calendar-table .prev span {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    div.daterangepicker.ltr.show-calendar.openscenter > div.drp-calendar.left > div.calendar-table > table > thead > tr > th.prev.available > span,
    .daterangepicker .calendar-table .next span {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
