﻿body.error-body {
        direction: rtl;
}
body.error-body .main-view-content .left-side header > div .icons-rapper a, body.error-body .fa:before{
    content:none;
}
body.error-body .accessable, body.error-body .config,body.error-body .fa-home{
    padding:initial;
}