﻿/* *** template editor *** */
.admin .panel-heading legend i {
    float: left;
    font-size: 30px;
    color: #2310EF;
    background-image: url('../Images/plus-background-color.png');
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 15px;
}

    .admin .panel-heading legend i.add {
        background-size: 70% 70%;
        background-position: 40% 40%;
    }

    .admin .panel-heading legend i.save {
        background-size: 0% 0%;
        background-position: 0% 0%;
        font-size: 26px;
        margin-top: 3px;
    }

    .admin .panel-heading legend i.cancel {
        background-size: 70% 50%;
        background-position: 40% 65%;
    }

.admin .panel-body .editor-holder, .admin .panel-body.editor-inputs-holder {
    overflow: hidden;
    height: auto;
    display: flex;
    flex-flow: row;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 0px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 300ms, opacity 300ms, height 300ms ease;
}

.admin .panel-body.editor-body-holder {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 300ms, opacity 300ms, height 300ms ease;
}

    .admin .panel-body .editor-holder.close, .admin .panel-body.editor-inputs-holder.close, .admin .panel-body.editor-body-holder.close {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility 0s linear 300ms, opacity 300ms, height 300ms ease;
        margin: 0;
        padding: 0;
        display: none;
    }


.admin .panel-body .editor-holder .editor-options {
    border: 1px solid rgba(0,0,0,0.2);
}

    .admin .panel-body .editor-holder .editor-options h6 {
        margin-bottom: 10px;
        text-align: center;
        text-decoration: underline;
    }

    .admin .panel-body .editor-holder .editor-options ul {
        border: 1px solid rgba(0,0,0,0.2);
        padding: 7px 10px 4px 0;
    }

        .admin .panel-body .editor-holder .editor-options ul:nth-child(2) {
            border-bottom: 0;
        }

        .admin .panel-body .editor-holder .editor-options ul li {
            width: 50%;
            display: inline-block;
            border-bottom: 1px solid rgba(0,0,0,.2);
        }

            .admin .panel-body .editor-holder .editor-options ul li:nth-child(2n+1) {
                direction: ltr;
                text-align: left;
                margin-left: 10px;
                width: calc(50% - 11px);
            }

            .admin .panel-body .editor-holder .editor-options ul li.first {
                width: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                margin: 0 0 4px 0;
                border: 0;
            }

            .admin .panel-body .editor-holder .editor-options ul li:nth-last-child(-n+2) {
                border: 0;
                margin-bottom: 4px;
            }

.admin .panel-body.editor-inputs-holder .col-md-1, .admin .panel-body.editor-inputs-holder .col-md-2, .admin .panel-body.editor-inputs-holder .col-md-3, .admin .panel-body.editor-inputs-holder .col-md-4, .admin .panel-body.editor-inputs-holder .col-md-5, .admin .panel-body.editor-inputs-holder .col-md-6, .admin .panel-body.editor-inputs-holder .col-md-7, .admin .panel-body.editor-inputs-holder .col-md-8, .admin .panel-body.editor-inputs-holder .col-md-9, .admin .panel-body.editor-inputs-holder .col-md-10, .admin .panel-body.editor-inputs-holder .col-md-11, .admin .panel-body.editor-inputs-holder .col-md-12, .admin .panel-body.editor-inputs-holder .col-sm-1, .admin .panel-body.editor-inputs-holder .col-sm-2, .admin .panel-body.editor-inputs-holder .col-sm-3, .admin .panel-body.editor-inputs-holder .col-sm-4, .admin .panel-body.editor-inputs-holder .col-sm-5, .admin .panel-body.editor-inputs-holder .col-sm-6, .admin .panel-body.editor-inputs-holder .col-sm-7, .admin .panel-body.editor-inputs-holder .col-sm-8, .admin .panel-body.editor-inputs-holder .col-sm-9, .admin .panel-body.editor-inputs-holder .col-sm-10, .admin .panel-body.editor-inputs-holder .col-sm-11, .admin .panel-body.editor-inputs-holder .col-sm-12 {
    float: right;
}

.admin .panel-body.editor-inputs-holder .row label.control-label {
    margin-top: 6px;
}

.main-content.admin .panel-body.templats-panel table.templats-tables > thead > tr th {
    width: auto;
}

    .main-content.admin .panel-body.templats-panel table.templats-tables > thead > tr th div {
        width: 35%;
    }

        .main-content.admin .panel-body.templats-panel table.templats-tables > thead > tr th div select {
            background: url(/Content/Images/dropdown.png) 5px 2px no-repeat #fff;
            background-size: 25% 90%;
        }

.main-content.admin .panel-body.templats-panel table.templats-tables > tbody tr.current {
    outline: 1px solid #F57EF5;
}

    .main-content.admin .panel-body.templats-panel table.templats-tables > tbody tr:last-child:nth-of-type(odd), .main-content.admin .panel-body.templats-panel table.templats-tables > tbody tr:nth-of-type(odd) {
        background-color: #E8E7E8;
    }

    .main-content.admin .panel-body.templats-panel table.templats-tables > tbody tr:last-child:nth-of-type(even), .main-content.admin .panel-body.templats-panel table.templats-tables > tbody tr:nth-of-type(even) {
        background-color: #f9f9f9;
    }

    .main-content.admin .panel-body.templats-panel table.templats-tables > tbody tr td:last-child i {
        margin-right: 12px;
        font-size: 18px;
        cursor: pointer;
    }
/* *** template editor *** */

/* *** file manager popup *** */
.ngdialog .ngdialog-content {
    direction: rtl;
}

.ngdialog-theme-default.file-manager-custom .ngdialog-content {
    border-radius: 0px;
    width: 80%;
    background: #fff;
    height: 80%;
}

.ngdialog-theme-default.file-manager-custom .file-manager-popUp, .file-manager-popup form {
    background: #fff;
}

.ngdialog-theme-default.file-manager-custom div.ngdialog-close {
    right: 1.35em;
    top: 1.2em;
}


    .ngdialog-theme-default.file-manager-custom div.ngdialog-close:before {
        font-size: 35px;
        line-height: 30px;
    }

.file-manager-popup, .file-manager-popup form {
    width: 100%;
    height: 100%;
}

    .file-manager-popup article {
        padding: 5px 35px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: 24px;
        color: #333;
        background-image: -webkit-linear-gradient(top,#008482 0,#0DBDBD 100%);
        background-image: -o-linear-gradient(top,#008482 0,#0DBDBD 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#008482),to(#0DBDBD));
        background-image: linear-gradient(to bottom,#008482 0,#0DBDBD 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008482', endColorstr='#0DBDBD', GradientType=0);
        background-color: #008482;
        border-color: #008482;
    }

        .file-manager-popup article h4 {
            font-size: 24px;
            color: #333;
            margin: 2px 0;
            padding: 0 20px;
            width: 25%;
            display: inline-block;
        }

    .file-manager-popup section, .file-manager-popup section {
        width: 100%;
        float: right;
        height: calc(100% - 42px);
        border-color: #008482;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

        .file-manager-popup section div.folder-structure {
            width: 25%;
            float: inherit;
            height: 100%;
            border-color: #008482;
            border-left: 1px solid;
            padding-right: 1em;
            text-align: right;
            direction: RTL;
            overflow-x: hidden;
            overflow-y: scroll;
        }

            .file-manager-popup section div.folder-structure .control-buttons, .file-manager-popup section div.file-structure .control-buttons {
                width: 100%;
                display: inline-block;
                vertical-align: sub;
                padding: 5px 10px 0;
            }

                .file-manager-popup section div.folder-structure .control-buttons i, .file-manager-popup section div.file-structure .control-buttons i, .file-manager-popup section div.file-structure .control-buttons div.file-uploader {
                    float: left;
                    margin-right: 30px;
                    cursor: pointer;
                }

                    .file-manager-popup section div.folder-structure .control-buttons i.disable, .file-manager-popup section div.file-structure .control-buttons i.disable, .file-manager-popup section div.file-structure .control-buttons div.file-uploader i.disable {
                        cursor: not-allowed;
                        opacity: 0.6;
                    }

                    .file-manager-popup section div.file-structure .control-buttons div.file-uploader input[type=file] {
                        display: none;
                    }

            .file-manager-popup section div.folder-structure h5 {
                font-size: 1.1em;
                line-height: 1.5em;
            }

            .file-manager-popup section div.folder-structure > ul {
                margin-right: 5px;
            }

            .file-manager-popup section div.folder-structure ul {
                margin-right: 20px;
                visibility: visible;
                opacity: 1;
                transition: visibility 0s linear 0s, opacity 300ms, height 500ms ease;
            }

                .file-manager-popup section div.folder-structure ul li holder {
                    display: inherit;
                }

                .file-manager-popup section div.folder-structure ul.deep-file {
                    visibility: hidden;
                    opacity: 0;
                    height: 0;
                    transition: visibility 0s linear 300ms, opacity 300ms, height 500ms ease;
                }

                .file-manager-popup section div.folder-structure ul li i {
                    margin-left: 3px;
                    color: #000;
                }

                    .file-manager-popup section div.folder-structure ul li i.active {
                        color: #008482;
                    }

                .file-manager-popup section div.folder-structure ul li label.active, .file-manager-popup section div.folder-structure h5.active {
                    font-weight: 800;
                    color: #008482;
                }

                .file-manager-popup section div.folder-structure ul li label.CurrentDrag, .file-manager-popup section div.folder-structure h5.CurrentDrag {
                    font-weight: 800;
                    position: relative;
                    display: inline-block;
                }

                    .file-manager-popup section div.folder-structure ul li label.CurrentDrag:before, .file-manager-popup section div.folder-structure h5.CurrentDrag:before {
                        content: ' ';
                        background-color: #5CD4EC;
                        position: absolute;
                        top: 0;
                        right: -5px;
                        width: calc(100% + 15px);
                        height: 100%;
                        opacity: 0.5;
                        border-radius: 7px;
                    }

                .file-manager-popup section div.folder-structure ul li label span, .file-manager-popup section div.folder-structure h5 span {
                    display: inline-block;
                    font-size: 10px;
                    vertical-align: bottom;
                }

            .file-manager-popup section div.folder-structure div.add-folder {
                margin-right: 10px;
                position: relative;
                padding-top: 1px;
            }

            .file-manager-popup section div.folder-structure div.edit-folder {
                position: relative;
                padding-top: 1px;
            }

            .file-manager-popup section div.folder-structure div.add-folder input {
                box-shadow: 0 0 0 0.7px #0DBDBD;
            }

            .file-manager-popup section div.folder-structure div.add-folder i.fa {
                color: #0DBDBD;
            }

        .file-manager-popup section div.file-structure {
            width: 75%;
            float: inherit;
            height: 100%;
            border-color: #008482;
            border-left: 1px solid;
            padding-right: 1em;
            overflow-x: hidden;
            overflow-y: scroll;
        }

            .file-manager-popup section div.file-structure div.file-holder div.col-md-3 {
                display: flex;
                flex-direction: column;
                float: right;
                margin: 5px 15px;
                text-align: center;
                width: 13%;
                padding: 5px 0;
            }

                .file-manager-popup section div.file-structure div.file-holder div.col-md-3.active {
                    outline: 1px solid red;
                }

                .file-manager-popup section div.file-structure div.file-holder div.col-md-3 span {
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .file-manager-popup section div.file-structure div.file-holder div.col-md-3 img {
                    width: 50px;
                    height: 50px;
                    margin: auto;
                }

                .file-manager-popup section div.file-structure div.file-holder div.col-md-3 div.edit-file {
                    width: 97%;
                    margin: 0 auto;
                    padding: 0;
                    position: relative;
                }

                    .file-manager-popup section div.file-structure div.file-holder div.col-md-3 div.edit-file input {
                        width: 100%;
                        height: 21px;
                        margin: 0;
                        padding-right: 25px;
                    }

                    .file-manager-popup section div.file-structure div.file-holder div.col-md-3 div.edit-file span {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                    }
/* *** file manager popup *** */

/* *** custom pages *** */
.dynamic-html ul{
    list-style-type: initial;
     margin: 0 0 10px 0; 
     padding: 5px .7% 0 0;
}
/* *** custom pages *** */