﻿
.main {
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 4% 0px 2% 0px;
}

.shadow {
    width: 150px;
    position: absolute;
    z-index: -1;
    bottom: -46px;
    left: -38px;
}

.circles-links {
    width: 100%;
    height: 100%;
    list-style: none;
}

    .circles-links li {
        width: 19.9%;
        height: auto;
        display: inline-block;
        margin: 0px auto;
        vertical-align: text-top;
        cursor: not-allowed;
    }

        .circles-links li.active {
            cursor: pointer;
        }

        .circles-links li > article, .circles-links li:hover > div.white-circle, .circles-links li:hover > div.white-circle .shadow, .circles-links li:hover > div.white-circle:after, .circles-links li:hover > div.small-circle, .circles-links li:hover > div.small-circle > .small-color-circle:after, .circles-links li:hover > article {
            transition: all .4s ease-in-out;
        }

        .circles-links li:hover > div.white-circle {
            transform: scale(1.1);
        }

            .circles-links li:hover > div.white-circle .shadow {
                width: 155px;
                bottom: -47px;
                left: -43px;
            }

            .circles-links li:hover > div.white-circle:after {
                bottom: -176px;
                height: 150px;
            }

        .circles-links li:hover > div.small-circle {
            transform: scale(1.3);
        }

            .circles-links li:hover > div.small-circle > .small-color-circle:after {
                width: 220px;
            }

        .circles-links li:hover > article {
            transform: scale(1.1);
            margin-top: 57px;
        }

        .circles-links li .fa {
            margin: 0 auto;
            font-size: 50px;
            font-weight: 300;
            position: absolute;
            top: 24%;
            right: 26%;
        }

        .circles-links li > div.white-circle {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            background-color: white;
            position: relative;
            margin: auto;
            margin-bottom: 110px;
        }

            .circles-links li > div.white-circle > div.color-circle {
                border-radius: 50%;
                height: calc(100% - 12px);
                width: calc(100% - 12px);
                position: absolute;
                top: 6px;
                right: 6px;
                border: 15px solid;
            }

                .circles-links li > div.white-circle > div.color-circle.azure {
                    border-color: #5CD4EC;
                }

                    .circles-links li > div.white-circle > div.color-circle.azure .fa {
                        top: 27px;
                        right: 29px;
                    }

                .circles-links li > div.white-circle > div.color-circle.purple {
                    border-color: #B691C5;
                }

                    .circles-links li > div.white-circle > div.color-circle.purple .fa {
                        top: 29px;
                        right: 31px;
                    }

                .circles-links li > div.white-circle > div.color-circle.orange {
                    border-color: #F9A140;
                }

                    .circles-links li > div.white-circle > div.color-circle.orange .fa {
                        top: 31px;
                        right: 29px;
                    }

                .circles-links li > div.white-circle > div.color-circle.green {
                    border-color: #89C65E;
                }

                    .circles-links li > div.white-circle > div.color-circle.green .fa {
                        top: 28px;
                        right: 30px;
                    }

                .circles-links li > div.white-circle > div.color-circle.reddish {
                    border-color: #DF6B78;
                }

                    .circles-links li > div.white-circle > div.color-circle.reddish .fa {
                        top: 28px;
                        right: 35px;
                    }

            .circles-links li > div.white-circle:after {
                content: "";
                position: absolute;
                z-index: -1;
                bottom: -200px;
                left: 49.5%;
                height: 175px;
                border-right: 1px dashed;
            }

        .circles-links li > div.small-circle {
            width: 40px;
            height: 40px;
            margin: auto;
            background-color: #ffffff;
            border-radius: 50%;
            position: relative;
            margin-bottom: 50px;
        }

            .circles-links li > div.small-circle > .small-color-circle {
                height: 32px;
                width: 32px;
                position: absolute;
                border-radius: 50%;
                top: 4px;
                left: 4px;
            }

                .circles-links li > div.small-circle > .small-color-circle:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    bottom: 0px;
                    right: 0px;
                    height: 16px;
                    width: 290px;
                    border-top: 1px dashed;
                }

        .circles-links li:last-child > div.small-circle > .small-color-circle:after {
            border-top: 0px;
        }

        .circles-links li > div.small-circle > .small-color-circle.azure {
            background-color: #5CD4EC;
        }

        .circles-links li > div.small-circle > .small-color-circle.purple {
            background-color: #B691C5;
        }

        .circles-links li > div.small-circle > .small-color-circle.orange {
            background-color: #F9A140;
        }

        .circles-links li > div.small-circle > .small-color-circle.green {
            background-color: #89C65E;
        }

        .circles-links li > div.small-circle > .small-color-circle.reddish {
            background-color: #DF6B78;
        }

        .circles-links li > article {
            width: 100%;
            padding: 1px 3px;
            text-align: right;
            margin: 50px 0 0 0;
            font-family: sans-serif;
            color: #000;
            font-weight: 600;
        }

            .circles-links li > article h4 {
                width: 90%;
                margin: auto;
                padding: 0 40px 0 0;
                font-size: 22px;
                font-weight: 700;
            }

            .circles-links li > article div.text {
                width: 90%;
                margin: auto;
                padding: 0 40px 0 0;
                text-align: justify;
            }

.main h2.headline {
    text-align: center;
    font-size: 37px;
    position: relative;
    margin: 0;
    padding: 0;
}

    .main h2.headline i {
        display: inline-block;
        font-family: fontsawesome;
        margin-right: 4%;
        position: absolute;
        top: 11px;
        z-index: 1;
        background: transparent;
        font-size: 32px;
        font-style: normal;
    }

        .main h2.headline i:after {
            content: "\f100";
        }

.main .top, .main .bottom {
    width: 85%;
    margin: 0px auto;
    display: block;
    height: 282px;
    position: relative;
}

    .main .bottom:before,
    .main .bottom::before {
        content: "";
        width: 4%;
        position: absolute;
        border-radius: 0px 15px 15px 0px;
        height: 100%;
        border-right: 1px solid #000;
        border-bottom: 2px solid #000;
        border-top: 1px solid #000;
    }

    .main .bottom:after {
        clear: both;
        display: block;
        content: "";
    }

.main .right {
    float: right;
    margin-left: 10px;
}

.main article {
    opacity: .6;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.main .top > article, .main .bottom > article, .main .top > a, .main .bottom > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    width: calc(30% - 10px);
    text-align: right;
    position: relative;
    height: 100%;
    margin-bottom: 2px;
    color: #888;
}

.main article.done, .main article.done h3 {
    opacity: 1;
    color: #000;
    -moz-filter: none;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
}

.main .top > article:first-of-type:after, .main .top > a:first-of-type:after {
    content: "";
    display: block;
    height: 88px;
    width: 32%;
    border-radius: 15px 0px;
    box-shadow: .51px .51px 0px 0px #000000;
    position: absolute;
    bottom: 2px;
    right: -13px;
}

.main .top > article:nth-of-type(2n):after, .main .top > a:nth-of-type(2n):after {
    content: "";
    display: block;
    height: 88px;
    width: 33%;
    border-radius: 15px 0px;
    box-shadow: 1px 1px 0px 0px #0E0E0E;
    position: absolute;
    bottom: 0;
    right: -17px;
}

.main .top > article:last-of-type:after, .main .top > a:last-of-type:after {
    content: "";
    display: block;
    height: 88px;
    width: 27%;
    border-radius: 15px 0px;
    box-shadow: 1px 1px 0px 0px #0E0E0E;
    position: absolute;
    bottom: 0;
}

.main .top > article:last-of-type:before,
.main .top > article:last-of-type::before,
.main .top > a:last-of-type:before,
.main .top > a:last-of-type::before {
    content: "";
    display: block;
    height: 105%;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    box-shadow: -1px -1px 0px .2px #0C0C0C;
    position: absolute;
    bottom: 0;
    left: -10%;
}

.main .top article h3, .main .bottom article h3 {
    font-size: 23px;
    margin: 7px 15% 0px 0px;
}

.main .bottom > article, .main .bottom > a {
    float: left;
    margin-right: 2%;
    width: calc(30% - 10px);
    text-align: right;
    padding: 2% 0px;
    position: relative;
}

    .main .bottom > article:first-of-type::after, .main .bottom > a:first-of-type::after {
        content: "";
        display: block;
        position: absolute;
        right: 0px;
        box-shadow: 1px -1px 0px 0px #000;
        width: 78%;
        height: 48%;
        border-radius: 0px 15px 0px 0px;
        top: 0px;
    }

    .main .bottom > article:nth-of-type(2n):before,
    .main .bottom > article:nth-of-type(2n)::before,
    .main .bottom > a:nth-of-type(2n):before,
    .main .bottom > a:nth-of-type(2n)::before {
        content: "";
        display: block;
        position: absolute;
        right: 0px;
        box-shadow: 1px -1px 0px 0px #000;
        width: 75%;
        height: 48%;
        border-radius: 0px 15px 0px 0px;
        top: 0;
    }

    .main .bottom > article:last-of-type::after, .main .bottom > a:last-of-type::after {
        content: "";
        display: block;
        box-shadow: 1px -1px 0px 0px #000;
        position: absolute;
        height: 1px;
        width: 74%;
        right: 0px;
        top: -1px;
        border-radius: 0px 15px 0px 0px;
    }

    .main .bottom > article:last-of-type:before, .main .bottom > a:last-of-type:before,
    .main .bottom > article:last-of-type::before, .main .bottom > a:last-of-type::before {
        content: "";
        display: block;
    }

.main article .content {
    padding: 4%;
    line-height: 26px;
    cursor: pointer;
}

.block-ui-anim-fade.block-ui-active > .block-ui-container {
    z-index: 11111;
}

.ngdialog.ngdialog-theme-default div.email-paycheck-popup + div.ngdialog-close {
    right: calc(100% - 55px);
    top: 18px;
}

    .ngdialog.ngdialog-theme-default div.email-paycheck-popup + div.ngdialog-close:before,
    .ngdialog.ngdialog-theme-default div.email-paycheck-popup + div.ngdialog-close::before {
        color: #012;
        font-size: 35px;
    }

.email-paycheck-popup {
    direction: rtl;
}

    .email-paycheck-popup form.emailPaycheck {
        padding: 0px 10px;
    }

        fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div,
        .email-paycheck-popup form.emailPaycheck div {
            margin-top: 12px;
            width: 100%;
            height: 100%;
            display: inline-block;
        }

            fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div:last-child .email-paycheck-popup form.emailPaycheck div:last-child {
                margin-bottom: 12px;
            }

    .email-paycheck-popup div.panel-heading {
        border-bottom: 0;
    }

    .email-paycheck-popup div.bold {
        font-weight: 700;
    }

        fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div.bold input[type=checkbox],
        .email-paycheck-popup div.bold input[type=checkbox] {
            float: right;
            margin: 3px 8px;
            visibility: hidden;
        }

            fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div.bold input[type=checkbox]:before,
            fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div.bold input[type=checkbox]::before,
            .email-paycheck-popup div.bold input[type=checkbox]:before,
            .email-paycheck-popup div.bold input[type=checkbox]::before {
                font-weight: 700;
                font-size: 23px;
                visibility: visible;
                margin: 0px -15px 0px 0px;
                line-height: 18px;
            }

            fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div.bold input[type=checkbox].fa-check-square-o:before,
            fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div.bold input[type=checkbox].fa-check-square-o::before,
            .email-paycheck-popup div.bold input[type=checkbox].fa-check-square-o:before,
            .email-paycheck-popup div.bold input[type=checkbox].fa-check-square-o::before {
                content: "\f046";
                color: #89C65E;
            }

            fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div.bold input[type=checkbox].fa-square-o:before,
            fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div.bold input[type=checkbox].fa-square-o::before,
            .email-paycheck-popup div.bold input[type=checkbox].fa-square-o:before,
            .email-paycheck-popup div.bold input[type=checkbox].fa-square-o::before {
                content: "\f096";
                color: #DF6B78;
                margin: 0px -11px 0 0;
            }

    fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div input[type=email],
    .email-paycheck-popup div input[type=email] {
        border-radius: 0;
        width: 350px;
        height: 26px;
        float: right;
        text-align: center;
    }

    fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div button,
    .email-paycheck-popup div button {
        width: 110px;
        height: 28px;
        margin-top: -1px;
        float: left;
        font-size: 20px;
    }

    .email-paycheck-popup form.emailPaycheck div button,
    fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div button {
        float: right;
        margin-right: 35px;
    }

        fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div button.no-margin {
            margin-right: 0px;
        }

    .email-paycheck-popup form.emailPaycheck div p.emails,
    fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div p.emails {
        float: right;
        margin: 2px;
        text-align: right;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        max-width: 80%;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .email-paycheck-popup form.emailPaycheck div > a, fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div > a {
        color: #2BBCDA;
        font-size: 13px;
        word-spacing: -1px;
        margin-left: 30px;
        float: left;
        text-decoration: underline;
        text-decoration-color: #38D2F0;
    }

    fieldset.email-paycheck-section .panel-body .col-md-12.col-xs-12 div > a {
        margin-top: 6px;
    }

p.bold {
    position: relative;
}

    p.bold input[type=checkbox] {
        opacity: 0;
        z-index: 3;
        float: right;
    }

    p.bold i.fa {
        z-index: -1;
        float: right;
        margin-right: -13px;
        margin-top: 2px;
        margin-left: 12px;
        font-weight: 700;
        font-size: 23px;
        line-height: 18px;
    }

        p.bold i.fa.fa-square-o {
            color: #DF6B78;
            margin-right: -10px;
        }

        p.bold i.fa.fa-check-square-o {
            color: #89C65E;
        }
