﻿@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .month-picker-open-button {
        overflow: hidden !important;
        margin-top: -1px !important;
    }

    legend aside.drop-down-container .month-picker-open-button {
        vertical-align: text-top !important;
    }

    iframe.bgiframe {
        display: block;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        z-index: 0;
    }

    iframe.block-ui-overlay-iframe {
        display: block;
        background-color: #000;
        width: 100%;
        height: 100%;
        opacity: .5;
        z-index: 3;
    }

    .block-ui-overlay-dark .block-ui-overlay {
        display: none;
    }

    table.responsive tr td, table.responsive tr th, table.responsive tr {
        direction: ltr;
    }
}
