﻿.wrap {
    width: 100%;
    clear: both;
    min-height: 100%;
    height: 100%;
    direction: rtl;
    cursor: default;
}

    .wrap.regular {
        font-size: 13px;
    }

    .wrap.medium {
        font-size: 15px;
    }

    .wrap.large {
        font-size: 18px;
    }

header {
    height: 99px;
    background-color: #FFF;
    margin: 0px auto;
    position: relative;
    z-index: 10;
    border-bottom: 0.1em solid #888886;
}

.main-view-content {
    width: 80%;
    margin: 0px auto;
    clear: both;
    display: flex;
    min-height: calc(100% - 70px);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.fa:before {
    font-weight: 700;
}

.main-view-content > div {
    float: right;
}

.main-view-content .right-side {
    width: 182px;
}

    .main-view-content .right-side > section {
        background-color: #4F4F4D;
        height: calc(100% - 100px);
    }

    .main-view-content .right-side section.bottom-links {
        display: inline-block;
        border: none;
        margin: 0px 8px;
        width: 91%;
        padding: 0;
        background-color: #EFF0EB;
    }

        .main-view-content .right-side section.bottom-links > select {
            width: 95%;
            margin: 0px auto;
            margin-top: 7px;
        }

    .main-view-content .right-side header .logo {
        width: 100%;
        height: 100%;
        float: right;
        background-image: url('../Images/tik_oved_logo.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #808179;
    }

.main-view-content .left-side {
    /*width: 87.9%;*/
    width: calc(100% - 182px);
}

    .main-view-content .left-side header {
        background-image: url('../Images/gradient-lines.png');
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: right center;
        position: relative;
    }

        .main-view-content .left-side header > div {
            float: left;
            width: 100%;
            height: 100%;
            min-width: 250px;
            position: relative;
        }

            .main-view-content .left-side header > div * {
                float: inherit;
            }

            .main-view-content .left-side header > div a > img {
                width: 145px;
                margin: 0.8em;
            }

            .main-view-content .left-side header > div .icons-rapper {
                width: 50%;
                height: 100%;
                line-height: 100%;
                text-align: center;
                font-size: 17px;
                padding: 48px 0px 0px 20px;
            }

                .main-view-content .left-side header > div .icons-rapper i {
                    padding: 0 5px;
                }

                .main-view-content .left-side header > div .icons-rapper a {
                    font-weight: 700;
                }

                .main-view-content .left-side header > div .icons-rapper img {
                    width: 17px;
                }

.leftsidewrapper {
    padding: 5px 0.7% 0 0;
    width: 100%;
    display: inline-block;
    text-align: right;
}


.input-md::-webkit-input-placeholder {
    color: #808179;
    letter-spacing: 1px;
    font-weight: 600;
}

.input-md::-moz-placeholder {
    color: #808179;
    letter-spacing: 1px;
    font-weight: 600;
}
/* firefox 19+ */
.input-md:-ms-input-placeholder {
    color: #808179;
    letter-spacing: 1px;
    font-weight: 600;
}
/* ie */
.input-mdinput:-moz-placeholder {
    color: #808179;
    letter-spacing: 1px;
    font-weight: 600;
}

.breadcrumb {
    margin-bottom: 10px;
    background: none;
    color: #B691C5;
    font-size: 14px;
}

    .breadcrumb li a, .breadcrumb li span {
        cursor: default;
    }

        .breadcrumb li a.active-href {
            cursor: pointer;
            color: #B691C5;
        }

    .breadcrumb.home {
        font-size: 45px;
    }

    .breadcrumb > .active {
        color: #B691C5;
    }

    .breadcrumb > li::after {
        content: ">>";
        color: #6E6D72;
        font-size: 14px;
        margin: 0 10px;
    }

    .breadcrumb.home > li::after {
        content: ">>";
        color: #6E6D72;
        font-size: 30px;
        margin: 0 10px;
    }

    .breadcrumb > li + li:last-child::after {
        content: "";
    }

    .breadcrumb > li + li:before {
        content: "";
        padding: 0;
    }

    .breadcrumb.azure > .active {
        color: #5CD4EC;
    }

    .breadcrumb.purple > .active {
        color: #B691C5;
    }

    .breadcrumb.orange > .active {
        color: #F9A140;
    }

    .breadcrumb.green > .active {
        color: #89C65E;
    }

    .breadcrumb.reddish > .active {
        color: #DF6B78;
    }

.panel-info > .panel-heading legend, .main-content .alert-info legend {
    border: 0px;
}

.main-content.admin .panel-info, .main-content.municipalities .panel-info {
    border-color: #008482;
}

    .main-content.admin .panel-info > .panel-heading, .main-content.admin .alert-info,
    div.email-paycheck-popup .panel-info .panel-heading, .main-content.municipalities .panel-info > .panel-heading {
        background-image: -webkit-linear-gradient(top,#008482 0,#0DBDBD 100%);
        background-image: -o-linear-gradient(top,#008482 0,#0DBDBD 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#008482),to(#0DBDBD));
        background-image: linear-gradient(to bottom,#008482 0,#0DBDBD 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008482', endColorstr='#0DBDBD', GradientType=0);
        background-color: #008482;
        border-color: #008482;
    }

.main-content.azure .panel-info {
    border-color: #5CD4EC;
}

    .main-content.azure .panel-info > .panel-heading, .main-content.azure .alert-info,
    div.email-paycheck-popup .panel-info .panel-heading {
        background-image: -webkit-linear-gradient(top,#5CD4EC 0,#c4e3f3 100%);
        background-image: -o-linear-gradient(top,#5CD4EC 0,#c4e3f3 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#5CD4EC),to(#c4e3f3));
        background-image: linear-gradient(to bottom,#5CD4EC 0,#c4e3f3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CD4EC', endColorstr='#ffc4e3f3', GradientType=0);
        background-color: #5CD4EC;
        border-color: #5CD4EC;
    }

.main-content.orange .panel-info {
    border-color: #F9A140;
}

    .main-content.orange .panel-info > .panel-heading, .main-content.orange .alert-info {
        background-image: -webkit-linear-gradient(top,#F9A140 0,#FAB367 100%);
        background-image: -o-linear-gradient(top,#F9A140 0,#FAB367 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#F9A140),to(#FAB367));
        background-image: linear-gradient(to bottom,#F9A140 0,#FAB367 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9A140', endColorstr='#FAB367', GradientType=0);
        background-color: #F9A140;
        border-color: #F9A140;
    }

.main-content.green .panel-info {
    border-color: #89C65E;
}

    .main-content.green .panel-info > .panel-heading, .main-content.green .alert-info {
        background-image: -webkit-linear-gradient(top,#89C65E 0,#A4EC71 100%);
        background-image: -o-linear-gradient(top,#89C65E 0,#A4EC71 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#89C65E),to(#A4EC71));
        background-image: linear-gradient(to bottom,#89C65E 0,#A4EC71 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89C65E', endColorstr='#A4EC71', GradientType=0);
        background-color: #89C65E;
        border-color: #89C65E;
    }

.main-content.reddish .panel-info {
    border-color: #DF6B78;
}

    .main-content.reddish .panel-info > .panel-heading, .main-content.reddish .alert-info {
        background-image: -webkit-linear-gradient(top,#DF6B78 0,#FB8290 100%);
        background-image: -o-linear-gradient(top,#DF6B78 0,#FB8290 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#DF6B78),to(#FB8290));
        background-image: linear-gradient(to bottom,#DF6B78 0,#FB8290 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF6B78', endColorstr='#FB8290', GradientType=0);
        background-color: #DF6B78;
        border-color: #DF6B78;
    }

.main-content.purple .panel-info, .actions-rapper.purple .panel-info {
    border-color: #B691C5;
}

    .main-content.purple .panel-info > .panel-heading, .main-content.purple .alert-info,
    .actions-rapper.purple .panel-info > .panel-heading, .actions-rapper.purple .alert-info {
        background-image: -webkit-linear-gradient(top,#B691C5 0,#E7B8FA 100%);
        background-image: -o-linear-gradient(top,#B691C5 0,#E7B8FA 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#B691C5),to(#E7B8FA));
        background-image: linear-gradient(to bottom,#B691C5 0,#E7B8FA 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B691C5', endColorstr='#E7B8FA', GradientType=0);
        background-color: #B691C5;
        border-color: #B691C5;
    }

.icons-rapper .accessability-rapper {
    position: relative;
}

.icons-rapper div.accessability {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
}

    .icons-rapper div.accessability.open {
        height: 32px;
        visibility: visible;
        min-width: 50px;
        left: -4px;
        top: 22px;
    }

        .icons-rapper div.accessability.open ul {
            box-shadow: 0 1px 3px -1px #4f4f4d;
        }

        .icons-rapper div.accessability.open .item {
            display: inline-block;
            vertical-align: top;
            padding: 4px;
        }

            .icons-rapper div.accessability.open .item, .icons-rapper div.accessability.open .item a {
                color: #000;
                float: right;
            }

                .icons-rapper div.accessability.open .item a {
                    text-indent: 2px;
                }

                    .icons-rapper div.accessability.open .item a.brache {
                        text-indent: 0;
                    }

                    .icons-rapper div.accessability.open .item a:hover {
                        color: #DF6B78;
                    }

                    .icons-rapper div.accessability.open .item a.font-anlarg {
                        font-size: 19px;
                    }

                    .icons-rapper div.accessability.open .item a.font-medium {
                        font-size: 16px;
                    }

                    .icons-rapper div.accessability.open .item a.font-regular {
                        font-size: 13px;
                    }

.live-checkbox-wrapper .checkbox-box-switch {
    outline: 0;
    text-align: right;
    direction: rtl;
}

    .live-checkbox-wrapper .checkbox-box-switch i span {
        font-size: 15px;
        font-weight: 300;
        padding: 1px 5px;
    }

.live-checkbox-wrapper div.disabled, .live-checkbox-wrapper div.disabled a, .live-checkbox-wrapper div.disabled i {
    cursor: not-allowed;
}
