﻿/* *** hide new mobile elements *** */
.mobile-login-pannel, section > ul.circles-links > li > article h4 i.fa,
.year-picker-arrow-left, .year-picker-arrow-right {
    display: none;
}

    section > ul.circles-links > li > article h4 i.fa.azure {
        color: #5CD4EC;
        padding: 2px;
        background: -webkit-linear-gradient(top,#5CD4EC 0,#c4e3f3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    section > ul.circles-links > li > article h4 i.fa.purple {
        color: #B691C5;
        padding: 2px;
        background: -webkit-linear-gradient(top,#B691C5 0,#E7B8FA 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    section > ul.circles-links > li > article h4 i.fa.green {
        color: #89C65E;
        padding: 2px;
        background: -webkit-linear-gradient(top,#89C65E 0,#A4EC71 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    section > ul.circles-links > li > article h4 i.fa.reddish {
        color: #DF6B78;
        padding: 2px;
        background: -webkit-linear-gradient(top,#DF6B78 0,#FB8290 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    section > ul.circles-links > li > article h4 i.fa.orange {
        color: #F9A140;
        padding: 2px;
        background: -webkit-linear-gradient(top,#F9A140 0,#FAB367 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.main-view-content .left-side #menu, #menu .mobile-open-icon, .left-side header a.logo, footer > a, #mobile-login {
    display: none;
}

/*TODO=> tablet*/
@media (max-width:1024px) {
    .main-view-content {
        width: 100%;
    }

        .main-view-content .breadcrumb {
            display: none;
        }

        .main-view-content .leftsidewrapper {
            padding: 0.7%;
        }

        .main-view-content .content-wrapper.main-content.clear-fix {
            width: inherit;
            /*overflow: hidden;*/
        }

        .main-view-content .content-wrapper.main-content .main {
            padding: 3% 0 1%;
        }
}

/*TODO=> mobile*/
@media (max-width:800px) {
    html.mobile-html {
        height: initial;
        min-height: 100%;
    }

        html.mobile-html body {
            /*height: initial;*/
            min-height: 100%;
        }

    .main-view-content {
        width: 100%;
        display: block;
        height: calc(100% - 65px);
    }

        .main-view-content .right-side, .panel.panel-info.form-static-changes,
        .main-view-content .right-side, .panel.panel-default.form-static-changes {
            display: none;
        }

        .main-view-content .left-side {
            width: 100%;
            position: relative;
            height: inherit;
            min-height: 91vh;
        }

            .main-view-content .left-side header {
                background-image: url(../Images/tik_oved_logo.png);
                height: 45px;
                background-color: #B691C5;
                background-repeat: no-repeat;
                background-size: 19% 100%;
                position: relative;
                background-position-x: calc(100% - 10px);
                background-position-y: 0.15em;
            }

                .main-view-content .left-side header a.logo {
                    display: initial;
                    float: right;
                    height: 100%;
                    width: 102px;
                }

                .main-view-content .left-side header > div {
                    display: none;
                }

                    .main-view-content .left-side header > div.mobile-menu {
                        display: block;
                        float: left;
                        width: 10em;
                        min-width: 0px;
                        position: relative;
                    }

                        .main-view-content .left-side header > div.mobile-menu i.fa {
                            margin: 0.25em 0.5em;
                            font-size: 30px;
                            color: #FFF;
                        }

                        .main-view-content .left-side header > div.mobile-menu i.fa-navicon:before, .main-view-content .left-side header > div.mobile-menu i.fa-reorder:before, .main-view-content .left-side header > div.mobile-menu i.fa-bars:before {
                            font-weight: 400;
                        }

    /* ***home page main display*** */
    section > ul.circles-links > li {
        height: 205px;
        overflow: hidden;
        width: 49.5%;
        z-index: 1;
        position: relative;
    }

        section > ul.circles-links > li:last-child:nth-child(odd) {
            /* Last child AND odd */
            display: block;
        }

        section > ul.circles-links > li:hover > div.white-circle {
            transform: scale(1);
        }

        section > ul.circles-links > li > div.small-circle {
            display: none;
        }

        section > ul.circles-links > li > article {
            margin: 0;
            z-index: 2;
            position: absolute;
        }

        section > ul.circles-links > li:hover > article {
            transform: scale(1);
            margin-top: 0;
        }

        section > ul.circles-links > li > article div.text {
            display: none;
        }

        section > ul.circles-links > li > article h4 {
            width: 95%;
            padding: 0;
            text-align: center;
        }

            section > ul.circles-links > li > article h4 i.fa {
                display: inline-block;
                font-size: 22px;
                position: relative;
                top: 0;
                right: 0;
            }

        section > ul.circles-links > li > div.white-circle {
            margin: auto auto 5px;
        }

            section > ul.circles-links > li > div.white-circle .shadow {
                display: none;
            }

            section > ul.circles-links > li > div.white-circle:after {
                content: none;
            }


    /* ***home page main display*** */

    /* *** footer *** */
    body footer {
        background-color: #FFF;
        padding: 14px 11px;
        margin: 0;
        background-image: url(/Content/Images/logo.png);
        background-repeat: no-repeat;
        background-size: 125px;
        background-position-x: 13px;
        background-position-y: 0em;
        height: 65px;
        width: 100%;
    }

        body footer span {
            width: 55%;
            display: block;
        }

        body footer > a {
            display: initial;
            float: left;
            width: 125px;
            height: 100%;
        }
    /* *** footer *** */

    /* *** menu *** */
    .main-view-content .left-side > #menu {
        position: absolute;
        top: 45px;
        right: 0;
        width: 100%;
        z-index: 10;
        height: calc(100% + 20px);
        overflow: hidden;
    }

        .main-view-content .left-side > #menu > div.menu-mobile-background {
            background-color: #4f4f4d;
            height: 100%;
            opacity: 0.6;
        }

        .main-view-content .left-side > #menu > div, .main-view-content .left-side > #menu div aside div, .main-view-content .left-side > #menu div.title > div.opener {
            background-color: #383836;
        }

        .main-view-content .left-side > #menu div div a {
            padding: 0 2% 3%;
        }

        .main-view-content .left-side > #menu div.title > div.opener .mobile-open-icon {
            position: absolute;
            top: 0px;
            left: 15px;
            display: inherit;
            font-size: 25px;
            line-height: 45px;
            font-weight: 400;
            color: #b691c5;
        }

            .main-view-content .left-side > #menu div.title > div.opener .mobile-open-icon.open {
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }

        .main-view-content .left-side > #menu div.title > div.opener i.fa {
            display: none;
        }

        .main-view-content .left-side > #menu.active {
            display: inherit;
            z-index: 1000;
        }

        .main-view-content .left-side > #menu div aside.open {
            background-color: #4f4f4d;
        }

    /* *** menu *** */

    /* *** login panel *** */
    .main-view-content div.mobile-login-pannel div.mobile-login-Person > div.login-mobile-background {
        background-color: #4f4f4d;
        height: 100%;
        opacity: .6;
        position: fixed;
        top: 100px;
        width: 100%;
        z-index: 10;
    }

    .main-view-content .mobile-login-pannel {
        display: block;
        position: relative;
        margin: 0 auto;
        border-bottom: .1em solid #888886;
        height: 55px;
        background-color: #4f4f4d;
        position: relative;
    }

        .main-view-content .mobile-login-pannel login {
            height: inherit;
        }

        .main-view-content .mobile-login-pannel .btn.focus, .main-view-content .mobile-login-pannel .btn:focus, .main-view-content .mobile-login-pannel .btn:hover {
            color: #fff;
            outline: none;
        }

        .main-view-content .mobile-login-pannel .mobile-login-Person, .main-view-content .mobile-login-pannel login .mobile-login-Person {
            height: inherit;
            width: 100%;
        }

            .main-view-content .mobile-login-pannel .mobile-login-Person section.login-display, .main-view-content .mobile-login-pannel login .mobile-login-Person section.login-display {
                height: inherit;
            }

                .main-view-content .mobile-login-pannel .mobile-login-Person section.login-display > div, .main-view-content .mobile-login-pannel login .mobile-login-Person section.login-display > div {
                    height: inherit;
                    float: right;
                    width: 30%;
                    margin: 0px;
                }

                    .main-view-content .mobile-login-pannel .mobile-login-Person section.login-display > div > button,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.login-display > div > button
                    /*, .main-view-content .mobile-login-pannel .mobile-login-Person section div button*/
                    , #login > div > aside > div:nth-child(3) > button {
                        margin: 10px 10px 10px 15px;
                        background-color: #B691C5;
                        transition: none;
                        -webkit-transition: none;
                        float: left;
                    }

                        .main-view-content .mobile-login-pannel .mobile-login-Person section.login-display > div > button.close-panel,
                        .main-view-content .mobile-login-pannel .mobile-login-Person login section.login-display > div > button.close-panel {
                            background-color: #4f4f4d;
                            color: #B691C5;
                            font-size: 22px;
                            font-weight: 600;
                            margin: 5px 5px 5px 20px;
                        }

                    .main-view-content .mobile-login-pannel .mobile-login-Person section.login-display > div:first-child,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.login-display > div:first-child {
                        width: 70%;
                    }

                        .main-view-content .mobile-login-pannel .mobile-login-Person section.login-display > div:first-child > img,
                        .main-view-content .mobile-login-pannel .mobile-login-Person login section.login-display > div:first-child > img {
                            height: 80%;
                            margin: 0px 10px;
                            display: inline;
                        }

                        .main-view-content .mobile-login-pannel .mobile-login-Person section.login-display > div:first-child > h4,
                        .main-view-content .mobile-login-pannel .mobile-login-Person login section.login-display > div:first-child > h4 {
                            display: inline;
                            line-height: 55px;
                            color: #FFF;
                        }

            .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm,
            .main-view-content .mobile-login-pannel .mobile-login-Person login section.loginForm {
                position: absolute;
                width: 100%;
                background-color: #4f4f4d;
                z-index: 111;
            }

                .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm form .inpu-continer,
                .main-view-content .mobile-login-pannel .mobile-login-Person login section.loginForm form .inpu-continer {
                    width: 85%;
                    margin: 1% auto 4.5%;
                }

                    .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm form .inpu-continer:last-child,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.loginForm form .inpu-continer:last-child {
                        margin-bottom: 0px;
                        margin-top: 6%;
                    }

                    .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm form .inpu-continer label,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.loginForm form .inpu-continer label {
                        margin: 0px 5px;
                    }

                .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm section.bottom-links > div,
                .main-view-content .mobile-login-pannel .mobile-login-Person login section.loginForm section.bottom-links > div {
                    width: 76%;
                    height: 100%;
                    float: none;
                    margin: 0 auto;
                }

                    .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm section.bottom-links > div a:active,
                    .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm section.bottom-links > div a:hover,
                    .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm section.bottom-links > div a:link,
                    .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm section.bottom-links > div a:visited,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.loginForm section.bottom-links > div a:active,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.loginForm section.bottom-links > div a:hover,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.loginForm section.bottom-links > div a:link,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.loginForm section.bottom-links > div a:visited {
                        color: #B691C5;
                        font-size: 14px;
                        text-decoration: underline;
                        font-weight: 700;
                        line-height: 35px;
                    }

                .main-view-content .mobile-login-pannel .mobile-login-Person section.loginForm div.col-sm-12 {
                    float: none;
                }

            .main-view-content .mobile-login-pannel .mobile-login-Person section#login,
            .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div,
            .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside,
            .main-view-content .mobile-login-pannel .mobile-login-Person login section#login,
            .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div,
            .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside {
                height: inherit;
            }

                .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside,
                .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside {
                    padding: 0px;
                }

                    .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside > div,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside > div {
                        height: inherit;
                        float: right;
                        text-align: right;
                        padding-top: 2.5%;
                    }

                        .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside > div:first-child,
                        .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside > div:first-child {
                            width: 15%;
                            padding: 0;
                        }

                            .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside > div:first-child img,
                            .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside > div:first-child img {
                                height: 70%;
                                margin: 10% 20%;
                            }

                        .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside > div:nth-child(2),
                        .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside > div:nth-child(2) {
                            width: 60%;
                            color: #FFF;
                            padding: 0;
                        }

                            .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside > div:nth-child(2) > div,
                            .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside > div:nth-child(2) > div {
                                width: 60%;
                                float: right;
                                padding: 10px 0px;
                            }

                                .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside > div:nth-child(2) > div label,
                                .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside > div:nth-child(2) > div label {
                                    width: 100%;
                                    margin: 0;
                                    line-height: 14px;
                                    font-size: 14px;
                                    height: 14px;
                                    padding: 0px;
                                    font-weight: 500;
                                    text-align: right;
                                }

                            .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside > div:nth-child(2) section,
                            .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside > div:nth-child(2) section {
                                width: 40%;
                                float: right;
                                height: inherit;
                                margin: 10px auto 0;
                            }

                                .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside > div:nth-child(2) section select,
                                .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside > div:nth-child(2) section select {
                                    width: 100%;
                                    height: 34px;
                                    padding: 1px 8px;
                                }

                        .main-view-content .mobile-login-pannel .mobile-login-Person section#login > div > aside > div:last-child,
                        .main-view-content .mobile-login-pannel .mobile-login-Person login section#login > div > aside > div:last-child {
                            width: 22%;
                            padding: 0;
                            margin: 0 auto;
                            float: left;
                        }


            .main-view-content .mobile-login-pannel .mobile-login-Person section.resetForm form .inpu-continer:last-child,
            .main-view-content .mobile-login-pannel .mobile-login-Person login section.resetForm form .inpu-continer:last-child {
                margin: 5% auto;
            }

            .main-view-content .mobile-login-pannel .mobile-login-Person section.resetForm > section.bottom-links a,
            .main-view-content .mobile-login-pannel .mobile-login-Person login section.resetForm > section.bottom-links a {
                float: left;
            }

            .main-view-content .mobile-login-pannel .mobile-login-Person section.resetForm > form div.btn-group,
            .main-view-content .mobile-login-pannel .mobile-login-Person login section.resetForm > form div.btn-group {
                width: 100%;
            }

                .main-view-content .mobile-login-pannel .mobile-login-Person section.resetForm > form div.btn-group a,
                .main-view-content .mobile-login-pannel .mobile-login-Person login section.resetForm > form div.btn-group a {
                    width: 49.5%;
                    background: #fff;
                    color: #83837f;
                    border-color: #B691C5;
                    border-radius: 0;
                    font-size: 15px;
                    line-height: 22px;
                    font-weight: 600;
                }

                    .main-view-content .mobile-login-pannel .mobile-login-Person section.resetForm > form div.btn-group a span,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.resetForm > form div.btn-group a span {
                        font-size: 12px;
                    }

                    .main-view-content .mobile-login-pannel .mobile-login-Person section.resetForm > form div.btn-group a.btn-success.active,
                    .main-view-content .mobile-login-pannel .mobile-login-Person section.resetForm > form div.btn-group a.btn-success:active,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.resetForm > form div.btn-group a.btn-success.active,
                    .main-view-content .mobile-login-pannel .mobile-login-Person login section.resetForm > form div.btn-group a.btn-success:active {
                        background: #B691C5;
                        color: #fff;
                    }

    /* *** login panel *** */

    /* *** home page popup *** */
    .ngdialog.ngdialog-custom > div.ngdialog-content {
        padding: 0px;
        border-radius: 0px;
    }

    .home-page-popup, .home-page-popup article {
        width: 100%;
        height: 100%;
        display: inline-block;
        margin: 0;
        position: relative;
    }

        .home-page-popup article h4 {
            background: #B691C5;
            width: 100%;
            margin: 0;
            padding: 1em;
            text-align: center;
            color: #FFF;
            font-size: 30px;
            line-height: 20px;
            font-weight: 500;
        }

        .home-page-popup article > div.text {
            padding: .5em;
            direction: RTL;
            width: 85%;
            margin: 0.9em auto;
        }

        .home-page-popup article > a {
            display: block;
            width: 85%;
            margin: 0.9em auto;
            height: 35px;
            background: #B691C5;
            line-height: 35px;
            text-align: center;
            color: #FFF;
            font-size: 18px;
            border: none;
            outline: none;
        }

            .home-page-popup article > a:active,
            .home-page-popup article > a:hover,
            .home-page-popup article > a:link,
            .home-page-popup article > a:visited {
                border: none;
                outline: none;
            }
    /* *** home page popup *** */

    .table.education.full, .table.education.short {
        width: 100%;
    }

    .col-md-12.uucd .col-sm-12.col-xs-12 {
        padding-left: 30px;
    }

    /* *** mobile radio buttons *** */
    .custom-mobile-radio.mobile100 .radio {
        width: 100%;
        border-left: 1px solid #CCC;
        margin: 1% 0% 0;
    }

    .custom-mobile-radio.mobile50 .radio {
        width: 50%;
    }

    .custom-mobile-radio.mobile33 .radio {
        width: 33%;
    }

    .custom-mobile-radio.mobile25 .radio {
        width: 25%;
    }

    .custom-mobile-radio.mobile20 .radio {
        width: 20%;
    }

    .custom-mobile-radio .radio {
        float: right;
        margin: 0px;
        background: #FFF;
        border-bottom: 1px solid #CCC;
        border-top: 1px solid #CCC;
        border-right: 1px solid #CCC;
        color: #CCC;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
    }

    .col-sm-12.col-xs-12.custom-mobile-radio .radio.col-xs-12,
    .col-md-6.col-xs-12.custom-mobile-radio .radio.col-xs-12 {
        border: 1px solid #CCC;
        margin-bottom: 5px;
    }

    .custom-mobile-radio .radio.radio-selected {
        background: #B691C5;
        color: #FFF;
    }

    .custom-mobile-radio .radio.last-radio {
        border-left: 1px solid #CCC;
    }

    .custom-mobile-radio .radio > label {
        padding: 0;
        height: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .custom-mobile-radio .radio > label > span {
            margin: 0;
            font-weight: 700;
        }

        .custom-mobile-radio .radio > label > input[type=radio] {
            visibility: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            top: 0;
            right: 0;
        }

    /* *** mobile radio buttons *** */

    .margin-right-11-em {
        margin-right: inherit;
    }

    /*itai processes suitable rules for mobile*/

    .self-btn {
        width: 92%;
        margin-bottom: 5px;
    }

    .process-panel {
        max-height: inherit;
        overflow-y: visible;
        overflow-x: hidden;
    }

    table.process .details-div {
        width: 153%;
    }

    .mobile-width-full {
        width: 100%;
    }

    .widthless {
        width: 100%;
    }

    .no-top-border {
        padding: 0% 2%;
        max-width: 63%;
    }

    .users-group {
        width: 90%;
    }

    .comment {
        box-shadow: 0 0 0.5px 0 #012;
        resize: none;
        overflow: hidden;
        min-height: 36px;
        max-height: 150px;
        width: 92%;
    }

    #unitManagerOrUser > .angucomplete-holder {
        width: 92%;
    }

    .filter-item {
        padding: 0px 0px;
        cursor: pointer;
    }

    .filter-select {
        width: 70%;
        margin: 0 auto;
    }

    .process-btn {
        width: 92%;
    }

    .move-to {
        width: 50%;
    }

    .process-update-btn {
        width: 92%;
    }

    .details-div.req {
        position: absolute;
        top: -230px;
        right: 5px;
        width: 117% !important;
        z-index: 2;
        height: 244px;
    }

    .details-div.my {
        position: absolute;
        top: -260px;
        right: 5px;
        width: 117% !important;
        z-index: 2;
        height: 274px;
    }

    .details {
        margin-top: 27px !important;
    }

    /*itai processes suitable rules for mobile*/
}

@media only screen and (max-width: 800px) {
    /* *** wt-responsive-table *** */
    table.table.responsive > tbody > tr > td {
        padding-left: 0% !important;
        text-align: right;
        direction: rtl;
        text-align: right;
        padding-right: 50%;
    }

        table.table.responsive > tbody > tr > td.trHandler {
            padding-right: 3%;
            font-size: 19px;
        }

            table.table.responsive > tbody > tr > td.trHandler:before {
                display: none;
            }

            table.table.responsive > tbody > tr > td.trHandler span {
                float: left;
                margin-left: 20px;
            }

            table.table.responsive > tbody > tr > td.trHandler i.fa {
                color: #B691C5;
            }

                table.table.responsive > tbody > tr > td.trHandler i.fa:before {
                    font-weight: 100;
                }

        table.table.responsive > tbody > tr > td.tdHandler.close {
            display: none;
        }

        table.table.responsive > tbody > tr > td::before {
            left: 55%;
            text-align: right;
        }

    table.table-striped.responsive > tbody > tr:nth-of-type(odd), table.table-striped.responsive > tbody > tr {
        background-color: #FFF;
        margin-bottom: 1.3em;
    }

    /* *** wt-responsive-table *** */

    /* *** year-picker & top page legend *** */
    .main-content .alert-info,
    .main-content .panel-info > .panel-heading,
    .main-content .panel-default > .panel-heading {
        width: 100%;
        display: inline-block;
    }

    aside > div.date-picker, aside.drop-down-container > div.date-picker {
        border-radius: 0px;
        text-align: center;
        height: 40px;
    }

    aside.wrap-date.mobile-wrap-date > div.date-picker {
        line-height: 34px;
        padding-right: 30px;
        font-size: 20px;
    }

    legend aside.drop-down-container {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

        legend aside.drop-down-container h5 {
            display: none;
        }

        legend aside.drop-down-container > div {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        legend aside.drop-down-container.short {
            float: left;
        }

    aside.drop-down-container .drop-down-year .wrap-cal,
    aside.drop-down-container aside.wrap-date.mobile-wrap-date {
        display: table;
        margin: 0 auto;
    }

        aside.drop-down-container aside.wrap-date.mobile-wrap-date .year-picker-arrow-left,
        aside.drop-down-container aside.wrap-date.mobile-wrap-date .year-picker-arrow-right {
            display: initial;
            position: absolute;
            top: 25%;
            font-size: 17px;
            line-height: 25px;
            color: #B691C5;
        }

            aside.drop-down-container aside.wrap-date.mobile-wrap-date .year-picker-arrow-left.before,
            aside.drop-down-container aside.wrap-date.mobile-wrap-date .year-picker-arrow-right.before,
            aside.drop-down-container aside.wrap-date.mobile-wrap-date .year-picker-arrow-left.after,
            aside.drop-down-container aside.wrap-date.mobile-wrap-date .year-picker-arrow-right.after {
                z-index: 111;
            }

        aside.drop-down-container aside.wrap-date.mobile-wrap-date .year-picker-arrow-left {
            left: -30px;
            font-size: 18px;
        }

        aside.drop-down-container aside.wrap-date.mobile-wrap-date .year-picker-arrow-right {
            right: -30px;
        }

    .main-content.azure .alert-info,
    .main-content.azure .panel-info > .panel-heading,
    .main-content.azure .panel-info,
    .main-content.azure .panel-default > .panel-heading,
    .main-content.azure .panel-default,
    .main-content.green .alert-info,
    .main-content.green .panel-info > .panel-heading,
    .main-content.green .panel-info,
    .main-content.green .panel-default > .panel-heading,
    .main-content.green .panel-default,
    .main-content.reddish .alert-info,
    .main-content.reddish .panel-info > .panel-heading,
    .main-content.reddish .panel-info,
    .main-content.reddish .panel-default > .panel-heading,
    .main-content.reddish .panel-default,
    .main-content.orange .alert-info,
    .main-content.orange .panel-info > .panel-heading,
    .main-content.orange .panel-info,
    .main-content.orange .panel-default > .panel-heading,
    .main-content.orange .panel-default,
    .actions-rapper.purple .panel-info,
    .main-content.purple .panel-info,
    .actions-rapper.purple .panel-info > .panel-heading,
    .actions-rapper.purple .panel-default,
    .main-content.purple .panel-default,
    .actions-rapper.purple .panel-default > .panel-heading,
    .actions-rapper.purple .panel.panel-default,
    .actions-rapper.purple .panel.panel-default > .panel-heading {
        background: none;
        background-image: none;
        background-color: none;
        border: none;
        outline: none;
    }

        .actions-rapper.purple .panel-info.employer > .panel-heading,
        .actions-rapper.purple .panel-info > .panel-heading,
        .actions-rapper.purple .panel-default > .panel-heading {
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }


    .actions-rapper.income .panel-info .panel-body .form-group .checkbox > label,
    .actions-rapper.income .panel-default .panel-body .form-group .checkbox > label {
        margin-right: 4px;
    }

    .actions-rapper .panel.tax-exemption .checkbox,
    .actions-rapper.income .panel .panel-body .form-group .checkbox {
        margin: 0;
    }

        .actions-rapper.tax-adjustment .panel .checkbox > label,
        .actions-rapper .panel.tax-exemption .checkbox > label,
        .actions-rapper.income .panel .panel-body .form-group .checkbox > label {
            padding: 0;
            background-color: #FFF;
            width: 95%;
            border: 1px solid #CCC;
            text-align: center;
            height: 35px;
            line-height: 35px;
            margin-bottom: 6px;
        }

        .actions-rapper .panel.tax-exemption .checkbox > label {
            margin: 1% 2%;
            height: auto;
            line-height: 20px;
            position: relative;
            text-align: right;
            padding: 1.5% 3%;
        }

    .actions-rapper.income .panel .panel-body .form-group.provisions .checkbox > label {
        height: auto;
        padding: 5px 7px;
        line-height: 17px;
    }

    .actions-rapper.tax-adjustment .panel .checkbox > label.active,
    .actions-rapper .panel.tax-exemption .checkbox > label.active,
    .actions-rapper.income .panel .panel-body .form-group .checkbox > label.active {
        background-color: #B691C5;
    }

    .actions-rapper.tax-adjustment .panel .checkbox > label > span,
    .actions-rapper .panel.tax-exemption .checkbox > label > span,
    .actions-rapper.income .panel .panel-body .form-group .checkbox > label > span {
        margin-right: 0px;
    }

    .actions-rapper.tax-adjustment .panel .checkbox > label > input[type=checkbox],
    .actions-rapper .panel.tax-exemption .checkbox > label > input[type=checkbox],
    .actions-rapper.income .panel .panel-body .form-group .checkbox > label > input[type=checkbox] {
        width: 100%;
        height: 100%;
        visibility: hidden;
        right: 0;
    }

    .actions-rapper .panel.tax-exemption .checkbox > label > input[type=checkbox] {
        top: 0;
    }

    .main-content.azure .panel-info > .panel-heading legend,
    .main-content.green .alert-info > legend,
    .main-content.green .alert-info > legend > div:first-child,
    .main-content.reddish .panel-info > .panel-heading > legend,
    .main-content.reddish .panel-info > .panel-heading > legend > div:first-child,
    .main-content.orange .alert-info > legend > div:first-child {
        font-weight: 600;
        font-size: 19px;
        margin-bottom: 10px;
    }

        .main-content.green .alert-info > legend > div:last-child,
        .main-content.reddish .panel-info > .panel-heading > legend > div:last-child,
        .main-content.orange .alert-info > legend > div:last-child {
            font-size: 15px;
            margin-bottom: 10px;
        }

    aside.drop-down-container .wrap-date .input-btn.mobile-input-btn {
        background-color: #B691C5;
        padding: 6px;
        top: 0;
        left: 68%;
        color: #FFF;
        height: 96%;
        width: 40px;
        line-height: 30px;
        font-size: 20px;
        text-align: center;
    }

    aside.wrap-date.mobile-wrap-date > div.drop-down-year.mobile-drop-down-year {
        left: -33%;
    }

        aside.wrap-date.mobile-wrap-date > div.drop-down-year.mobile-drop-down-year h4 {
            display: none;
        }

        aside.wrap-date.mobile-wrap-date > div.drop-down-year.mobile-drop-down-year .wrap-cal {
            background: #FFF;
            padding: 0;
            margin: 0;
            border: none;
        }

        aside.wrap-date.mobile-wrap-date > div.drop-down-year.mobile-drop-down-year.open ul {
            padding: 0px;
            margin: 0px;
        }

            aside.wrap-date.mobile-wrap-date > div.drop-down-year.mobile-drop-down-year.open ul li {
                width: 49%;
                border-radius: 0;
                outline: 1px solid #e6e6e6;
                font-size: 15px;
                padding: 11px 0px;
            }

    aside.wrap-date.mobile-wrap-date .drop-down-year .after,
    aside.wrap-date.mobile-wrap-date .drop-down-year .before {
        display: none;
    }
    /* *** year-picker & top page legend *** */

    /* *** tofes 101 *** */
    .actions-rapper.purple .panel.panel-default,
    .actions-rapper.purple .panel-info,
    .main-content.purple .panel-info legend,
    .actions-rapper.purple .panel-info > .panel-heading legend,
    .actions-rapper.purple .panel-default,
    .main-content.purple .panel-default legend,
    .actions-rapper.purple .panel-default > .panel-heading legend {
        font-weight: 700;
        margin-bottom: 7px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        .actions-rapper.purple .panel.panel-info.employer .panel-body .form-group,
        .actions-rapper.purple .panel.panel-default.employer .panel-body .form-group {
            background-color: #fff;
            margin-bottom: 10px;
            padding: 0px 10px;
            background-color: #fff;
            margin-bottom: 0px;
            padding: 0 10px;
            border-top: 1px solid #dbdbdb;
            border-left: 1px solid #dbdbdb;
            border-right: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
        }

        .actions-rapper.purple .panel.panel-info.employer .panel-body .col-md-12:first-child .col-md-6.col-xs-12:first-child .form-group:first-child,
        .actions-rapper.purple .panel.panel-default .panel-body .col-md-12:first-child .col-md-6.col-xs-12:first-child .form-group:first-child {
            border-top: 1px solid #dbdbdb;
        }

        .actions-rapper.purple .panel.panel-info.employer .panel-body .form-group .form-control[disabled],
        .actions-rapper.purple .panel.panel-info.employer .panel-body .form-group .form-control[readonly],
        .actions-rapper.purple .panel.panel-info.employer .panel-body .form-group fieldset[disabled] .form-control,
        .actions-rapper.purple .panel.panel-info.employer .panel-body .form-group p.form-control,
        .actions-rapper.purple .panel.panel-default .panel-body .form-group .form-control[disabled],
        .actions-rapper.purple .panel.panel-default .panel-body .form-group .form-control[readonly],
        .actions-rapper.purple .panel.panel-default .panel-body .form-group fieldset[disabled] .form-control,
        .actions-rapper.purple .panel.panel-default .panel-body .form-group p.form-control {
            background: none;
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .actions-rapper.purple .panel.panel-info.employer .col-sm-3.col-xs-6,
        .actions-rapper.purple .panel.panel-default.employer .col-sm-3.col-xs-6 {
            height: 36px;
            line-height: 36px;
        }

        .actions-rapper.purple .panel-info abbr.required, .actions-rapper.purple .panel-info abbr.required i.fa-asterisk, .actions-rapper.purple .panel-info abbr.required i.fa:before,
        .actions-rapper.purple .panel-default abbr.required, .actions-rapper.purple .panel-default abbr.required i.fa-asterisk, .actions-rapper.purple .panel-default abbr.required i.fa:before {
            color: #000;
            font-weight: 100;
        }

        .actions-rapper.purple .panel-info input.form-control,
        .actions-rapper.purple .panel-default input.form-control {
            border-radius: 0;
        }

        .main-view-content .panel-info .file-uploader table.table thead,
        .main-view-content .panel-info .file-uploader.col-xs-12 .fileinput-button-div div,
        .main-view-content .panel-info .file-uploader.col-xs-12 .fileinput-button-div button,
        .main-view-content .panel-info .file-uploader.col-xs-12.fileinput-button-div div,
        .main-view-content .panel-info .file-uploader.col-xs-12.fileinput-button-div button .actions-rapper.purple .panel-info .file-uploader table.table thead,
        .actions-rapper.purple .panel-info .file-uploader.col-xs-12 .fileinput-button-div div,
        .actions-rapper.purple .panel-info .file-uploader.col-xs-12 .fileinput-button-div button,
        .actions-rapper.purple .panel-info .file-uploader.col-xs-12.fileinput-button-div div,
        .actions-rapper.purple .panel-info .file-uploader.col-xs-12.fileinput-button-div button,
        .actions-rapper.purple .panel-default .file-uploader table.table thead,
        .actions-rapper.purple .panel-default .file-uploader.col-xs-12 .fileinput-button-div div,
        .actions-rapper.purple .panel-default .file-uploader.col-xs-12 .fileinput-button-div button,
        .actions-rapper.purple .panel-default .file-uploader.col-xs-12.fileinput-button-div div,
        .actions-rapper.purple .panel-default .file-uploader.col-xs-12.fileinput-button-div button {
            display: none;
        }

        .actions-rapper.purple .panel-info .file-uploader.col-xs-12 .col-md-8.col-xs-12,
        .actions-rapper.purple .panel-default .file-uploader.col-xs-12 .col-md-8.col-xs-12 {
            padding: 0;
        }

        .main-view-content .panel-info .file-uploader table.table tbody tr,
        .actions-rapper.purple .panel-info .file-uploader table.table tbody tr,
        .actions-rapper.purple .panel-default .file-uploader table.table tbody tr {
            background-color: #FFF;
            border: 1px solid #CCC;
            border-top: 0;
        }

            .main-view-content .panel-info .file-uploader table.table tbody tr td,
            .main-view-content .panel-info .file-uploader table.table tbody tr td:first-child > div,
            .actions-rapper.purple .panel-info .file-uploader table.table tbody tr td,
            .actions-rapper.purple .panel-info .file-uploader table.table tbody tr td:first-child > div,
            .actions-rapper.purple .panel-default .file-uploader table.table tbody tr td,
            .actions-rapper.purple .panel-default .file-uploader table.table tbody tr td:first-child > div {
                display: none;
            }

                .main-view-content .panel-info .file-uploader table.table tbody tr td:first-child,
                .main-view-content .panel-info .file-uploader table.table tbody tr td:last-child,
                .actions-rapper.purple .panel-info .file-uploader table.table tbody tr td:first-child,
                .actions-rapper.purple .panel-info .file-uploader table.table tbody tr td:last-child,
                .actions-rapper.purple .panel-default .file-uploader table.table tbody tr td:first-child,
                .actions-rapper.purple .panel-default .file-uploader table.table tbody tr td:last-child {
                    display: initial;
                    width: 50%;
                    float: right;
                }

                    .main-view-content .panel-info .file-uploader table.table tbody tr td:last-child button.btn.btn-danger,
                    .actions-rapper.purple .panel-info .file-uploader table.table tbody tr td:last-child button.btn.btn-danger,
                    .actions-rapper.purple .panel-default .file-uploader table.table tbody tr td:last-child button.btn.btn-danger {
                        visibility: hidden;
                        position: relative;
                    }

                        .main-view-content .panel-info .file-uploader table.table tbody tr td:last-child button.btn.btn-danger:after,
                        .actions-rapper.purple .panel-info .file-uploader table.table tbody tr td:last-child button.btn.btn-danger:after,
                        .actions-rapper.purple .panel-default .file-uploader table.table tbody tr td:last-child button.btn.btn-danger:after {
                            content: "X";
                            color: #B691C5;
                            visibility: visible;
                            position: absolute;
                            top: -5px;
                            right: 50%;
                            font-size: 20px;
                        }

        .main-view-content .panel-info .file-uploader.col-xs-12 .fileinput-button-div,
        .main-view-content .panel-info .file-uploader.col-xs-12.fileinput-button-div,
        .actions-rapper.purple .panel-info .file-uploader.col-xs-12 .fileinput-button-div,
        .actions-rapper.purple .panel-info .file-uploader.col-xs-12.fileinput-button-div,
        .actions-rapper.purple .panel-default .file-uploader.col-xs-12 .fileinput-button-div,
        .actions-rapper.purple .panel-default .file-uploader.col-xs-12.fileinput-button-div {
            display: initial;
            padding: 0;
        }

    .actions-rapper .panel.tax-exemption .file-uploader.col-xs-12 .fileinput-button-div {
        padding: 0 0px 0 5px;
    }

        .actions-rapper .panel.tax-exemption .file-uploader.col-xs-12 .fileinput-button-div button:not([disabled]) {
            display: initial;
            width: 100%;
            margin: 1% auto 0;
            background: 0 0;
            text-align: center;
            color: #012;
            background-color: #eae7e9;
            border: 1px dashed #B691C5;
            border-radius: 0;
        }

            .actions-rapper .panel.tax-exemption .file-uploader.col-xs-12 .fileinput-button-div button:not([disabled]) > span {
                text-align: center;
                width: 14px;
                height: 17px;
            }

    .main-view-content .panel-info .file-uploader.col-xs-12 .fileinput-button-div span,
    .main-view-content .panel-info .file-uploader.col-xs-12.fileinput-button-div span,
    .actions-rapper.purple .panel-info .file-uploader.col-xs-12 .fileinput-button-div span,
    .actions-rapper.purple .panel-info .file-uploader.col-xs-12.fileinput-button-div span,
    .actions-rapper.purple .panel-default .file-uploader.col-xs-12 .fileinput-button-div span,
    .actions-rapper.purple .panel-default .file-uploader.col-xs-12.fileinput-button-div span {
        width: 100%;
        border-radius: 0;
        background: none;
        background-color: #eae7e9;
        color: #012;
    }

    .main-view-content .panel-info .file-uploader.col-xs-12 .fileinput-button-div > span,
    .main-view-content .panel-info .file-uploader.col-xs-12.fileinput-button-div > span,
    .actions-rapper.purple .panel-info .file-uploader.col-xs-12 .fileinput-button-div > span,
    .actions-rapper.purple .panel-info .file-uploader.col-xs-12.fileinput-button-div > span,
    .actions-rapper.purple .panel-default .file-uploader.col-xs-12 .fileinput-button-div > span,
    .actions-rapper.purple .panel-default .file-uploader.col-xs-12.fileinput-button-div > span {
        border: 1px dashed #B691C5;
    }

        .main-view-content .panel-info .file-uploader.col-xs-12 .fileinput-button-div > span input[type=file],
        .main-view-content .panel-info .file-uploader.col-xs-12.fileinput-button-div > span input[type=file],
        .panel-info .file-uploader.col-xs-12 .fileinput-button-div > span input[type=file],
        .panel-info .file-uploader.col-xs-12.fileinput-button-div > span input[type=file],
        .panel-default .file-uploader.col-xs-12 .fileinput-button-div > span input[type=file],
        .panel-default .file-uploader.col-xs-12.fileinput-button-div > span input[type=file] {
            width: 100%;
            height: 100%;
        }

    .main-view-content .panel-info .file-uploader.col-xs-12 .fileinput-button-div span .fileinput-button input[type=file],
    .main-view-content .panel-info .file-uploader.col-xs-12.fileinput-button-div span .fileinput-button input[type=file],
    .actions-rapper.purple .panel-info .file-uploader.col-xs-12 .fileinput-button-div span .fileinput-button input[type=file],
    .actions-rapper.purple .panel-info .file-uploader.col-xs-12.fileinput-button-div span .fileinput-button input[type=file],
    .actions-rapper.purple .panel-default .file-uploader.col-xs-12 .fileinput-button-div span .fileinput-button input[type=file],
    .actions-rapper.purple .panel-default .file-uploader.col-xs-12.fileinput-button-div span .fileinput-button input[type=file] {
        width: 100%;
    }

    .actions-rapper.purple .input-group-addon:first-child {
        border-radius: 0;
    }

    .actions-rapper.purple .panel-info .help-block,
    .actions-rapper.purple .panel-default .help-block {
        margin: 0;
        position: absolute;
        top: 0px;
        left: 30%;
        display: flex;
    }

        .actions-rapper.purple .panel-info .help-block:before,
        .actions-rapper.purple .panel-default .help-block:before {
            content: "\f069";
            color: #737373;
            font-size: 10px;
            font-weight: 100;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-size: 10px;
            margin: 5px 2px;
        }


    .actions-rapper .panel .help-block,
    .actions-rapper.purple .panel-info .help-block,
    .actions-rapper.purple .panel-default .help-block {
        display: none;
    }

    .col-md-12.mobile-no-pad, .col-md-6.mobile-no-pad, .col-md-4.mobile-no-pad, .col-sm-4.mobile-no-pad {
        padding: 0;
    }

    legend.control-label .mobile-legend-inner {
        display: inline-block;
    }

    .col-md-12.col-xs-12 .showPdf button.disabled {
        display: none;
    }

    .col-md-12.col-xs-12 .showPdf button.btn-primary.active,
    .col-md-12.col-xs-12 .showPdf button.btn-primary:active {
        width: 49.5%;
        background: #B691C5;
        border: 0;
        outline: 0;
        margin-left: 1px;
        border-radius: 0;
    }

    .live-checkbox-wrapper {
        float: right;
    }

    form[name=MunicipalitiesListForm] .live-checkbox-wrapper {
        float: none;
    }

    .child-template-wrapper .parent-checkbox-wrapper .col-xs-12 {
        padding-left: 0;
    }

    .child-template-wrapper .live-checkbox-wrapper + span {
        margin: 9px 8px 9px 0px;
        float: right;
    }


    .child-template-wrapper .checkbox > label,
    .child-template-wrapper .row .checkbox > label.control-label {
        margin: 0;
        padding: 0;
    }

    .actions-rapper .panel.tax-exemption .panel-default.panel {
        margin-bottom: 0px;
    }

    .actions-rapper .panel.tax-exemption .panel-body {
        padding: 0px;
    }

        .actions-rapper .panel.tax-exemption .panel-body .form-group {
            margin-bottom: 0px;
        }

            .actions-rapper .panel.tax-exemption .panel-body .form-group .help-block {
                display: none;
            }

    .main-view-content .panel .slidedown {
        max-height: 350px;
    }

        .main-view-content .panel .slidedown.max-height-inherit {
            max-height: inherit;
        }

    .actions-rapper.tax-adjustment .panel fieldset.repeat-row .btn-group-vertical > .btn {
        width: 22px;
    }

    .actions-rapper.tax-adjustment .panel fieldset.repeat-row .repeat-actions {
        margin: 7px 0px;
    }

    .actions-rapper.attestation {
        margin: 0 auto;
        width: 100%;
    }

        .actions-rapper.attestation .panel-body.form-element > p {
            padding: 4px 12px;
        }

        .actions-rapper.attestation div.responsive-table-rapper {
            margin: 5px 2px;
        }

            .actions-rapper.attestation div.responsive-table-rapper .iframe-holder-div {
                width: 100%;
                outline: 1px solid green;
            }

    iframe img {
        width: 123px !important;
    }
    /* *** tofes 101 *** */
}
