﻿<div class="col-md-12 content-wrapper main-content clear-fix admin">
    <form name="UserSearchForm" ng-model="UserSearch" novalidate ng-submit="Search()">
        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        חפש לפי
                    </legend>
                </div>                
                <div class="panel-body">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.idNumber" class="control-label">
                                        תעודת זהות
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <input ng-model="UserSearch.searchIdNumber" name="searchIdNumber" type="text" placeholder="תעודת זהות" class="form-control" ng-maxlength="20" numbersinput>
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 1 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                            <div class="custom-validation">ניתן להכניס ספרות בלבד</div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hidden_value" ng-required="UserSearch.hidden_value" ng-model="UserSearch.$hidden_value" />
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">חובה למלא לפחות שדה אחד!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.cell" class="control-label">
                                        נייד
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <input ng-model="UserSearch.cell" name="cell" type="text" placeholder="נייד" class="form-control" ng-minlength="1" ng-maxlength="20" numbersinput>
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 1 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                            <div class="custom-validation">ניתן להכניס ספרות בלבד</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.firstName" class="control-label">
                                        שם פרטי
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <input ng-model="UserSearch.firstName" name="firstName" type="text" placeholder="שם פרטי" class="form-control" ng-minlength="1" ng-maxlength="20">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 1 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserSearch.fathersName" class="control-label">
                                        שם משפחה
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <input ng-model="UserSearch.lastName" name="lastName" type="text" placeholder="שם משפחה" class="form-control" ng-minlength="1" ng-maxlength="20">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 1 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" id="submit" class="btn btn-primary pull-left margin-left-4p">חפש</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>

    <fieldset>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="responsive-table-rapper">
                    <table wt-responsive-table class="table table-striped center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>שם מלא</th>
                                <th>נייד</th>
                                <th>מייל</th>
                                <th>ת.ז.</th>
                                <th>פעולות</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in UsersList | ShowList:$Pager">
                                <td>{{user.ID}}</td>
                                <td>{{user.firstName}} {{user.lastName}}</td>
                                <td>{{user.cell}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.idNumber}}</td>
                                <td>
                                    <button ng-if="user.email !== null" type="button" class="btn btn-warning admin-action-btn" contenteditable="false" ng-click="SendUserResetToken(user, 1)">שלח מייל איפוס</button>
                                    <button ng-if="user.cell !== null" type="button" class="btn btn-info admin-action-btn" contenteditable="false" ng-click="SendUserResetToken(user, 0)">איפוס SMS שלח</button>

                                    <button ng-if="$$credentials.isAdmin > 70" type="button" class="btn btn-primary admin-action-btn" contenteditable="false" ng-click="ResetPayrollDisplay(user)">פתיחת תצוגת תלוש</button>

                                </td>
                                <td>
                                    <button type="button" class="btn btn-success admin-action-btn" contenteditable="false" ui-sref="Admin.EditUser({UserID: {{user.ID}}})">הרשאות</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ul class="pagination pagination-sm" ng-show="$Pager.MaxPages > 1 && $Pager.pagerList.length > 1">
                    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber > 3">
                        <a href="#" ng-click="$Pager.PageNumber = 1">
                            ראשון
                        </a>
                    </li>
                    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber > 1">
                        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber - 1">
                            הקודם
                        </a>
                    </li>

                    <li ng-repeat="page in $Pager.pagerList | pagingFilter:$Pager"
                        ng-class="{active: $Pager.PageNumber === page}">
                        <a href="#" ng-click="$Pager.PageNumber = page">{{page}}</a>
                    </li>

                    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber < $Pager.MaxPages">
                        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber + 1">
                            הבא
                        </a>
                    </li>
                    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber < ($Pager.MaxPages - 3)">
                        <a href="#" ng-click="$Pager.PageNumber = $Pager.MaxPages">
                            אחרון
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </fieldset>
</div>
