﻿<div class="col-md-12 content-wrapper main-content clear-fix green">
    <div class="alert alert-info">
        <legend>
            {{pageTitle}}

            <aside class="drop-down-container">
                <h5>בחר שנה</h5>
                <div>
                    <year-picker ng-model="currentYear" slected-year="currentYear" on-select="changeYear" ></year-picker>
                </div>
            </aside>
        </legend>
    </div>

    <fieldset>
        <div class="panel panel-info">
            <div class="panel-body">
                <h4 ng-show="pageSubTitle !== null">{{pageSubTitle}}</h4>
                <table wt-responsive-table class="table table-striped education center {{tableType}}" >
                    <thead>
                        <tr>
                            <th ng-repeat="T in AttendanceData.Titles track by $index">{{T.title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in AttendanceData.Data track by $index">
                            <td ng-repeat="td in row track by $index" >
                                {{td.value}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>