﻿<div class="actions-rapper purple attestation">
    <form-header></form-header>
    <form name="partForm" ng-model="tofesModel" novalidate ng-submit="saveEntireForm()" ng-hide="$pdfContent">
        <fieldset class="section">
            <!-- start attestation section -->
            <ng-include src="'../../Scripts/views/partials/form.attestation-section.html'"></ng-include>
            <!-- end attestation section -->
        </fieldset>
        <button type="submit" id="submit" class="hidden" value=""></button>
    </form>
    <div class="responsive-table-rapper" ng-show="$pdfContent">
        <div class="panel-heading attestation">
            <legend>
                <h4>
                    הטופס טרם אושר ע"י הממונה בארגון.
                </h4>
                <h4>
                    עליך לוודא שהנתונים שמילאת נכונים על גבי הטופס וללחוץ על לחצן "שלח טופס".
                </h4>
                <h4>
                    נתונים שהתעדכנו מופיעים בצבע אדום
                </h4>
            </legend>
            <h4>{{formMsg}}</h4>
        </div>
        <form-pdf-scale form-pdf-image-id="tofesModel.formPdfImageID" pdf-content="pdfContent" pdf-show="$pdfContent" content-view="$pdfContentView" pdf-date="tofesModel.signatureDate" pdf-data-status="pdfDataStatus" file-image-blob="fileimageblob"></form-pdf-scale>
    </div>
    <Buttons></Buttons>
</div>