﻿<section class="main">
    <ul class="circles-links">
        <li href="#" ui-sref="UserMenu.HumanResourcesNotify" class="active" ng-if="$$credentials.loggedIn">
            <div class="white-circle">
                <div class="color-circle azure">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle azure"></div>
            </div>
            <article ng-click="linkClick($event, 'UserMenu.HumanResourcesNotify')">
                <h4>
                    הודעות
                    <i class="fa fa-question-circle azure" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    יצירת ערוץ תקשורת אלקטרוני המאפשר לנהל ולתעד את הדיאלוג המתקיים בין העובד למשאבי אנוש. העובד יכול להגיש בקשות ואישורים לגורם הרלוונטי בארגון.
                </div>
            </article>
        </li>
        <li ng-if="!$$credentials.loggedIn">
            <div class="white-circle">
                <div class="color-circle azure">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle azure"></div>
            </div>
            <article ng-click="linkClick($event)">
                <h4>
                    הודעות
                    <i class="fa fa-question-circle azure" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    יצירת ערוץ תקשורת אלקטרוני המאפשר לנהל ולתעד את הדיאלוג המתקיים בין העובד למשאבי אנוש. העובד יכול להגיש בקשות ואישורים לגורם הרלוונטי בארגון.
                </div>
            </article>
        </li>

        <li href="#" ui-sref="Form.employer-employee" class="active" ng-if="$$credentials.loggedIn && $$credentials.isAllow101">
            <div class="white-circle">
                <div class="color-circle purple">
                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle purple"></div>
            </div>
            <article ng-click="linkClick($event, 'Form.employer-employee')">
                <h4>
                    טופס 101
                    <i class="fa fa-question-circle purple" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    פתרונות נגישים לייעול התקשורת מול משאבי אנוש.
                    אפשרות למילוי טפסים באופן ממוחשב למחלקת משאבי אנוש.
                    המשתמש יוכל בעתיד להגיש טפסי 101, בקשות להשתלמות ובקשות כלליות ולצפות בסטטוס הבקשות.
                </div>
            </article>
        </li>
        <li ng-if="!$$credentials.loggedIn || !$$credentials.isAllow101">
            <div class="white-circle">
                <div class="color-circle purple">
                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle purple"></div>
            </div>
            <article ng-click="linkClick($event)">
                <h4>
                    טופס 101
                    <i class="fa fa-question-circle purple" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    פתרונות נגישים לייעול התקשורת מול משאבי אנוש.
                    אפשרות למילוי טפסים באופן ממוחשב למחלקת משאבי אנוש.
                    המשתמש יוכל בעתיד להגיש טפסי 101, בקשות להשתלמות ובקשות כלליות ולצפות בסטטוס הבקשות.
                </div>
            </article>
        </li>

        <li href="#" ui-sref="Payroll.Paycheck" class="active" ng-if="$$credentials.loggedIn">
            <div class="white-circle">
                <div class="color-circle orange">
                    <i class="fa fa-ils" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle orange"></div>
            </div>
            <article ng-click="linkClick($event, 'Payroll.Paycheck')">
                <h4>
                    תלוש שכר
                    <i class="fa fa-question-circle orange" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    המערכת מאפשרת צפייה בתלוש השכר לאורך כל תקופת העבודה של העובד.
                    התלוש מופיע באופן ממוחשב ובעיצוב חדשני.
                </div>
            </article>
        </li>
        <li ng-if="!$$credentials.loggedIn">
            <div class="white-circle">
                <div class="color-circle orange">
                    <i class="fa fa-ils" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle orange"></div>
            </div>
            <article ng-click="linkClick($event)">
                <h4>
                    תלוש שכר
                    <i class="fa fa-question-circle orange" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    המערכת מאפשרת צפייה בתלוש השכר לאורך כל תקופת העבודה של העובד.
                    התלוש מופיע באופן ממוחשב ובעיצוב חדשני.
                </div>
            </article>
        </li>

        <li href="#" ui-sref="Attendance.Vacation" class="active" ng-if="$$credentials.loggedIn && removeByMunicipalities()">
            <div class="white-circle">
                <div class="color-circle green">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle green"></div>
            </div>
            <article ng-click="linkClick($event, 'Attendance.Vacation')">
                <h4>
                    נתוני נוכחות
                    <i class="fa fa-question-circle green" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    הצגת נתוני נוכחות של השנה האחרונה,
                    המערכת מציגה את היתרה, הזיכוי והניצול החודשי של העובד.
                </div>
            </article>
        </li>
        <li ng-if="!$$credentials.loggedIn || !removeByMunicipalities()">
            <div class="white-circle">
                <div class="color-circle green">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle green"></div>
            </div>
            <article ng-click="linkClick($event)">
                <h4>
                    נתוני נוכחות
                    <i class="fa fa-question-circle green" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    הצגת נתוני נוכחות של השנה האחרונה,
                    המערכת מציגה את היתרה, הזיכוי והניצול החודשי של העובד.
                </div>
            </article>
        </li>

        <li href="#" ui-sref="UserDetails.UserDetails" class="active" ng-if="$$credentials.loggedIn">
            <div class="white-circle">
                <div class="color-circle reddish">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle reddish"></div>
            </div>
            <article ng-click="linkClick($event, 'UserDetails.UserDetails')">
                <h4>
                    פרטי עובד
                    <i class="fa fa-question-circle reddish" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    מתן אפשרות לעובד לצפות בפרטיו האישיים המעודכנים במערכת התפעולית.
                </div>
            </article>
        </li>
        <li ng-if="!$$credentials.loggedIn">
            <div class="white-circle">
                <div class="color-circle reddish">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <img class="shadow" src="../../Content/Images/shadow.png" />
            </div>
            <div class="small-circle">
                <div class="small-color-circle reddish"></div>
            </div>
            <article ng-click="linkClick($event)">
                <h4>
                    פרטי עובד
                    <i class="fa fa-question-circle reddish" aria-hidden="true"></i>
                </h4>
                <div class="text">
                    מתן אפשרות לעובד לצפות בפרטיו האישיים המעודכנים במערכת התפעולית.
                </div>
            </article>
        </li>
    </ul>
</section>