﻿<div class="col-md-12 content-wrapper main-content clear-fix admin">
    <form name="StatisticsForm" ng-model="Statistics" novalidate ng-submit="GetStatistics()">
        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        דוח מילוי 101
                    </legend>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8">
                                    <angucomplete-alt id="municipality"
                                                      placeholder="חפש ראשות"
                                                      pause="100"
                                                      text-no-results="אין תוצאות"
                                                      text-searching="מחפש..."
                                                      selected-object="selectedMunicipalityCallback"
                                                      local-data="MunicipalitiesList"
                                                      initial-value="InitialValue"
                                                      disable-input="disableInput"
                                                      search-fields="name,ID"
                                                      title-field="name"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight" />
                                </div>

                                <input type="hidden" name="hidden_value" required ng-model="municipality_hidden_value" />
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8">
                                    <select ng-options="year for year in yearsList" ng-model="selectedYear"></select>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4 col-xs-4">
                                    <label ng-if="STHolderList.length > 0" style="height: 29px;font-size: 20px;line-height: 34px;float: right;">
                                        <p>סך הכל: </p>&nbsp;
                                    </label>&nbsp;
                                    <label ng-if="STHolderList.length > 0" style="margin-left:7px;margin-bottom: 0px;height: 29px;font-size: 20px;line-height: 39px;float: right;">
                                        {{STList.length}}
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <button type="submit" id="submit" class="btn btn-primary pull-left margin-left-4p">חפש</button>

                                    <div ng-if="STList.length > 0" export-excel export-data="Export" file-name="fileNameFunction" work-sheet="workSheetFunction" classes="pull-left margin-left-4p"></div>

                                    <div ng-if="STList.length > 0" class="btn btn-info btn-ef btn-ef-3 btn-ef-3c mb-10 pull-left margin-left-4p" ng-click="SendReminderByMail()" classes="pull-left margin-left-4p">
                                        <i class="fa fa-share"></i>&#8287;&#8287;
                                        שלח מייל תזכורת לטופס 101
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>
    <fieldset>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="responsive-table-rapper">
                    <!--101Form-->
                    <ng-include src="'../../scripts/views/partials/statistics-templates/101Form.view-Table.html'"></ng-include>
                    <!--101Form-->

                    <!--pagination-->
                    <ng-include src="'../../scripts/views/partials/statistics-templates/pagination.template.html'"></ng-include>
                    <!--pagination-->
                </div>
            </div>
        </div>
    </fieldset>
</div>