﻿<fieldset class="section col-md-12 content-wrapper main-content clear-fix azure">
    <div class="panel panel-info process-panel">
        <div class="panel-heading">
            <legend>
                בקשות שהופנו אליי
            </legend>
        </div>
        <div class="panel-body">

            <!-- MY_PROCESSES FILTERS SECTION -->
            <div class="my-processes-filters">
                <div class="filter-title">
                    <span>סנן לפי:</span>
                </div>
                <ul class="filters">
                    <li class="filter-item" ng-class="filters.isAllFilter ? 'filter-active' : 'filter-default'" ng-click="resetSelectedFilters();filterMyProcesses('all')">כל הבקשות</li>
                    <li class="filter-item" ng-class="filters.isEmployeeFilter ? 'filter-active' : 'filter-default'" ng-click="resetSelectedFilters();displayEmployeeFilter()">עובד</li>
                    <li class="filter-item" ng-class="filters.isDatesFilter ? 'filter-active' : 'filter-default'" ng-click="resetSelectedFilters();displayDatesFilter()">תאריכים</li>
                    <li class="filter-item" ng-class="filters.isTypesFilter ? 'filter-active' : 'filter-default'" ng-click="resetSelectedFilters();displayTypesFilter()">סוג הבקשה</li>
                    <li class="filter-item" ng-class="filters.isStatusFilter ? 'filter-active' : 'filter-default'" ng-click="resetSelectedFilters();displayStatusFilter()">סטטוס הבקשה</li>
                </ul>
            </div>
            <span class="excel-table" ng-click="exportExcelTable()"><img src="../../Content/Images/excel.png" alt="אקסל" title="יצא מסך לאקסל" /></span>
            <div class="filter-element" ng-if="filters.isDatesFilter">
                <div id="from-date-filter" class="date-filter">
                        <span aria-hidden="true">
                            מ - 
                        </span>
                        <input type="text" name="from-filter" id="from-filter" ng-model="filters.selectedFromDateFilter" ng-change="filterMyProcesses('dates')" class="date-control color-control" ui-datepicker />
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="custom-validation">פורמט תאריך לא תקין</div>
                                <div class="range-validation">טווח התאריכים אינו חוקי</div>
                                <div class="required-validation">שדה זה הינו חובה</div>
                            </div>
                        </div>
                </div>
                <div id="to-date-filter" class="date-filter">
                        <span aria-hidden="true">
                            עד -
                        </span>
                        <input type="text" name="to-filter" id="to-filter" ng-model="filters.selectedToDateFilter" ng-change="filterMyProcesses('dates')" class="date-control color-control" ui-datepicker />
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="custom-validation">פורמט תאריך לא תקין</div>
                                <div class="range-validation">טווח התאריכים אינו חוקי</div>
                                <div class="required-validation">שדה זה הינו חובה</div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="filter-element" ng-if="filters.isEmployeeFilter">
                <!-- autoComplete -->
                <angucomplete-alt id="usersList" input-name="usersList"
                                  placeholder="בחר עובד"
                                  pause="100"
                                  selected-object="setNewEmployeeFilter"
                                  input-changed="setEmptyEmployeeFilter"
                                  local-data="usersList"
                                  title-field="user.firstName,user.lastName"
                                  search-fields="user.firstName,user.lastName"
                                  minlength="0"
                                  text-no-results="אין תוצאות..."
                                  field-required="true"
                                  text-searching="מחפש..."
                                  initial-value=""
                                  input-class="form-control form-control-small process-field" />
                <!-- autoComplete -->
            </div>

            <div class="filter-element" ng-if="filters.isTypesFilter">
                בחר סוג תהליך לסינון:
                <select name="filter-type" id="filter-type" ng-model="filters.selectedTypeFilter" ng-change="filterMyProcesses('type')" placeholder="בחר סוג" class="filter-select">
                    <option ng-repeat="type in processesTypes track by $index" value="{{type.id}}">{{type.name}}</option>
                </select>
            </div>
            <div class="filter-element" ng-if="filters.isStatusFilter">
                בחר סטטוס לסינון: 
                <select name="filter-status" id="filter-status" ng-model="filters.selectedStatusFilter" ng-options="stat.id as stat.name for stat in processesStatus" ng-change="filterMyProcesses('status')" class="filter-select">
                </select>
            </div>
            <!-- MY_PROCESSES FILTERS SECTION -->
                <table wt-responsive-table class="table process">
                    <thead>
                        <tr>
                            <th>שם הבקשה</th>
                            <th>מגיש הבקשה</th>
                            <th>פרטי הבקשה</th>
                            <th>בחר פעולה</th>
                            <th>הערה / הסבר</th>
                            <th>העבר בקשה אל</th>
                            <th>עדכון</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-if="myProcessesIsEmpty" class="tr-odd">
                            <td colspan="8">
                                <p class="no-result">נמצאו 0 בקשות שהופנו אליך</p>
                            </td>
                        </tr>

                        <tr ng-repeat-start="process in myProcessesData track by $index" ng-class="$index % 2 == 0 ? 'tr-even' : 'tr-odd'">
                            <td ng-class="showProcessDetails[$index] ? 'no-bottom-border widthless' : 'widthless'">{{process.PROCESS_DESCRIPTION}}</td>
                            <td ng-if="process.OVED_NESU_BAKASHA == 0 || process.OVED_NESU_BAKASHA == ''" ng-class="showProcessDetails[$index] ? 'no-bottom-border widthless' : 'widthless'">{{process.USERMODEL.firstName}} {{process.USERMODEL.lastName}}, {{process.USERMODEL.idNumber}}</td>
                            
                            <td ng-if="process.OVED_NESU_BAKASHA > 0 && process.OVED_NESU_BAKASHA != ''" ng-class="showProcessDetails[$index] ? 'no-bottom-border widthless' : 'widthless'">{{process.OVED_NESU_BAKASHA_NAME}}, {{process.OVED_NESU_BAKASHA}}</td>
                            
                            <td ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''" ng-cloak>
                                <button ng-click="showProcessDetails[$index] = !showProcessDetails[$index]" class="btn btn-primary process-btn" ng-cloak>
                                    <span ng-show="!showProcessDetails[$index]" ng-cloak>לצפיה</span>
                                    <span ng-show="showProcessDetails[$index]" ng-cloak>סגור</span>
                                </button>
                            </td>
                            <td ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''">
                                <div is="0" ng-class="isMobile() ? 'm-b checkbox-box' : 'btn-group m-b checkbox-box' ">
                                    
                                    <!-- button for reject action status 2-->
                                    <button ng-class="{'active btn proc-btn-reject' : process.STATUS == 2, 'btn btn-default': !(process.STATUS == 2), 'self-btn btn' : isMobile()}"
                                            ng-click="process.CURR_MISPAR_SHALAV < process.SHLAVIM_COUNTER ? (process.STATUS == 0 || process.STATUS == 1 || process.STATUS == 3 ? process.STATUS = 2 : process.STATUS = 0) : process.STATUS == 2 ? process.STATUS = 0 : process.STATUS =  2;isUpdatedProcess[$index] = false"
                                            ng-disabled="isNewTargetUser[$index] || ((process.STATUS == 3 || process.STATUS == 2) && process.CURR_MISPAR_SHALAV == process.SHLAVIM_COUNTER && isUpdatedProcess[$index]) || process.STATUS == 2 && isUpdatedProcess[$index]">
                                            <!--ng-disabled="(process.STATUS != 3 && process.STATUS != 0 && isUpdatedProcess[$index]) || isNewTargetUser[$index]">-->
                                            <span class="bold">דחה</span>
                                    </button>
                                    <!-- button for temp approval action  status 1-->
                                    <button ng-if="process.CURR_MISPAR_SHALAV < process.SHLAVIM_COUNTER"
                                            ng-class="{'active btn proc-btn-success' : process.STATUS == 1, 'btn btn-default': !(process.STATUS == 1), 'self-btn' : isMobile()}"
                                            ng-click="process.STATUS == 0 || process.STATUS == 2 ? process.STATUS = 1 : process.STATUS = 0"
                                            ng-disabled="(process.STATUS == 2 && isUpdatedProcess[$index]) || (process.STATUS == 1 && isUpdatedProcess[$index]) || (process.STATUS == 3) || isNewTargetUser[$index]">
                                            <span class="bold">אשר שלב נוכחי</span>
                                    </button>
                                    <!-- button for final approval action status 3-->
                                    <button ng-if="process.CURR_MISPAR_SHALAV == process.SHLAVIM_COUNTER"
                                            ng-class="{'active btn proc-btn-success' : process.STATUS == 3, 'btn btn-default': !(process.STATUS == 3), 'self-btn' : isMobile()}"
                                            ng-click="process.STATUS == 0 || process.STATUS == 1 || process.STATUS == 2 ? process.STATUS = 3 : process.STATUS = 0; isUpdatedProcess[$index] = false"
                                            ng-disabled="(process.STATUS == 3 || process.STATUS == 2) && process.CURR_MISPAR_SHALAV == process.SHLAVIM_COUNTER && isUpdatedProcess[$index]">
                                            <span class="bold">אשר סופית</span>
                                    </button>

                                </div>
                            </td>
                            <td>
                                <textarea ng-model="process.COMMENTS" ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''"
                                          ng-disabled="(process.STATUS == 3 || process.STATUS == 2 )&& isUpdatedProcess[$index]" placeholder="הערה / הסבר" class="comment" ng-maxlength="200" ng-keyup="autoGrow($event)"></textarea>
                            </td>
                            <td ng-class="showProcessDetails[$index] ? 'no-bottom-border move-to' : 'move-to'">
                                
                                <!-- NEW 18.6.18 -->
                                <angucomplete-alt id="unitManagerOrUser" input-name="unitManagerOrUser"
                                                  placeholder="בחר מנהל או משתמש"
                                                  pause="100"
                                                  selected-object="setNewTargetUserId"
                                                  input-changed="setEmptyTargetUserId"
                                                  local-data="mishtamsheiKvuzaPerProcess[$index]"
                                                  title-field="shem_prati,shem_mishpaha"
                                                  search-fields="shem_prati,shem_mishpaha"
                                                  minlength="0"
                                                  text-no-results="אין תוצאות..."
                                                  field-required="true"
                                                  text-searching="מחפש..."
                                                  initial-value=""
                                                  input-class="form-control form-control-small process-field"
                                                  disable-input="process.STATUS != 0 || process.STATUS == 0 && process.CURR_MISPAR_SHALAV == process.SHLAVIM_COUNTER" />

                            </td>
                            <td ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''">
                                <button class="btn btn-primary active process-update-btn"
                                        ng-disabled="process.CURR_MISPAR_SHALAV < process.SHLAVIM_COUNTER ?
                                                     process.STATUS == 0 && !isNewTargetUser[$index] || process.STATUS == 2 && isUpdatedProcess[$index] : 
                                                     (process.STATUS == 0 || process.STATUS == 1) || ((process.STATUS == 3 || process.STATUS == 2) && process.CURR_MISPAR_SHALAV == process.SHLAVIM_COUNTER && isUpdatedProcess[$index])"
                                        ng-click="updateProcess($index, process)" ng-class="active" style="">עדכן</button>
                                        <!--ng-disabled="(process.STATUS != 0 && process.STATUS != 1 && process.STATUS != 3 && isUpdatedProcess[$index]) || (process.STATUS == 0 && !isNewTargetUser[$index])"-->
                            </td>
                            <td ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''"></td>
                        </tr>
                        <tr ng-repeat-end ng-if="showProcessDetails[$index]" ng-class="$index % 2 == 0 ? 'tr-even' : 'tr-odd'">
                            <td colspan="8" class="no-top-border">

                                <div class="details-div my">
                                    <table class="process details" ng-if="process.PROCESS_TYPE != 3">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span class="bold underline">פרטי הבקשה</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="bold">תאריך פתיחת הבקשה: &nbsp;</span> <span title="{{process.CREATION_DATE}}">{{process.CREATION_DATE}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">סטטוס: &nbsp;</span>
                                                    <span ng-show="process.STATUS == 0 || (process.STATUS != 0 && !isUpdatedProcess[$index])">טרם</span>
                                                    <span ng-if="process.STATUS == 1 && (process.CURR_MISPAR_SHALAV < process.SHLAVIM_COUNTER || process.CURR_MISPAR_SHALAV == process.SHLAVIM_COUNTER) && isUpdatedProcess[$index]">אושר בשלב {{(process.CURR_MISPAR_SHALAV -1)}}/{{process.SHLAVIM_COUNTER}}</span>
                                                    <span ng-if="process.STATUS == 3 && process.CURR_MISPAR_SHALAV == process.SHLAVIM_COUNTER && isUpdatedProcess[$index]">אושר סופית</span>
                                                    <span ng-show="process.STATUS == 2  && isUpdatedProcess[$index]">נדחה בשלב {{process.CURR_MISPAR_SHALAV}}/{{process.SHLAVIM_COUNTER}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">מתאריך: &nbsp;</span> <span>{{process.FROM_DATE}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">עד תאריך: &nbsp;</span> <span>{{process.TO_DATE}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">סיבה: &nbsp;</span> <span title="{{process.CONTENT1}}">{{process.CONTENT1}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">יתרת חופשה: &nbsp;</span> <span title="{{process.CONTENT2}}">{{process.CONTENT2}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="process details" ng-if="process.PROCESS_TYPE == 3">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span class="bold underline">פרטי הבקשה</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="bold">תאריך פתיחת הבקשה: &nbsp;</span> <span title="{{process.CREATION_DATE}}">{{process.CREATION_DATE}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">סטטוס: &nbsp;</span>
                                                    <span ng-show="process.STATUS == 0 || (process.STATUS != 0 && !isUpdatedProcess[$index])">טרם</span>
                                                    <span ng-if="process.STATUS == 1 && (process.CURR_MISPAR_SHALAV < process.SHLAVIM_COUNTER || process.CURR_MISPAR_SHALAV == process.SHLAVIM_COUNTER) && isUpdatedProcess[$index]">אושר בשלב {{(process.CURR_MISPAR_SHALAV-1)}}/{{process.SHLAVIM_COUNTER}}</span>
                                                    <span ng-if="process.STATUS == 3 && process.CURR_MISPAR_SHALAV == process.SHLAVIM_COUNTER && isUpdatedProcess[$index]">אושר סופית</span>
                                                    <span ng-show="process.STATUS == 2">נדחה בשלב {{process.CURR_MISPAR_SHALAV}}/{{process.SHLAVIM_COUNTER}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">תפקיד העובד: &nbsp;</span> <span>{{process.CONTENT1}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">מחלקה: &nbsp;</span> <span>{{process.CONTENT2}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">שנות ותק: &nbsp;</span> <span>{{process.CONTENT3}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">תכנית הקורס: &nbsp;</span> <span title="{{process.CONTENT4}}">{{process.CONTENT4}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">מוסד השכלה: &nbsp;</span> <span>{{process.CONTENT5}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">מס' ימים: &nbsp;</span> <span>{{process.CONTENT6}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bold">מס' שעות: &nbsp;</span> <span>{{process.CONTENT7}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</fieldset>