﻿<fieldset class="section col-md-12 content-wrapper main-content clear-fix azure">
    <div class="panel panel-info process-panel">
        <div class="panel-heading">
            <legend>
                הבקשות שלי
            </legend>
        </div>
        <div class="panel-body">

            <!-- MY_REQ_PROCESSES FILTERS SECTION -->
            <div class="my-processes-filters">
                <div class="filter-title">
                    <span>סנן לפי:</span>
                </div>
                <ul class="filters">
                    <li class="filter-item" ng-class="filters.isAllFilter ? 'filter-active' : 'filter-default'" ng-click="resetSelectedFilters();filterMyProcesses('all')">כל הבקשות</li>
                    <li class="filter-item" ng-class="filters.isDatesFilter ? 'filter-active' : 'filter-default'" ng-click="resetSelectedFilters();displayDatesFilter()">תאריכים</li>
                    <li class="filter-item" ng-class="filters.isTypesFilter ? 'filter-active' : 'filter-default'" ng-click="resetSelectedFilters();displayTypesFilter()">סוג הבקשה</li>
                    <li class="filter-item" ng-class="filters.isStatusFilter ? 'filter-active' : 'filter-default'" ng-click="resetSelectedFilters();displayStatusFilter()">סטטוס הבקשה</li>
                </ul>
            </div>
            <span class="excel-table" ng-click="exportExcelTable()"><img src="../../Content/Images/excel.png" alt="אקסל" title="יצא מסך לאקסל" /></span>
            <div class="filter-element" ng-if="filters.isDatesFilter">
                <div id="from-date-filter" class="date-filter">
                    <span aria-hidden="true">
                        מ -
                    </span>
                    <input type="text" name="from-filter" id="from-filter" ng-model="filters.selectedFromDateFilter" ng-change="filterMyProcesses('dates')" class="date-control color-control" ui-datepicker />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                            <div class="range-validation">טווח התאריכים אינו חוקי</div>
                            <div class="required-validation">שדה זה הינו חובה</div>
                        </div>
                    </div>
                </div>
                <div id="to-date-filter" class="date-filter">
                    <span aria-hidden="true">
                        עד -
                    </span>
                    <input type="text" name="to-filter" id="to-filter" ng-model="filters.selectedToDateFilter" ng-change="filterMyProcesses('dates')" class="date-control color-control" ui-datepicker />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                            <div class="range-validation">טווח התאריכים אינו חוקי</div>
                            <div class="required-validation">שדה זה הינו חובה</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-element" ng-if="filters.isTypesFilter">
                בחר סוג תהליך לסינון:
                <select name="filter-type" id="filter-type" ng-model="filters.selectedTypeFilter" ng-change="filterMyProcesses('type')" placeholder="בחר סוג" class="filter-select">
                    <option ng-repeat="type in processesTypes track by $index" value="{{type.id}}">{{type.name}}</option>
                </select>
            </div>
            <div class="filter-element" ng-if="filters.isStatusFilter">
                בחר סטטוס לסינון:
                <select name="filter-status" id="filter-status" ng-model="filters.selectedStatusFilter" ng-options="stat.id as stat.name for stat in processesStatus" ng-change="filterMyProcesses('status')" class="filter-select"></select>
            </div>
            <!-- MY_PROCESSES FILTERS SECTION -->
            <table wt-responsive-table class="table process">
                <thead>
                    <tr>
                        <th>שם הבקשה</th>
                        <th>מגיש הבקשה</th>
                        <th>פרטי הבקשה</th>
                        <th>סטטוס הבקשה</th>
                        <th>הערה / הסבר</th>
                        <th>גורם מטפל</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-if="myRequestProcessesIsEmpty" class="tr-odd">
                        <td colspan="7">
                            <p class="no-result">נמצאו 0 בקשות שהגשת במערכת</p>
                        </td>
                    </tr>

                    <tr ng-repeat-start="process in processesOftheUser  track by $index" ng-class="$index % 2 == 0 ? 'tr-even' : 'tr-odd'">
                        <td ng-class="showProcessDetails[$index] ? 'no-bottom-border widthless' : 'widthless'">{{process.process.PROCESS_DESCRIPTION}}</td>
                        <td ng-if="process.process.OVED_NESU_BAKASHA == 0 || process.process.OVED_NESU_BAKASHA == ''" ng-class="showProcessDetails[$index] ? 'no-bottom-border widthless' : 'widthless'">{{process.process.USERMODEL.firstName}} {{process.process.USERMODEL.lastName}}, {{process.process.USERMODEL.idNumber}}</td>

                        <td ng-if="process.process.OVED_NESU_BAKASHA > 0 && process.process.OVED_NESU_BAKASHA != ''" ng-class="showProcessDetails[$index] ? 'no-bottom-border widthless' : 'widthless'">{{process.process.OVED_NESU_BAKASHA_NAME}}, {{process.process.OVED_NESU_BAKASHA}}</td>

                        <td ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''" ng-cloak>
                            <button ng-click="showProcessDetails[$index] = !showProcessDetails[$index]" class="btn btn-primary process-btn" ng-cloak>
                                <span ng-show="!showProcessDetails[$index]" ng-cloak>לצפיה</span>
                                <span ng-show="showProcessDetails[$index]" ng-cloak>סגור</span>
                            </button>
                        </td>
                        <td ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''">
                            <div is="0" ng-class="isMobile() ? 'm-b checkbox-box' : 'btn-group m-b checkbox-box' ">
                                <button ng-class="{'active btn proc-btn-reject':  process.process.STATUS == 2, 'btn btn-default': process.process.STATUS != 2, 'self-btn': isMobile()}"
                                        ng-click="process.process.STATUS == 0 || process.process.STATUS == 1 ? process.process.STATUS = 2 : process.process.STATUS = 0"
                                        ng-disabled="myProcessesData.length == 0">
                                    <span class="bold">נדחה</span>
                                </button>
                                <button ng-class="{'active btn proc-btn-success': (process.process.STATUS == 1 || process.process.STATUS == 3), 'btn btn-default': !(process.process.STATUS == 1 || process.process.STATUS == 3), 'self-btn': isMobile()}"
                                        ng-click="process.process.STATUS == 0 || process.process.STATUS == 2 ? process.process.STATUS = 1 : process.process.STATUS = 0"
                                        ng-disabled="myProcessesData.length == 0">
                                    <span ng-if="process.process.STATUS == 3" class="bold">אושר סופית</span>
                                    <span ng-if="process.process.STATUS != 3" class="bold">אושר בשלב {{(process.process.CURR_MISPAR_SHALAV -1)}}/{{process.process.SHLAVIM_COUNTER}}</span>
                                </button>
                            </div>
                        </td>
                        <td>
                            <textarea ng-disabled="myProcessesData.length == 0" ng-model="process.process.COMMENTS" ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''" placeholder="הערה / הסבר" class="comment" ng-maxlength="200" ng-keyup="autoGrow($event)"></textarea>
                        </td>

                        
                        <td ng-if="process.targetUsers.length > 1">
                            <span ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''" ng-repeat="tu in process.targetUsers">{{tu.idNumber}}, {{tu.firstName}} {{tu.lastName}}<br /></span>
                        </td>
                        <td ng-if="process.targetUsers.length == 1">
                            <span ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''">{{process.process.TARGET_USER.idNumber}}, {{process.process.TARGET_USER.firstName}} {{process.process.TARGET_USER.lastName}}</span>
                        </td>


                        <td ng-class="showProcessDetails[$index] ? 'no-bottom-border' : ''"></td>
                    </tr>
                    <tr ng-repeat-end ng-if="showProcessDetails[$index]" ng-class="$index % 2 == 0 ? 'tr-even' : 'tr-odd'">
                        <td colspan="7" class="no-top-border">

                            <div class="details-div req">
                                <table class="process details" ng-if="process.process.PROCESS_TYPE != 3">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="bold underline">פרטי הבקשה</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="bold">תאריך פתיחת הבקשה: &nbsp;</span> <span title="{{process.process.CREATION_DATE}}">{{process.process.CREATION_DATE}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">סטטוס: &nbsp;</span>
                                                <span ng-show="process.process.STATUS == 0">טרם</span>
                                                <span ng-show="process.process.STATUS == 1">אושר בשלב {{(process.process.CURR_MISPAR_SHALAV -1)}}/{{process.process.SHLAVIM_COUNTER}}</span>
                                                <span ng-show="process.process.STATUS == 3">אושר סופית</span>
                                                <span ng-show="process.process.STATUS == 2">נדחה בשלב {{process.process.CURR_MISPAR_SHALAV}}/{{process.process.SHLAVIM_COUNTER}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">מתאריך: &nbsp;</span> <span>{{process.process.FROM_DATE}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">עד תאריך: &nbsp;</span> <span>{{process.process.TO_DATE}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">סיבה: &nbsp;</span> <span title="{{process.process.CONTENT1}}">{{process.process.CONTENT1}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">יתרת חופשה: &nbsp;</span> <span title="{{process.process.CONTENT2}}">{{process.process.CONTENT2}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="process details" ng-if="process.process.PROCESS_TYPE == 3">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="bold underline">פרטי הבקשה</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="bold">תאריך פתיחת הבקשה: &nbsp;</span> <span title="{{process.process.CREATION_DATE}}">{{process.process.CREATION_DATE}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">סטטוס: &nbsp;</span>
                                                <span ng-show="process.process.STATUS == 0">טרם</span>
                                                <span ng-show="process.process.STATUS == 1">אושר בשלב {{(process.process.CURR_MISPAR_SHALAV -1)}}/{{process.process.SHLAVIM_COUNTER}}</span>
                                                <span ng-show="process.process.STATUS == 3">אושר סופית</span>
                                                <span ng-show="process.process.STATUS == 2">נדחה בשלב {{process.process.CURR_MISPAR_SHALAV}}/{{process.process.SHLAVIM_COUNTER}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">תפקיד העובד: &nbsp;</span> <span>{{process.process.CONTENT1}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">מחלקה: &nbsp;</span> <span>{{process.process.CONTENT2}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">שנות ותק: &nbsp;</span> <span>{{process.process.CONTENT3}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">תכנית הקורס: &nbsp;</span> <span title="{{process.process.CONTENT4}}">{{process.process.CONTENT4}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">מוסד השכלה: &nbsp;</span> <span>{{process.process.CONTENT5}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">מס' ימים: &nbsp;</span> <span>{{process.process.CONTENT6}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="bold">מס' שעות: &nbsp;</span> <span>{{process.process.CONTENT7}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>