﻿<div class="actions-rapper purple">
    <form-header></form-header>
    <form name="partForm" ng-model="tofesModel" novalidate ng-submit="nextForm()">
        <fieldset class="section">
            <!-- start partner section -->
            <ng-include src="'../../Scripts/views/partials/form.partner-section.html'"></ng-include>
            <!-- end partner section -->
            <!-- start children section -->
            <ng-include src="'../../Scripts/views/partials/form.children-section.html'"></ng-include>
            <!-- end children section -->
        </fieldset>
        <button type="submit" id="submit" class="hidden" value=""></button>
    </form>
    <Buttons></Buttons>
</div>