﻿<div class="col-md-12 content-wrapper main-content clear-fix orange">

    <div class="alert alert-info">
        <legend>
            <div>
                {{pageTitle}}

                <aside class="drop-down-container" ng-hide="pageSubTitle !== null || $controllerState === 'Paycheck'">
                    <h5>בחר שנה</h5>
                    <div>
                        <year-picker ng-model="currentYear" slected-year="currentYear" on-select="changeYear"></year-picker>
                    </div>
                </aside>

                <aside class="drop-down-container short" ng-show="$controllerState === 'Paycheck'">
                    <a href="/Content/PDFs/הסבר_לתלוש_שכר.pdf" target="_blank" title="הסבר לתלוש שכר">
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </a>
                </aside>

                <aside class="drop-down-container" ng-show="$controllerState === 'Paycheck'">
                    <h5>בחר תאריך</h5>
                    <div>
                        <input id="Month" type="month" ng-model="selectedMonth" ng-if="isMobile" />
                        <input id="Month" type="text" ng-model="selectedMonth" ng-if="!isMobile" />
                    </div>
                </aside>
            </div>

            <div ng-show="pageSubTitle !== null">
                {{pageSubTitle}}

                <aside class="drop-down-container" ng-hide="$controllerState === 'Paycheck'">
                    <h5>בחר שנה</h5>
                    <div>
                        <year-picker ng-model="currentYear" slected-year="currentYear" on-select="changeYear"></year-picker>
                    </div>
                </aside>
                <aside class="drop-down-container" ng-show="$controllerState === 'Paycheck'">
                    <h5>בחר תאריך</h5>
                    <div>
                        <input id="Month" type="month" ng-model="selectedMonth" ng-if="isMobile" />
                        <input id="Month" type="text" ng-model="selectedMonth" ng-if="!isMobile" />
                    </div>
                </aside>
            </div>
        </legend>
    </div>

    <fieldset>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="responsive-table-rapper">
                    <table wt-responsive-table show-last="0" class="table table-striped center last-blue" ng-if="$controllerState === 'PayrollBySymbol' || $controllerState === 'GeneralWagesData'">
                        <thead>
                            <tr>
                                <th ng-repeat="T in PayrollData.Titles track by $index">{{T.title}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in PayrollData.Data track by $index">
                                <td ng-repeat="td in row track by $index">
                                    {{td.value}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="responsive-table-rapper" ng-if="$controllerState === 'TrainingAndProvidentFunds'" ng-repeat="table in PayrollData track by $index">
                    <h5>{{table.Titles[0].title}}</h5>

                    <table wt-responsive-table class="table table-striped center last-blue">
                        <thead>
                            <tr>
                                <th><span>חודש</span></th>
                                <th>ברוטו לגמל</th>
                                <th>ניכוי עובד %</th>
                                <th>ניכוי עובד</th>
                                <th>הפרשות מעביד %</th>
                                <th>הפרשות מעביד</th>
                                <th>פיצויים %</th>
                                <th>פיצויים</th>
                                <th>אובדן כושר %</th>
                                <th>אובדן כושר</th>
                                <th>סה"כ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in table.Data[0] track by $index">
                                <td>{{row.monthName}}</td>
                                <td>{{row.fundBrutoGemel}}</td>
                                <td>{{row.deductionPercentage}}</td>
                                <td>{{row.deductionAmount}}</td>
                                <td>{{row.provisionsPercentage}}</td>
                                <td>{{row.provisionsAmount}}</td>
                                <td>{{row.severancePercentage}}</td>
                                <td>{{row.severanceAmount}}</td>
                                <td>{{row.disabilityInsurancePercentage}}</td>
                                <td>{{row.disabilityInsuranceAmount}}</td>
                                <td>{{row.monthTotal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="responsive-table-rapper" ng-if="$controllerState === '106Form' || $controllerState === 'Paycheck'">
                    <h4>{{formMsg}}</h4>
                    <pdf-object-scale pdf-content="pdfContent" pdf-show="$pdfContent" content-view="$pdfContentView" pdf-date="WSPostModel.selectedDate" pdf-controller-state="$controllerState" pdf-data-status="pdfDataStatus" file-image-blob="fileimageblob"></pdf-object-scale>
                </div>

            </div>
        </div>
    </fieldset>
</div>