﻿<div class="col-md-12 content-wrapper main-content clear-fix admin">
    <!--101Form-->
    <ng-include src="'../../scripts/views/partials/statistics-templates/101Form-fieldset.html'" ng-if="controllerState === '101Form'"></ng-include>
    <!--101Form-->
    <!--LogInLog-->
    <ng-include src="'../../scripts/views/partials/statistics-templates/LogInLog-fieldset.html'" ng-if="controllerState === 'LogInLog'"></ng-include>
    <!--LogInLog-->
    <!--EmailPaycheck-->
    <form name="StatisticsForm" ng-model="Statistics" novalidate ng-submit="GetStatistics()" ng-show="controllerState === 'EmailPaycheck'">
        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        הצג לפי
                    </legend>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8">
                                    <angucomplete-alt id="municipality"
                                                      placeholder="חפש ראשות"
                                                      pause="100"
                                                      text-no-results="אין תוצאות"
                                                      text-searching="מחפש..."                                                      
                                                      selected-object="selectedMunicipalityCallback"
                                                      local-data="MunicipalitiesList"
                                                      initial-value="InitialValue"
                                                      disable-input="disableInput"
                                                      search-fields="name,ID"
                                                      title-field="name"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight" />
                                </div>

                                <input type="hidden" name="hidden_value" required ng-model="municipality_hidden_value" />
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8">
                                    <input id="Month" type="month" ng-model="selectedMonth" ng-if="isMobile" class="month-year-input" readonly required />
                                    <input id="Month" type="text" ng-model="selectedMonth" ng-if="!isMobile" class="month-year-input" readonly required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4 col-xs-4">
                                    <label ng-if="pcueHolderList.length > 0" style="height: 29px;font-size: 20px;line-height: 34px;float: right;">
                                        <p>סך הכל: </p>&nbsp;
                                    </label>&nbsp;
                                    <label ng-if="pcueHolderList.length > 0" style="margin-left:7px;margin-bottom: 0px;height: 29px;font-size: 20px;line-height: 39px;float: right;">
                                        {{pcueList.length}}
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <button type="submit" id="submit" class="btn btn-primary pull-left margin-left-4p">חפש</button>

                                    <div ng-if="pcueList.length > 0" export-excel export-data="Export" file-name="fileNameFunction" work-sheet="'תלוש_במייל'" classes="pull-left margin-left-4p"></div>

                                    <div ng-if="pcueList.length > 0" class="btn btn-info btn-ef btn-ef-3 btn-ef-3c mb-10 pull-left margin-left-4p" ng-click="SendOfferByMail()" classes="pull-left margin-left-4p">
                                        <i class="fa fa-share"></i>&#8287;&#8287;
                                        שלח מייל למשתמשים לא רשומים
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>
    <!--EmailPaycheck-->
    <!--DailyUsage-->
    <form name="StatisticsForm" ng-model="Statistics" novalidate ng-submit="GetDailyUsageStatistics()" ng-show="controllerState === 'DailyUsage'">
        <ng-include src="'../../scripts/views/partials/statistics-templates/DailyUsage-fieldset.html'"></ng-include>
    </form>
    <!--DailyUsage-->
    <fieldset>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="responsive-table-rapper">
                    <!--EmailPaycheck-->
                    <ng-include src="'../../scripts/views/partials/statistics-templates/EmailPaycheck-Table.html'" ng-if="controllerState === 'EmailPaycheck'"></ng-include>
                    <!--EmailPaycheck-->
                    <!--LogInLog-->
                    <ng-include src="'../../scripts/views/partials/statistics-templates/LogInLog-Table.html'" ng-if="controllerState === 'LogInLog'"></ng-include>
                    <!--LogInLog-->
                    <!--101Form-->
                    <ng-include src="'../../scripts/views/partials/statistics-templates/101Form-Table.html'" ng-if="controllerState === '101Form'"></ng-include>
                    <!--101Form-->
                    <!--DailyUsage-->
                    <ng-include src="'../../scripts/views/partials/statistics-templates/DailyUsage-Table.html'" ng-if="controllerState === 'DailyUsage'"></ng-include>
                    <!--DailyUsage-->
                </div>

                <!--pagination-->
                <ng-include src="'../../scripts/views/partials/statistics-templates/pagination.template.html'"></ng-include>
                <!--pagination-->
            </div>
        </div>
    </fieldset>
</div>
