﻿<div class="actions-rapper purple">
    <form-header></form-header>
    <form name="partForm" ng-model="tofesModel" novalidate ng-submit="nextForm()">
        <fieldset class="section">
            <!-- start tax exemption/credit section -->
            <ng-include src="'../../Scripts/views/partials/form.tax-exemption-section.html'"></ng-include>
            <!-- end tax exemption/credit section -->
        </fieldset>
        <button type="submit" id="submit" class="hidden" value=""></button>
    </form>
    <Buttons></Buttons>
</div>