﻿<div class="col-md-12 content-wrapper main-content clear-fix azure">
    <form name="UserDetailsForm" ng-model="UserDetails" novalidate ng-submit="Submit()">
        <fieldset class="section">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <legend>
                        עדכון פרטי התקשרות
                    </legend>
                </div>
                <div class="panel-body" ng-if="!UserDetails.showValidation && UserDetails.ToUpDate == null">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3">
                                    <label for="UserDetails.gender" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>
                                        בחר נתון לעדכון
                                    </label>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <live-checkbox ng-model="UserDetails.ToUpDate" input-text="אימייל,נייד"></live-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body" ng-if="UserDetails.ToUpDate != null">
                    <div class="col-md-12 col-xs-12" ng-if="!UserDetails.showValidation && UpdateTypes === 4">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-3">
                                        <label for="UserDetails.gender" class="control-label">
                                            החלף נתון לעדכון
                                        </label>
                                    </div>
                                    <div class="col-sm-8 col-xs-8">
                                        <live-checkbox ng-model="UserDetails.ToUpDate" input-text="אימייל,נייד"></live-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!UserDetails.showValidation && !UserDetails.ToUpDate">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-10 col-xs-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-8">
                                            <label for="UserDetails.Cell" class="control-label">
                                                <p>לאחר הכנסת מספר נייד תקין יש ללחוץ על כפתור `עדכון`,</p>
                                                <p>קוד אימות ישלח לכתובת המייל המוגדרת במערכת.</p>
                                                <p>את קוד האימות יש להזין בשדה 'קוד אימות' וללחוץ `השלם`,</p>
                                                <p>על מנת להשלים את התהליך.</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-3">
                                            <label for="UserDetails.Cell" class="control-label">
                                                <abbr title="שדה חובה" class="required">
                                                    <i class="fa fa-asterisk">
                                                    </i>
                                                </abbr>
                                                מספר נייד פרטי
                                            </label>
                                        </div>
                                        <div class="col-sm-8 col-xs-8">
                                            <input ng-model="UserDetails.Cell" name="Cell" type="tel" placeholder="מספר נייד" class="form-control" Phone ng-required="!UserDetails.ToUpDate">
                                            <div class="validation-message">
                                                <div class="form-error">
                                                    <div class="required-validation">שדה חובה</div>
                                                    <div class="custom-validation">מספר טלפון לא תקין</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!UserDetails.showValidation && UserDetails.ToUpDate">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-10 col-xs-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-8">
                                            <label for="UserDetails.Cell" class="control-label">
                                                <p>לאחר הכנסת כתובת מייל תקינה  יש ללחוץ על כפתור `עדכון`,</p>
                                                <p>קוד אימות ישלח למספר הנייד המוגדר במערכת.</p>
                                                <p>את קוד האימות יש להזין בשדה 'קוד אימות' וללחוץ `השלם`,</p>
                                                <p>על מנת להשלים את התהליך.</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-3">
                                            <label for="UserDetails.Email" class="control-label">
                                                <abbr title="שדה חובה" class="required">
                                                    <i class="fa fa-asterisk">
                                                    </i>
                                                </abbr>
                                                כתובת אימייל פרטית
                                            </label>
                                        </div>
                                        <div class="col-sm-8 col-xs-8">
                                            <input ng-model="UserDetails.Email" name="Email" type="email" placeholder="אימייל" class="form-control" ng-required="UserDetails.ToUpDate">
                                            <div class="validation-message">
                                                <div class="form-error">
                                                    <div class="required-validation">שדה חובה</div>
                                                    <div class="email-validation">מייל לא תקין</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                        <!--<div class="col-md-6 col-xs-12" ng-if="!UserDetails.showValidation">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-3">
                                        <label for="UserDetails.Email" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>
                                            הזן סיסמה
                                        </label>
                                    </div>
                                    <div class="col-sm-8 col-xs-8">
                                        <input ng-model="credentials.password" name="password" type="password" placeholder="סיסמה" class="form-control input-md" required ng-minlength="6" ng-maxlength="20" autocomplete="new-password" Password>
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="minlength-validation">מינימום 6 תווים</div>
                                                <div class="maxlength-validation">מקסימום 20 תווים</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-md-6 col-xs-12" ng-if="UserDetails.showValidation">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-3">
                                        <label for="UserDetails.token" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>קוד אימות
                                        </label>
                                    </div>
                                    <div class="col-sm-8 col-xs-8">
                                        <input ng-model="UserDetails.token" name="token" type="text" placeholder="קוד אימות" class="form-control" required ng-minlength="6" ng-maxlength="6" ng-change="changeToken()">
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="minlength-validation">מינימום 6 תווים</div>
                                                <div class="maxlength-validation">מקסימום 6 תווים</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 uucd">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12" style="">
                                        <button type="submit" id="send" class="btn btn-primary pull-left">
                                            <i ng-if="!UserDetails.showValidation && UserDetails.ToUpDate">
                                                שלח קוד אימות לנייד
                                            </i>
                                            <i ng-if="!UserDetails.showValidation && !UserDetails.ToUpDate">
                                                שלח קוד אימות למייל
                                            </i>
                                            <i ng-if="UserDetails.showValidation">שלח</i>
                                        </button>
                                        <button ng-if="UserDetails.showValidation && UserDetails.add_showValidation" type="submit" id="resend" class="btn btn-primary pull-right margin-right-11-em">
                                            <i>שלח קוד אימות שנית</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

</div>