﻿<div class="col-md-12 content-wrapper main-content clear-fix azure">

    <form name="UpdatePasswordForm" ng-model="UserCredentials" novalidate ng-submit="updatePassword()" ng-show="$controllerState === 'ResetCurrentPassword'">
        <!-- update password section -->
        <ng-include src="'../../Scripts/views/partials/usermune.update-password-form.html'"></ng-include>
        <!-- end update password section -->
    </form>

    <form name="NotificationForm" ng-model="Notification" novalidate ng-submit="sendNotification()" ng-show="$controllerState === 'HumanResourcesNotify' && ReturnNotification.ID < 0">
        <!-- update password section -->
        <ng-include src="'../../Scripts/views/partials/usermune.human-resources-notify.html'"></ng-include>
        <!-- end update password section -->
    </form>
    <form name="ContactUsForm" ng-model="Notification" novalidate ng-submit="sendContactUs()" ng-show="$controllerState === 'ContactUs' && ReturnNotification.ID < 0">
        <!-- update password section -->
        <ng-include src="'../../Scripts/views/partials/usermune.contact-us.html'"></ng-include>
        <!-- end update password section -->
    </form>



    <fieldset class="section notification" ng-show="ReturnNotification.ID > 0">
        <div class="panel panel-info">
            <div class="panel-heading">
                <legend>
                    פנייתך התקבלה בהצלחה.
                </legend>
            </div>
            <div class="panel-body">
                <div class="col-md-12" style="display: flex;">
                    <div class="col-md-6 col-sx-12">
                        <div class="form-group">
                            <div class="col-md-12 col-sx-12" ng-show="$controllerState === 'HumanResourcesNotify'">
                                <p>פנייתך בנושא "{{ReturnNotification.subject}}"</p>
                                <p>נרשמה והועברה ל - {{ReturnNotification.toMail.name}}
                                <p>בתפקידו/ה כ - {{ReturnNotification.toMail.job}}.</p>
                                <p>מספר פנייה: {{ReturnNotification.ID}}.</p>
                                <p>בברכה,</p>
                                <p>צוות התמיכה.</p>
                            </div>
                            <div class="col-md-12 col-sx-12" ng-show="$controllerState === 'ContactUs'">
                                <p>פנייתך בנושא "{{ReturnNotification.subject}}"</p>
                                <p>נרשמה והועברה למנהל האתר.</p>

                                <p>מספר פנייה: {{ReturnNotification.ID}}.</p>
                                <p>בברכה,</p>
                                <p>צוות התמיכה.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sx-12" style="align-items: stretch;">
                        <table class="table" ng-show="NotificationUploader.queue && NotificationUploader.queue.length > 0" style="margin-bottom: 35px;" wt-responsive-table>
                            <thead>
                                <tr>
                                    <th>קבצים שנשלחו</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in NotificationUploader.queue">
                                    <td>
                                        <strong>{{ item.file.name }}</strong>
                                    </td>
                                    <td>
                                        <div ng-show="NotificationUploader.isHTML5" ng-thumb="{ file: item._file, height: 55, pdf:item }"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-11  col-sx-11" style="position: absolute;bottom: 0px;">
                            <p class="left">
                                <button type="button" ng-click="ReturnFromNotification()">חזור</button>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>

</div>