﻿<div class="col-md-12 content-wrapper main-content clear-fix reddish">
    <form name="AuthenticatedUserForm" ng-model="UserCredentials" novalidate ng-submit="authenticat()" ng-show="$controllerState === 'AuthenticatedUserLogin'">
        <fieldset class="section">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <legend>
                        פרטים אישיים
                    </legend>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="UserCredentials.idNumber" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>תעודת זהות
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input name="idNumber" type="text" ng-model="UserCredentials.idNumber" placeholder="תעודת זהות" class="form-control" IDNumber required>
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="UserCredentials.email" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>אימייל
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="UserCredentials.email" name="email" type="email" placeholder="אימייל" class="form-control" required ng-minlength="3" ng-maxlength="30">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="email-validation">מייל לא תקין</div>
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 3 תווים</div>
                                            <div class="maxlength-validation">מקסימום 30 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="UserCredentials.fathersName" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>
                                        שם משפחה
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="UserCredentials.lastName" name="lastName" type="text" placeholder="שם משפחה" class="form-control" required ng-minlength="2" ng-maxlength="20">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 2 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="UserCredentials.firstName" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>
                                        שם פרטי
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="UserCredentials.firstName" name="firstName" type="text" placeholder="שם פרטי" class="form-control" required ng-minlength="2" ng-maxlength="20">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 2 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="UserCredentials.city" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>
                                        יישוב
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="UserCredentials.city" name="city" type="text" placeholder="יישוב" class="form-control" required ng-minlength="2" ng-maxlength="20">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 2 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="UserCredentials.street" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>
                                        רחוב
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="UserCredentials.street" name="street" type="text" placeholder="רחוב" class="form-control" required ng-minlength="2" ng-maxlength="20">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="minlength-validation">מינימום 2 תווים</div>
                                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="UserCredentials.phone" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>
                                        טלפון
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="UserCredentials.phone" name="phone" type="tel" placeholder="טלפון" class="form-control" Phone required>
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="custom-validation">מספר טלפון לא תקין</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="UserCredentials.cell" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>
                                        נייד
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <input ng-model="UserCredentials.cell" name="cell" type="tel" placeholder="נייד" class="form-control" Phone required>
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                            <div class="custom-validation">מספר טלפון לא תקין</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" id="submit" class="btn btn-primary pull-left">עדכן</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>