﻿<div class="col-md-12 content-wrapper main-content clear-fix reddish">
    <form name="UpdateDetailsForm" ng-model="UserDetails" novalidate ng-submit="updateUser()" ng-if="$controllerState === 'UpdateUser'">
        <!-- start update user section -->
        <ng-include src="'../../Scripts/views/partials/update-user.html'"></ng-include>
        <!-- end update user section -->
    </form>

    <form name="UpdateDetailsForm" ng-model="UserDetails" novalidate ng-submit="updatePartner()" ng-if="$controllerState === 'UpdatePartner'">
        <!-- start update user section -->
        <ng-include src="'../../Scripts/views/partials/update-partner.html'"></ng-include>
        <!-- end update user section -->
    </form>

    <form name="UpdateEducationForm" ng-model="EducationList" novalidate ng-submit="updateEducation()" ng-if="$controllerState === 'UpdateEducation'">
        <!-- start update user section -->
        <ng-include src="'../../Scripts/views/partials/update-user-education.html'"></ng-include>
        <!-- end update user section -->
    </form>
    
    <form name="UpdateChildrenForm" ng-model="ChildrenList" novalidate ng-submit="updateChildren()" ng-if="$controllerState === 'UpdateChildren'">
        <!-- start update user section -->
        <ng-include src="'../../Scripts/views/partials/update-user-children.html'"></ng-include>
        <!-- end update user section -->
    </form>
</div>