﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<style>
    table, table.table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
        width: 100%;
        height: 100%;
        border: 0px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>
<table class="table" cellspacing="0" cellpadding="0" style="direction: rtl;text-align: right;font-size: 17px;width: 100%;height: 100%;border: 0px;">
    <tbody>
        <tr>
            <td style="background-color: #2AB49D;"></td>
            <td style="background-color: #2AB49D;"></td>
            <td style="background-color: #2AB49D;"></td>
            <td></td>
        </tr>
        <tr>
            <td width="100px" style="background-color: #2AB49D;"></td>
            <td width="550px" style="background-color:#2AB49D;position: relative;">
                <img class="happy_birthday" src="http://@Model.Domain/Content/Images/bd.jpg" alt="תיק עובד באינטרנט" title="יום הולדת שמח" width="550" />
                <p style="padding: 0;margin: 0;position: absolute;top: 377px;right: 125px;font-size: 21px;">
                    @Model.fullName
                </p>
            </td>
            <td width="100px" style="background-color: #2AB49D;"></td>
            <td></td>
        </tr>
        <tr>
            <td style="background-color: #2AB49D;"></td>
            <td style="background-color: #2AB49D;"></td>
            <td style="background-color: #2AB49D;"></td>
            <td></td>
        </tr>


        @*<tr style="direction: rtl;text-align: right;font-size: 17px;background-color: #2AB49D;">

                <td colspan="3" style="direction: rtl;text-align: right;font-size: 17px;">
                    <div class="bd" style="background-color: #FFF;width: 450px;height: 500px;margin: 0 auto;position: relative;">
                        <img class="happy_birthday" src="http://@Model.Domain/Content/Images/happy_birthday.png" alt="תיק עובד באינטרנט" title="יום הולדת שמח" style="width: 508px;margin-right: -36px;margin-top: -33px;" />
                        <img class="otomazia_logo_color" src="http://@Model.Domain/Content/Images/otomazia_logo_color.png" alt="תיק עובד באינטרנט" title="לוגו" style="position: absolute;top: 20px;left: 20px;width: 85px;" />
                        <div class="shadow-right" style="position: absolute;top: 22px;right: -36px;width: 36px;height: 100%;opacity: 0.45;background: #323232;background: -moz-linear-gradient(left, #323232 0%, #575656 50%, #8A8A8A 100%);background: -webkit-linear-gradient(left, #323232 0%, #575656 50%, #8A8A8A 100%);background: linear-gradient(to right, #323232 0%, #575656 50%, #8A8A8A 100%);transform: skew(0deg,50deg);"></div>
                        <div class="shadow-bottom" style="position: absolute;bottom: -45px;left: 19px;height: 45px;width: 100%;opacity: 0.45;background: #323232;background: -moz-linear-gradient(left, #323232 0%, #575656 50%, #8A8A8A 100%);background: -webkit-linear-gradient(left, #323232 0%, #575656 50%, #8A8A8A 100%);background: linear-gradient(to right, #323232 0%, #575656 50%, #8A8A8A 100%);transform: skew(40deg,0deg);"></div>
                        <div class="text" style="padding: 0 30px 0 0;margin-top: -15px;font-size: 23px;position: relative;height: 223px;background-image: url(/Content/Images/dots.jpg);background-repeat: no-repeat;background-position: 0px 0px;background-size: 75% 100%;">
                            <p style="margin: 15px 0px;">
                                שלום @Model.fullName
                            </p>
                            <p style="margin: 15px 0px;">
                                <b>
                                    שפע ברכות ואיחולים ליום הולדתך!
                                </b>
                                <br />
                                הרבה אושר, בריאות והצלחה בכל אשר יחפוץ ליבך
                            </p>
                            <p style="margin: 15px 0px;">
                                בברכה.
                                <br />
                                <b>
                                    מערכת "תיק עובד באינטרנט"
                                </b>
                            </p>
                        </div>
                    </div>

                </td>

            </tr>*@
    </tbody>

</table>
