﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrap {{accessability.definitions.Size}}">
    <div class="main-view-content clear-fix">
        <div class="right-side">
            <header>
                <a href="#/" ui-sref="Home" class="logo"></a>
            </header>
            <section class="pc-login-pannel">
                <!--start login section-->
                <login ng-if="!templateHandel.isMobile"></login>
                <!--end login section-->
                <!--start side mune section-->
                <menu></menu>
                <!--end side mune section-->
            </section>
        </div>

        <div class="left-side">
            <!--start side mune section-->
            <menu></menu>
            <!--end side mune section-->

            <header>
                <a href="#/" ui-sref="Home" class="logo" title="דף הבית"></a>
                <div>
                    <a href="#/" ui-sref="Home" title="דף הבית">
                        <img src="/Content/Images/logo.png" alt="לוגו אוטומציה">
                    </a>

                    <div class="icons-rapper">
                        <a ng-if="!$$credentials.loggedIn" href="#/" ui-sref="UserMenu.ContactUs" title="צור קשר">צור קשר</a>
                        <a ng-if="$$credentials.loggedIn" href="#/" ui-sref="UserMenu.HumanResourcesNotify" title="צור קשר">צור קשר</a>

                        <div>
                            <i ng-show="$$credentials.loggedIn">|</i>
                            <i class="fa fa-power-off" ng-show="$$credentials.loggedIn" ng-click="publish('CatchTransmitLogout', true, true)" aria-hidden="true"></i>
                        </div>
                        <i>|</i>
                        <div class="accessability-rapper">
                            <i class="fa fa-wheelchair" aria-hidden="true" ng-click="accessability.open()" title="נגישות"></i>
                            <div class="accessability" ng-class="{open:accessability.show}" aria-hidden="true">
                                <div class="back-tap" ng-if="accessability.show" ng-click="accessability.open()"></div>
                                <div class="item">
                                    <a title="גופן נגיש" tabindex="5" class="font-anlarg" ng-click="accessability.handleFontsLarg()">א</a>
                                    <a title="גופן נגיש" tabindex="6" class="font-medium" ng-click="accessability.handleFontsMedium()">א</a>
                                    <a title="גופן נגיש" tabindex="7" class="font-regular" ng-click="accessability.handleFontsRegular()">א</a>
                                </div>
                            </div>
                        </div>
                        <i>|</i>
                        <a href="/Content/PDFs/מדריך_למשתמש_לעובד.pdf" target="_blank" title="מדריך למשתמש">
                            <i class="fa fa-question" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>

                <div class="mobile-menu">
                    <i class="fa fa-bars" aria-hidden="true" ng-click="publish('showMobileMenu')"></i>
                </div>
            </header>
            <div class="mobile-login-pannel">
                <!--start login section-->
                <login ng-if="templateHandel.isMobile"></login>
                <!--end login section-->
            </div>

            <div class="leftsidewrapper">
                <section class="content-wrapper main-content clear-fix">

                    <!-- start BreadCrumb -->
                    <bread-crumbs></bread-crumbs>
                    <!-- end BreadCrumb -->

                    <div ui-view></div>
                </section>
            </div>
        </div>
    </div>
    <footer>
        <a href="#/" ui-sref="Home" class="logo"></a>
        <span>
            © 2001 תיק עובד - כל הזכויות שמורות לאוטומציה החדשה
        </span>
    </footer>
</div>