﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                שליחת טופס 101 לפי ארגון
            </legend>
        </div>
    </div>
</fieldset>