﻿<table wt-responsive-table class="table table-striped center form-101-table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                שם ארגון
            </th>
            <th>
                פעיל
            </th>
            <th>
                101
            </th>
            <th>
                שנה
            </th>
            <th>
                נשלחו
            </th>
            <th>
                ממתינים
            </th>
        </tr>
        <tr ng-show="pcueList.length > 0 || pcueHolderList.length > 0">
            <th></th>
            <th>
                <input ng-model="Search.Name" ng-change="Filter101Statistics()" name="SearchName" type="text" placeholder="שם" class="form-control" ng-minlength="1" ng-maxlength="20" />
            </th>

            <!-- **** -->
            <th>
                <div is="0" class="btn-group m-b checkbox-box">
                    <a ng-class="Search.MunicipalityIsActive ? 'active btn-success' : 'btn-default'" class="btn" ng-click="FilterActiveMunicipality(true)">כן</a>
                    <a ng-class="Search.MunicipalityIsActive === false ? 'active btn-success' : 'btn-default'" class="btn" ng-click="FilterActiveMunicipality(false)">לא</a>
                    <a ng-class="Search.MunicipalityIsActive === null ? 'active btn-success' : 'btn-default'" class="btn" ng-click="FilterActiveMunicipality(null)">בחר</a>
                </div>
            </th>
            <th>
                <div is="0" class="btn-group m-b checkbox-box">
                    <a ng-class="Search.ActiveForm ? 'active btn-success' : 'btn-default'" class="btn" ng-click="FilterActiveForm(true)">כן</a>
                    <a ng-class="Search.ActiveForm === false ? 'active btn-success' : 'btn-default'" class="btn" ng-click="FilterActiveForm(false)">לא</a>
                    <a ng-class="Search.ActiveForm === null ? 'active btn-success' : 'btn-default'" class="btn" ng-click="FilterActiveForm(null)">בחר</a>
                </div>
            </th>
            <!-- **** -->

            <th>
                <select name="selectedYear" ng-model="Search.Year" ng-change="Filter101Statistics()">
                    <option label="סנן..." value="0" selected></option>
                    <option ng-repeat="item in yearsList track by $index" label="{{item.name}}" value="{{item.id}}"></option>
                </select>
            </th>
            <th>
                <ul ng-click="selectActive()">
                    <li ng-show="Search.IsActive == 2">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.IsActive == 1">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.IsActive == 0">
                        ?
                    </li>
                </ul>
            </th>
            <th>
                <ul ng-click="selectSent()">
                    <li ng-show="Search.WasSent == 2">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.WasSent == 1">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.WasSent == 0">
                        ?
                    </li>
                </ul>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pce in pcueList | ShowList:$Pager">
            <td>{{pce.Rashut}}<br />({{pce.ID}})</td>
            <td>{{pce.Name}}</td>
            <td>
                <live-checkbox ng-model="pce.Active" input-type="switch" input-text="כן,לא" input-disabled="1"></live-checkbox>
            </td>
            <td>
                <live-checkbox ng-model="pce.Allow101" input-type="switch" input-text="כן,לא" input-disabled="1"></live-checkbox>
            </td>
            <td>{{pce.Form_Year}}</td>
            <td>{{pce.Oks}}</td>
            <td>{{pce.Not_Ok}}</td>
        </tr>
    </tbody>
</table>