﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                הצג לפי
            </legend>
        </div>
        <div class="panel-body">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8 col-xs-8">
                            <ui-select multiple ng-model="$SM.selectedList" theme="bootstrap" close-on-select="true" title="בחר ארגון" remove-selected="false" on-select="selectMulti()" on-remove="selectMulti()" limit="9">
                                <ui-select-match placeholder="חפש ארגון...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="municipality in MunicipalitiesList | filter:$select.search">
                                    {{municipality.name}}
                                </ui-select-choices>
                            </ui-select>

                        </div>

                        <input type="hidden" name="hidden_value" required ng-model="municipality_hidden_value" />
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">שדה חובה</div>
                                <div class="custom-validation">ניתן לבחור עד 9 ארגונים בלבד.</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8 col-xs-8">
                            <input type="text" name="daterange" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" id="submit" class="btn btn-primary pull-left margin-left-4p">חפש</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>