﻿<table wt-responsive-table class="table table-striped center email-paycheck-table" >
    <thead>
        <tr>
            <th>#</th>
            <th>
                <div>ת.ז.</div>
            </th>
            <th>
                <div>שם מלא</div>
            </th>
            <th>
                <div>כתובת מייל</div>
            </th>
            <th>
                <div>תאריך רישום</div>
            </th>
            <!--<th>
                <div>תאריך עדכון</div>
            </th>-->
            <th>
                <div>תלוש במייל</div>
            </th>
            <th>
                <div>תאריך שליחה</div>
            </th>

            <th>
                <div>קוד סיום</div>
            </th>
            <th>
                <div>סיבת סיום</div>
            </th>
            <th>
                <div>תאריך סיום</div>
            </th>
        </tr>
        <tr ng-show="pcueList.length > 0 || pcueHolderList.length > 0">
            <th></th>
            <th>
                <input ng-model="Search.IdNumber" ng-change="FilterStatistics()" name="SearchIdNumber" type="text" placeholder="ת.ז." class="form-control" ng-minlength="1" ng-maxlength="20" />
            </th>
            <th>
                <input ng-model="Search.Name" ng-change="FilterStatistics()" name="SearchName" type="text" placeholder="שם" class="form-control" ng-minlength="1" ng-maxlength="20" />
            </th>
            <th>
                <input ng-model="Search.Email" ng-change="FilterStatistics()" name="SearchEmail" type="text" placeholder="כתובת מייל" class="form-control" ng-minlength="1" ng-maxlength="20" />
            </th>
            <th></th>
            <!--<th></th>-->
            <th>
                <ul ng-click="selectActive()">
                    <li ng-show="Search.IsActive == 2">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.IsActive == 1">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.IsActive == 0">
                        ?
                    </li>
                </ul>
            </th>
            <th>
                <ul ng-click="selectSent()">
                    <li ng-show="Search.WasSent == 2">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.WasSent == 1">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.WasSent == 0">
                        ?
                    </li>
                </ul>
            </th>

            <th><!--terminationCause-->
                <ul ng-click="selectCause()">
                    <li ng-show="Search.T_Cause == 2">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.T_Cause == 1">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.T_Cause == 0">
                        ?
                    </li>
                </ul>
            </th>
            <th>
                <!--terminationReason-->                
            </th>
            <th><!--terminationDate-->
                <ul ng-click="selectDate()">
                    <li ng-show="Search.T_Date == 2">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.T_Date == 1">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </li>
                    <li ng-show="Search.T_Date == 0">
                        ?
                    </li>
                </ul>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pce in pcueList | ShowList:$Pager">
            <td>
                <span ng-if="pce.archive_Id !== null">{{pce.archive_Id}}<br /></span>({{pce.user_Id}})
            </td>
            <td>{{pce.idNumber}}</td>
            <td>{{pce.user_Name}}</td>
            <td>{{pce.email}}</td>
            <td class="date-column">{{pce._createdDate}}</td>
            <!--<td class="date-column">{{pce._updateDate}}</td>-->

            <td ng-if="pce.activeRecord">
                <i class="fa fa-check" aria-hidden="true"></i>
            </td>
            <td ng-if="!pce.activeRecord">
                <i class="fa fa-times" aria-hidden="true"></i>
            </td>

            <td ng-if="pce.sendDate !== null" class="date-column">{{pce._senddate}}</td>
            <td ng-if="pce.sendDate === null">לא נשלח</td>
            
            
            <td>{{pce.terminationCause}}</td>
            <td>{{pce.terminationReason}}</td>
            <td>{{pce._terminationDate}}</td>

        </tr>
    </tbody>
</table>