﻿<ul class="pagination pagination-sm" ng-show="$Pager.MaxPages > 1 && $Pager.pagerList.length > 1">
    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber > 3">
        <a href="#" ng-click="$Pager.PageNumber = 1">
            ראשון
        </a>
    </li>
    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber > 1">
        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber - 1">
            הקודם
        </a>
    </li>

    <li ng-repeat="page in $Pager.pagerList | pagingFilter:$Pager"
        ng-class="{active: $Pager.PageNumber === page}">
        <a href="#" ng-click="$Pager.PageNumber = page">{{page}}</a>
    </li>

    <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber < $Pager.MaxPages">
        <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber + 1">
            הבא
        </a>
    </li>
    <li ng-show="$Pager.MaxPages > 4 && $Pager.PageNumber < ($Pager.MaxPages - 3)">
        <a href="#" ng-click="$Pager.PageNumber = $Pager.MaxPages">
            אחרון
        </a>
    </li>
</ul>