﻿<div class="col-md-12 content-wrapper main-content clear-fix reddish">
    <fieldset class="section">
        <div class="panel panel-info">
            <div class="panel-heading">
                <legend>
                    {{Page.subject}}
                </legend>
            </div>
            <div class="panel-body">
                <dynamic-html html="Page.template" class="dynamic-html"></dynamic-html>
            </div>
        </div>
    </fieldset>
</div>