﻿<div class="col-md-12 content-wrapper main-content clear-fix azure">

    <form name="UpdateUEPCStatus" ng-model="USPCTE" novalidate ng-submit="UEPCStatusSubmit()" ng-class="USPCTE.PanelToShow == 3? 'hidden' : ''">
        <!-- update password section -->
        <ng-include src="'../../Scripts/views/forms/email.paycheck-form.html'"></ng-include>
        <!-- end update password section -->
    </form>
    
    <fieldset class="section UpdateUEPCStatus" ng-if="USPCTE.PanelToShow == 3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <legend>
                    תלוש שכר מאובטח במייל
                </legend>
            </div>
            <div class="panel-body">
                <div class="col-md-12 col-xs-12">
                    <h4>מתקדמים לתלוש שכר במייל, חוסכים נייר ומפחיתים פסולת!</h4>

                    <div>
                        <p>מאחר ולא עדכנת במערכת כתובת מייל תקינה, אין באפשרותך להרשם לשירות 'תלוש במייל'.</p>
                        <p>על-מנת להרשם לשירות זה, עליך לעדכן כתובת מייל.</p>
                        <p>את הכתובת ניתן לעדכן במערכת 'תיק עובד' <a ui-sref="UserMenu.UpdateContactDetails">בלינק הזה</a>, או לפנות למחלקת שכר/כא בארגון על-מנת לעדכן בפורטל המעסיק.</p>
                        <p>בתודה,</p>
                        <p>אוטומציה החדשה</p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>