﻿<div class="actions-rapper income purple">
    <form-header></form-header>
    <form name="partForm" ng-model="tofesModel" novalidate ng-submit="nextForm()">
        <fieldset class="section">
            <!-- start employer income section -->
            <ng-include src="'../../Scripts/views/partials/form.employer-income.html'"></ng-include>
            <!-- end employer income section -->
            <!-- start other income section -->
            <ng-include src="'../../Scripts/views/partials/form.other-income.html'"></ng-include>
            <!-- end other income section -->
        </fieldset>
        <button type="submit" id="submit" class="hidden" value=""></button>
    </form>
    <Buttons></Buttons>
</div>