﻿<div class="actions-rapper purple">
    <form-header></form-header>
    <form name="partForm" ng-model="tofesModel" novalidate ng-submit="nextForm()">
        <!-- start employer section -->
        <ng-include src="'../../Scripts/views/partials/form.employer-section.html'"></ng-include>
        <!-- end employer section -->
        <!-- start employee section -->
        <ng-include src="'../../Scripts/views/partials/form.employee-section.html'"></ng-include>
        <!-- end employee section -->
        <!-- start static changes during year section -->
        <ng-include src="'../../Scripts/views/partials/form-static.changes-during-year.html'"></ng-include>
        <!-- end static changes during year section -->
        <button type="submit" id="submit" class="hidden" value=""></button>
    </form>
    <Buttons></Buttons>
</div>