﻿<div>
    <div ng-show="$errorType === 1">
        <h1>התרחשה שגיאה במהלך ביצוע הפעולה!</h1>
        <h4>אנא נסה/י לאתחל את המשתמש שוב מהקישור במייל, <br /> במידה ועדיין לא הצלחת יש ליצור קשר עם מנהל האתר<br /> בטופס <a href="#" ui-sref="ContactUs" class="contact">צור קשר</a> באתר או דמקום העבודה.</h4>
        <a href="#" ui-sref="ContactUs" class="contact"><span>&ltrif;</span>&nbsp; צור קשר</a>
    </div>
    <div ng-show="$errorType === 0">
        <h1>התרחשה שגיאה במהלך ביצוע הפעולה!</h1>
        <h3>אנא נסה להתחבר לאתר מחדש.</h3>
        <h3>או צור קשר עם מנהל האתר</h3>
        <h5>
            <address>
                <b><a href="mailto:tikoved@iula.org.il">tikoved@iula.org.il</a></b>
            </address>
        </h5>
    </div>
</div>