﻿<div class="actions-rapper purple tax-adjustment">
    <form-header></form-header>
    <form name="partForm" ng-model="tofesModel" novalidate ng-submit="nextForm()">
        <fieldset class="section">            
            <!-- start other income section -->
            <ng-include src="'../../Scripts/views/partials/Retired.other-income.html'"></ng-include>
            <!-- end other income section -->
            <!-- start tax coordination section -->
            <ng-include src="'../../Scripts/views/partials/Retired.tax-coordination.html'"></ng-include>
            <!-- end tax coordination section -->
        </fieldset>
        <button type="submit" id="submit" class="hidden" value=""></button>
    </form>
    <Buttons></Buttons>
</div>