﻿<div class="child-template-wrapper">
    <div class="col-md-12">
        <div class="col-md-4 col-xs-12">
            <div class="form-element">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="child.firstName" class="control-label">
                                <abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>שם
                            </label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <input ng-model="child.firstName" name="child_firstName{{decimalToHexString(child.ID)}}" type="text" class="form-control" required>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-element">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="child.idNumber" class="control-label">
                                <abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>מספר זהות
                            </label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <input ng-model="child.idNumber" name="child_idNumber{{decimalToHexString(child.ID)}}" type="tel" class="form-control" IDNumber required>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-element">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="child.birthDate" class="control-label">
                                <abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>תאריך לידה
                            </label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="input-group ui-datepicker-group">
                                <span aria-hidden="true" class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" ng-model="child.birthDate" name="child_birthDate{{decimalToHexString(child.ID)}}" new-options="NewOptions" class="form-control date-control" ui-datepicker required />
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="custom-validation">פורמט תאריך לא תקין</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 parent-checkbox-wrapper">
        <div class="col-md-4 col-xs-12">
            <div class="form-element">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label">
                                    <live-checkbox input-text="כן,לא" ng-model="child.homeLiving" input-name="child_homeLiving{{decimalToHexString(child.ID)}}"></live-checkbox>
                                    <span><b>הילד נמצא בחזקתי</b></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-element">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label">
                                    <live-checkbox input-text="כן,לא" ng-model="child.childBenefit" input-name="child_childBenefit{{decimalToHexString(child.ID)}}"></live-checkbox>
                                    <span><b>אני מקבל/ת בגינו/ה קצבת ילדים מביטוח לאומי</b></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-element">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label">
                                    <live-checkbox input-text="זכר,נקבה" ng-model="child.gender" input-name="child_gender{{decimalToHexString(child.ID)}}"></live-checkbox>
                                </label>
                                
                                <input type="hidden" name="child_hidden_gender_{{decimalToHexString(child.ID)}}" ng-model="child.gender" required />
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>