﻿<div class="email-paycheck-popup">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                תלוש שכר מאובטח במייל
            </legend>
        </div>
    </div>
    <form name="emailPaycheck" class="emailPaycheck" novalidate ng-submit="AgreeToMail()">
        <h4>מתקדמים לתלוש שכר במייל, חוסכים נייר ומפחיתים פסולת!</h4>

        <div>
            יותר נוח, יותר בטוח ויותר קל לקבל  תלוש שכר במייל היישר למחשב, התלוש מגיע תמיד בזמן, אינו הולך לאיבוד ותמיד זמין לצפיה ולהדפסה.<br />
            בדרך זו נוכל לחסוך נייר, זהו צעד חיוני למען סביבתינו ותרומה צנועה של כל אחד מאיתנו למען איכות הסביבה.
        </div>
        <div>כל מה שנדרש ממך הוא לאשר כי:</div>
        <p class="bold">
            <input type="checkbox" class="fa" name="iAgree" ng-model="iAgree" />
            <i class="fa" ng-class="iAgree? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true"></i>
            אני מעוניין לקבל תלוש שכר במייל כתחליף לעותק מודפס, לכתובת הדואר האלקטרוני שלי:
        </p>

        <div>
            <p class="emails">{{$$credentials.email}}</p>
            <button type="submit" id="Submit_emailPaycheck">מאשר</button>
        </div>
        <div>
            הבהרה: בכל שלב ניתן יהיה לחזור ולקבל עותק מודפס.
            <a href="/Content/PDFs/תלוש_במייל.pdf" target="_blank">מסמך הצהרה לאישור תלוש במייל</a>
        </div>
    </form>
</div>