﻿.main-content.admin .panel-info table.responsive tbody tr td {
    vertical-align: middle;
}

    .main-content.admin .panel-info table.responsive tbody tr td .admin-action-btn {
        width: 97%;
        margin-bottom: 7px;
    }

    .main-content.admin .panel-info table.responsive tbody tr td:last-child .admin-action-btn {
        width: 87%;
        margin-bottom: 0px;
    }

    .main-content.admin .panel-info table.responsive tbody tr td .admin-action-btn:last-child {
        margin-bottom: 2px;
    }


.table.table-striped.email-paycheck-table tbody tr:last-child, .main-content.admin .table.table-striped tbody.no-last tr:last-child {
    background-color: inherit;
}

.table.table-striped.email-paycheck-table tbody tr:nth-last-child(1):nth-child(odd), .main-content.admin .table.table-striped tbody.no-last tr:nth-last-child(1):nth-child(odd) {
    background-color: #E8E7E8;
}

.table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:first-child, .table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(9), .table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(6) {
    width: 6%;
}

.table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(8) {
    width: 9%;
}

.table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(2), .table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(3), .table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(4) {
    width: 12%;
}

.table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(5), .table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(7), .table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(9), .table.table-striped.email-paycheck-table > thead > tr:nth-child(1) > th:nth-child(10) {
    width: 10%;
}

.table.table-striped.email-paycheck-table > thead tr:nth-child(2) th {
    padding: 0;
}

.table.table-striped.email-paycheck-table tbody tr td {
    padding: 0.3%;
}

    .table.table-striped.email-paycheck-table tbody tr td:first-child {
        font-size: 0.8em;
        font-weight: 600;
        padding: 0.3%;
        text-align: center;
    }

    .table.table-striped.email-paycheck-table tbody tr td:nth-child(8), .table.table-striped.email-paycheck-table tbody tr td:nth-child(10) {
        font-size: 0.8em;
        font-weight: 600;
        padding: 0.3%;
        text-align: center;
    }

    .table.table-striped.email-paycheck-table tbody tr td.date-column {
        direction: ltr;
        font-size: 1em;
        padding: 0.5%;
    }

.table.table-striped.email-paycheck-table tbody tr td {
    word-break: break-word;
}


.table.table-striped.form-101-table tbody tr td {
    text-align: center;
}

    .table.table-striped.form-101-table thead tr th:first-child, .table.table-striped.form-101-table tbody tr td:first-child {
        text-align: center;
    }

.main-content.admin table.table.table-striped.form-101-table > thead > tr:nth-child(1) > th {
    width: 13%;
}

    .main-content.admin table.table.table-striped.form-101-table > thead > tr:nth-child(1) > th:first-child {
        width: 10%;
    }

    .main-content.admin table.table.table-striped.form-101-table > thead > tr:nth-child(1) > th:nth-child(2) {
        width: 25%;
    }

.main-content.admin table.table.table-striped.form-101-table > thead tr th div.checkbox-box {
    width: 95%;
}

    .main-content.admin table.table.table-striped.form-101-table > thead tr th div.checkbox-box a {
        width: 33%;
    }

.main-content.admin table.forms-view-table > thead > tr:nth-child(1) th:nth-child(2), .main-content.admin table.forms-view-table > thead > tr:nth-child(1) th:nth-child(3),
.main-content.admin table.forms-view-table > thead > tr:nth-child(1) th:nth-child(4), .main-content.admin table.forms-view-table > thead > tr:nth-child(1) th:nth-child(5),
.main-content.admin table.forms-view-table > thead > tr:nth-child(1) th:nth-child(6), .main-content.admin table.forms-view-table > thead > tr:nth-child(1) th:nth-child(7),
.main-content.admin table.forms-view-table > thead > tr:nth-child(1) th:nth-child(8) {
    width: auto;
}

.main-content.admin table.forms-view-table > tbody tr:last-child {
    background-color: inherit;
}

.main-content.admin table.forms-view-table > tbody tr:nth-last-child(1):nth-child(odd) {
    background-color: #E8E7E8;
}

.main-content.admin .panel-info > .panel-heading legend b {
    color: #5C59CA;
    font-style: italic;
    font-weight: 900;
    font-size: 22px;
}

.main-content.admin .col-md-4 .col-sm-12.mr {
    margin-right: 13px;
}

.main-content.admin .col-sm-12.savebtn {
    padding-right: 13%;
}

.main-content.admin .col-md-12.padd10 {
    padding: 10px;
}

.main-content.admin .col-md-8.fix {
    padding-right: 35px;
    padding-left: 0;
}

.main-content.admin .col-md-12 .col-sm-9 {
    margin-right: 4%;
}

    .main-content.admin .col-md-12 .col-sm-9 input.lft {
        text-align: left;
        direction: LTR;
    }

.main-content.admin .col-md-12.thp > i {
    font-size: 30px;
    cursor: pointer;
}

.main-content.admin .col-md-12.thp .col-md-10.th {
    margin-right: 9%;
}
