﻿.ui-datepicker-group {
    font-family: Helvetica Neue,Arial,sans-serif;
    font-size: 13.5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    float: left;
    clear: right;
    position: relative;
}

    .ui-datepicker-group input {
        border-radius: 0;
        display: table-cell;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
    }

.ui-widget.ui-widget-content {
    /*width: 19%;*/
    width: auto;
}

.ui-datepicker {
    width: 25em;
    padding: 0.4em 0.4em 0;
    display: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    text-align: center;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    float: right;
    margin-left: 10px !important;
}

    .ui-datepicker select.ui-datepicker-month:last-child, .ui-datepicker select.ui-datepicker-year:last-child {
        margin-left: 0px;
    }

.main-content.admin .col-sm-8.col-xs-8 input.month-year-input {
    height: 34px;
    width: 125px;
}

.main-content.admin .col-sm-8.col-xs-8 span.month-picker-open-button {
    height: 28px;
    width: 28px;
    vertical-align: top;
    margin-top: 3px;
    margin-right: 2px;
    text-indent: 0;
    font-size: 0;
}
