﻿@font-face {
    font-family: 'simple';
    src: url('/Content/Fonts/SimpleCLM-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'simple';
    src: url('/Content/Fonts/SimpleCLM-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'fontsawesome';
    src: url('/Content/Fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('/Content/Fonts/fontawesome-webfont.svg') format('svg'), url('/Content/Fonts/fontawesome-webfont.ttf') format('truetype'), url('/Content/Fonts/fontawesome-webfont.woff') format('woff'), url('/Content/Fonts/FontAwesome.otf') format('opentype');
}

@font-face {
    font-family: 'Adequate-ExtraLight';
    src: url('/Content/Fonts/Adequate-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'icomoon';
    src: url('/Content/Fonts/icomoon.eot') format('embedded-opentype'), url('/Content/Fonts/icomoon.svg') format('svg'), url('/Content/Fonts/icomoon.ttf') format('truetype'), url('/Content/Fonts/icomoon.woff') format('woff');
}

@font-face {
    font-family: 'ionicons';
    src: url('/Content/Fonts/ionicons.eot') format('embedded-opentype'), url('/Content/Fonts/ionicons.svg') format('svg'), url('/Content/Fonts/ionicons.ttf') format('truetype'), url('/Content/Fonts/ionicons.woff') format('woff');
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: translateY(0%);
    }

    50% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: translateY(50%);
    }

    100% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: translateY(0%);
    }
}

@keyframes slideDown {
    0% {
        transform-origin: 0 0;
        transform: translateY(0%);
    }

    50% {
        transform-origin: 0 0;
        transform: translateY(50%);
    }

    100% {
        transform-origin: 0 0;
        transform: translateY(0%);
    }
}
