﻿legend aside.drop-down-container input.month-year-input input[type=radio], input[type=checkbox] {
    outline-color: transparent;
    border-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}

input[type=checkbox] {
    margin: 0;
}

input[type=checkbox], input[type=radio] {
    box-shadow: none;
}

.checkbox label, .radio label {
    display: inline-block;
    width: 100%;
}

    .checkbox label, .radio label input[type=radio] {
        top: -4px;
    }

        .checkbox label, .radio label span, .checkbox label span {
            margin-right: 20px;
        }

            .no-margin, .radio label span span.no-margin, .checkbox label span span.no-margin {
                margin: 0;
            }

.no-padding {
    padding: 0;
}

legend div:nth-child(2n) {
    font-size: 19px;
    line-height: 28px;
}

legend div:last-child {
    font-size: 17px;
    line-height: 25px;
}

legend aside.drop-down-container {
    width: 190px;
    float: left;
    padding: 0 3px;
    margin: -7px 3px 0;
}

    legend aside.drop-down-container h5 {
        float: right;
    }

    legend aside.drop-down-container > div {
        float: left;
        margin-top: 5px;
    }

        legend aside.drop-down-container > div > aside {
            width: 125px;
            margin-top: 3px;
        }

    legend aside.drop-down-container input.month-year-input {
        width: 70px;
        padding: 0px;
        margin: 3px 0 0 0;
    }

    legend aside.drop-down-container .month-picker-open-button {
        vertical-align: middle;
        overflow: hidden;
    }

    legend aside.drop-down-container.short {
        width: 40px;
        margin: 0;
        padding: 0;
    }

        legend aside.drop-down-container.short a {
            width: 100%;
            padding: 0px 13px;
            font-size: 24px;
            line-height: 24px;
        }

.month-picker table {
    direction: rtl;
}

div.month-picker span.ui-button-icon {
    vertical-align: baseline;
    margin: -2px 4px 6px -6px;
}

table.responsive thead tr {
    background-color: #CCCCCC;
}


table.last-blue tbody tr:last-child {
    background-color: #9BD8EA;
}

/*table.responsive tbody tr:last-child {
    background-color: #9BD8EA;
}*/

.table-striped.education > tbody tr td{
    direction:ltr;
}

.table-striped.education > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped.education > tbody > tr:nth-of-type(even) {
    background-color: inherit;
}

.table.education.full {
    width: 100%;
}

.table.education.short {
    width: 50%;
}

table.responsive tr td {
    direction: ltr;
}

table.responsive tr td, table.responsive tr th {
    text-align: right;
    padding-right: 4.5em;
    font-size: 1.1em;
    font-family: inherit;
}

table.center tr th, table.center tr td {
    text-align: center;
}

    table.center tr th:first-child, table.center tr td:first-child {
        text-align: right;
    }

div.responsive-table-rapper {
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}

    div.responsive-table-rapper:first-child {
        margin: 0 0 10px 0;
    }

    div.responsive-table-rapper:last-child {
        margin: 10px 0 0 0;
    }

    div.responsive-table-rapper h5 {
        padding: 0 0 4px;
        margin: 0;
    }

    div.responsive-table-rapper table.responsive tr > th:first-child span {
        display: none;
    }

table.responsive tr td, table.responsive tr th {
    padding-right: 1.5%;
}

    table.responsive tr td:first-child, table.responsive tr th:first-child {
        padding-left: 1%;
    }

.actions-rapper .col-md-1, .actions-rapper .col-md-2, .actions-rapper .col-md-3, .actions-rapper .col-md-4, .actions-rapper .col-md-5, .actions-rapper .col-md-6, .actions-rapper .col-md-7, .actions-rapper .col-md-8, .actions-rapper .col-md-9, .actions-rapper .col-md-10, .actions-rapper .col-md-11, .actions-rapper .col-md-12,
fieldset.section .col-md-1, fieldset.section .col-md-2, fieldset.section .col-md-3, fieldset.section .col-md-4, fieldset.section .col-md-5, fieldset.section .col-md-6, fieldset.section .col-md-7, fieldset.section .col-md-8, fieldset.section .col-md-9, fieldset.section .col-md-10, fieldset.section .col-md-11, fieldset.section .col-md-12 {
    float: right;
}

    fieldset.section .col-md-4 datepicker, fieldset.section .col-md-6 datepicker, fieldset.section .col-md-8 datepicker, fieldset.section .col-md-10 datepicker {
        margin-bottom: 2px;
    }

.actions-rapper .col-sm-1, .actions-rapper .col-sm-10, .actions-rapper .col-sm-11, .actions-rapper .col-sm-12, .actions-rapper .col-sm-2, .actions-rapper .col-sm-3, .actions-rapper .col-sm-4, .actions-rapper .col-sm-5, .actions-rapper .col-sm-6, .actions-rapper .col-sm-7, .actions-rapper .col-sm-8, .actions-rapper .col-sm-9,
fieldset.section .col-sm-1, fieldset.section .col-sm-10, fieldset.section .col-sm-11, fieldset.section .col-sm-12, fieldset.section .col-sm-2, fieldset.section .col-sm-3, fieldset.section .col-sm-4, fieldset.section .col-sm-5, fieldset.section .col-sm-6, fieldset.section .col-sm-7, fieldset.section .col-sm-8, fieldset.section .col-sm-9 {
    float: right;
}

.actions-rapper input[type=checkbox], .actions-rapper input[type=radio] {
    box-shadow: none;
}

fieldset.section .input-group .form-control {
    margin-bottom: 2px;
}

fieldset.section .col-sm-5 > span {
    font-weight: 600;
    font-size: 14px;
}

abbr.required i.fa-asterisk {
    color: red;
    font-size: 10px;
}

div.checkbox-box a {
    height: 36px;
    font-size: 12px;
    color: #555;
    text-indent: 5px;
    font-family: inherit;
}

fieldset.section .input-group .form-control, fieldset.section .input-group .form-control:not(:first-child):not(:last-child), fieldset.section .input-group-addon:not(:first-child):not(:last-child), fieldset.section .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 4px 0px 0px 4px;
    margin-bottom: 0;
}

fieldset.section .input-group-addon:first-child, .actions-rapper .input-group-addon:first-child {
    border-left: 0;
    border-radius: 0px 4px 4px 0px;
    border-right: 1px solid #ccc;
}

fieldset.section textarea.form-control {
    font-weight: normal;
    font-size: 12px;
    color: #012;
}

fieldset.section .row input.form-control {
    /*font-size: 12px;*/
    font-size: 1.1em;
    color: #012;
}

fieldset.section .row label.control-label {
    margin-top: 6px;
}

fieldset.section.notification div.row p {
    font-size: 15px;
    font-weight: 500;
    margin: 0.5% 0 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #E8E7E8;
}

.fileinput-button {
    position: relative;
}

    .fileinput-button input[type=file] {
        position: absolute;
        width: 106px;
        height: 32px;
        padding: 0;
        margin: 0;
        top: 0px;
        right: 0;
        opacity: 0;
    }

/* **** slider **** */
.slider {
    overflow: hidden;
}

.slideup, .slidedown {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.slidedown {
    max-height: 270px;
    overflow-x: hidden;
}

    .slidedown.longer {
        max-height: 405px;
    }

    .slidedown.long500 {
        max-height: 500px;
    }

.sp-alpha-handle, .sp-color, .sp-dragger, .sp-hue, .sp-sat, .sp-slider, .sp-top-inner, .sp-val {
    position: absolute;
}

.sp-alpha, .sp-alpha-handle, .sp-clear, .sp-container, .sp-container button, .sp-container.sp-dragging .sp-input, .sp-dragger, .sp-preview, .sp-replacer, .sp-slider {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.sp-slider {
    top: 0;
    cursor: pointer;
    height: 3px;
    left: -1px;
    right: -1px;
    border: 1px solid #000;
    background: #fff;
    opacity: .8;
}

.overflowhidden {
    overflow: hidden;
}

.overflowinherit {
    overflow: inherit;
}

.max-height-inherit {
    max-height: inherit;
}
/* **** slider **** */

iframe.block-ui-overlay-iframe, iframe.bgiframe {
    display: none;
}

div.month-picker span.ui-button-icon {
    margin: -5px -8px 3px 0px;
}

.password-message-rapper {
    float: right;
    width: auto;
    background-color: #DAD8D8;
    border-radius: 5px;
    padding: 1.4em 2.2em;
    font-style: oblique;
}

.welcome-message-rapper {
    float: right;
    width: auto;
    background-color: #F5F4F4;
    border-radius: 5px;
    padding: 1.4em 3.3em;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

    .welcome-message-rapper p.pd {
        color: #049cc3;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        margin: 0.5% 0;
    }

    .welcome-message-rapper p.pd-error {
        color: #bd362f;
    }

.reset-password-rapper {
    width: 100%;
    float: right;
    position: relative;
    min-height: 1px;
    margin: 15px 0 5px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-11-em {
    margin-right: 11em;
}

.margin-left-4p {
    margin-left: 4%;
}

.panel-heading.attestation legend {
    font-style: italic;
    margin-bottom: 12px;
}

.panel-heading.attestation legend, .panel-heading.attestation h4 {
    padding: 0 6px;
}

    .panel-heading.attestation legend > h4:nth-child(2), .panel-heading.attestation legend > h4:nth-child(3) {
        color: #FB8290;
    }

.btn.floating-button {
    position: fixed;
    bottom: 9.2%;
    left: 10.2%;
}


table.municipality-outer-table tr td[colspan="9"] {
    background-color: #9BD8EA;
}

table.municipality-outer-table.rtl-inputs tr td input {
    direction: rtl;
}

.municipalities.content-wrapper.main-content div.panel-body {
    padding: 15px 5px;
}

table.municipality-outer-table.responsive tr th, table.municipality-outer-table.responsive tr td {
    padding: 1% 0.75%;
}

table.municipality-inner-table {
    width: 100%;
    direction: rtl;
}

    table.municipality-inner-table tr th, table.municipality-inner-table tr td {
        width: 25%;
        text-align: right;
        vertical-align: top;
    }

        table.municipality-inner-table tr td label {
            font-weight: 500;
        }

.groups-ul li {
    width: 20%;
    float: right;
}

.groups-ul .groups-ul-div {
    float: right;
    font-weight: 700;
    line-height: 25px;
}

.groups-ul li > span.groups-ul-div {
    padding-left: 14px;
}

.groups-ul label {
    padding: 7px 7px;
    float: right;
}

.form-control[disabled].color-control, .form-control[readonly].color-control, fieldset[disabled] .form-control.color-control {
    background-color: initial;
}

.col-md-12.uucd .col-sm-12.col-xs-12 {
    padding-left: 60px;
}

    .col-md-12.uucd .col-sm-12.col-xs-12 button {
        margin-left: 10px;
    }

/*itai process pages custom style*/

.process-panel {
    max-height: 716px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.process tr th {
    text-align: center;
}

table.responsive.process tr td {
    direction: rtl;
}

.no-result {
    margin: 0 auto;
    text-align: center;
}

.mishtamshim-form {
    color: orange;
}

.mishtamesh-form {
    padding: 10px 32px 0px 0px;
    color: darkblue;
    /*padding: 10px 0px;
    display: table-cell;
    border-top: 1px solid darkred;
    border-bottom: 1px solid darkred;*/
}

.comment {
    height: 36px;
    box-shadow: 0px 0px 0.5px 0px #012;
    resize: none;
    overflow: hidden;
    min-height: 36px;
    max-height: 150px;
    width: 100%;
}

.my-processes-filters {
    text-align: center;
}

.ui-datepicker {
    z-index: 2 !important;
}

.filters {
    display: flex;
    justify-content: center;
}

.filter-item {
    padding: 5px 25px;
    cursor: pointer;
}

.filter-element {
    display: flex;
    justify-content: center;
    padding: 25px 0px 25px 50px;
}

.date-filter {
    padding: 0px 10px;
}

.filter-select {
    width: 20%;
    margin: 0 20px;
}

.filter-title {
    color: #00A0B4;
    font-size: 15px;
    padding: 0px 0px 8px 0px;
    font-weight: 600;
}

.filter-active {
    box-shadow: 0px 6px 3px -2px #65D5ED;
    border-bottom: 1px solid #65D5ED;
    margin: 0px 19px 0px 19px;
}

.filter-default {
    margin: 0 14px;
    box-shadow: 0 3px 2px -3px #65D5ED;
}

.excel-table {
    float: left;
    margin: 2px 0;
    cursor: pointer;
    padding: 25px 0px;
}

#unitManagerOrUser_dropdown {
    overflow-y: auto;
    max-height: 250px;
}

#unitManager_dropdown {
    overflow-y: auto;
    max-height: 250px;
}

#academicInst_dropdown {
    overflow-y: auto;
    max-height: 250px;
}

#usersList_dropdown {
    overflow-y: auto;
    max-height: 250px;
}

.process-field {
    height: 36px;
}

.non-overflow {
    overflow-y: hidden;
}

table.process table.details tr {
    background-color: #FFF;
}

table.process table.details {
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    background-color: #FFF;
}

table.process .details-div {
    width: 66%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #FFF;
}

table.process table.details span {
    float: right;
    direction: rtl;
}

table.process table.details tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

table.process table.details tr td, table.process table.details tr th {
    padding-right: 8%;
}

table.process tbody tr {
    text-align: center;
}

    table.process tbody tr.tr-even {
        background-color: #F1F1F1;
    }

    table.process tbody tr.tr-odd {
        background-color: rgba(227,242,249, 0.5);
    }

    table.process tbody tr td {
        text-align: center;
    }

table.process tr td:last-child {
    max-width: 110px;
}

.widthless {
    width: 10%;
}

.move-to {
    width: 16%;
}

.proc-btn-success {
    color: #FFF;
    background-color: green;
}

.proc-btn-reject {
    color: #FFF;
    background-color: red;
}

table.process tr td select {
    direction: rtl;
    height: 36px;
}

.bold {
    font-weight: bold;
    font-size: 13px;
}

.no-bottom-border {
    border-bottom: none !important;
}

.no-top-border {
    border-top: none !important;
}

.underline {
    text-decoration: underline;
}

.process-card {
    width: 16%;
    margin: 0 auto;
}

.process-btn {
    width: 63px;
}
/*itai end*/

/* *** StatisticsController *** */
.main-content.admin table tr th, .main-content.admin table tr td {
    direction: rtl;
}

.main-content.admin table > tbody tr td:first-child, .main-content.admin table > tbody tr td:nth-child(3) {
    font-size: 12px;
}


.main-content.admin thead tr th {
    min-width: 45px;
}

.main-content.admin table > thead > tr:nth-child(1) > th:first-child {
    width: 7%;
}

.main-content.admin table > thead > tr:nth-child(1) > th:nth-child(2), .main-content.admin table > thead > tr:nth-child(1) > th:nth-child(3), .main-content.admin table > thead > tr:nth-child(1) > th:nth-child(4), .main-content.admin table > thead > tr:nth-child(1) > th:nth-child(5), .main-content.admin table > thead > tr:nth-child(1) > th:nth-child(7) {
    width: 17.5%;
}

/*.main-content.admin table > thead > tr:nth-child(1) > th:nth-child(4) {
    width: 17.5%;
}

.main-content.admin table > thead > tr:nth-child(1) > th:nth-child(5) {
    width: 17.5%;
}*/

.main-content.admin table > thead > tr:nth-child(1) > th:nth-child(6) {
    width: 10%;
}

/*.main-content.admin table > thead > tr:nth-child(1) > th:nth-child(7) {
    width: 17.5%;
}*/

.main-content.admin thead tr:first-child th {
    border-bottom-color: #CCC;
}

.main-content.admin thead tr:nth-child(2) th {
    border-top-color: #CCC;
}

.main-content.admin thead tr th input {
    width: 80%;
    display: inline;
}

.main-content.admin thead tr th div {
    width: 75%;
    display: inline-block;
    padding: 1px 2px;
}

.main-content.admin thead tr th ul {
    display: inline-block;
    width: 100%;
    height: 34px;
    width: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .main-content.admin thead tr th ul li {
        color: #999;
    }
/* *** StatisticsController *** */
