﻿.container.wizard-container {
    margin: 0px;
    padding: 0px;
    width: inherit;
}

.wizard-container {
}

    .wizard-container .wizard-template {
        margin-top: 40px;
    }

        .wizard-container .wizard-template .bs-wizard {
            margin: 0px;
            border-bottom: 0;
        }
/* *** Form Wizard *** */
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
        width: 16.6%;
        float: right;
    }

        .bs-wizard > .bs-wizard-step + .bs-wizard-step {
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
            color: #595959;
            font-size: 13px;
            margin-bottom: 5px;
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            background: #B0F9A3;
            top: 45px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
        }

            .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                content: ' ';
                width: 14px;
                height: 14px;
                background: #56EB26;
                border-radius: 50px;
                position: absolute;
                top: 8px;
                left: 8px;
            }

        .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 20px 0;
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #9DF28D;
            }

        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
            width: 50%;
            float: right;
        }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background-color: #f5f5f5;
        }

            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                opacity: 0;
            }

        .bs-wizard > .bs-wizard-step:first-child > .progress { /*left: 50%;*/
            right: 50%;
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:last-child > .progress {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }
/* *** Form Wizard *** */

.progress-bar-striped, .progress-striped .progress-bar, .progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress-bar {
    -webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -4px 0 rgba(0,0,0,.15);
}

.progress-bar {
    height: 14px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    -o-border-image: initial;
    border-image: initial;
}

.progress-bar {
    float: right;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #158CBA;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

    .progress-bar .uploaded {
        padding: 0;
        height: 14px;
        border-radius: 10px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
        -o-border-image: initial;
        border-image: initial;
    }



.progress-bar-striped, .progress-striped .progress-bar {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}

.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background-color: #28B62C;
}

.progress-striped .progress-bar-success {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.progress-striped .progress-bar-info, .progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.progress-bar-info {
    background-color: #75CAEB;
}

.progress-striped .progress-bar-info {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.progress-bar-warning {
    background-color: #FF851B;
}

.progress-striped .progress-bar-warning {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.progress-bar-danger {
    background-color: #FF4136;
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.bs-wizard > .bs-wizard-step:first-child > .progress + .bs-wizard-step {
    background: #000;
}

/* *** Mobile Form Wizard *** */
.bs-wizard > .bs-wizard-step > .bs-wizard-dot > span, .container.wizard-container .bs-wizard > .bs-wizard-step .bs-wizard-stepnum.mobile {
    display: none;
}

@media (max-width:800px) {
    .container.wizard-container .wizard-template {
        margin: 0;
    }

        .container.wizard-container .wizard-template .bs-wizard {
            margin: 5px 2px 0;
        }

    .container.wizard-container .bs-wizard > .bs-wizard-step {
        height: 45px;
    }

        .container.wizard-container .bs-wizard > .bs-wizard-step > .progress, .container.wizard-container .bs-wizard > .bs-wizard-step .bs-wizard-stepnum.desktop {
            display: none;
        }

        .container.wizard-container .bs-wizard > .bs-wizard-step .bs-wizard-stepnum.mobile {
            margin: 29px 0 0;
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 12px;
        }

            .container.wizard-container .bs-wizard > .bs-wizard-step .bs-wizard-stepnum.mobile span {
                display: none;
            }

        .container.wizard-container .bs-wizard > .bs-wizard-step.active .bs-wizard-stepnum.mobile span {
            display: initial;
        }

        .container.wizard-container .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            display: inline-block;
            margin: 0 auto;
            top: 0px;
            left: 25%;
            border-radius: 0;
            background: #B691C5;
            color: #FFF;
            border: 1px solid #dbdbdb;
            font-size: 19px;
            text-align: center;
        }

        .container.wizard-container .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background: #FFF;
            color: #dbdbdb;
        }

        .container.wizard-container .bs-wizard > .bs-wizard-step.active > .bs-wizard-dot,
        .container.wizard-container .bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot {
            background: #B691C5;
            color: #FFF;
        }

        .container.wizard-container .bs-wizard > .bs-wizard-step > .bs-wizard-dot > span {
            display: initial;
        }

        .container.wizard-container .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
            display: none;
        }
}
/* *** Mobile Form Wizard *** */
