﻿.m-signature-pad {
    margin: 0px auto;
    position: relative;
    font-size: 10px;
    width: 100%;
    height: 440px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
    border-radius: 4px;
}

    .m-signature-pad:before, .m-signature-pad:after {
        position: absolute;
        z-index: -1;
        content: "";
        width: 40%;
        height: 10px;
        left: 20px;
        bottom: 10px;
        background: transparent;
        -webkit-transform: skew(-3deg) rotate(-3deg);
        -moz-transform: skew(-3deg) rotate(-3deg);
        -ms-transform: skew(-3deg) rotate(-3deg);
        -o-transform: skew(-3deg) rotate(-3deg);
        transform: skew(-3deg) rotate(-3deg);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    }

    .m-signature-pad:after {
        left: auto;
        right: 20px;
        -webkit-transform: skew(3deg) rotate(3deg);
        -moz-transform: skew(3deg) rotate(3deg);
        -ms-transform: skew(3deg) rotate(3deg);
        -o-transform: skew(3deg) rotate(3deg);
        transform: skew(3deg) rotate(3deg);
    }

.m-signature-pad--body {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 60px;
    border: 1px solid #f4f4f4;
}

    .m-signature-pad--body img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .m-signature-pad--body canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
        z-index: 10;
    }

        .m-signature-pad--body canvas.bk-canvas {
            z-index: 1;
        }

.m-signature-pad--footer {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 40px;
}

    .m-signature-pad--footer .description {
        color: #C3C3C3;
        text-align: center;
        font-size: 1.2em;
        margin-top: 1.8em;
    }

    .m-signature-pad--footer .button {
        position: absolute;
        bottom: 0;
    }

        .m-signature-pad--footer .button.clear {
            right: 0;
        }

        .m-signature-pad--footer .button.save {
            right: 0;
        }

@media screen and (max-width: 1024px) {
    .m-signature-pad {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        margin: 5%;
    }

    .m-signature-pad--body {
        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border: 0;
    }

        .m-signature-pad--body canvas.canvas {
            position: relative;
        }

    .m-signature-pad .m-signature-pad--footer {
        bottom: 0;
        height: 100%;
        top: 1px;
        z-index: 0;
    }

        .m-signature-pad .m-signature-pad--footer .button.clear {
            bottom: -40px;
            z-index: 10;
            background: none;
            border: 0;
            outline: 0;
            box-shadow: none;
            text-shadow: none;
        }

            .m-signature-pad .m-signature-pad--footer .button.clear span {
                background: none;
                color: #012;
                font-size: 17px;
                font-weight: 700;
            }

            .m-signature-pad .m-signature-pad--footer .button.clear:hover, .m-signature-pad .m-signature-pad--footer .button.clear:hover span {
                box-shadow: none;
                text-shadow: none;
                border: 0;
                outline: 0;
            }

            .m-signature-pad .m-signature-pad--footer .button.clear .fa.fa-eraser {
                margin-top: 11px;
            }

                .m-signature-pad .m-signature-pad--footer .button.clear .fa.fa-eraser:before {
                    content: "X";
                    color: #B691C5;
                }
}

@media screen and (max-width: 800px) {
    .m-signature-pad {
        margin: 3% 2%;
    }
}

@media screen and (max-width: 500px) {
}

@media screen and (max-height: 320px) {
    .m-signature-pad--body {
        left: 0;
        right: 0;
        top: 0;
        bottom: 32px;
    }

    .m-signature-pad--footer {
        left: 20px;
        right: 20px;
        bottom: 4px;
        height: 28px;
    }

        .m-signature-pad--footer .description {
            font-size: 1em;
            margin-top: 1em;
        }
}

.signature-pad-holder .wrapper {
    position: relative;
    width: 400px;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signature-pad-holder img {
    position: absolute;
    left: 0;
    top: 0;
}

.signature-pad-holder .signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 200px;
}


/* *** device *** */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .m-signature-pad {
        margin: 10%;
    }
}
/* *** device *** */
