﻿
.control-label .tooltip-bubble-handle,.text-info,.text-info:hover {
    color: #75CAEB
}

.tp-btn-unsaved-changes:before,.tooltip-bubble-handle {
    display: inline-block;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale
}

.tp-section>.tooltip-bubble-handle {
    position: absolute;
    top: 10px;
    left: 15px;
    right: auto
}

.tp-section>.panel>.panel-heading>.tooltip-bubble-handle {
    float: left
}

.tooltip-bubble-handle {
    cursor: pointer;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    position:relative;
}

.tooltip-bubble-handle:hover .popover, .tooltip-bubble-handle:hover .new-popover{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 50;
    display:inherit;
}

.tooltip-bubble-handle:before {
    content: "\f059";
}

.popover-content,.popover-title {
    word-wrap: break-word;
}

.tooltip.top-left .tooltip-arrow,.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857143;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    position: absolute;
    z-index: 1070;
    display: block;
    text-align: right;
    text-align: start;
    font-size: 12px;
    opacity: 0;
    filter: alpha(opacity=0)
}

.popover {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857143;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    background-clip: padding-box;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: right;
    text-align: start;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    color: #555;

    direction: ltr;
    overflow: auto;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 1.5s linear;
    -moz-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
    transition: all 1.5s linear;
}

.new-popover {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857143;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    background-clip: padding-box;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 276px;
    padding: 1px;
    text-align: right;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    color: #555;

    direction: ltr;
    overflow: auto;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 1.5s linear;
    -moz-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
    transition: all 1.5s linear;
}

.new-popover.top {
    margin-top: -10px
}

.new-popover.right {
    margin-left: 10px
}

.new-popover.bottom {
    margin-top: 10px
}

.new-popover.left {
    margin-left: -10px
}

.new-popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 4px 4px 0 0
}

.new-popover-content {
    padding: 9px 14px
}

.new-popover>.arrow,.new-popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.new-popover>.arrow {
    border-width: 11px
}

.new-popover>.arrow:after {
    border-width: 10px;
    content: ""
}

.new-popover.bottom>.arrow:after,.new-popover.left>.arrow:after,.new-popover.right>.arrow:after,.new-popover.top>.arrow:after {
    content: " "
}

.new-popover.top>.arrow {
    right: 50%;
    margin-right: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,.25);
    bottom: -11px
}

.new-popover.top>.arrow:after {
    bottom: 1px;
    margin-right: -10px;
    border-bottom-width: 0;
    border-top-color: #fff
}

.new-popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999;
    border-right-color: rgba(0,0,0,.25)
}

.new-popover.right>.arrow:after {
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #fff
}

.new-popover.bottom>.arrow {
    right: 50%;
    margin-right: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,.25);
    top: -11px
}

.new-popover.bottom>.arrow:after {
    top: 1px;
    margin-right: -10px;
    border-top-width: 0;
    border-bottom-color: #fff
}

.new-popover.left>.arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0,0,0,.25)
}

.new-popover.left>.arrow:after {
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff;
    bottom: -10px
}

.tooltip.in {
    opacity: .9;
    filter: alpha(opacity=90)
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0
}

.tooltip.right {
    margin-right: 3px;
    padding: 0 5px
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0
}

.tooltip.left {
    margin-right: -3px;
    padding: 0 5px
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    right: 50%;
    margin-right: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.top-left .tooltip-arrow {
    left: 5px
}

.tooltip.top-right .tooltip-arrow {
    right: 5px
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000
}

.tooltip.bottom .tooltip-arrow,.tooltip.bottom-left .tooltip-arrow,.tooltip.bottom-right .tooltip-arrow {
    border-width: 0 5px 5px;
    border-bottom-color: #000;
    top: 0
}

.tooltip.bottom .tooltip-arrow {
    right: 50%;
    margin-right: -5px
}

.tooltip.bottom-left .tooltip-arrow {
    left: 5px;
    margin-top: -5px
}

.tooltip.bottom-right .tooltip-arrow {
    right: 5px;
    margin-top: -5px
}