﻿.col-md-12.file-uploader{
    border: inherit;
}
.col-md-12.file-uploader > .col-md-8 table.table th, .col-md-12.file-uploader > .col-md-8 table.table td{
    width: 15%;
    text-align: center;
}
    .col-md-12.file-uploader > .col-md-8 table.table th:nth-child(1), .col-md-12.file-uploader > .col-md-8 table.table td:nth-child(1){
        width: 30%;
    }
    .col-md-12.file-uploader > .col-md-8 table.table th:nth-child(3), .col-md-12.file-uploader > .col-md-8 table.table td:nth-child(3){
        width: 20%;
    }
    .col-md-12.file-uploader > .col-md-8 table.table th:nth-child(5), .col-md-12.file-uploader > .col-md-8 table.table td:nth-child(5){
        width: 20%;
        text-align: left;
    }