﻿.actions-rapper abbr[data-original-title], .actions-rapper abbr[title] {
    border: none;
    text-decoration: none;
}

.block-ui-message, #toast-container * {
    direction: rtl;
}

.validation-message div {
    display: none;
}

.email-paycheck-popup form.emailPaycheck div.text div.validation-message {
    position: absolute;
    right: 1%;
    width: 100px;
    bottom: 50%;
}

.validation-message.uploader {
    position: absolute;
    right: 180px;
}

.form-error {
    float: left;
    background: #049cc3;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: -9px;
    text-align: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding: 3px 4px 3px 7px;
    font-size: 12px;
}

    .form-error:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #049cc3;
        position: absolute;
        bottom: -8px;
        left: 24px;
        z-index: 0;
    }

    .form-error > div:before {
        content: "*";
        color: red;
        padding: 0px 0px 0px 4px;
    }

.slider .form-error {
    left: 15px;
    top: -5px;
}

select.ng-dirty.ng-invalid-required + div.validation-message > div.form-error,
select.ng-submited.ng-invalid-required + div.validation-message > div.form-error,
form.ng-submitted select.ng-invalid-required + div.validation-message > div.form-error,
textarea.ng-dirty.ng-invalid-required + div.validation-message > div.form-error,
textarea.ng-submited.ng-invalid-required + div.validation-message > div.form-error,
form.ng-submitted textarea.ng-invalid-required + div.validation-message > div.form-error,
input.ng-dirty.ng-invalid-maxlength + div.validation-message > div.form-error,
input.ng-submited.ng-invalid-maxlength + div.validation-message > div.form-error,
input.ng-dirty.ng-invalid-email + div.validation-message > div.form-error,
input.ng-submited.ng-invalid-email + div.validation-message > div.form-error,
input.ng-dirty.ng-invalid-custom + div.validation-message > div.form-error,
input.ng-submited.ng-invalid-custom + div.validation-message > div.form-error,
input.ng-dirty.ng-invalid-range + div.validation-message > div.form-error,
input.ng-submited.ng-invalid-range + div.validation-message > div.form-error,
input.ng-dirty.ng-invalid-required + div.validation-message > div.form-error,
input.ng-submited.ng-invalid-required + div.validation-message > div.form-error,
input.multiple.ng-invalid-custom + div.validation-message > div.form-error,
input.required-length.ng-invalid-length + div.validation-message > div.form-error,
input.ng-dirty.ng-invalid-custom + div._720kb-datepicker-calendar + div.validation-message > div.form-error,
input.ng-submited.ng-invalid-custom + div._720kb-datepicker-calendar + div.validation-message > div.form-error,
input.ng-dirty.ng-invalid-required + div._720kb-datepicker-calendar + div.validation-message > div.form-error,
input.ng-submited.ng-invalid-required + div._720kb-datepicker-calendar + div.validation-message > div.form-error,
form.ng-submitted input.ng-invalid.ng-invalid-required + div.validation-message > div.form-error,
form.ng-submitted input.ng-invalid.ng-invalid-minlength + div.validation-message > div.form-error,
form.ng-submitted input.ng-invalid.ng-invalid-maxlength + div.validation-message > div.form-error,
form.ng-submitted input.ng-invalid.ng-invalid-custom + div.validation-message > div.form-error,
form.ng-submitted input.hasDatepicker.ng-dirty.ng-invalid-required + div.validation-message > div.form-error,
form.ng-submitted input.hasDatepicker.ng-submited.ng-invalid-required + div.validation-message > div.form-error,
select.ng-dirty.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
select.ng-submited.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
form.ng-submitted select.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
input.ng-dirty.ng-invalid-maxlength + div.validation-message > div.form-error div.maxlength-validation,
input.ng-submited.ng-invalid-maxlength + div.validation-message > div.form-error div.maxlength-validation,
textarea.ng-dirty.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
textarea.ng-submited.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
form.ng-submitted textarea.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
input.ng-dirty.ng-invalid-custom + div.validation-message > div.form-error div.custom-validation,
input.ng-submited.ng-invalid-custom + div.validation-message > div.form-error div.custom-validation,
input.ng-dirty.ng-invalid-range + div.validation-message > div.form-error div.range-validation,
input.ng-submited.ng-invalid-range + div.validation-message > div.form-error div.range-validation,
input.ng-submited.ng-invalid-max + div.validation-message > div.form-error div.max-validation,
input.ng-submited.ng-invalid-max + div.validation-message > div.form-error,
input.ng-dirty.ng-invalid-max + div.validation-message > div.form-error,
input.ng-dirty.ng-invalid-max + div.validation-message > div.form-error div.max-validation,
form.ng-submitted input.ng-invalid.ng-invalid-max + div.validation-message > div.form-error div.max-validation,
input.ng-dirty.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
input.ng-submited.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
input.hasDatepicker.ng-dirty.ng-invalid-required + div.validation-message > div.form-error div.custom-validation,
input.hasDatepicker.ng-submited.ng-invalid-required + div.validation-message > div.form-error div.custom-validation,
input.hasDatepicker.ng-dirty.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
input.hasDatepicker.ng-submited.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
input.multiple.ng-invalid-custom + div.validation-message > div.form-error div.custom-validation,
input.required-length.ng-invalid-length + div.validation-message > div.form-error div.length-validation,
input.ng-dirty.ng-invalid-custom + div._720kb-datepicker-calendar + div.validation-message > div.form-error div.custom-validation,
input.ng-submited.ng-invalid-custom + div._720kb-datepicker-calendar + div.validation-message > div.form-error div.custom-validation,
input.ng-dirty.ng-invalid-required + div._720kb-datepicker-calendar + div.validation-message > div.form-error div.required-validation,
input.ng-submited.ng-invalid-required + div._720kb-datepicker-calendar + div.validation-message > div.form-error div.required-validation,
input.ng-dirty.ng-invalid-email + div._720kb-datepicker-calendar + div.validation-message > div.form-error div.email-validation,
input.ng-submited.ng-invalid-email + div._720kb-datepicker-calendar + div.validation-message > div.form-error div.email-validation,
input.multiple.ng-invalid-email + div.validation-message > div.form-error div.email-validation,
input.ng-dirty.ng-invalid-email + div.validation-message > div.form-error div.email-validation,
input.ng-submited.ng-invalid-email + div.validation-message > div.form-error div.email-validation,
form.ng-submitted input.ng-invalid.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
form.ng-submitted input.ng-invalid.ng-invalid-minlength + div.validation-message > div.form-error div.minlength-validation,
form.ng-submitted input.ng-invalid.ng-invalid-maxlength + div.validation-message > div.form-error div.maxlength-validation,
form.ng-submitted input.ng-invalid.ng-invalid-custom + div.validation-message > div.form-error div.custom-validation,
.file-manager-popup input.ng-invalid + div.validation-message > div.form-error,
.file-manager-popup input.ng-invalid-required + div.validation-message > div.form-error div.required-validation,
.file-manager-popup input.ng-invalid.ng-invalid-minlength + div.validation-message > div.form-error div.minlength-validation,
.file-manager-popup input.ng-invalid.ng-invalid-maxlength + div.validation-message > div.form-error div.maxlength-validation,
.file-manager-popup input.ng-invalid.ng-invalid-custom + div.validation-message > div.form-error div.custom-validation,
form.admin input.ng-invalid.ng-invalid-minlength + div.validation-message > div.form-error,
form.admin input.ng-invalid.ng-invalid-minlength + div.validation-message > div.form-error div.minlength-validation,
form.admin input.ng-invalid.ng-invalid-maxlength + div.validation-message > div.form-error,
form.admin input.ng-invalid.ng-invalid-maxlength + div.validation-message > div.form-error div.maxlength-validation {
    display: inline;
    z-index: 100;
}

.file-manager-popup .form-error {
    top: -35px;
}

@media (max-width:800px) {
    /* *** login validation *** */
    .main-view-content .mobile-login-pannel form.ng-submitted input.ng-invalid,
    .main-view-content .mobile-login-pannel form input.ng-submitted.ng-invalid,
    .main-view-content .mobile-login-pannel form input.ng-dirty.ng-invalid {
        outline: 1px solid red;
        background-color: #f9ccc4;
    }

    .main-view-content .mobile-login-pannel form .form-error {
        background: 0 0;
        color: #fff;
        top: 33px;
        left: 0;
        right: 18px;
        width: calc(100% - 50px);
        text-align: right;
    }

        .main-view-content .mobile-login-pannel form .form-error:after {
            display: none;
        }

        .main-view-content .mobile-login-pannel form .form-error > div:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-weight: 700;
            content: "\f071";
        }
    /* *** login validation *** */

    form.ng-submitted select.ng-invalid-required + div.validation-message > div.form-error,
    /*input.ng-dirty*/
    input.ng-dirty.ng-invalid-custom + div.validation-message > div.form-error,
    input.ng-dirty.ng-invalid-required + div.validation-message > div.form-error,
    input.ng-dirty.ng-invalid-maxlength + div.validation-message > div.form-error,
    input.ng-dirty.ng-invalid-minlength + div.validation-message > div.form-error,
    input.ng-dirty.ng-invalid-email + div.validation-message > div.form-error,
    input.ng-dirty.ng-invalid-range + div.validation-message > div.form-error,
    input.ng-dirty.ng-invalid-length + div.validation-message > div.form-error,
    /*input.ng-submited*/
    input.ng-submited.ng-invalid-custom + div.validation-message > div.form-error,
    input.ng-submited.ng-invalid-required + div.validation-message > div.form-error,
    input.ng-submited.ng-invalid-maxlength + div.validation-message > div.form-error,
    input.ng-submited.ng-invalid-minlength + div.validation-message > div.form-error,
    input.ng-submited.ng-invalid-email + div.validation-message > div.form-error,
    input.ng-submited.ng-invalid-range + div.validation-message > div.form-error,
    input.ng-submited.ng-invalid-length + div.validation-message > div.form-error,
    /*form.ng-submitted*/
    form.ng-submitted input.ng-invalid + div.validation-message > div.form-error,
    form.ng-submitted input.ng-invalid.ng-invalid-required + div.validation-message > div.form-error,
    form.ng-submitted input.ng-invalid.ng-invalid-custom + div.validation-message > div.form-error,
    form.ng-submitted input.ng-invalid.ng-invalid-maxlength + div.validation-message > div.form-error,
    form.ng-submitted input.ng-invalid.ng-invalid-minlength + div.validation-message > div.form-error,
    form.ng-submitted input.ng-invalid.ng-invalid-email + div.validation-message > div.form-error,
    form.ng-submitted input.ng-invalid.ng-invalid-range + div.validation-message > div.form-error,
    form.ng-submitted input.ng-invalid.ng-invalid-length + div.validation-message > div.form-error {
        background: 0 0;
        color: #012;
        top: 33px;
        left: 0;
        right: 18px;
        width: 91%;
        text-align: left;
    }


    form.ng-submitted input.ng-invalid.multiple.mobile-multiple.ng-invalid-custom + div.validation-message > div.form-error,
    form.ng-submitted input.ng-invalid.multiple.mobile-multiple.ng-invalid-custom.ng-invalid-custom + div.validation-message > div.form-error,
    input.ng-submited.ng-invalid-custom.multiple.mobile-multiple + div.validation-message > div.form-error,
    input.multiple.mobile-multiple.ng-invalid-custom + div.validation-message > div.form-error,
    input.multiple.mobile-multiple.required-length.ng-invalid-length + div.validation-message > div.form-error {
        background: 0 0;
        color: #012;
        top: 95%;
        left: 0;
        right: 18px;
        width: 91%;
        text-align: left;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }

        form.ng-submitted input.ng-invalid + div.validation-message > div.form-error.other-incomes-validity,
        form.ng-submitted input.ng-invalid.ng-invalid-custom + div.validation-message > div.form-error.other-incomes-validity,
        input.ng-submited.ng-invalid-custom + div.validation-message > div.form-error.other-incomes-validity,
        input.multiple.mobile-multiple.required-length.ng-invalid-length + div.validation-message > div.form-error.other-incomes-validity {
            top: -7px;
        }

    form.ng-submitted input.ng-invalid + div.validation-message > div.form-error.hasIncomes {
        top: -25px;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }
    /*file-uploader*/
    form.ng-submitted input.ng-invalid + div.validation-message.uploader {
        display: inline !important;
    }

    form.ng-submitted select.ng-invalid-required + div.validation-message > div.form-error:after,
    input.ng-invalid + div.validation-message > div.form-error.other-incomes-validity > div > span,
    input.multiple.mobile-multiple.ng-invalid-custom + div.validation-message > div.form-error div.custom-validation > span,
    input.multiple.mobile-multiple.ng-invalid-custom + div.validation-message > div.form-error:after,
    input.required-length.ng-invalid-length + div.validation-message > div.form-error:after,
    /*input.ng-dirty*/
    input.ng-dirty.ng-invalid-custom + div.validation-message > div.form-error:after,
    input.ng-dirty.ng-invalid-required + div.validation-message > div.form-error:after,
    input.ng-dirty.ng-invalid-maxlength + div.validation-message > div.form-error:after,
    input.ng-dirty.ng-invalid-minlength + div.validation-message > div.form-error:after,
    input.ng-dirty.ng-invalid-email + div.validation-message > div.form-error:after,
    input.ng-dirty.ng-invalid-range + div.validation-message > div.form-error:after,
    input.ng-dirty.ng-invalid-length + div.validation-message > div.form-error:after,
    /*input.ng-submited*/
    input.ng-submited.ng-invalid-custom + div.validation-message > div.form-error:after,
    input.ng-submited.ng-invalid-required + div.validation-message > div.form-error:after,
    input.ng-submited.ng-invalid-maxlength + div.validation-message > div.form-error:after,
    input.ng-submited.ng-invalid-minlength + div.validation-message > div.form-error:after,
    input.ng-submited.ng-invalid-email + div.validation-message > div.form-error:after,
    input.ng-submited.ng-invalid-range + div.validation-message > div.form-error:after,
    input.ng-submited.ng-invalid-length + div.validation-message > div.form-error:after,
    /*form.ng-submitted*/
    form.ng-submitted input.ng-invalid + div.validation-message > div.form-error:after,
    form.ng-submitted input.ng-invalid.ng-invalid-required + div.validation-message > div.form-error:after,
    form.ng-submitted input.ng-invalid.ng-invalid-custom + div.validation-message > div.form-error:after,
    form.ng-submitted input.ng-invalid.ng-invalid-maxlength + div.validation-message > div.form-error:after,
    form.ng-submitted input.ng-invalid.ng-invalid-minlength + div.validation-message > div.form-error:after,
    form.ng-submitted input.ng-invalid.ng-invalid-email + div.validation-message > div.form-error:after,
    form.ng-submitted input.ng-invalid.ng-invalid-range + div.validation-message > div.form-error:after,
    form.ng-submitted input.ng-invalid.ng-invalid-length + div.validation-message > div.form-error:after {
        display: none;
    }

    form.ng-submitted select.ng-invalid-required + div.validation-message > div.form-error > div:before,
    input.multiple.mobile-multiple.ng-invalid-custom + div.validation-message > div.form-error > div:before,
    input.required-length.ng-invalid-length + div.validation-message > div.form-error > div:before,
    /*input.ng-dirty*/
    input.ng-dirty.ng-invalid-custom + div.validation-message > div.form-error > div:before,
    input.ng-dirty.ng-invalid-required + div.validation-message > div.form-error > div:before,
    input.ng-dirty.ng-invalid-maxlength + div.validation-message > div.form-error > div:before,
    input.ng-dirty.ng-invalid-minlength + div.validation-message > div.form-error > div:before,
    input.ng-dirty.ng-invalid-email + div.validation-message > div.form-error > div:before,
    input.ng-dirty.ng-invalid-range + div.validation-message > div.form-error > div:before,
    input.ng-dirty.ng-invalid-length + div.validation-message > div.form-error > div:before,
    /*input.ng-submited*/
    input.ng-submited.ng-invalid-custom + div.validation-message > div.form-error > div:before,
    input.ng-submited.ng-invalid-required + div.validation-message > div.form-error > div:before,
    input.ng-submited.ng-invalid-maxlength + div.validation-message > div.form-error > div:before,
    input.ng-submited.ng-invalid-minlength + div.validation-message > div.form-error > div:before,
    input.ng-submited.ng-invalid-email + div.validation-message > div.form-error > div:before,
    input.ng-submited.ng-invalid-range + div.validation-message > div.form-error > div:before,
    input.ng-submited.ng-invalid-length + div.validation-message > div.form-error > div:before,
    /*form.ng-submitted*/
    form.ng-submitted input.ng-invalid + div.validation-message > div.form-error > div:before,
    form.ng-submitted input.ng-invalid.ng-invalid-required + div.validation-message > div.form-error > div:before,
    form.ng-submitted input.ng-invalid.ng-invalid-custom + div.validation-message > div.form-error > div:before,
    form.ng-submitted input.ng-invalid.ng-invalid-maxlength + div.validation-message > div.form-error > div:before,
    form.ng-submitted input.ng-invalid.ng-invalid-minlength + div.validation-message > div.form-error > div:before,
    form.ng-submitted input.ng-invalid.ng-invalid-email + div.validation-message > div.form-error > div:before,
    form.ng-submitted input.ng-invalid.ng-invalid-range + div.validation-message > div.form-error > div:before,
    form.ng-submitted input.ng-invalid.ng-invalid-length + div.validation-message > div.form-error > div:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 700;
        content: "\f071";
    }

    form.ng-submitted select.ng-invalid-required,
    form.ng-submitted .panel.panel-info input.form-control.ng-invalid,
    form.ng-submitted .panel.panel-info input.form-control.ng-invalid.ng-invalid-required,
    form.ng-submitted .panel.panel-info input.form-control.ng-invalid.ng-invalid-minlength,
    form.ng-submitted .panel.panel-info input.form-control.ng-invalid.ng-invalid-maxlength,
    form.ng-submitted .panel.panel-info input.form-control.ng-invalid.ng-invalid-custom,
    form.ng-submitted .panel.panel-default input.form-control.ng-invalid,
    form.ng-submitted .panel.panel-default input.form-control.ng-invalid.ng-invalid-required,
    form.ng-submitted .panel.panel-default input.form-control.ng-invalid.ng-invalid-minlength,
    form.ng-submitted .panel.panel-default input.form-control.ng-invalid.ng-invalid-maxlength,
    form.ng-submitted .panel.panel-default input.form-control.ng-invalid.ng-invalid-custom {
        outline: red solid 1px;
        background-color: #f9ccc4;
    }

    form.ng-submitted .signature-pad-holder input.ng-invalid + div.validation-message > div.form-error,
    form.ng-submitted .signature-pad-holder input.ng-invalid.ng-invalid-required + div.validation-message > div.form-error,
    .signature-pad-holder input.ng-submited.ng-invalid-required + div.validation-message > div.form-error {
        top: -14px;
    }
}
