﻿<div class="col-xs-12">
    <div class="alert alert-info col-xs-12">
        <p>
            מספר הילדים מחושב אוטומטית מהנתונים שציינת בחלק ג'. הטופס סופר רק ילדים שציינת שהם בחזקתך.
        </p>
    </div>
    <!--form type 2018-->
    <div ng-if="tofesModel.FormType === 1">
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="children.length1" class="control-label">
                            מספר ילדים שנולדו בשנת המס ו/או שימלאו להם 18 שנים בשנת המס
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.child18}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="children.length2" class="control-label">
                            מספר ילדים שימלאו להם שנה אחת עד חמש שנים בשנת המס
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.ander5}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="children.length3" class="control-label">
                            מספר ילדים אחרים שטרם מלאו להם 19 שנים
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.ander19}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--form type 2019-->
    <div ng-if="tofesModel.FormType !== 1">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="children.length1" class="control-label">
                            מס' ילדים שנולדו בשנת המס:
                        </label>
                    </div>
                    <div class="col-sm-8 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.thisYear}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="children.length2" class="control-label">
                            מספר ילדים שימלאו להם שנה אחת עד חמש שנים בשנת המס:
                        </label>
                    </div>
                    <div class="col-sm-8 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.ander5}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="children.length3" class="control-label">
                            מס' ילדים שימלאו להם 6 שנים עד 17 שנים בשנת המס:
                        </label>
                    </div>
                    <div class="col-sm-8 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.sixTo17}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="children.length3" class="control-label">
                            מס' ילדים שימלאו להם 18 שנים בשנת המס:
                        </label>
                    </div>
                    <div class="col-sm-8 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.child18}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>