﻿<div class="form-group">
    <div class="col-md-4 col-xs-12">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <label for="startResidentDate" class="control-label">
                    <abbr title="שדה חובה" class="required">
                        <i class="fa fa-asterisk">
                        </i>
                    </abbr>מתאריך
                </label>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="input-group ui-datepicker-group">
                    <span aria-hidden="true" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" ng-model="tofesModel.taxExemption.settlementCredits.startResidentDate" new-options="sRdOptions" class="form-control date-control" ui-datepicker ng-required="tofesModel.taxExemption.isResident" />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <label for="settlement" class="control-label">
                    <abbr title="שדה חובה" class="required">
                        <i class="fa fa-asterisk">
                        </i>
                    </abbr>היישוב
                </label>
            </div>
            <div class="col-sm-12 col-xs-12">
                <angucomplete-alt id="settlement" input-name="settlement"
                                  placeholder="חפש עיר"
                                  pause="200"
                                  selected-object="tofesModel.taxExemption.settlementCredits.settlement"
                                  initial-value="tofesModel.taxExemption.settlementCredits.settlement"
                                  remote-api-handler="searchSettlement"
                                  remote-url-data-field="data"
                                  title-field="Name"
                                  search-fields="Name"
                                  minlength="2"
                                  text-no-results="אין תוצאות"
                                  field-required="tofesModel.taxExemption.isResident"
                                  text-searching="מחפש..."
                                  input-class="form-control form-control-small" />
            </div>
            <input type="hidden" name="hidden_settlement" ng-model="tofesModel.taxExemption.settlementCredits.settlement" class="form-control" ng-required="tofesModel.taxExemption.isResident">
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה חובה</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="row">

            <!-- start file uploader component -->
            <div class="col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="isaFiles" class="control-label">
                            אישור של הארגון ע"ג טופס 1312א
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 file-uploader col-xs-12">
                <div class="row">
                    <div class="col-sm-12 fileinput-button-div col-xs-12">
                        <span class="btn btn-success fileinput-button">
                            <i class="fa fa-cloud-upload"></i>
                            <span> צרף קובץ... </span>
                            <input type="file" nv-file-select="" ng-model="tofesModel.taxExemption.settlementCredits.isaFiles" uploader="isaUploader" multiple class="" ng-required="tofesModel.taxExemption.isResident && isaUploader.Files === 0">
                            <div class="validation-message uploader">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                </div>
                            </div>
                        </span>
                        <button type="button" class="btn btn-danger btn-s" ng-click="isaUploader.clearQueue()" ng-disabled="!isaUploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> מחק
                        </button>
                        <div>
                            התקדמות:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': isaUploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end file uploader component -->

        </div>
    </div>
</div>