﻿<div class="email-paycheck-popup">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                תלוש שכר מאובטח במייל
            </legend>
        </div>
    </div>
    <form name="emailPaycheck" class="emailPaycheck" novalidate ng-submit="AgreeToMail()">
        <h4>מתקדמים לתלוש שכר במייל, חוסכים נייר ומפחיתים פסולת!</h4>

        <div class="text">
            יותר נוח, יותר בטוח ויותר קל לקבל  תלוש שכר במייל היישר למחשב, התלוש מגיע תמיד בזמן, אינו הולך לאיבוד ותמיד זמין לצפיה ולהדפסה.<br />
            בדרך זו נוכל לחסוך נייר, זהו צעד חיוני למען סביבתינו ותרומה צנועה של כל אחד מאיתנו למען איכות הסביבה.
        </div>
        <div class="text">כל מה שנדרש ממך הוא לאשר כי:</div>
        
        <div class="text">
            <p class="bold">
                <input type="checkbox" class="fa" name="agreeToRoles" ng-model="agreeToRoles" required ng-change="hidden_agreeToRoles = (agreeToRoles? 1:null)" />
                <i class="fa" ng-class="agreeToRoles? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true"></i>
                הנני מאשר/ת בזאת כי קראתי והבנתי את התקנות הגנת השכר - <a href="/Content/PDFs/תלוש_במייל.pdf" target="_blank">דרכים מיוחדות למסירת תלושי שכר</a>.
            </p>
            <input type="hidden" name="hidden_agreeToRoles" ng-model="hidden_agreeToRoles" required />
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה חובה</div>
                </div>
            </div>
            <p class="bold">
                <input type="checkbox" class="fa" name="iAgree" ng-model="iAgree" />
                <i class="fa" ng-class="iAgree? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true"></i>
                אני מעוניין לקבל תלוש שכר במייל כתחליף לעותק מודפס, לכתובת הדואר האלקטרוני שלי:
            </p>
        </div>

        <div class="text">
            <p class="emails">{{$$credentials.email}}</p>
            <button type="submit" id="Submit_emailPaycheck">מאשר</button>
        </div>
        <div class="text">
            הבהרה: בכל שלב ניתן יהיה לחזור ולקבל עותק מודפס.
            <a href="/Content/PDFs/תלוש_במייל.pdf" target="_blank">מסמך הצהרה לאישור תלוש במייל</a>
        </div>
    </form>
</div>