﻿<fieldset class="repeat-row">
    <div class="repeat-actions btn-group btn-group-xs  btn-group-vertical col-xs-12">
        <button type="button" title="הסר" ng-click="removeEmployer(employer.$id)" class="btn btn-danger repeat-remove-btn">
            <i class="fa fa-minus-square">
            </i>
        </button>
    </div>

    <legend class="repeat-row-label col-xs-12">מעביד/משלם משכורת {{employer.$id}}</legend>
    <div class="elements repeat-elements">
        <div class="form-elem">
            <div class="row-container">
                <div class="col-md-4 col-xs-12">
                    <div class="elements row-elements row-col">
                        <div class="field field-vertical">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <label for="name" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>שם
                                    </label>
                                </div>
                                <div class="controller col-sm-12 col-xs-12">
                                    <input name="employer{{employer.$id}}name" ng-model="employer.name" type="text" class="form-control" ng-required="tofesModel.taxCoordination.reason === 2">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="elements row-elements row-col">
                        <div class="form-elem">
                            <div class="field field-vertical">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <label for="address" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>כתובת
                                        </label>
                                    </div>
                                    <div class="controller col-sm-12 col-xs-12">
                                        <input name="employer{{employer.$id}}address" ng-model="employer.address" type="text" class="form-control" ng-required="tofesModel.taxCoordination.reason === 2">
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="elements row-elements row-col">
                        <div class="form-elem">
                            <div class="field field-vertical">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <label for="deductionFileID" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>מספר תיק ניכויים
                                        </label>
                                    </div>
                                    <div class="controller col-sm-12 col-xs-12">
                                        <input name="employer{{employer.$id}}deductionFileID" ng-model="employer.deductionFileID" type="text" class="form-control" ng-required="tofesModel.taxCoordination.reason === 2" NumbersInput />
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">פורמט מספר אינו תקין</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-elem">
            <div class="row-container">
                <div class="col-md-4 col-xs-12">
                    <div class="elements row-elements row-col">
                        <div class="form-elem">
                            <div class="field field-vertical">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <label for="incomeType" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>סוג הכנסה
                                        </label>
                                    </div>
                                    <div class="controller col-sm-12 col-xs-12 custom-mobile-radio mobile25">
                                        <div class="radio" ng-repeat="type in radionStates.taxCoordinationIncomeTypeStates track by $index"
                                             ng-class="{'radio-selected':employer.incomeType === type.id,'last-radio':radionStates.taxCoordinationIncomeTypeStates.length == ($index + 1)}"
                                             >
                                            <label>
                                                <input type="radio" name="employer{{employer.$id}}incomeType"
                                                       ng-model="employer.incomeType"
                                                       ng-value="type.id" ng-required="tofesModel.taxCoordination.reason === 2" />
                                                <span>
                                                    {{type.name}}
                                                </span>
                                            </label>
                                        </div>
                                        <input type="hidden" ng-model="employer.incomeType" name="hidden_employer{{employer.$id}}incomeType" ng-required="tofesModel.taxCoordination.reason === 2" NumbersInput />
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">פורמט מספר אינו תקין</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="elements row-elements row-col">
                        <div class="form-elem">
                            <div class="field field-vertical">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <label for="salary" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>הכנסה חודשית
                                        </label>
                                    </div>
                                    <div class="controller col-sm-12 col-xs-12">
                                        <input name="employer{{employer.$id}}salary" ng-model="employer.salary" type="text" class="form-control" ng-required="tofesModel.taxCoordination.reason === 2">
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="help-block">
                                    <p>לפי התלושים</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="elements row-elements row-col">
                        <div class="form-elem">
                            <div class="field field-vertical">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <label for="taxDeduction" class="control-label">
                                            <abbr title="שדה חובה" class="required">
                                                <i class="fa fa-asterisk">
                                                </i>
                                            </abbr>המס שנוכה
                                        </label>
                                    </div>
                                    <div class="controller col-sm-12 col-xs-12">
                                        <input name="employer{{employer.$id}}taxDeduction" ng-model="employer.taxDeduction" type="text" class="form-control" ng-required="tofesModel.taxCoordination.reason === 2" NumbersInput />
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">פורמט מספר אינו תקין</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="help-block">
                                    <p>לפי התלושים</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>