﻿<div class="home-page-popup">
    <article>
        <h4>
            {{popTitle}}
        </h4>
        <div class="text">
            {{popText}}
        </div>

        <a ng-show="$$credentials.loggedIn" href="{{uiSref}}" >המשך ל{{popTitle}}</a>
    </article>
</div>