﻿<div class="panel panel-info">
    <div class="panel-heading">
        <legend>
            ב. פרטי העובד/ת
        </legend>
    </div>
    <div class="panel-body">
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="employee.firstName" class="control-label">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>שם פרטי
                        </label>
                    </div>
                    <div class="col-sm-12  col-xs-12">
                        <input name="firstName" ng-model="tofesModel.employee.firstName" type="text" class="form-control" required>
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">שדה חובה</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="help-block">
                    <p>
                        ע"פ הרשום בת.ז.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12  col-xs-12">
                        <label for="tofesModel.employee.lastName" class="control-label">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>שם משפחה
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <input name="lastName" ng-model="tofesModel.employee.lastName" type="text" class="form-control" required>
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">שדה חובה</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="help-block">
                    <p>
                        ע"פ הרשום בת.ז.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.employee.idNumber" class="control-label">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>מספר זהות
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <input name="idNumber" type="text" ng-model="tofesModel.employee.idNumber" class="form-control" IDNumber required disabled readonly>
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">שדה חובה</div>
                                <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <label for="tofesModel.employee.idNumberFiles" class="control-label">
                        צילום תעודת זהות וספח
                    </label>
                </div>
                <!-- start file uploader component -->
                <div class="col-md-12 file-uploader col-xs-12">
                    <div class="col-md-8 col-xs-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>שם</th>
                                    <th ng-show="IdNumberuploader.isHTML5">גודל</th>
                                    <th ng-show="IdNumberuploader.isHTML5">התקדמות</th>
                                    <th>סטטוס</th>
                                    <th>פעולות</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in IdNumberuploader.queue">
                                    <td>
                                        <strong>{{ item.file.name }}</strong>
                                        <div ng-show="IdNumberuploader.isHTML5" ng-thumb="{ file: item._file, height: 55, pdf:item }"></div>
                                    </td>
                                    <td ng-show="IdNumberuploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="IdNumberuploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> הסר
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-xs-12 fileinput-button-div">
                        <span class="btn btn-success fileinput-button" ng-class="partForm.idNumber.$invalid? 'disabled' : ''">
                            <i class="fa fa-cloud-upload"></i>
                            <span> צרף קובץ... </span>
                            <input type="file" nv-file-select="" ng-model="tofesModel.employee.idNumberFiles" name="idNumberFiles" uploader="IdNumberuploader" multiple ng-required="required_IdNumberuploader" ng-disabled="partForm.idNumber.$invalid">
                            <div class="validation-message uploader">
                                <div class="form-error">
                                    <div class="required-validation">יש להעלות ספח ת.ז.</div>
                                </div>
                            </div>
                        </span>
                        <div>
                            התקדמות:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': IdNumberuploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-s" ng-click="IdNumberuploader.clearQueue()" ng-disabled="!IdNumberuploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> הסר הכל
                        </button>
                        <div class="col-md-12">
                            <h4>רק קבצים המופיעים ברשימת הקבצים והועלו לשרת יצורפו לטופס</h4>
                        </div>
                    </div>
                </div>
                <!-- end file uploader component -->
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.employee.birthDate" class="control-label">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>תאריך לידה
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div id="tofesModel.employee.birthDate">
                            <div class="input-group ui-datepicker-group">
                                <span aria-hidden="true" class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" name="birthDate" ng-model="tofesModel.employee.birthDate" class="form-control date-control" ui-datepicker new-options="bdOptions"/>
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="custom-validation">פורמט תאריך לא תקין</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.employee.immigrationDate" class="control-label">
                            תאריך עליה
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div>
                            <div class="input-group ui-datepicker-group">
                                <span aria-hidden="true" class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" name="immigrationDate" ng-model="tofesModel.employee.immigrationDate" class="form-control date-control" ui-datepicker new-options="idOptions"/>
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="custom-validation">פורמט תאריך לא תקין</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.employee.city" class="control-label">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>עיר
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <angucomplete-alt id="city" input-name="city"
                                          placeholder="חפש עיר"
                                          pause="400"
                                          selected-object="tofesModel.employee.city"
                                          remote-api-handler="searchCities"
                                          remote-url-data-field="data"
                                          title-field="Name"
                                          search-fields="Name"
                                          minlength="2"
                                          text-no-results="אין תוצאות"
                                          field-required="true"
                                          focus-out="cityFocusOut($event)"
                                          text-searching="מחפש..."
                                          initial-value="tofesModel.employee.city"
                                          input-class="form-control form-control-small" />
                    </div>
                    <input type="hidden" name="hidden_city" ng-model="tofesModel.employee.city" class="form-control" required>
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.employee.street" class="control-label">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>רחוב
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <angucomplete-alt id="street" input-name="street"
                                          placeholder="חפש רחוב"
                                          pause="200"
                                          selected-object="tofesModel.employee.street"
                                          local-data="streets"
                                          search-fields="Name"
                                          title-field="Name"
                                          minlength="1"
                                          text-no-results="אין תוצאות"
                                          field-required="true"
                                          text-searching="מחפש..."
                                          disable-input="partForm.city.$invalid"
                                          local-search="streetsSearch"
                                          focus-out="streetFocusOut()"
                                          initial-value="tofesModel.employee.street"
                                          input-class="form-control form-control-small"
                                           />
                    </div>
                    <input type="hidden" name="hidden_street" ng-model="tofesModel.employee.street" class="form-control" required>
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.employee.houseNumber" class="control-label">
                            מספר בית
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <input name="houseNumber" ng-model="tofesModel.employee.houseNumber" type="tel" class="form-control" maxlength="4" NumbersInput>
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">שדה חובה</div>
                                <div class="maxlength-validation">אורך מקסימאלי 4 תווים</div>
                                <div class="custom-validation">פורמט מספר אינו תקין</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.employee.zip" class="control-label">
                            מיקוד
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <input name="zip" ng-model="tofesModel.employee.zip" type="tel" class="form-control">
                    </div>
                </div>
                <div class="help-block">
                    <p>
                        ניתן להיעזר ב
                        <a href="http://www.israelpost.co.il/zipcode.nsf/demozip" target="_blank">
                            אתר הדואר
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.employee.phone" class="control-label">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>מספר טלפון
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <input name="phone" ng-model="tofesModel.employee.phone" type="tel" class="form-control" Phone required>
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">שדה חובה</div>
                                <div class="custom-validation">מספר טלפון לא תקין</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.employee.cell" class="control-label">
                            מספר נייד
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <input name="cell" ng-model="tofesModel.employee.cell" type="tel" class="form-control" Phone>
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="custom-validation">מספר טלפון לא תקין</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mobile-no-pad">
            <div class="col-md-5 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="tofesModel.employee.email" class="control-label">
                                <abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>מייל
                            </label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <input name="email" ng-model="tofesModel.employee.email" type="email" class="form-control" required>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="email-validation">מייל לא תקין</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <legend class="control-label">
                        <div class="mobile-legend-inner">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>מין
                        </div>
                    </legend>
                </div>
                <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile50">
                    <div class="radio" ng-repeat="gender in radionStates.genders track by $index"
                         ng-class="{'radio-selected':tofesModel.employee.gender === gender.id,'last-radio':radionStates.genders.length == ($index + 1)}">
                        <label>
                            <input type="radio" name="gender"
                                   ng-model="tofesModel.employee.gender"
                                   ng-value="gender.id" required ng-change="ChangeRadioStatus('gender')" />
                            <span>
                                {{gender.name}}
                            </span>
                        </label>
                    </div>
                    <input type="hidden" ng-model="tofesModel.employee.gender" name="hidden_gender" required />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <legend class="control-label">
                        <div class="mobile-legend-inner">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>מצב משפחתי
                        </div>
                    </legend>
                </div>
                <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile20">
                    <div class="radio" ng-repeat="status in radionStates.maritalStates track by $index"
                         ng-class="{'radio-selected':tofesModel.employee.maritalStatus === status.id,'last-radio':radionStates.maritalStates.length == ($index + 1)}">
                        <label>
                            <input type="radio" name="maritalStatus"
                                   ng-model="tofesModel.employee.maritalStatus"
                                   ng-value="status.id" required ng-change="ChangeRadioStatus('maritalStatus')" />
                            <span>
                                {{status.name}}
                            </span>
                        </label>
                    </div>
                    <input type="hidden" ng-model="tofesModel.employee.maritalStatus" name="hidden_maritalStatus" required />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <legend class="control-label">
                        <div class="mobile-legend-inner">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>תושב ישראל
                        </div>
                    </legend>
                </div>
                <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile50">
                    <div class="radio" ng-repeat="resident in radionStates.residentStates track by $index"
                         ng-class="{'radio-selected':tofesModel.employee.ilResident === resident.selected,'last-radio':radionStates.residentStates.length == ($index + 1)}">
                        <label>
                            <input type="radio" name="ilResident"
                                   ng-model="tofesModel.employee.ilResident"
                                   ng-value="resident.selected" required ng-change="ChangeRadioStatus('ilResident')" />
                            <span>
                                {{resident.name}}
                            </span>
                        </label>
                    </div>
                    <input type="hidden" ng-model="tofesModel.employee.ilResident" name="hidden_ilResident" required />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <legend class="control-label">
                        <div class="mobile-legend-inner">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>חבר קיבוץ / מושב שיתופי
                        </div>
                    </legend>
                </div>
                <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile50">
                    <div class="radio" ng-repeat="kibbutz in radionStates.kibbutzStates track by $index"
                         ng-class="{'radio-selected':tofesModel.employee.kibbutzResident === kibbutz.selected,'last-radio':radionStates.kibbutzStates.length == ($index + 1)}">
                        <label>
                            <input type="radio" name="kibbutzResident"
                                   ng-model="tofesModel.employee.kibbutzResident"
                                   ng-value="kibbutz.selected" required ng-change="ChangeRadioStatus('kibbutzResident')" />
                            <span>
                                {{kibbutz.name}}
                            </span>
                        </label>
                    </div>
                    <input type="hidden" ng-model="tofesModel.employee.kibbutzResident" name="hidden_kibbutzResident" required />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <legend class="control-label">
                        <div class="mobile-legend-inner">
                            <abbr title="שדה חובה" class="required">
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>חבר בקופת חולים
                        </div>
                    </legend>
                </div>
                <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile50">
                    <div class="radio" ng-repeat="hmo in radionStates.residentStates track by $index"
                         ng-class="{'radio-selected':tofesModel.employee.hmoMember === hmo.selected,'last-radio':radionStates.residentStates.length == ($index + 1)}">
                        <label>
                            <input type="radio" name="hmoMember"
                                   ng-model="tofesModel.employee.hmoMember"
                                   ng-value="hmo.selected" required ng-change="ChangeRadioStatus('hmoMember')" />
                            <span>
                                {{hmo.name}}
                            </span>
                        </label>
                    </div>
                    <input type="hidden" ng-model="tofesModel.employee.hmoMember" name="hidden_hmoMember" required />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider" NgSlider rule="tofesModel.employee.hmoMember">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <legend class="control-label">
                            <div class="mobile-legend-inner">
                                <abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>חבר בקופת חולים
                            </div>
                        </legend>
                    </div>
                    <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile25">
                        <div class="radio" ng-repeat="hmoName in radionStates.hmos track by $index"
                             ng-class="{'radio-selected':tofesModel.employee.hmoName === hmoName.name,'last-radio':radionStates.hmos.length == ($index + 1)}">
                            <label>
                                <input type="radio" name="hmoName"
                                       ng-model="tofesModel.employee.hmoName"
                                       ng-value="hmoName.name" ng-change="ChangeRadioStatus('hmoName')" />
                                <span>
                                    {{hmoName.name}}
                                </span>
                            </label>
                        </div>
                        <input type="hidden" ng-model="tofesModel.employee.hmoName" name="hidden_hmoName" ng-required="tofesModel.employee.hmoMember" />
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">שדה חובה</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- start file uploader component -->
        <div class="col-md-12 col-xs-12" NgSlider rule="tofesModel.employee.maritalStatus === 5">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <legend class="control-label" style="border: 0;">
                            <div class="mobile-legend-inner">
                                <abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>אישור פקיד שומה
                            </div>
                        </legend>
                    </div>
                    <div class="col-md-12 file-uploader col-xs-12 fileinput-button-div">
                        <span class="btn btn-success fileinput-button" ng-class="partForm.idNumber.$invalid || tofesModel.employee.maritalStatus !== 5? 'disabled' : ''">
                            <i class="fa fa-cloud-upload"></i>
                            <span> צרף קובץ... </span>
                            <input type="file" nv-file-select="" ng-model="tofesModel.employee.assessorFiles" uploader="assessorUploader" multiple ng-disabled="partForm.idNumber.$invalid || tofesModel.employee.maritalStatus !== 5">
                        </span>
                        <button type="button" class="btn btn-success btn-s" ng-click="assessorUploader.uploadAll()" ng-disabled="!assessorUploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> שמור
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="assessorUploader.clearQueue()" ng-disabled="!assessorUploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> מחק
                        </button>
                        <div>
                            התקדמות:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': assessorUploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end file uploader component -->
    </div>
</div>