﻿<div class="form-element">
    <div class="panel panel-default">
        <div class="panel-heading">
            <legend>{{childrenTitle}}. פרטים על ילדי שבשנת המס טרם מלאו להם 19 שנה</legend>
        </div>
        <div class="panel-body">
            <div class="form-element">
                <div class="repeat-rows" ng-repeat="child in tofesModel.children | dateOrder : 'birthDate'">

                    <fieldset class="">
                        <div class="btn-group btn-group-xs  btn-group-vertical">
                            <button type="button" title="הסר" class="btn btn-danger" ng-click="removeChild(child.ID)">
                                <i class="fa fa-minus-square"></i>
                            </button>
                        </div>
                        <div class="">
                            <div class="form-element">
                                <div class="">
                                    <div class="">

                                        <!-- start child template -->
                                        <ng-include src="'../../Scripts/views/ng-templates/child.ng-template.html'"></ng-include>
                                        <!-- end child template -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <button type="button" class="btn btn-success btn-sm" ng-click="addChild()">
                    <i class="fa fa-plus-square">
                    </i>
                    <span>הוסף ילד</span>
                </button>
            </div>

            <!-- start file uploader component -->
            <div class="col-md-12 file-uploader col-xs-12" style="padding-top:10px;" NgSlider rule="!HaveIdNumberFile() && (addedChildCounter > 0 || childTouched === true)">
                <div class="col-md-8  col-xs-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>שם</th>
                                <th ng-show="IdNumberuploader.isHTML5">גודל</th>
                                <th ng-show="IdNumberuploader.isHTML5">התקדמות</th>
                                <th>סטטוס</th>
                                <th>פעולות</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in IdNumberuploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <div ng-show="IdNumberuploader.isHTML5" ng-thumb="{ file: item._file, height: 55, pdf:item }"></div>
                                </td>
                                <td ng-show="IdNumberuploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="IdNumberuploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> הסר
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 col-xs-12 fileinput-button-div">
                    <span class="btn btn-success fileinput-button">
                        <i class="fa fa-cloud-upload"></i>
                        <span> צרף קובץ... </span>
                        <input type="file" nv-file-select="" ng-model="tofesModel.employee.idNumberFiles" name="idNumberFiles" uploader="IdNumberuploader" ng-required="required_IdNumberuploader" >
                        <div class="validation-message uploader">
                            <div class="form-error">
                                <div class="required-validation">יש להעלות ספח ת.ז.</div>
                            </div>
                        </div>
                    </span>
                    <div>
                        התקדמות:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': IdNumberuploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger btn-s" ng-click="IdNumberuploader.clearQueue()" ng-disabled="!IdNumberuploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> הסר הכל
                    </button>
                    <div class="col-md-12">
                        <h4>יש להעלות ספח ת.ז.</h4>
                    </div>
                </div>
            </div>
            <!-- end file uploader component -->

        </div>
    </div>
</div>