﻿<div class="panel panel-info">
    <div class="panel-heading">
        <legend>י. הצהרה</legend>
    </div>
    <div class="panel-body form-element">
        <p>
            <strong>
                אני מצהיר/ה כי הפרטים שמסרתי בטופס זה הינם מלאים ונכונים. ידוע לי שהשמטה או מסירת פרטים לא נכונים הינה עבירה על פקודת מס הכנסה. אני מתחייב/ת להודיע למעביד על כל שינוי שיחול בפרטי האישיים ובפרטים דלעיל תוך שבוע ימים מתאריך השינוי.
            </strong>
        </p>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-xs-12">
                    <label for="signatureDate" class="control-label">
                        <abbr title="שדה חובה" class="required">
                            <i class="fa fa-asterisk">
                            </i>
                        </abbr>תאריך
                    </label>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group ui-datepicker-group">
                            <span aria-hidden="true" class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input type="text" ng-model="tofesModel.signatureDate" class="form-control date-control" ui-datepicker />
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="custom-validation">פורמט תאריך לא תקין</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <label for="signature" class="control-label">
                        <abbr title="שדה חובה" class="required">
                            <i class="fa fa-asterisk">
                            </i>
                        </abbr>חתימה
                    </label>
                </div>
                <div class="col-sm-12 col-xs-12 signature-pad-holder">
                    <input type="hidden" name="hidden_signature" ng-model="tofesModel.hidden_signature" class="form-control date-control" required>
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">חובה לחתום על הטופס</div>
                        </div>
                    </div>
                    <Digital-signature-pad signature-model="tofesModel.signature"></Digital-signature-pad>
                </div>
            </div>
        </div>
    </div>
</div>