﻿<div class="form-element">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>ה. פרטים על הכנסות אחרות</legend>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <legend class="control-label " style="border:0;height: 15px;">
                                <abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>
                            </legend>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-6 col-xs-12 custom-mobile-radio" ng-repeat="other in radionStates.otherIncomesStates track by $index">
                                    <div class="radio col-xs-12"
                                        ng-class="{'radio-selected':tofesModel.otherIncomes.hasIncomes === other.selected,'last-radio':radionStates.otherIncomesStates.length == ($index + 1)}"
                                         >
                                        <label>
                                            <input type="radio" name="hasIncomes"
                                                   ng-model="tofesModel.otherIncomes.hasIncomes"
                                                   ng-value="other.selected" required />
                                            <span>{{other.name}}</span>
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" ng-model="tofesModel.otherIncomes.hasIncomes" name="hidden_hasIncomes" required />
                                <div class="validation-message">
                                    <div class="form-error hasIncomes">
                                        <div class="required-validation">שדה חובה</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider long500" NgSlider rule="tofesModel.otherIncomes.hasIncomes" ddd>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <legend class="control-label ">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>פירוט הכנסות
                                </legend>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-4  col-xs-4 mobile-no-pad">
                                        <div class="checkbox">
                                            <label ng-class="tofesModel.otherIncomes.monthSalary ? 'active' : ''">
                                                <input type="checkbox" name="otherIncome_monthSalary" ng-model="tofesModel.otherIncomes.monthSalary" />
                                                <span>משכורת חודש</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4  col-xs-4 mobile-no-pad">
                                        <div class="checkbox">
                                            <label ng-class="tofesModel.otherIncomes.anotherSalary ? 'active' : ''">
                                                <input type="checkbox" name="otherIncome_anotherSalary" ng-model="tofesModel.otherIncomes.anotherSalary" />
                                                <span> משכורת נוספת</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4  col-xs-4 mobile-no-pad">
                                        <div class="checkbox">
                                            <label ng-class="tofesModel.otherIncomes.partialSalary ? 'active' : ''">
                                                <input type="checkbox" name="otherIncome_partialSalary" ng-model="tofesModel.otherIncomes.partialSalary" />
                                                <span> משכורת חלקית</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4  col-xs-4 mobile-no-pad">
                                        <div class="checkbox">
                                            <label ng-class="tofesModel.otherIncomes.daySalary ? 'active' : ''">
                                                <input type="checkbox" name="otherIncome_daySalary" ng-model="tofesModel.otherIncomes.daySalary" />
                                                <span> שכר עבודה (עובד יומי)</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4  col-xs-4 mobile-no-pad">
                                        <div class="checkbox">
                                            <label ng-class="tofesModel.otherIncomes.allowance ? 'active' : ''">
                                                <input type="checkbox" name="otherIncome_allowance" ng-model="tofesModel.otherIncomes.allowance" />
                                                <span>קצבה</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4  col-xs-4 mobile-no-pad">
                                        <div class="checkbox">
                                            <label ng-class="tofesModel.otherIncomes.stipend ? 'active' : ''">
                                                <input type="checkbox" name="otherIncome_stipend" ng-model="tofesModel.otherIncomes.stipend" />
                                                <span>מלגה</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4  col-xs-4 mobile-no-pad">
                                        <div class="checkbox">
                                            <label ng-class="tofesModel.otherIncomes.anotherSource ? 'active' : ''">
                                                <input type="checkbox" name="otherIncome_anotherSource" ng-model="tofesModel.otherIncomes.anotherSource" />
                                                <span>ממקור אחר</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <input type="hidden" name="hidden_otherIncomesValidity" class="form-control" ng-model="hiddenOtherIncomesValidity" />
                                    <div class="validation-message">
                                        <div class="form-error other-incomes-validity">
                                            <div class="custom-validation">
                                                <b>יש לבחור לפחות אחת מהאפשרויות</b>
                                                <span>משכורת חודש, משכורת נוספת, משכורת חלקית ,שכר עבודה, קצבה, מלגה או מקור אחר</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider" NgSlider rule="tofesModel.otherIncomes.anotherSource">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <label for="anotherSourceDetails" class="control-label">
                                        <abbr title="שדה חובה" class="required">
                                            <i class="fa fa-asterisk">
                                            </i>
                                        </abbr>פירוט מקור הכנסה אחר
                                    </label>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <input type="text" name="otherIncome_anotherSourceDetails" class="form-control" ng-model="tofesModel.otherIncomes.anotherSourceDetails" ng-required="tofesModel.otherIncomes.anotherSource">
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <legend class="control-label ">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>נקודות זיכוי
                                </legend>
                            </div>
                            <div class="col-sm-12 col-xs-12 custom-mobile-radio">
                                <div class="radio col-xs-12" ng-repeat="credits in radionStates.incomeTaxCreditsStates track by $index"
                                    ng-class="{'radio-selected':tofesModel.otherIncomes.incomeTaxCredits === credits.id,'last-radio':radionStates.incomeTaxCreditsStates.length == ($index + 1)}"
                                     >
                                    <label>
                                        <input type="radio" name="incomeTaxCredits"
                                               ng-model="tofesModel.otherIncomes.incomeTaxCredits"
                                               ng-value="credits.id" />
                                        <span>
                                            {{credits.name}}
                                        </span>
                                    </label>
                                </div>
                                <input type="hidden" ng-model="tofesModel.otherIncomes.incomeTaxCredits" name="hidden_incomeTaxCredits" ng-required="tofesModel.otherIncomes.hasIncomes" />
                                <div class="validation-message">
                                    <div class="form-error hasIncomes">
                                        <div class="required-validation">שדה חובה</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group provisions">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <legend class="control-label ">הפרשות</legend>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="checkbox">
                                    <label ng-class="tofesModel.otherIncomes.Provisions.trainingFund ? 'active' : ''">
                                        <input type="checkbox" name="trainingFund" ng-model="tofesModel.otherIncomes.Provisions.trainingFund" />
                                        <span>אין מפרישים עבורי לקרן השתלמות בגין הכנסתי האחרת, או שכל הפרשות המעביד לקרן השתלמות בגין הכנסתי האחרת מצורפות להכנסתי האחרת.</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label ng-class="tofesModel.otherIncomes.Provisions.workDisability ? 'active' : ''">
                                        <input type="checkbox" name="workDisability" ng-model="tofesModel.otherIncomes.Provisions.workDisability" />
                                        <span>אין מפרישים עבורי לקיצבה/לביטוח אובדן כושר עבודה בגין הכנסתי האחרת, או שכל הפרשות המעביד לקצבה/לביטוח אובדן כושר עבודה בגין הכנסתי האחרת מצורפות להכנסתי האחרת.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>