﻿<div class="panel panel-info">
    <div class="panel-heading">
        <legend>
            שנת המס:&nbsp;
            <span>
                {{tofesModel.year}}
            </span>
        </legend>
    </div>
</div>

<div class="panel panel-info employer">
    <div class="panel-heading">
        <legend>א. פרטי המעביד</legend>
    </div>
    <div class="panel-body">
        <div class="col-md-12 no-margin no-padding">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4">
                            <label for="tofesModel.employer.name" class="control-label">
                                שם
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input type="text" class="form-control" ng-model="tofesModel.employer.name" disabled="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4">
                            <label for="tofesModel.employer.address" class="control-label">
                                כתובת
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="tofesModel.employer.address" type="text" class="form-control" disabled="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no-margin no-padding">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4">
                            <label for="tofesModel.employer.phoneNumber" class="control-label">
                                מספר טלפון
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input id="employer.phoneNumber" ng-model="tofesModel.employer.phoneNumber" type="text" class="form-control" disabled="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4">
                            <label for="tofesModel.employer.deductionFileID" class="control-label">
                                מספר תיק ניכויים
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input id="employer.deductionFileID" ng-model="tofesModel.employer.deductionFileID" class="form-control" disabled="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no-margin no-padding" ng-show="tofesModel.employer.displayEmail">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4">
                            <label for="tofesModel.employer.email" class="control-label">
                                כתובת אימייל
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="tofesModel.employer.email" id="employer.email" type="text" class="form-control" disabled="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-1">
                        </div>
                        <div class="col-sm-8 col-xs-11">
                            <p class="form-control">עותק מהטופס ישלח לכתובת זו.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>