﻿<div class="panel panel-info">
    <div class="panel-heading">
        <legend>
        {{partnetTitle}}. פרטים על בן/בת הזוג
        </legend>
    </div>
    <div class="panel-body" ng-hide="tofesModel.employee.maritalStatus == 2">
        <div class="form-element">
            <p><i class="fa fa-info-circle">&nbsp;</i>חלק זה רלוונטי רק אם הינך נשוי/אה.</p>
        </div>
    </div>
    <div class="panel-body" ng-show="tofesModel.employee.maritalStatus == 2">
        <div class="form-element">
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="spouse.idNumber" class="control-label">
                                <abbr title="שדה חובה" class="required" >
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>מספר זהות
                            </label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <input name="idNumber" type="text" ng-model="tofesModel.spouse.idNumber" class="form-control" IDNumber ng-disabled="tofesModel.employee.maritalStatus != 2" ng-required="tofesModel.employee.maritalStatus == 2">
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="help-block">
                        <p>
                            יש להכניס מספר תעודת זהות מלא 9 ספרות.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="tofesModel.spouse.firstName" class="control-label">
                                <abbr title="שדה חובה" class="required" >
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>שם פרטי
                            </label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <input name="firstName" type="text" ng-model="tofesModel.spouse.firstName" class="form-control" ng-required="tofesModel.employee.maritalStatus == 2">
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="tofesModel.spouse.lastName" class="control-label">
                                <abbr title="שדה חובה" class="required" >
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>שם משפחה
                            </label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <input name="lastName" type="text" ng-model="tofesModel.spouse.lastName" class="form-control" ng-required="tofesModel.employee.maritalStatus == 2">
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-element">
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="birthDate" class="control-label">
                                <abbr title="שדה חובה" class="required" >
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>תאריך לידה
                            </label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div id="tofesModel.spouse.birthDate">
                                
                                <div class="input-group ui-datepicker-group">
                                    <span aria-hidden="true" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" ng-model="tofesModel.spouse.birthDate" class="form-control date-control" ui-datepicker  ng-required="tofesModel.employee.maritalStatus == 2"/>
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="immigrationDate" class="control-label">תאריך עליה</label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div id="tofesModel.spouse.immigrationDate">
                                <div class="input-group ui-datepicker-group">
                                    <span aria-hidden="true" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" ng-model="tofesModel.spouse.immigrationDate" class="form-control date-control" ui-datepicker />
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <legend class="control-label ">
                            <abbr title="שדה חובה" class="required" >
                                <i class="fa fa-asterisk">
                                </i>
                            </abbr>הכנסה
                        </legend>
                    </div>
                    <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile100">
                        <div class="radio" ng-repeat="inc in radionStates.incomeStates track by $index"
                             ng-class="{'radio-selected':tofesModel.spouse.hasIncome === inc.selected,'last-radio':radionStates.incomeStates.length == ($index + 1)}"
                             >
                            <label>
                                <input type="radio" name="income"
                                       ng-model="tofesModel.spouse.hasIncome"
                                       ng-value="inc.selected" ng-required="tofesModel.employee.maritalStatus == 2" />
                                <span>
                                    {{inc.name}}
                                </span>
                            </label>
                        </div>
                        <input type="hidden" ng-model="tofesModel.spouse.hasIncome" name="hidden_income" ng-required="tofesModel.employee.maritalStatus == 2" />
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">שדה חובה</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider" NgSlider rule="tofesModel.spouse.hasIncome">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <legend class="control-label ">
                                <abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>סוג הכנסה
                            </legend>
                        </div>
                        <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile50">
                            <div class="radio" ng-repeat="type in radionStates.incomeTypeStates track by $index"
                                 ng-class="{'radio-selected':tofesModel.spouse.incomeType === type.id,'last-radio':radionStates.incomeTypeStates.length == ($index + 1)}"
                                 >
                                <label>
                                    <input type="radio" name="incomeType"
                                           ng-model="tofesModel.spouse.incomeType"
                                           ng-value="type.id" />
                                    <span>
                                        {{type.name}}
                                    </span>
                                </label>
                            </div>
                            <input type="hidden" ng-model="tofesModel.spouse.incomeType" name="hidden_incomeType" ng-required="tofesModel.employee.maritalStatus == 2 && tofesModel.spouse.hasIncome" />
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>