﻿<div class="panel panel-info tax-exemption">
    <div class="panel-heading">
        <!--<span class="tooltip-bubble-handle"></span>-->
        <legend>
            {{taxSectionTitle}}.&nbsp;אני מבקש/ת פטור או זיכוי ממס מהסיבות הבאות
        </legend>
    </div>
    <div class="panel-body form-element">
        <div class="panel panel-default" ng-if="tofesModel.FormType !== 3">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="checkbox">
                            <label class="control-label" ng-class="tofesModel.employee.ilResident? 'active' : ''">
                                <input type="checkbox" disabled="" ng-if="!tofesModel.employee.ilResident">
                                <input type="checkbox" disabled="" ng-if="tofesModel.employee.ilResident" checked>
                                <span>{{QuestionsNumbers(1)}}. אני תושב/ת ישראל</span>
                                <!--<span class="tooltip-bubble-handle">
                                </span>-->
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.blindDisabled? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.blindDisabled">
                                    <span>{{QuestionsNumbers(2)}}. אני נכה 100% / עיוור/ת לצמיתות</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.blindDisabled">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.blindDisabled-uploader.html'"></ng-include>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="checkbox">
                            <label class="control-label" ng-class="tofesModel.taxExemption.isResident? 'active' : ''">
                                <input type="checkbox" ng-model="tofesModel.taxExemption.isResident">
                                <span>{{QuestionsNumbers(3)}}. אני תושב/ת קבוע/ה בישוב מזכה.&nbsp;אני ובני משפחתי מדרגה ראשונה, מתגוררים ביישוב ואין לי ״מרכז חיים״ נוסף.&nbsp;</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.isResident">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.settlementCredits-startResidentDate.html'"></ng-include>

                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="tofesModel.FormType !== 3">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.isImmigrant? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.isImmigrant">
                                    <span>
                                        {{QuestionsNumbers(4)}}. אני עולה חדש/ה או תושב/ת חוזר/ת
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.isImmigrant">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.isImmigrant-immigrantStatus.html'"></ng-include>

                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="tofesModel.FormType !== 3">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="checkbox">
                            <label class="control-label" ng-class="tofesModel.taxExemption.spouseNoIncome? 'active' : ''">
                                <input type="checkbox" ng-model="tofesModel.taxExemption.spouseNoIncome">
                                <span>
                                    {{QuestionsNumbers(5)}}. בגין בן/בת זוגי המתגורר/ת עימי ואין לו/לה הכנסות בשנת המס
                                </span>
                                <!--<span class="tooltip-bubble-handle">
                                </span>-->
                            </label>
                        </div>
                    </div>
                </div>
                <div class="help-block">
                    <p>
                        <span style="line-height: 18.1818180084229px;">רק אם העובד/ת או בן/בת הזוג הגיע/ה לגיל פרישה או שהוא/היא נכה או עיוור/ת עפ״י סעיף 9(5) לפקודה.</span>
                    </p>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.spouseNoIncome">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.spouseNoIncomeFiles.html'"></ng-include>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="checkbox">
                            <label class="control-label" ng-class="tofesModel.taxExemption.separatedParent? 'active' : ''">
                                <input type="checkbox" ng-model="tofesModel.taxExemption.separatedParent">
                                <span>
                                    {{QuestionsNumbers(6)}}. אני הורה במשפחה חד הורית החי בנפרד
                                </span>
                                <!--<span class="tooltip-bubble-handle">
                                </span>-->
                            </label>
                        </div>
                    </div>
                </div>
                <div class="help-block">
                    <p>
                        <span style="line-height: 18.1818180084229px;">
                            ימולא רק ע״י הורה כאמור החי בנפרד ומבקש נקודות זיכוי עבור ילדיו, הנמצאים בחזקתו ובגינם מקבל קצבת ילדים מהמוסד לביטוח לאומי (בהתאם לסעיף {{infantchildrenTitle}} להלן) ואינו מנהל משק בית משותף עם יחיד/ה אחר/ת.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.childrenInCare? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.childrenInCare">
                                    <span>
                                        {{QuestionsNumbers(7)}}. בגין ילדי שבחזקתי המפורטים בחלק {{childrenInCareTitle}}
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="help-block">
                        <p>
                            ימולא רק ע"י הורה במשפחה חד הורית שמקבל את קצבת הילדים בגינם, או ע״י אשה נשואה או ע״י הורה יחיד.
                        </p>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.childrenInCare">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.childrenInCare.html'"></ng-include>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.infantchildren? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.infantchildren">
                                    <span>
                                        {{QuestionsNumbers(8)}}. בגין ילדי הפעוטים
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="help-block">
                        <p>
                            ימולא ע״י הורה (למעט הורה אשר סימן בפסקה {{infantchildrenTitle}} לעיל), אשה לא נשואה שילדיה אינם בחזקתה וכן הורה יחיד.
                        </p>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.infantchildren">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.infantchildren.html'"></ng-include>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.singleParent? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.singleParent">
                                    <span>
                                        {{QuestionsNumbers(9)}}. אני הורה יחיד לילדי שבחזקתי (המפורטים בסעיף {{singleParentTitle}} לעיל).
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.alimonyParticipates? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.alimonyParticipates">
                                    <span>
                                        {{QuestionsNumbers(10)}}. בגין ילדי שאינם בחזקתי המפורטים בחלק {{childrenInCareTitle}} ואני משתתף/ת בכלכלתם.
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="help-block">
                        <p>
                            ימולא ע״י הורה החי בנפרד, שאינו זכאי לנקודות זיכוי בגין ילדיו, אשר המציא פס״ד המחייב אותו בתשלום מזונות.
                        </p>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.alimonyParticipates">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.alimonyParticipatesFiles.html'"></ng-include>

                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-if="tofesModel.FormType !== 1">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.incompetentChild? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.incompetentChild" ng-disabled="childrenCountsObject.totalAnder19 <= 0">
                                    <span>
                                        {{QuestionsNumbers(11)}}. אני הורה לילד נטול יכולת שטרם מלאו לו 19 שנים , בגינו אני מקבל/ת גמלת ילד נכה מהמוסד לביטוח לאומי.&nbsp;
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="help-block">
                        <p>
                            <span style="line-height: 18.1818180084229px;">
                                &nbsp;בן זוגי אינו מקבל נקודות זיכוי אלה.
                            </span> &nbsp;
                            <span style="line-height: 18.1818180084229px;">
                                &nbsp;לילדי, בגינו אני מבקש את נקודות הזיכוי, אין הכנסות בשנה הנוכחית.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.incompetentChild">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.incompetentChildFiles.html'"></ng-include>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.exAlimony? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.exAlimony">
                                    <span>
                                        {{QuestionsNumbers(12)}}. בגין מזונות לבן/בת זוגי לשעבר.&nbsp;
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="help-block">
                        <p>
                            <span style="line-height: 18.1818180084229px;">
                                ימולא ע״י מי שנישא בשנית.&nbsp;
                            </span>
                        </p>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.exAlimony">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.exAlimonyFiles.html'"></ng-include>

                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="tofesModel.FormType !== 3">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.partnersUnder18? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.partnersUnder18">
                                    <span>
                                        {{QuestionsNumbers(13)}}. מלאו לי או לבן/בת זוגי 16 שנים וטרם מלאו לי או לבן/בת זוגי 18 שנים בשנת המס.
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="tofesModel.FormType !== 3">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.exServiceman? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.exServiceman">
                                    <span>
                                        {{QuestionsNumbers(14)}}. אני חייל/ת משוחרר/ת / שרתתי בשירות לאומי.&nbsp;
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.exServiceman">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.servicemanStartDate.html'"></ng-include>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="checkbox">
                                <label class="control-label" ng-class="tofesModel.taxExemption.graduation? 'active' : ''">
                                    <input type="checkbox" ng-model="tofesModel.taxExemption.graduation">
                                    <span>
                                        {{QuestionsNumbers(15)}}. בגין סיום לימודים לתואר אקדמי, סיום התמחות או סיום לימודי מקצוע.&nbsp;
                                    </span>
                                    <!--<span class="tooltip-bubble-handle">
                                    </span>-->
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" NgSlider rule="tofesModel.taxExemption.graduation">

                    <ng-include src="'../../Scripts/Views/Ng-Sliders/taxExemption.graduationFiles.html'"></ng-include>

                </div>
            </div>
        </div>
    </div>
</div>