﻿<div class="form-element">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>ד. פרטים על הכנסותי ממעביד זה</legend>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <legend class="control-label">
                            <abbr title="שדה חובה" class="required"><i class="fa fa-asterisk"></i></abbr>
                            <span>אני מקבל/ת</span>
                            <!--<span class="tooltip-bubble-handle">
                                <tooltip title="title-title" content="content--content"></tooltip>
                            </span>-->
                        </legend>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4 mobile-no-pad">
                                <div class="checkbox">
                                    <label ng-class="tofesModel.thisIncome.monthSalary ? 'active' : ''">
                                        <input type="checkbox" ng-change="checkedValidity()" name="monthSalary" ng-model="tofesModel.thisIncome.monthSalary" />
                                        <span>משכורת חודש</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4 mobile-no-pad">
                                <div class="checkbox">
                                    <label ng-class="tofesModel.thisIncome.anotherSalary ? 'active' : ''">
                                        <input type="checkbox" ng-change="checkedValidity()" name="anotherSalary" ng-model="tofesModel.thisIncome.anotherSalary" />
                                        <span> משכורת נוספת</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4 mobile-no-pad">
                                <div class="checkbox">
                                    <label ng-class="tofesModel.thisIncome.partialSalary ? 'active' : ''">
                                        <input type="checkbox" ng-change="checkedValidity()" name="partialSalary" ng-model="tofesModel.thisIncome.partialSalary" />
                                        <span> משכורת חלקית</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4 mobile-no-pad">
                                <div class="checkbox">
                                    <label ng-class="tofesModel.thisIncome.daySalary ? 'active' : ''">
                                        <input type="checkbox" ng-change="checkedValidity()" name="daySalary" ng-model="tofesModel.thisIncome.daySalary" />
                                        <span> שכר עבודה (עובד יומי)</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4 mobile-no-pad">
                                <div class="checkbox">
                                    <label ng-class="tofesModel.thisIncome.allowance ? 'active' : ''">
                                        <input type="checkbox" name="allowance" ng-model="tofesModel.thisIncome.allowance" />
                                        <span>קצבה</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4 mobile-no-pad">
                                <div class="checkbox">
                                    <label ng-class="tofesModel.thisIncome.stipend ? 'active' : ''">
                                        <input type="checkbox" name="stipend" ng-model="tofesModel.thisIncome.stipend" />
                                        <span>מלגה</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="incomeMultiple" class="mobile-multiple form-control multiple required-length" ng-model="incomeMultiple" />
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="length-validation">שדה חובה</div>
                                <div class="custom-validation">
                                    <b>ניתן לסמן רק עד אחת מהאפשרויות</b>
                                    <span>משכורת חודש, משכורת נוספת, משכורת חלקית ושכר עבודה</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="tofesModel.thisIncome.startDate" class="control-label">
                            <abbr title="שדה חובה" class="required"><i class="fa fa-asterisk"></i></abbr>תאריך תחילת תקופת העבודה בשנת המס
                            <!--<span class="tooltip-bubble-handle"></span>-->
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-12">

                        <div class="col-md-6">
                            <div id="tofesModel.thisIncome.startDate">
                                <div class="input-group ui-datepicker-group">
                                    <span aria-hidden="true" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" ng-model="tofesModel.thisIncome.startDate" class="form-control date-control" ui-datepicker />
                                    <div class="validation-message">
                                        <div class="form-error">
                                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>