﻿<div class="panel panel-default panel-info form-element">
    <div class="panel-heading">
        <legend>
            ו. תיאום מס&nbsp;
            <!--<span class="tooltip-bubble-handle">
            </span>-->
        </legend>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="checkbox">
                    <label class="control-label" ng-class="tofesModel.taxCoordination.request? 'active' : ''">
                        <input type="checkbox" ng-model="tofesModel.taxCoordination.request" ng-change="ChengeRequestRule()">
                        <span>פקיד השומה אישר תיאום לפי אישור מצורף.</span>
                    </label>
                </div>
            </div>
        </div>

        <!--אישור תיאום מס ע"י פקיד שומה-->
        <div class="" NgSlider rule="tofesModel.taxCoordination.reason === 3 && tofesModel.taxCoordination.request" classes="max-height-inherit">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="reasonFiles" class="control-label">צירוף תיאום מס</label>
                    </div>
                    <div class="col-sm-12 col-xs-12">

                        <!-- start file uploader component -->
                        <div class="col-md-12 file-uploader col-xs-12">
                            <div class="col-md-8 col-xs-12">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>שם</th>
                                            <th ng-show="coordinationUploader.isHTML5">גודל</th>
                                            <th ng-show="coordinationUploader.isHTML5">התקדמות</th>
                                            <th>סטטוס</th>
                                            <th>פעולות</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in coordinationUploader.queue">
                                            <td>
                                                <strong>{{ item.file.name }}</strong>
                                                <div ng-show="coordinationUploader.isHTML5" ng-thumb="{ file: item._file, height: 55, pdf:item }"></div>
                                            </td>
                                            <td ng-show="coordinationUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="coordinationUploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> שמור
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> הסר
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4 col-xs-12 fileinput-button-div">
                                <span class="btn btn-success fileinput-button" ng-class="tofesModel.taxCoordination.reason !== 3? 'disabled' : ''">
                                    <i class="fa fa-cloud-upload"></i>
                                    <span> צרף קובץ... </span>
                                    <input type="file" nv-file-select="" ng-model="tofesModel.taxCoordination.coordinationFiles" uploader="coordinationUploader" multiple class="" ng-disabled="tofesModel.taxCoordination.reason !== 3">
                                </span>
                                <div>
                                    התקדמות:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': coordinationUploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-s" ng-click="coordinationUploader.clearQueue()" ng-disabled="!coordinationUploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> הסר הכל
                                </button>
                            </div>
                        </div>
                        <!-- end file uploader component -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>