﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                פרטי ילדים
            </legend>
        </div>
        <div class="panel-body">

            <table wt-responsive-table class="table table-striped education">
                <thead>
                    <tr>
                        <th>שם</th>
                        <th>ת.ז.</th>
                        <th>מגדר</th>
                        <th>ת. לידה</th>
                        <th>גר בבית</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in ChildrenList track by $index">
                        <td>{{row.firstName}}</td>
                        <td>{{row.idNumber}}</td>
                        <td>{{row.gender}}</td>
                        <td>{{row.birthDate}}</td>
                        <td>{{row.homeLiving}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>