﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                פרטי בן/בת זוג
            </legend>
        </div>
        <div class="panel-body">

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.firstName" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->שם בן/בת זוג
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.firstName" name="firstName" type="text" placeholder="שם בן/בת זוג" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.lastName" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                            <i class="fa fa-asterisk">
                            </i>
                        </abbr>-->
                                שם משפחה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.lastName" name="lastName" type="text" placeholder="שם משפחה" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.idNumber" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->תעודת זהות
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.idNumber" name="idNumber" type="text" placeholder="תעודת זהות" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.birthDate" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->תאריך לידה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <div id="UserDetails.birthDate" style="margin:0 0 2px;">
                                <datepicker date-set="{{UserDetails.set_birthDate}}" date-format="dd/MM/yyyy" selector="date-control" date-week-start-day="0" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-month-title="selected month" date-year-title="selected year" date-max-limit="{{MaxDateLimit}}" date-refocus="true" date-typer="true" datepicker-toggle="true">
                                    <div class="input-group">
                                        <span aria-hidden="true" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" name="birthDate" ng-model="UserDetails.birthDate" class="form-control date-control" NgDate required disabled>
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">פורמט תאריך לא תקין</div>
                                            </div>
                                        </div>
                                    </div>
                                </datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.hasIncome" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->האם עובד
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <live-checkbox ng-model="UserDetails.hasIncome" input-text="כן,לא" input-disabled="1"></live-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.incomeType" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->מקום עבודה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.incomeType" name="incomeType" type="text" placeholder="מקום עבודה" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.phone" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->טלפון
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.phone" name="phone" type="text" placeholder="טלפון" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.cell" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->שלוחה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.cell" name="cell" type="text" placeholder="שלוחה" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-6 col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" id="submit" class="btn btn-primary pull-left">עדכן</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</fieldset>