﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                נתוני השכלה
            </legend>
        </div>
        <div class="panel-body">

            <table wt-responsive-table class="table table-striped education">
                <thead>
                    <tr>
                        <th>שם</th>
                        <th>שם המוסד</th>
                        <th>מגמה 1</th>
                        <th>מגמה 2</th>
                        <th>שנות לימוד</th>
                        <th>תואר</th>
                        <th>תאריך תואר</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in EducationList track by $index">
                        <td>{{row.certificateName}}</td>
                        <td>{{row.institutionName}}</td>
                        <td>{{row.studySubject1}}</td>
                        <td>{{row.studySubject2}}</td>
                        <td>{{row.educationYears}}</td>
                        <td>{{row.degree}}</td>
                        <td>{{row.degreeDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>