﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                פרטים אישיים
            </legend>
        </div>
        <div class="panel-body">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.lastName" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                שם משפחה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.lastName" name="lastName" type="text" placeholder="שם משפחה" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.gender" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                מגדר
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <live-checkbox ng-model="UserDetails.gender" input-text="זכר,נקבה" input-disabled="1"></live-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.firstName" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                שם פרטי
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.firstName" name="firstName" type="text" placeholder="שם פרטי" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.maritalStatus" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                מצב משפחתי
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.maritalStatus" name="maritalStatus" type="text" placeholder="מצב משפחתי" class="form-control" required disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.fathersName" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                שם האב
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.fathersName" name="fathersName" type="text" placeholder="שם האב" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.maritalStatusDate" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                תאריך מצב משפחתי
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <div id="UserDetails.maritalStatusDate" style="margin:0 0 2px;">
                                <datepicker date-set="{{UserDetails.set_maritalStatusDate}}" date-format="dd/MM/yyyy" selector="date-control" date-week-start-day="0" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-month-title="selected month" date-year-title="selected year" date-max-limit="{{MaxDateLimit}}" date-refocus="true" date-typer="true" datepicker-toggle="true">
                                    <div class="input-group">
                                        <span aria-hidden="true" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" name="birthDate" ng-model="UserDetails.maritalStatusDate" class="form-control date-control" NgDate required disabled>
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">פורמט תאריך לא תקין</div>
                                            </div>
                                        </div>
                                    </div>
                                </datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.previousLastName" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                שם משפחה קודם
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.previousLastName" name="previousLastName" type="text" placeholder="שם משפחה קודם" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.countryOfBirth" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                ארץ לידה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.countryOfBirth" name="countryOfBirth" type="text" placeholder="ארץ לידה" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.previousFirstName" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                שם פרטי קודם
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.previousFirstName" name="previousFirstName" type="text" placeholder="שם פרטי קודם" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.immigrationDate" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                תאריך עליה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <div id="UserDetails.immigrationDate" style="margin:0 0 2px;">
                                <datepicker date-set="{{UserDetails.set_immigrationDate}}" date-format="dd/MM/yyyy" selector="date-control" date-week-start-day="0" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-month-title="selected month" date-year-title="selected year" date-max-limit="{{MaxDateLimit}}" date-refocus="true" date-typer="true" datepicker-toggle="true">
                                    <div class="input-group">
                                        <span aria-hidden="true" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" name="immigrationDate" ng-model="UserDetails.immigrationDate" class="form-control date-control" NgDate disabled>
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">פורמט תאריך לא תקין</div>
                                            </div>
                                        </div>
                                    </div>
                                </datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.fathersName" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                תאריך לידה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <div id="UserDetails.birthDate" style="margin:0 0 2px;">
                                <datepicker date-set="{{UserDetails.set_birthDate}}" date-format="dd/MM/yyyy" selector="date-control" date-week-start-day="0" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-month-title="selected month" date-year-title="selected year" date-max-limit="{{MaxDateLimit}}" date-refocus="true" date-typer="true" datepicker-toggle="true">
                                    <div class="input-group">
                                        <span aria-hidden="true" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" name="birthDate" ng-model="UserDetails.birthDate" class="form-control date-control" NgDate required disabled>
                                        <div class="validation-message">
                                            <div class="form-error">
                                                <div class="required-validation">שדה חובה</div>
                                                <div class="custom-validation">פורמט תאריך לא תקין</div>
                                            </div>
                                        </div>
                                    </div>
                                </datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-heading">
            <legend>
                כתובות וטלפונים
            </legend>
        </div>
        <div class="panel-body">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.city" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                יישוב
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.city" name="city" type="text" placeholder="יישוב" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.zip" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                מיקוד
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.zip" name="zip" type="text" placeholder="מיקוד" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.street" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                רחוב
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.street" name="street" type="text" placeholder="רחוב" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.poBox" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                תא דואר
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.poBox" name="poBox" type="text" placeholder="תא דואר" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.houseNumber" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                מספר בית
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.houseNumber" name="houseNumber" type="text" placeholder="מספר בית" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.phone" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                טלפון
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.phone" name="phone" type="text" placeholder="טלפון" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.entranceNumber" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                כניסה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.entranceNumber" name="entranceNumber" type="text" placeholder="כניסה" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.cell" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                נייד
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.cell" name="cell" type="text" placeholder="נייד" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.apartmentNumber" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                                    <i class="fa fa-asterisk">
                                    </i>
                                </abbr>-->
                                דירה
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.apartmentNumber" name="apartmentNumber" type="text" placeholder="דירה" class="form-control" required ng-minlength="3" ng-maxlength="20" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 3 תווים</div>
                                    <div class="maxlength-validation">מקסימום 20 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <label for="UserDetails.email" class="control-label">
                                <!--<abbr title="שדה חובה" class="required">
                            <i class="fa fa-asterisk">
                            </i>
                        </abbr>-->
                                דואר אלקטרוני
                            </label>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input ng-model="UserDetails.email" name="email" type="email" placeholder="דואר אלקטרוני" class="form-control" required ng-minlength="5" ng-maxlength="35" disabled>
                            <div class="validation-message">
                                <div class="form-error">
                                    <div class="required-validation">שדה חובה</div>
                                    <div class="minlength-validation">מינימום 5 תווים</div>
                                    <div class="maxlength-validation">מקסימום 35 תווים</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-6 col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" id="submit" class="btn btn-primary pull-left">עדכן</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</fieldset>