﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                הודעה למח' שכר/משאבי אנוש
            </legend>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="toMail" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>בחר נמען
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <select name="toMail" ng-model="toMail" ng-options="option.job for option in toMailItems track by option.ID" required>
                                    <option value="">בחר נמען</option>
                                </select>
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="toMail != null">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="toMail" class="control-label">
                                    שם בעל התפקיד:
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <div>{{toMail.name}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.userName" class="control-label">
                                    שם השולח:
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="Notification.userName" name="userName" type="text" placeholder="שם השולח" class="form-control" required ng-minlength="3" ng-maxlength="30">
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="minlength-validation">מינימום 3 תווים</div>
                                        <div class="maxlength-validation">מקסימום 30 תווים</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.jobTitle" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>תפקיד
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="Notification.jobTitle" name="jobTitle" type="text" placeholder="תפקיד" class="form-control" required ng-minlength="3" ng-maxlength="30">
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="minlength-validation">מינימום 3 תווים</div>
                                        <div class="maxlength-validation">מקסימום 30 תווים</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.department" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>מחלקה
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="Notification.department" name="department" type="text" placeholder="מחלקה" class="form-control" required ng-minlength="3" ng-maxlength="30">
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="minlength-validation">מינימום 3 תווים</div>
                                        <div class="maxlength-validation">מקסימום 30 תווים</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.phone" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>טלפון
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="Notification.phone" name="phone" type="tel" placeholder="טלפון" class="form-control" required Phone>
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="custom-validation">מספר טלפון לא תקין</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.subject" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>נושא המייל
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="Notification.subject" name="subject" type="text" placeholder="נושא המייל" class="form-control" required ng-minlength="3">
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="minlength-validation">מינימום 3 תווים</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.text" class="control-label">
                                    טקסט חופשי
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <textarea ng-model="Notification.text" name="text" placeholder="טקסט חופשי" class="form-control" rows="6"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-11 col-xs-11">
                                <button type="submit" id="submit" class="btn btn-primary pull-left">שלח</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 file-uploader ">
                    <!-- start file uploader component -->
                    <div class="col-md-12 fileinput-button-div col-xs-12">
                        <span class="btn btn-success fileinput-button">
                            <i class="btn-icon fa fa-cloud-upload"></i>
                            <span> צרף קובץ... </span>
                            <input type="file" nv-file-select="" ng-model="Notification.files" uploader="NotificationUploader" multiple class="" ng-disabled="partForm.idNumber.$invalid">
                        </span>
                        <div>
                            התקדמות:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': NotificationUploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h6>רק קבצים המופיעים ברשימת הקבצים והועלו לשרת יצורפו לטופס</h6>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 mobile-no-pad">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>שם</th>
                                    <th ng-show="NotificationUploader.isHTML5">גודל</th>
                                    <th ng-show="NotificationUploader.isHTML5">התקדמות</th>
                                    <th>סטטוס</th>
                                    <th>פעולות</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in NotificationUploader.queue">
                                    <td>
                                        <strong>{{ item.file.name }}</strong>
                                        <div ng-show="NotificationUploader.isHTML5" ng-thumb="{ file: item._file, height: 55, pdf:item }"></div>
                                    </td>
                                    <td ng-show="NotificationUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="NotificationUploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> הסר
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end file uploader component -->
                </div>
            </div>
        </div>
    </div>
</fieldset>