﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                עדכון סיסמה
            </legend>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="UserCredentials.newPassword" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>סיסמה ישנה
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="UserCredentials.oldPassword" name="oldPassword" type="password" placeholder="סיסמה ישנה" class="form-control" required ng-minlength="{{$passwordSettings.minLength}}" ng-maxlength="20" Password>
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="minlength-validation">מינימום {{$passwordSettings.minLength}} תווים</div>
                                        <div class="maxlength-validation">מקסימום 20 תווים</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="UserCredentials.newPassword" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>סיסמה חדשה
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="UserCredentials.newPassword" name="newPassword" type="password" placeholder="סיסמה חדשה" class="form-control" required ng-minlength="{{$passwordSettings.minLength}}" ng-maxlength="20" Password>
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="minlength-validation">מינימום {{$passwordSettings.minLength}} תווים</div>
                                        <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        <div class="custom-validation">{{$passwordSettings.validationMessage}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="UserCredentials.reEnterPassword" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>אימות סיסמה
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="UserCredentials.reEnterPassword" name="reEnterPassword" type="password" placeholder="אימות סיסמה" class="form-control" required ng-minlength="{{$passwordSettings.minLength}}" ng-maxlength="20" Password>
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="minlength-validation">מינימום {{$passwordSettings.minLength}} תווים</div>
                                        <div class="maxlength-validation">מקסימום 20 תווים</div>
                                        <div class="custom-validation">סיסמאות אינן זהות</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-11 col-xs-11">
                                <button type="submit" id="submit" class="btn btn-primary pull-left">עדכן</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="password-message-rapper">
                        <ul class="list-group-disc">
                            <li>הסיסמה חייבת להכיל בין {{$passwordSettings.minLength}} ל 20 תווים.</li>
                            <li ng-show="$passwordSettings.minNumeric > 0">הסיסמה חייבת להכיל לפחות {{$passwordSettings.minNumeric}} מספרים.</li>
                            <li ng-show="$passwordSettings.minNonAlphanumeric > 0">הסיסמה חייבת להכיל לפחות {{$passwordSettings.minNonAlphanumeric}} תווים מיוחדים (!@#$...).</li>
                            <li>מורכבת מאותיות לועזיות וספרות בלבד ללא רווחים.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>