﻿@{ 
    int version = int.Parse(HttpContext.Current.Application.Get("SolutionBuildVersionNumber").ToString());
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="WorkerPortfolioApp" class="mobile-html">
<head solution-version-directive>

    <meta http-equiv="X-UA-Compatible" content="IE=11;IE=EDGE,chrome=1">
    <!--[if lt IE 9]>
        <script type="text/javascript" src="~/Scripts/lib/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
        <script type="text/javascript" src="~/Scripts/lib/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

    <!-- cache -->
    <meta http-equiv="refresh" content="300000">
    <meta http-equiv="cache-control" content="no-cache" />
    <!-- cache -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <meta name="keywords" content="תיק עובד אוטומציה">
    <meta name="description" content="תיק עובד של אוטומציה החדשה">
    <meta name="author" content="gal rave">

    <script type="text/javascript">
        _SolutionBuildVersionNumber = '@version';
    </script>
    <!-- google analytics -->
    <script type="text/javascript">
        !function (a, b, c, d, e, f, g) {
            a.GoogleAnalyticsObject = e,
            a[e] = a[e] || function () {
                (a[e].q = a[e].q || []).push(arguments)
            }
            ,
            a[e].l = 1 * new Date,
            f = b.createElement(c),
            g = b.getElementsByTagName(c)[0],
            f.async = 1,
            f.src = d,
            g.parentNode.insertBefore(f, g)
        }(window, document, "script", "//www.google-analytics.com/analytics.js", "ga"),
        ga("create", "UA-73569753-1", "auto"),
        ga("send", "pageview");
    </script>
    <!-- google analytics -->

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- favicon -->
    <!-- CSS -->
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/ngDialog/css/ngDialog.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/ngDialog/css/ngDialog-custom-width.css" rel="stylesheet" />
    <link href="~/Scripts/lib/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Css/output.min.css?V=@version" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-block-ui/dist/angular-block-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-responsive-tables/release/angular-responsive-tables.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/jquery-ui-month-picker/src/MonthPicker.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
    <link href="~/Scripts/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/lib/adapt-strap/dist/adapt-strap.min.css" />
    <!-- END CSS -->
    <!-- SCRIPTS -->
    <script type="text/javascript" src="~/Scripts/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/ngDialog/js/ngDialog.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/angular-locale_he-il.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/signature_pad/signature_pad.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-block-ui/dist/angular-block-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-responsive-tables/release/angular-responsive-tables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/es5-shim/es5-shim.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angucomplete-alt/angucomplete-alt.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/es6-shim/es6-shim.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/es6-shim/es6-shim.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery-ui-month-picker/src/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery-ui-month-picker/src/MonthPicker.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-ui-select/dist/select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/ng-idle/angular-idle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/cryptojslib/rollups/md5.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/cryptojslib/rollups/aes.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/cryptojslib/components/enc-base64-min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/momentjs/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/daterangepicker/daterangepicker.min.js"></script>
    <!-- tinymce html editor -->
    <script type="text/javascript" src="~/Scripts/lib/tinymce/tinymce.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-ui-tinymce/src/tinymce.js"></script>
    <!-- adapt-strap drag and drop -->
    <script type="text/javascript" src="~/Scripts/js/adapt-strap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/adapt-strap/dist/adapt-strap.tpl.min.js"></script>
    <!-- execel in JS -->
    <script type="text/javascript" src="~/Scripts/lib/js-xlsx/dist/xlsx.full.min.js"></script>
    <!-- END SCRIPTS -->

</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/Scripts/app.js?V=@version"></script>
</body>
</html>
