﻿<ol class="breadcrumb {{$state.current.data.color}}" ng-class="{'home' : $state.current.name === 'Home'}">
    <li data-ng-repeat="state in $state.$current.path | filter:show" data-ng-class="{ 'active': $last }">
        <!--<a data-ng-if="!$last && !state.data.disabled" href="{{ state.url.format($stateParams) }}">{{ state.data.name }}</a>-->
        <a data-ng-if="!$last && !state.data.disabled" ui-sref="{{ state.self.name }}" class="active-href">{{ state.data.name }}</a>
        <a data-ng-if="!$last && state.data.disabled" href="#">{{ state.data.name }}</a>

        <span data-ng-if="$last">{{ state.data.name }}</span>
    </li>
</ol>