﻿<div class="loginPerson">
    <section id="login">
        <section id="login">
            <!--login panel-->
            <section class="loginForm" ng-show="!credentials.loggedIn && !credentials.resetPassword">
                <form name="loginForm" class="form-login" novalidate autocomplete="new-password" aria-describedby="login form" role="log" ng-model="credentials" ng-submit="doLogin()">
                    <div class="inpu-continer">
                        <input name="idNumber" type="text" ng-model="credentials.idNumber" placeholder="מספר ת.ז" class="form-control input-md" IDNumber required ng-disabled="credentials.loggedIn">
                        <div class="validation-message">
                            <div class="form-error" style="top: -30px;">
                                <div class="required-validation">שדה חובה</div>
                                <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                            </div>
                        </div>
                    </div>

                    <div class="inpu-continer">
                        <input ng-model="credentials.password" name="password" type="password" placeholder="סיסמה" class="form-control input-md" required ng-minlength="6" ng-maxlength="20" autocomplete="new-password" Password>
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">שדה חובה</div>
                                <div class="minlength-validation">מינימום 6 תווים</div>
                                <div class="maxlength-validation">מקסימום 20 תווים</div>
                            </div>
                        </div>
                    </div>

                    <div class="inpu-continer">
                        <button type="submit" id="submit" class="btn btn-login">כניסה</button>
                    </div>

                </form>

                <section class="bottom-links">
                    <div class="link float-right" style="width: 75%;">
                        <a href="#" ui-sref="Authentication.InitialActivation">
                            <span class="arrow"></span>
                            <span>משתמש חדש</span>
                        </a>
                    </div>
                </section>
                <section class="bottom-links">
                    <div class="link float-right" style="width: 75%;">
                        <a href="#" ng-click="credentials.resetPassword = !credentials.resetPassword">
                            <span class="arrow"></span>
                            <span>שכחתי סיסמה</span>
                        </a>
                    </div>
                </section>
            </section>
            <!--login panel-->
            <!--reset password send pannel-->
            <section class="loginForm" ng-show="!credentials.loggedIn && credentials.resetPassword">
                <form name="resetForm" class="form-login" novalidate  autocomplete="new-password" ng-model="credentials" ng-submit="doReset()" aria-describedby="reset password form" role="log">
                    <label>הזן את ת.ז. שלך ואנו נשלח לך את הסיסמא</label>
                    <div class="inpu-continer">
                        <input name="idNumber" type="text" ng-model="credentials.idNumber" class="form-control input-md" placeholder="מספר ת.ז" IDNumber required ng-disabled="credentials.loggedIn">
                        <div class="validation-message">
                            <div class="form-error" style="top: -30px;">
                                <div class="required-validation">שדה חובה</div>
                                <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-links">
                        <input type="hidden" name="credentials_sendVal" ng-model="credentials.sendOption" required />
                        <div class="validation-message">
                            <div class="form-error">
                                <div class="required-validation">חובה לבחור דרך לאיפוס הסיסמה</div>
                            </div>
                        </div>
                        <div class="link float-left">
                            <input type="radio" name="sendOption" ng-change="setSendVal()"
                                   ng-model="credentials.sendOption"
                                   ng-value="1" required/>
                            <span>
                                שלח מייל
                            </span>
                        </div>
                        <div class="link float-left">
                            <input type="radio" name="sendOption" ng-change="setSendVal()"
                                   ng-model="credentials.sendOption"
                                   ng-value="2" required />
                            <span>
                                שלח SMS
                            </span>
                        </div>
                    </div>

                    <div class="inpu-continer">
                        <button type="submit" id="submit" class="btn btn-login">שלח</button>
                    </div>
                </form>
                <section class="bottom-links">
                    <div class="link float-right">
                        <a href="#" ng-click="credentials.resetPassword = !credentials.resetPassword">
                            <span class="arrow"></span>
                            <span>חזור</span>
                        </a>
                    </div>
                </section>
            </section>
            <!--reset password send pannel-->
            <!--user logdin panel-->
            <section id="login" role="log" ng-show="credentials.loggedIn">
                <div class="wrap-logon">
                    <div class="bar-stall">
                        <aside ng-cloak>ביקורך האחרון  {{credentials.lastLogin.lastTime}} | {{credentials.lastLogin.lastDate}}</aside>
                    </div>
                    <aside class="loginPar">
                        <div><img src="../../../Content/Images/userPIC.png" alt="user image to display" /></div>
                        <div><span>ברוך הבא </span></div>
                        <div><span ng-cloak>{{credentials.fullName}}</span> </div>
                        <div>
                            <button type="submit" ng-click="doLogout(true, true)">התנתק</button>
                        </div>
                    </aside>
                </div>

                <section class="bottom-links" ng-show="credentials.municipalities.length > 1">
                    <select ng-options="option.name for option in credentials.municipalities track by option.ID" ng-model="currentMunicipality" ng-change="doChangeMunicipality()"></select>
                </section>

            </section>
            <!--user logdin panel-->
        </section>
    </section>
</div>