﻿<div class="mobile-login-Person">
    <section class="login-display" ng-show="!credentials.loggedIn">
        <div>
            <img src="/Content/Images/mobile-user.png" />
            <h4>כניסה לתיק עובד</h4>
        </div>
        <div class="inpu-continer">
            <button type="submit" id="submit" class="btn btn-login" ng-click="MobileLogIn(1)" ng-show="credentials.mobileLogInDisplay === 0">התחבר</button>
            <button type="submit" id="submit" class="btn btn-login close-panel" ng-click="MobileLogIn(1)" ng-show="credentials.mobileLogInDisplay === 1">X</button>
            <button type="submit" id="submit" class="btn btn-login close-panel" ng-click="MobileLogIn(3)" ng-show="credentials.mobileLogInDisplay === 2">X</button>
        </div>
    </section>

    <!--login panel-->
    <section class="loginForm" ng-show="credentials.mobileLogInDisplay === 1">
        <form name="loginForm" class="form-login" novalidate autocomplete="new-password" aria-describedby="login form" role="log" ng-model="credentials" ng-submit="doLogin()">
            <div class="inpu-continer">
                <div class="col-sm-12">
                    <label for="tofesModel.employee.idNumber" class="control-label">
                        <abbr title="שדה חובה" class="required">
                        </abbr>מספר תעודת זהות
                    </label>
                </div>
                <div class="col-sm-12">
                    <input name="idNumber" type="tel" ng-model="credentials.idNumber" placeholder="מספר תעודת זהות" class="form-control input-md" IDNumber required ng-disabled="credentials.loggedIn">
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                            <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inpu-continer">
                <div class="col-sm-12">
                    <label for="tofesModel.employee.idNumber" class="control-label">
                        <abbr title="שדה חובה" class="required">
                        </abbr>סיסמא
                    </label>
                </div>
                <div class="col-sm-12">
                    <input ng-model="credentials.password" name="password" type="password" placeholder="סיסמא" class="form-control input-md" required ng-minlength="6" ng-maxlength="20" autocomplete="new-password" Password>
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                            <div class="minlength-validation">מינימום 6 תווים</div>
                            <div class="maxlength-validation">מקסימום 20 תווים</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inpu-continer">
                <div class="col-sm-12">
                    <button type="submit" id="submit" class="btn btn-login">כניסה</button>
                </div>
            </div>

        </form>

        <section class="bottom-links">
            <div class="link float-right">
                <a href="#" ng-click="MobileLogIn(2)">
                    <span class="arrow"></span>
                    <span>שכחתי סיסמה</span>
                </a>
            </div>
        </section>
    </section>
    <!--login panel-->

    <!--reset password send pannel-->
    <section class="loginForm resetForm" ng-show="credentials.mobileLogInDisplay === 2">
        <section class="bottom-links">
            <div class="link float-right">
                <a href="#" ng-click="MobileLogIn(2)">
                    <span class="arrow"></span>
                    <span>חזור</span>
                </a>
            </div>
        </section>
        <form name="resetForm" class="form-login" novalidate autocomplete="new-password" ng-model="credentials" ng-submit="doReset()" aria-describedby="reset password form" role="log">
            <div class="inpu-continer">
                <div class="col-sm-12">
                    <label for="tofesModel.employee.idNumber" class="control-label">
                        <abbr title="שדה חובה" class="required">
                        </abbr>הזן את ת.ז. שלך ואנו נשלח לך את הסיסמא
                    </label>
                </div>
                <div class="col-sm-12">
                    <input name="idNumber" type="tel" ng-model="credentials.idNumber" class="form-control input-md" placeholder="מספר ת.ז" IDNumber required ng-disabled="credentials.loggedIn">
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                            <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inpu-continer">
                <div class="col-sm-12">
                    <label for="tofesModel.employee.idNumber" class="control-label">
                        <abbr title="שדה חובה" class="required">
                        </abbr>אני רוצה לקבל את הסיסמא בשליחת
                    </label>
                </div>
                <div class="col-sm-12">
                    <input type="hidden" name="credentials_sendVal" ng-model="credentials.$sendVal" required />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">חובה לבחור דרך לאיפוס הסיסמה</div>
                        </div>
                    </div>
                    <div is="0" class="btn-group m-b checkbox-box">
                        <a ng-class="credentials.sendOption === 1? 'active btn-success' : 'btn-default'" class="btn" ng-click="setSendVal(1)">שלח מייל</a>
                        <a ng-class="credentials.sendOption === 2 ? 'active btn-success' : 'btn-default'" class="btn" ng-click="setSendVal(2)">שלח <span>SMS</span></a>
                    </div>
                </div>
            </div>

            <div class="inpu-continer">
                <div class="col-sm-12">
                    <button type="submit" id="submit" class="btn btn-login">שלח סיסמה</button>
                </div>
            </div>
        </form>
    </section>
    <!--reset password send pannel-->

    <!--user logdin panel-->
    <section id="login" role="log" ng-show="credentials.loggedIn">
        <div class="wrap-logon">
            <aside class="loginPar">
                <div><img src="../../../Content/Images/userPIC.png" alt="user image to display" /></div>
                <div>
                    <div>
                        <label>ברוך הבא </label>
                        <label ng-cloak><b>{{credentials.fullName}}</b></label>
                    </div>

                    <section class="bottom-links" ng-show="credentials.municipalities.length > 1">
                        <select ng-options="option.name for option in credentials.municipalities track by option.ID" ng-model="currentMunicipality" ng-change="doChangeMunicipality()"></select>
                    </section>
                </div>
                <div>
                    <button type="submit" class="btn btn-login" ng-click="doLogout(true, true)">התנתק</button>
                </div>
            </aside>
        </div>
    </section>
    <!--user logdin panel-->

    <div class="login-mobile-background" ng-show="credentials.mobileLogInDisplay === 1 || credentials.mobileLogInDisplay === 2"></div>
</div>