﻿<div title="{{menuTitle}}" class="title" ng-if="AllowMunicipalityMenu">
    <div class="opener">
        <a ng-click="OpemMenu()">
            <i class="fa fa-comments fa-lg" aria-hidden="true"></i>
            <span>{{menuTitle}}</span>
        </a>
        <div class="mobile-open-icon glyphicon glyphicon-chevron-left" ng-class="{open : $$menu.Custom && isLoggedIn}"></div>
    </div>
    <aside ng-class="{open : $open}">
        <div ng-repeat="template in templates track by $index">
            <a ui-sref="CustomPages({PageID: template.ID})" class="hover">{{template.name}}</a>
        </div>
    </aside>
</div>