﻿<div class="container wizard-container">
    <div class="wizard-template">
        <div class="row bs-wizard">
            
            <div ng-repeat="state in states track by $index" class="col-xs-3 bs-wizard-step {{state.clas}}" ui-sref-active="active">
                <div class="text-center desktop bs-wizard-stepnum">{{state.text}}</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot" ng-click="$step(state.goTo, $index)"><span>{{$index + 1}}</span></a>
                <div class="text-center mobile bs-wizard-stepnum"><span>{{state.text}}</span></div>
            </div>
            
        </div>
    </div>
</div>