﻿<aside class="wrap-date mobile-wrap-date">
    <div class="year-picker-arrow-left" ng-click="yearChange(1)" ng-if="!open">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="year-picker-arrow-left after" ng-click="yearAfter()" ng-if="open">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>

    <div ng-bind="SlectedYear" class="date-picker" ng-click="openYearPicker()"></div>
    <div class="drop-down-year mobile-drop-down-year" ng-class="{open:open}">
        <div class="back-tap" ng-click="clear()"></div>
        <div class="wrap-cal">
            <h4>
                <span>בחר שנה</span>
            </h4>
            <span ng-click="yearBefore()" class="before"></span>
            <ul>
                <li ng-repeat="yearItem in years" ng-click="selectYear(yearItem, initReservationTable)">{{yearItem}}</li>
            </ul>
            <span ng-click="yearAfter()" class="after"></span>
        </div>
    </div>
    <span class="input-btn mobile-input-btn" ng-click="openYearPicker()"></span>

    <div class="year-picker-arrow-right" ng-click="yearChange(-1)" ng-if="!open">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="year-picker-arrow-right before" ng-click="yearBefore()" ng-if="open">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</aside>