﻿@using DataAccess.Models;
@model DataAccess.Models.PostNotificationMail

@{
    Layout = null;
}

<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>

<table cellpadding='0' cellspacing='0' width='600' style='padding:80px 150px;float:right;direction:rtl;text-align:right;'>
    <tr style='height:50px;vertical-align:middle;'>
        <td style='background-color:#baceed;'>
            <table cellpadding='0' cellspacing='0' width='600' style="direction:rtl;text-align:right;float:right;line-height:20px;">
                <tr>
                    <td style='font-family:Arial;direction:rtl;font-size:20px;padding-right:50px;text-align:right;float:right;line-height:20px;'>
                        פניה באמצעות מערכת תיק עובד באינטרנט
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding='0' cellspacing='0' width='600' style='background-color:#f7fafe;font-size:16px;direction:rtl;text-align:right;'>
                <tr>
                    <td>
                        <b style='text-decoration:underline;color:#002687;'>אל</b>:
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        שם :
                    </td>
                    <td>
                        @Model.recipient.name
                    </td>
                </tr>
                <tr>
                    <td>
                        תפקיד :
                    </td>
                    <td>
                        @Model.recipient.job
                    </td>
                </tr>
                <tr>
                    <td>
                        <b style='text-decoration:underline;color:#002687;'>מאת</b>:
                    </td>
                </tr>
                <tr>
                    <td>
                        שם :
                    </td>
                    <td>
                        @(string.IsNullOrWhiteSpace(Model.userName.Trim()) ? (string.Format("{0} {1}", Model.sender.firstName, Model.sender.lastName)) : (Model.userName.Trim() + (string.Format(" ({0} {1})", Model.sender.firstName, Model.sender.lastName))))
                    </td>
                </tr>
                <tr>
                    <td>
                        תפקיד העובד :
                    </td>
                    <td>
                        @(string.IsNullOrWhiteSpace(Model.jobTitle.Trim())? Model.sender.jobTitle : (string.Format("{0} ({1})",Model.jobTitle.Trim(), Model.sender.jobTitle)))
                    </td>
                </tr>
                <tr>
                    <td>
                        מחלקת העובד :
                    </td>
                    <td>
                        @Model.department
                    </td>
                </tr>
                <tr>
                    <td>
                        ת.ז. העובד :
                    </td>
                    <td>
                        @Model.userIdNumber
                    </td>
                </tr>
                <tr>
                    <td>
                        טלפון העובד :
                    </td>
                    <td>
                        @(string.IsNullOrWhiteSpace(Model.phone.Trim())? Model.sender.phone : (string.Format("{0} ({1})", Model.phone.Trim(), Model.sender.phone)))
                    </td>
                </tr>
                <tr>
                    <td>
                        כתובת מייל :
                    </td>
                    <td>
                        @Model.sender.email
                    </td>
                </tr>
                <tr>
                    <td>
                        נושא ההודעה :
                    </td>
                    <td style='text-decoration:underline;'>
                        @Model.subject
                    </td>
                </tr>
                <tr>
                    <td valign='top'>
                        <b style='text-decoration:underline;color:#002687;'>תאור</b>:
                    </td>
                    <td style='width:350px;'>
                        @Model.text
                    </td>
                </tr>
            </table>
            @if(!string.IsNullOrWhiteSpace(Model.files.Trim()))
            {
            <table cellpadding='0' cellspacing='0' width='600'>
                <tr style='height:40px;vertical-align:middle;color:red;'>
                    <td style='font-weight:bold;'>
                        לתשומת לבך: מצורף קובץ למייל
                    </td>
                </tr>
            </table>
            }
        </td>
    </tr>
</table>
