﻿@{
    Layout = null;
}
<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>
<table style="direction:rtl;width:100%;border:0px;background-color:#ffffff;padding:72pt 72pt 72pt 72pt;max-width:451.4pt">
    <tr>
        <td>&nbsp;</td>
        <td>

            <p>אני מתכבד להזמינכם לפסטיבל נס המזרח – "<b>מסלסלים מסלול מחדש</b>"</p>
            <p>שיתקיים זו השנה השנייה, בין התאריכים 13-15/9/18.</p>
            <p>עם מיטב אומני ישראל ב"<b>פארק המחול</b>" בשכונת טוסקנה וב"<b>נחלת ראובן</b>".</p>
            <p><b>הכניסה למופעים חינם!!</b></p>
            
            <p style="height:25px;width:45px;"></p>

            <p>
                <img alt="פסטיבל נס המזרח נס ציונה" src="https://lh5.googleusercontent.com/-7WQIL8iWDnq8QI-PYRyzKZLzf0fEdknEGfGL1Eu170XU2aEAIBiwQuG48S7Nron5VMtUapXjZkofXos9LIP-dXWv1EfXezkM03-Cb6__0h51iLeqd0g7TH3gCIJRgg95eVAnz6B" style="width: 595.00px; height: 419.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="פסטיבל נס המזרח נס ציונה">
            </p>

            <p style="height:25px;width:45px;"></p>

            <p>שנה טובה, </p>
            <p>אלכס פיאלקו – מנכ"ל קריית התרבות.</p>

        </td>
        <td>&nbsp;</td>
    </tr>
</table>
