﻿@using DataAccess.Models;
@model DataAccess.Models.MailDataModel

@{
    Layout = null;
}
<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>
<table style="direction:rtl;width:100%;border:0px;text-align:right;font-size: 17px;">
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th>
            <span style="font-weight:300;">שלום </span><span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0}", Model.user_name)),</span><br />
        </th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <p>כעת אתה האחראי הבלעדי לשלב בתהליך -   <span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0}", Model.tahalich_name)) - </span>
                שהוגש במערכת תיק עובד באינטרנט על ידי <span>@(string.Format("{0}", Model.target_userid))</span><span>, @(string.Format("{0}", Model.target_user_name))</span>
            </p>
        </td>
        <td>&nbsp;</td>
    </tr>

    @*new for vacation dates*@
    @if (Model.from_date != null && Model.to_date != null)
    {
        <tr>
            <td>&nbsp;</td>
            <td>
                <p>
                    <b>מתאריך - </b><span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0}", Model.from_date))</span>
                    <b> עד תאריך - </b><span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0}", Model.to_date))</span> <b>כולל!</b>
                </p>
            </td>
            <td>&nbsp;</td>
        </tr>
    }

    <tr>
        <td>&nbsp;</td>
        <td>
            <p><b>פרטי הבקשה/סיבת הבקשה - </b><span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0}", Model.description))</span></p>
        </td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>
            <p><b>סטטוס נוכחי - </b><span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0}", Model.answer))</span></p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <p><b>התקבלה ע"י - </b><span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0}", Model.by_user_name))</span></p>
        </td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>
            <p><b>סיבת האישור/דחייה - </b><span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0}", Model.reason))</span></p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <br />
            <p style="font-weight: 600;">
                בברכה,<br />
                אוטומציה החדשה
            </p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" />
        </td>
        <td>&nbsp;</td>
    </tr>
</table>

