﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>
<table style="direction:rtl;width:100%;border:0px;">
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th>
            <span style="font-weight:300;">שלום </span><span style="direction:rtl;width:100%;border:0px;text-align:right;">@Model.fullName,</span>
        </th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="direction:rtl;">
            <p>מצורף דו"ח שליחת 'תלוש במייל' עבור חודש משכורת - @(string.Format("{2}{0}/{1}", Model.loginDate.Month, Model.loginDate.Year, Model.loginDate.Month > 9? "":"0"))</p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <p style="font-weight: 600;">
                בברכה,<br />
            </p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <p></p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <table cellpadding='0' cellspacing='0' width='600'>
                <tr style='height:40px;vertical-align:middle;color:red;'>
                    <td style='font-weight:bold;'>
                        לתשומת לבך: מצורף קובץ למייל
                    </td>
                </tr>
            </table>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" />
        </td>
        <td>&nbsp;</td>
    </tr>
</table>