﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>

<table style="direction:rtl;width:100%;border:0px;text-align:right;font-size: 17px;">
    <tr>
        <th>&nbsp;</th>
        <th>
            <span style="font-weight:300;">שלום </span><span style="direction:rtl;width:100%;border:0px;text-align:right;">@(string.Format("{0} {1}", Model.firstName, Model.lastName)),</span>
        </th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="direction:rtl;">
            <p>מצורף תלוש שכר לחודש @Model.loginDate.ToString("MM/yyyy")</p>
            <p>הסיסמה לפתיחת התלוש הינה תעודת זהות מלאה (9 ספרות כולל אפסים מובילים).</p>
        </td>
        <td>&nbsp;</td>
    </tr>
    @if (Model.email.IndexOf(',') > 0)
    {
    <tr>
        <td>&nbsp;</td>
        <td>
            <span style="font-weight:300;direction:rtl;width:100%;border:0px;text-align:right;">כתובת מייל למשלוח: </span>
            <span style="font-weight:300;direction:rtl;width:100%;border:0px;text-align:right;">@Model.email</span>
        </td>
        <td>&nbsp;</td>
    </tr>
    }
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" />
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <a href="http://@Model.Domain">לחץ כאן לכניסה לאתר</a>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>