﻿@using DataAccess.Models;
@model DataAccess.Models.UserCredentialsModel

@{
    Layout = null;
}
<style>
    table {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    tr {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }

    th, td {
        direction: rtl;
        text-align: right;
        font-size: 17px;
    }
</style>
<table style="direction:rtl;width:100%;border:0px;">
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th>
            <span>שלום</span> @Model.fullName, ברוך הבא לאתר <b>אתר תיק עובד באינטרנט</b> של אוטומציה החדשה!
        </th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <p>באמצעות האתר תוכל לצפות בתלושי השכר שלך , טפסי 106 , ריכוז הפרשות לגמל והשתלמות ועוד.</p>
            <p>ניתן להיכנס לאתר בכתובת <a href="https://www.tikoved.co.il">www.tikoved.co.il</a> או לחילופין לחפש בגוגל "תיק עובד"</p>
            <p>במהלך ההזדהות, עליך להזין תעודת זהות מלאה (9) ספרות, בצרוף הסיסמא <b>הראשונית</b> : <label style="direction: ltr;">@Model.confirmationToken</label></p>
            <p>אנו מאחלים לך חווית גלישה מהנה</p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <img src="http://@Model.Domain/Content/Images/logo.png" alt="תיק עובד באינטרנט" title="אוטומציה החדשה" />
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
