﻿<!-- COURSE FORM -->
<div class="form-group" ng-if="representedWorkers.length > 0 && (formFlags.isACoureseRequestForm)">
    <div class="row">
        <div class="col-sm-3">
            <label for="vacationReason" class="control-label">
                שלח בקשה עבור
            </label>
        </div>

        <div class="col-sm-8 mobile-width-full">
            <angucomplete-alt id="representedWorker" input-name="representedWorker"
                              placeholder="בחר עובד אם ברצונך להגיש בשם עובד אחר או השאר ריק"
                              pause="100"
                              selected-object="onRepresentWorkerChange"
                              input-changed="setEmptyRepresentWorker"
                              local-data="representedWorkers"
                              title-field="fullName"
                              search-fields="fullName"
                              minlength="0"
                              text-no-results="אין תוצאות..."
                              text-searching="מחפש..."
                              initial-value=""
                              input-class="form-control form-control-small process-field" />
        </div>

    </div>
</div>

<div class="form-group" ng-if="formFlags.isACoureseRequestForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="courseForm.empRole" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>תפקיד
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <textarea ng-model="courseForm.empRole" name="empRole" placeholder="הכנס את תפקיד העובד" required class="form-control non-overflow" rows="1"></textarea>
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה זה הינו חובה</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-if="formFlags.isACoureseRequestForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="courseForm.empDepartment" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>מחלקה
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <textarea ng-model="courseForm.empDepartment" name="empDepartment" placeholder="הכנס מחלקה אליה משוייך העובד" required class="form-control non-overflow" rows="1"></textarea>
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה זה הינו חובה</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-if="formFlags.isACoureseRequestForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="courseForm.empYearsOfExperiance" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>ותק עבודה
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <input ng-model="courseForm.empYearsOfExperiance" name="empYearsOfExperiance" type="number" placeholder="מס' שנות ותק" required class="form-control" rows="1" min="0" max="45" />
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה זה הינו חובה</div>
                    <div class="max-validation">מקסימום עד 45 שנות ותק</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-if="formFlags.isACoureseRequestForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="courseForm.coursePlan" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>תכנית הקורס/השתלמות
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <textarea ng-model="courseForm.coursePlan" name="coursePlan" placeholder="פרט את תכנית הקורס/השתלמות" required class="form-control" rows="3"></textarea>
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה זה הינו חובה</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-if="formFlags.isACoureseRequestForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="courseForm.courseInstitution" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>מוסד ההשכלה
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <div>
                <angucomplete-alt id="academicInst" input-name="academicInst"
                                  placeholder="בחר מוסד או הקלד"
                                  pause="100"
                                  selected-object="onAcademicInstChange"
                                  input-changed="setEmptyAcademicInst"
                                  local-data="academicInsts"
                                  title-field="NAME,SETL_NAME"
                                  search-fields="NAME"
                                  minlength="0"
                                  text-no-results="אין תוצאות..."
                                  field-required="true"
                                  text-searching="מחפש..."
                                  initial-value=""
                                  focus-out="instfocusOut()"
                                  input-class="form-control form-control-small process-field" />
            </div>

            <div>
                <input type="hidden" name="inst" ng-model="courseForm.courseInstitution" required />

                <div class="validation-message">
                    <div class="form-error">
                        <div class="required-validation">שדה זה הינו חובה</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="form-group" ng-if="formFlags.isACoureseRequestForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="courseForm.courseNumberOfDays" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>מס' ימים
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <input ng-model="courseForm.courseNumberOfDays" name="courseNumberOfDays" type="number" placeholder="מס' הימים הצפוי" required class="form-control" rows="1" min="0" max="365" />
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה זה הינו חובה</div>
                    <div class="max-validation">מקסימום עד 365 ימים</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-if="formFlags.isACoureseRequestForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="courseForm.courseNumberOfHours" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>שעות לימוד
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <input ng-model="courseForm.courseNumberOfHours" name="courseNumberOfHours" type="number" placeholder="מס' שעות הלימוד המתוכננות" required class="form-control" rows="1" min="0" max="2000" />
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה זה הינו חובה</div>
                    <div class="max-validation">מקסימום עד 2000 שעות</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- select mngr section -->
<!--<div class="form-group" ng-if="formFlags.isACoureseRequestForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="vacationReason" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>העבר בקשה אל
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <angucomplete-alt id="unitManager" input-name="unitManager"
                                placeholder="בחר מנהל"
                                pause="100"
                                selected-object="onUnitManagerChange"
                                input-changed="setEmptyMngr"
                                local-data="organizationUnitsManagers"
                                title-field="fullName"
                                search-fields="fullName"
                                minlength="0"
                                text-no-results="אין תוצאות..."
                                field-required="true"
                                text-searching="מחפש..."
                                initial-value=""
                                input-class="form-control form-control-small" />
        </div>
        <input type="hidden" name="unitManager" ng-model="selectedUnitManager" class="form-control" required>
        <div class="validation-message">
            <div class="form-error">
                <div class="required-validation">שדה זה הינו חובה</div>
            </div>
        </div>
    </div>
</div>-->