﻿<fieldset class="section col-md-12 content-wrapper main-content clear-fix azure">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                שלח בקשה חדשה
            </legend>
        </div>
        <div class="panel-body">
            <div class="col-md-16">
                <div class="col-md-8">
                    <!-- select a process section -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="allProcessesData.processes" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk"></i>
                                    </abbr>בחר בקשה
                                </label>
                            </div>
                            <div class="col-sm-8 mobile-width-full">
                                <select name="process" id="process" ng-model="selectedProcess" ng-change="onProcessChange()" placeholder="בחר בקשה" class="select" required>
                                    <option ng-repeat="process in allProcessesData.processes track by $index" value="{{process.recId}}">{{process.shemTahalich}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- included view/form -->
                    <div ng-if="currentRunningStepTemplate != null">
                        <ng-include src="currentRunningStepTemplate.template"></ng-include>
                    </div>

                    <!-- NEW SECTION OF KVUZAT MISHTAMSHIM THAT THE PROCESS WILL GO TO 
                     INSTEAD OF CHOOSING WITH AUTO-COMPLETE, JUST SHOW THE KVUZAT MISHTAMSHIM -->
                    <div class="form-group" ng-if="currentRunningStepTemplate != null">
                    <div class="row">
                        <div class="col-sm-3 users-group">
                            <label for="vacationReason" class="control-label">
                                <abbr title="שים לב!" class="mishtamshim-form">
                                    <i class="fa fa-exclamation-triangle"></i>
                                </abbr>הבקשה תועבר אל
                            </label>
                        </div>
                        <div ng-if="currentMishtamsheiKvuzaOfCurrentStep.length > 0" class="col-sm-2 mishtamesh-form" ng-repeat="mishtamesh in currentMishtamsheiKvuzaOfCurrentStep">
                            <i class="fa fa-user"></i>
                            {{mishtamesh.shem_prati}} {{mishtamesh.shem_mishpaha}}
                        </div>

                        <div ng-if="organizationUnitsManagers.length > 0" class="col-sm-2 mishtamesh-form" ng-repeat="mishtamesh in organizationUnitsManagers">
                            <i class="fa fa-user"></i>
                            {{mishtamesh.fName}} {{mishtamesh.lName}}
                        </div>

                    </div>
                </div>

                    <!-- global submit button -->
                    <div class="form-group" ng-if="selectedProcess.id != '' && currentRunningStepTemplate != null">
                        <div class="row">
                            <div class="col-sm-11">
                                <button type="submit" ng-disabled="currentMishtamsheiKvuzaOfCurrentStep.length < 1" id="submit" class="btn btn-primary pull-left">שלח בקשה</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</fieldset>