﻿<!-- VACATION FORM -->
<div class="form-group" ng-if="representedWorkers.length > 0 && (formFlags.isVacationForm || formFlags.isAboardVacationForm)">
    <div class="row">
        <div class="col-sm-3">
            <label for="vacationReason" class="control-label">
                שלח בקשה עבור
            </label>
        </div>

        <div class="col-sm-8 mobile-width-full">
            <angucomplete-alt id="representedWorker" input-name="representedWorker"
                              placeholder="בחר עובד אם ברצונך להגיש בשם עובד אחר או השאר ריק"
                              pause="100"
                              selected-object="onRepresentWorkerChange"
                              input-changed="setEmptyRepresentWorker"
                              local-data="representedWorkers"
                              title-field="fullName"
                              search-fields="fullName"
                              minlength="0"
                              text-no-results="אין תוצאות..."
                              text-searching="מחפש..."
                              initial-value=""
                              input-class="form-control form-control-small process-field" />
        </div>

    </div>
</div>


<div class="form-group" ng-if="formFlags.isVacationForm || formFlags.isAboardVacationForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="vacationReason" class="control-label">
                יתרת חופשה אחרונה
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <p ng-model="vacationLeft" class="form-control" rows="1">{{vacationLeft}}</p>
        </div>
    </div>
</div>


<div class="form-group" ng-if="formFlags.isVacationForm || formFlags.isAboardVacationForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="datesRange.from" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>החל מתאריך
            </label>
        </div>
        <div class="col-sm-8">
            <div id="from-date">

                <div class="input-group ui-datepicker-group">
                    <span aria-hidden="true" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" name="from" id="from" ng-model="datesRange.from" ng-change="onDateChange()" ng-focus="onDateFocus()" class="form-control date-control color-control" ui-datepicker new-options="newOptions" required />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                            <div class="range-validation">טווח התאריכים אינו חוקי</div>
                            <div class="required-validation">שדה זה הינו חובה</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-if="formFlags.isVacationForm || formFlags.isAboardVacationForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="datesRange.to" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>עד תאריך
            </label>
        </div>
        <div class="col-sm-8">
            <div id="to-date">

                <div class="input-group ui-datepicker-group">
                    <span aria-hidden="true" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" name="to" id="to" ng-model="datesRange.to" ng-focus="onDateFocus()" ng-change="onDateChange()" class="form-control date-control color-control" ui-datepicker new-options="newOptions" required />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                            <div class="range-validation">טווח התאריכים אינו חוקי</div>
                            <div class="required-validation">שדה זה הינו חובה</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-if="formFlags.isVacationForm || formFlags.isAboardVacationForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="vacationReason" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>סיבת הבקשה
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <textarea ng-model="vacationReason" name="vacationReason" placeholder="הכנס טקסט חופשי" required class="form-control" rows="4"></textarea>
            <div class="validation-message">
                <div class="form-error">
                    <div class="required-validation">שדה זה הינו חובה</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- select mngr section -->
<!--<div class="form-group" ng-if="formFlags.isVacationForm || formFlags.isAboardVacationForm">
    <div class="row">
        <div class="col-sm-3">
            <label for="vacationReason" class="control-label">
                <abbr title="שדה חובה" class="required">
                    <i class="fa fa-asterisk"></i>
                </abbr>העבר בקשה אל
            </label>
        </div>
        <div class="col-sm-8 mobile-width-full">
            <angucomplete-alt id="unitManager" input-name="unitManager"
                                placeholder="בחר מנהל"
                                pause="100"
                                selected-object="onUnitManagerChange"
                                input-changed="setEmptyMngr"
                                local-data="organizationUnitsManagers"
                                title-field="fullName"
                                search-fields="fullName"
                                minlength="0"
                                text-no-results="אין תוצאות..."
                                field-required="true"
                                text-searching="מחפש..."
                                initial-value=""
                                input-class="form-control form-control-small" />
        </div>
        <input type="hidden" name="unitManager" ng-model="selectedUnitManager" class="form-control" required>
        <div class="validation-message">
            <div class="form-error">
                <div class="required-validation">שדה זה הינו חובה</div>
            </div>
        </div>
    </div>
</div>-->