﻿<div class="col-md-4 col-xs-12">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <label for="servicemanStartDate" class="control-label">
                    <abbr title="שדה חובה" class="required">
                        <i class="fa fa-asterisk">
                        </i>
                    </abbr>תאריך תחילת שירות
                </label>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="input-group ui-datepicker-group">
                    <span aria-hidden="true" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" ng-model="tofesModel.taxExemption.servicemanStartDate" class="form-control date-control" ui-datepicker />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-xs-12">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <label for="taxExemption.servicemanEndDate" class="control-label">
                    <abbr title="שדה חובה" class="required">
                        <i class="fa fa-asterisk">
                        </i>
                    </abbr>תאריך סיום שירות
                </label>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="input-group ui-datepicker-group">
                    <span aria-hidden="true" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" ng-model="tofesModel.taxExemption.servicemanEndDate" class="form-control date-control" ui-datepicker />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-xs-12">
    <div class="form-group">
        <div class="row">

            <!-- start file uploader component -->
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="exServicemanFiles" class="control-label">
                            תעודת שחרור/ סיום שירות
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 file-uploader col-xs-12">
                <div class="row">
                    <div class="col-md-12 fileinput-button-div col-xs-12">
                        <span class="btn btn-success fileinput-button">
                            <i class="fa fa-cloud-upload"></i>
                            <span> צרף קובץ... </span>
                            <input type="file" nv-file-select="" ng-model="tofesModel.taxExemption.exServicemanFiles" uploader="servicemanUploader" multiple class="" ng-required="tofesModel.taxExemption.exServiceman && servicemanUploader.Files === 0">
                                <div class="validation-message uploader">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                    </div>
                                </div>
                        </span>
                        <button type="button" class="btn btn-danger btn-s" ng-click="servicemanUploader.clearQueue()" ng-disabled="!servicemanUploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> מחק
                        </button>
                        <div>
                            התקדמות:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': servicemanUploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end file uploader component -->

        </div>
    </div>
</div>