﻿<div class="col-xs-12">
    <div class="alert alert-info col-xs-12">
        <p>
            מספר הילדים מחושב אוטומטית מהנתונים שציינת בחלק ג'. הטופס סופר רק ילדים שציינת שהם בחזקתך.
        </p>
    </div>
    
    <div ng-if="tofesModel.FormType === 1">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="childrenCountsObject.upto3" class="control-label">
                            מספר ילדים שנולדו בשנת המס ו/או שימלאו להם 3 שנים בשנת המס
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.upto3}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="childrenCountsObject.upto2" class="control-label">
                            מספר ילדים שימלאו להם שנה אחת ו/או שנתיים בשנת המס
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.upto2}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="tofesModel.FormType !== 1">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="childrenCountsObject.upto3" class="control-label">
                            מס' ילדים שנולדו בשנת המס:
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.thisYear}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-9">
                        <label for="childrenCountsObject.upto2" class="control-label">
                            מס הילדים שימלאו להם שנה אחת עד 5 שנים בשנת המס:
                        </label>
                    </div>
                    <div class="col-sm-12 col-xs-3">
                        <input type="text" class="form-control" disabled="" value="{{childrenCountsObject.ander5}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>