﻿<div class="form-group">
    <div class="row">
        <div class="col-sm-12 col-xs-12">

            <!-- start file uploader component -->
            <div class="col-md-12 col-xs-12">
                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <label for="incompetentChildFiles" class="control-label">
                                מצורף אישור גמלת
                                ילד נכה מהמוסד לביטוח לאומי לשנה נוכחית.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 file-uploader col-xs-12">
                    <div class="row">
                        <div class="col-md-12 fileinput-button-div col-xs-12">
                            <span class="btn btn-success fileinput-button">
                                <i class="fa fa-cloud-upload"></i>
                                <span> צרף קובץ... </span>
                                <input type="file" nv-file-select="" ng-model="tofesModel.taxExemption.incompetentChildFiles" uploader="incompetentChildUploader" multiple class="" ng-required="tofesModel.taxExemption.incompetentChild && incompetentChildUploader.Files === 0">
                                <div class="validation-message uploader">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                    </div>
                                </div>
                            </span>
                            <button type="button" class="btn btn-danger btn-s" ng-click="incompetentChildUploader.clearQueue()" ng-disabled="!incompetentChildUploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> מחק
                            </button>
                            <div>
                                התקדמות:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': incompetentChildUploader.progress + '%' }"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end file uploader component -->

        </div>
    </div>
</div>