﻿<div class="col-md-4 col-xs-12">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 col-xs-12 sr-only">
                <legend class="control-label ">
                    <abbr title="שדה חובה" class="required">
                        <i class="fa fa-asterisk">
                        </i>
                    </abbr>
                </legend>
            </div>
            <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile50">
                <div class="radio" ng-repeat="immigrant in radionStates.immigrantStatusStates track by $index"
                     ng-class="{'radio-selected':tofesModel.taxExemption.immigration.immigrantStatus === immigrant.id,'last-radio':radionStates.immigrantStatusStates.length == ($index + 1)}">
                    <label>
                        <input type="radio" name="gender"
                               ng-model="tofesModel.taxExemption.immigration.immigrantStatus"
                               ng-value="immigrant.id" ng-required="tofesModel.taxExemption.isImmigrant" />
                        <span>
                            {{immigrant.name}}
                        </span>
                    </label>
                </div>
                <input type="hidden" ng-model="tofesModel.taxExemption.immigration.immigrantStatus" name="hidden_immigrantStatus" ng-required="tofesModel.taxExemption.isImmigrant" />
                <div class="validation-message">
                    <div class="form-error">
                        <div class="required-validation">שדה חובה</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-xs-12">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <label for="immigrantStatusDate" class="control-label">
                    <abbr title="שדה חובה" class="required">
                        <i class="fa fa-asterisk">
                        </i>
                    </abbr>מתאריך
                </label>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="input-group ui-datepicker-group">
                    <span aria-hidden="true" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" ng-model="tofesModel.taxExemption.immigration.immigrantStatusDate" class="form-control date-control" ui-datepicker />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-xs-12">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 col-xs-12">

                <!-- start file uploader component -->
                <div ng-show="tofesModel.taxExemption.immigration.immigrantStatus === 1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <label for="isaFiles" class="control-label">
                                    תעודת עולה
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 file-uploader col-xs-12">
                        <div class="row">
                            <div class="col-sm-12 fileinput-button-div  col-xs-12">
                                <span class="btn btn-success fileinput-button">
                                    <i class="fa fa-cloud-upload"></i>
                                    <span> צרף קובץ... </span>
                                    <input type="file" nv-file-select="" ng-model="tofesModel.taxExemption.immigration.immigrantCertificateFiles" uploader="certificateUploader" multiple class=""
                                           ng-required="tofesModel.taxExemption.immigration.immigrantStatus === 1 && tofesModel.taxExemption.isImmigrant && certificateUploader.Files === 0">
                                    <div class="validation-message uploader">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                        </div>
                                    </div>
                                </span>
                                <button type="button" class="btn btn-danger btn-s" ng-click="certificateUploader.clearQueue()" ng-disabled="!certificateUploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> מחק
                                </button>
                                <div>
                                    התקדמות:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': certificateUploader.progress + '%' }"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end file uploader component -->
                <!-- start file uploader component -->
                <div ng-show="tofesModel.taxExemption.immigration.immigrantStatus === 2">
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12" style="padding: 0;">
                                <label for="isaFiles" class="control-label">
                                    אישור משרד הקליטה (תעודת "תושב חוזר" מעל 6 שנים)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 file-uploader col-xs-12">
                        <div class="row">
                            <div class="col-sm-12 fileinput-button-div  col-xs-12">
                                <span class="btn btn-success fileinput-button">
                                    <i class="fa fa-cloud-upload"></i>
                                    <span> צרף קובץ... </span>
                                    <input type="file" nv-file-select="" ng-model="tofesModel.taxExemption.immigration.returningResidentFiles" uploader="returningUploader" multiple class=""
                                           ng-required="tofesModel.taxExemption.immigration.immigrantStatus === 2 && tofesModel.taxExemption.isImmigrant && returningUploader.Files === 0">
                                    <div class="validation-message uploader">
                                        <div class="form-error">
                                            <div class="required-validation">שדה חובה</div>
                                        </div>
                                    </div>
                                </span>
                                <button type="button" class="btn btn-danger btn-s" ng-click="returningUploader.clearQueue()" ng-disabled="!returningUploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> מחק
                                </button>
                                <div>
                                    התקדמות:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': returningUploader.progress + '%' }"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end file uploader component -->

            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-xs-12">
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <label for="noIncomeDate" class="control-label">
                    לא הייתה לי הכנסה בישראל מתחילת שנת&nbsp;המס הנוכחית עד תאריך
                </label>
            </div>
            <div class="col-md-6">
                <div class="input-group ui-datepicker-group">
                    <span aria-hidden="true" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" ng-model="tofesModel.taxExemption.immigration.noIncomeDate" class="form-control date-control" ui-datepicker />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="custom-validation">פורמט תאריך לא תקין</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="help-block">
            <p>
                מי שתקופת זכאותו (42 חודש) אינה רצופה בשל שירות חובה בצה"ל, לימודים על תיכוניים או יציאה לחו"ל יפנה לפקיד השומה.
            </p>
        </div>
    </div>
</div>