﻿@{
    ViewBag.Title = "Internal Server Error";
    Layout = "~/Views/Shared/_ErrorLayoutPage.cshtml";
}
<div class="main-view-content clear-fix">
        <div class="right-side">
            <header>
                <a href="/" ui-sref="Home" class="logo">
                </a>
            </header>
            <section>
                <div class="loginPerson">
                    <section id="login">
                        <section id="login"></section>
                    </section>
                </div>
                <nav id="menu" class="menu">
                    <div title="חזרה" class="title">
                        <div class="opener">
                            <a href="/">
                                <i class="fa fa-home fa-lg">
                                </i> <span>חזרה</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </section>
        </div>

        <div class="left-side">
            <header>
                <div>
                    <a href="/" ui-sref="Home">
                        <img src="/Content/Images/logo.png" alt="לוגו אוטומציה">
                    </a>

                    <div class="icons-rapper">
                        <a href="#/usermenu/contact-us" ui-sref="UserMenu.ContactUs">צור קשר</a>
                    </div>
                </div>
            </header>
            <div class="leftsidewrapper">
                <section class="content-wrapper main-content clear-fix">
                    <ol class="breadcrumb ">
                        <li class="active">
                            <span>שגיאת מערכת</span>
                        </li>
                    </ol>
                    <div class="ie-error-box">
                        <h1>התרחשה שגיאה במהלך ביצוע הפעולה!</h1>

                        <iframe src="https://www.youtube.com/embed/t3otBjVZzT0?rel=0&autoplay=1" width="1200" height="700" frameborder="0" allowfullscreen></iframe>
                    </div>
                </section>
            </div>
        </div>
    </div>