﻿@{
    ViewBag.Title = "Compatibility View Error";
    Layout = "~/Views/Shared/_ErrorLayoutPage.cshtml";
}

<div class="main-view-content clear-fix">
    <div class="right-side">
        <header>
            <a href="/" ui-sref="Home" class="logo">
            </a>
        </header>
        <section>
            <div class="loginPerson">
                <section id="login">
                    <section id="login"></section>
                </section>
            </div>
            <nav id="menu" class="menu">
                <div title="חזרה" class="title">
                    <div class="opener">
                        <a href="/">
                            <i class="fa fa-home fa-lg">
                            </i> <span>חזרה</span>
                        </a>
                    </div>
                </div>
            </nav>
        </section>
    </div>

    <div class="left-side">
        <header>
            <div>
                <a href="/" ui-sref="Home">
                    <img src="/Content/Images/logo.png" alt="לוגו אוטומציה">
                </a>

                <div class="icons-rapper">
                    <a href="#/usermenu/contact-us" ui-sref="UserMenu.ContactUs">צור קשר</a>
                </div>
            </div>
        </header>
        <div class="leftsidewrapper">
            <section class="content-wrapper main-content clear-fix">
                <ol class="breadcrumb ">
                    <li class="active">
                        <span>שגיאת מערכת</span>
                    </li>
                </ol>
                <div class="ie-error-box">
                    <h1>התרחשה שגיאה במהלך ביצוע הפעולה!</h1>

                    <h5 id="title1" class="title1">
                        <p>ככל הנראה הינך מנסה לצפות באתר כאשר בדפדפן מוגדרת תצוגת תאימות.</p>
                        <p>לחווית שימוש מקסימאלית יש להוריד מהגדרות הדפדפן את הגדרת התאימות לאתר "תיק עובד".</p>
                        <p>לאחר ביטול הגדרות התאימות יש לטעון את הדפדפן מחדש ולחזור לדף הבית.</p>

                        <p>בברכה.</p>
                    </h5>
                    <br/>
                    <h5 id="title2" class="title2">
                        <p>או צור קשר עם מנהל האתר</p>
                    </h5>
                    <h5>
                        <address>
                            <b>
                                <a href="mailto:@ViewBag.email">@ViewBag.email</a>
                            </b>
                        </address>
                    </h5>
                </div>
            </section>
        </div>
    </div>
</div>

