﻿<div class="panel panel-info form-static-changes">
    <div class="panel-heading">
        <legend>ז. שינויים במהלך השנה</legend>
    </div>
    <div class="panel-body">
        <div class="form-element">
            <p><i class="fa fa-info-circle">&nbsp;</i>&nbsp;חלק זה אינו רלוונטי&nbsp;מכיוון שמדובר בטופס ממוחשב.&nbsp;יש למלא טופס חדש כל פעם שחל&nbsp;שינוי במהלך השנה.</p>
        </div>
    </div>
</div>
