﻿<div class="panel panel-default panel-info form-element">
    <div class="panel-heading">
        <legend>
            ט. תיאום מס&nbsp;
            <!--<span class="tooltip-bubble-handle">
            </span>-->
        </legend>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="checkbox">
                    <label class="control-label" ng-class="tofesModel.taxCoordination.request? 'active' : ''">
                        <input type="checkbox" ng-model="tofesModel.taxCoordination.request" ng-change="ChengeRequestRule()">
                        <span>צירוף תיאום מס</span>
                    </label>
                </div>
            </div>
        </div>
        <!--סיבת הבקשה-->
        <div class="" NgSlider rule="tofesModel.taxCoordination.request">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <legend class="control-label ">סיבת הבקשה</legend>
                </div>
                <div class="col-sm-12 col-xs-12 custom-mobile-radio mobile100">
                    <div class="radio" ng-repeat="CoordinationReason in radionStates.taxCoordinationReasonStates track by $index"
                         ng-class="{'radio-selected':tofesModel.taxCoordination.reason === CoordinationReason.id,'last-radio':radionStates.taxCoordinationReasonStates.length == ($index + 1)}"
                         >
                        <label>
                            <input type="radio" name="reason"
                                   ng-model="tofesModel.taxCoordination.reason"
                                   ng-value="CoordinationReason.id" ng-required="tofesModel.taxCoordination.request" />
                            <span>
                                {{CoordinationReason.name}}
                            </span>
                        </label>
                    </div>
                    <input type="hidden" ng-model="tofesModel.taxCoordination.reason" name="hidden_reason" ng-required="tofesModel.taxCoordination.request" />
                    <div class="validation-message">
                        <div class="form-error">
                            <div class="required-validation">שדה חובה</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--הוכחות לחוסר הכנסה-->
        <div class="" NgSlider rule="tofesModel.taxCoordination.reason === 1 && tofesModel.taxCoordination.request" classes="max-height-inherit">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="reasonFiles" class="control-label">הוכחות לחוסר הכנסה</label>
                    </div>
                    <div class="col-sm-12 col-xs-12">

                        <!-- start file uploader component -->
                        <div class="col-md-12 file-uploader col-xs-12">
                            <div class="col-md-8 col-xs-12">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>שם</th>
                                            <th ng-show="reasonUploader.isHTML5">גודל</th>
                                            <th ng-show="reasonUploader.isHTML5">התקדמות</th>
                                            <th>סטטוס</th>
                                            <th>פעולות</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in reasonUploader.queue">
                                            <td>
                                                <strong>{{ item.file.name }}</strong>
                                                <div ng-show="reasonUploader.isHTML5" ng-thumb="{ file: item._file, height: 55, pdf:item }"></div>
                                            </td>
                                            <td ng-show="reasonUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="reasonUploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> שמור
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> הסר
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4 col-xs-12 fileinput-button-div">
                                <span class="btn btn-success fileinput-button" ng-class="tofesModel.taxCoordination.reason !== 1? 'disabled' : ''">
                                    <i class="fa fa-cloud-upload"></i>
                                    <span> צרף קובץ... </span>
                                    <input type="file" nv-file-select="" ng-model="tofesModel.taxCoordination.reasonFiles" uploader="reasonUploader" multiple class="" ng-disabled="tofesModel.taxCoordination.reason !== 1">
                                </span>
                                <div>
                                    התקדמות:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': reasonUploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-s" ng-click="reasonUploader.clearQueue()" ng-disabled="!reasonUploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> הסר הכל
                                </button>
                            </div>
                        </div>
                        <!-- end file uploader component -->

                    </div>
                </div>
                <div class="help-block">
                    <p>
                        כגון: אישור משטרת הגבולות בגין שהייה בחו"ל, אישור מחלה וכיו"ב. <strong>בהעדר הוכחה יש לפנות לפקיד השומה</strong>.<br>
                        לתשומת לבך: דמי לידה ודמי אבטלה הינם הכנסה חייבת.
                    </p>
                </div>
            </div>
        </div>
        <!--מעביד/משלם משכורת-->
        <div class="" NgSlider rule="tofesModel.taxCoordination.reason === 2 && tofesModel.taxCoordination.request" classes="max-height-inherit">
            <div class="repeat-rows" ng-repeat="employer in tofesModel.taxCoordination.employers track by $index">
                <!-- start child template -->
                <ng-include src="'../../Scripts/views/ng-templates/employer.ng-template.html'"></ng-include>
                <!-- end child template -->
            </div>

            <button type="button" class="btn btn-success btn-sm " ng-click="addEmployer()">
                <i class="fa fa-plus-square">
                </i>
                <span>הוסף מעביד/משלם משכורת</span>
            </button>
        </div>
        <!--אישור תיאום מס ע"י פקיד שומה-->
        <div class="" NgSlider rule="tofesModel.taxCoordination.reason === 3 && tofesModel.taxCoordination.request" classes="max-height-inherit">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label for="reasonFiles" class="control-label">אישור תיאום מס ע"י פקיד שומה</label>
                    </div>
                    <div class="col-sm-12 col-xs-12">

                        <!-- start file uploader component -->
                        <div class="col-md-12 file-uploader col-xs-12">
                            <div class="col-md-8 col-xs-12">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>שם</th>
                                            <th ng-show="coordinationUploader.isHTML5">גודל</th>
                                            <th ng-show="coordinationUploader.isHTML5">התקדמות</th>
                                            <th>סטטוס</th>
                                            <th>פעולות</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in coordinationUploader.queue">
                                            <td>
                                                <strong>{{ item.file.name }}</strong>
                                                <div ng-show="coordinationUploader.isHTML5" ng-thumb="{ file: item._file, height: 55, pdf:item }"></div>
                                            </td>
                                            <td ng-show="coordinationUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="coordinationUploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> שמור
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> הסר
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4 col-xs-12 fileinput-button-div">
                                <span class="btn btn-success fileinput-button" ng-class="tofesModel.taxCoordination.reason !== 3? 'disabled' : ''">
                                    <i class="fa fa-cloud-upload"></i>
                                    <span> צרף קובץ... </span>
                                    <input type="file" nv-file-select="" ng-model="tofesModel.taxCoordination.coordinationFiles" uploader="coordinationUploader" multiple class="" ng-disabled="tofesModel.taxCoordination.reason !== 3">
                                </span>
                                <div>
                                    התקדמות:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': coordinationUploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-s" ng-click="coordinationUploader.clearQueue()" ng-disabled="!coordinationUploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> הסר הכל
                                </button>
                            </div>
                        </div>
                        <!-- end file uploader component -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>