﻿<fieldset class="section">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend>
                כתבו לנו
            </legend>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.senderEmail" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>אימייל השולח
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="Notification.senderEmail" name="email" type="email" placeholder="אימייל" class="form-control" required ng-minlength="3" ng-maxlength="30">
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="email-validation">מייל לא תקין</div>
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="minlength-validation">מינימום 3 תווים</div>
                                        <div class="maxlength-validation">מקסימום 30 תווים</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.userIdNumber" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>מספר ת.ז
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input name="userIdNumber" type="text" ng-model="Notification.userIdNumber" placeholder="מספר ת.ז" class="form-control input-md" IDNumber required>
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="custom-validation">מספר תעודת זהות לא תקין</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.phone" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>טלפון
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="Notification.phone" name="phone" type="tel" placeholder="טלפון" class="form-control" required Phone>
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="custom-validation">מספר טלפון לא תקין</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.subject" class="control-label">
                                    <abbr title="שדה חובה" class="required">
                                        <i class="fa fa-asterisk">
                                        </i>
                                    </abbr>נושא המייל
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <input ng-model="Notification.subject" name="subject" type="text" placeholder="נושא המייל" class="form-control" required ng-minlength="3">
                                <div class="validation-message">
                                    <div class="form-error">
                                        <div class="required-validation">שדה חובה</div>
                                        <div class="minlength-validation">מינימום 3 תווים</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-xs-3">
                                <label for="Notification.text" class="control-label">
                                    טקסט חופשי
                                </label>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <textarea ng-model="Notification.text" name="text" placeholder="טקסט חופשי" class="form-control" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-11 col-xs-11">
                                <button type="submit" id="submit" class="btn btn-primary pull-left">שלח</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>